<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Toimijat</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Toimijat</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-08357a2376e04ff6ac7a9d71cf07d45f.png" alt="Toimijat" usemap="#id-08357a2376e04ff6ac7a9d71cf07d45fmap"/>
			   <map name="id-08357a2376e04ff6ac7a9d71cf07d45fmap">
				  		<area shape="rect" coords="10,71,143,119" href="../elements/id-e90081f772ef41528621dd7dcf8e9366.html"  target="element">
				  		<area shape="rect" coords="1042,10,1202,62" href="../elements/id-e20bf473c5e44bafa3c765812d0d13e8.html"  target="element">
				  		<area shape="rect" coords="886,10,1031,59" href="../elements/id-dd887e61ae544e95b6ffd91b6e625256.html"  target="element">
				  		<area shape="rect" coords="1078,70,1211,119" href="../elements/id-e09531a330c9411c87d65acfd25e9edb.html"  target="element">
				  		<area shape="rect" coords="154,10,263,60" href="../elements/id-405cbe11410b49e1a835663f989bca52.html"  target="element">
				  		<area shape="rect" coords="946,70,1066,120" href="../elements/id-10d62a3186374c7687f87d3d1d7e88fc.html"  target="element">
				  		<area shape="rect" coords="526,71,599,120" href="../elements/id-a70d781bf44944cbbeee2af7181148a8.html"  target="element">
				  		<area shape="rect" coords="814,71,934,119" href="../elements/id-32a7441b064a4281850926c82e6d8f25.html"  target="element">
				  		<area shape="rect" coords="382,71,516,120" href="../elements/id-913be720169e4da7be92174a8aa6d7f3.html"  target="element">
				  		<area shape="rect" coords="610,71,695,120" href="../elements/id-a5f68df5e2b944db813cf8d19ac21574.html"  target="element">
				  		<area shape="rect" coords="706,71,803,119" href="../elements/id-3b926b2450e44a7ca43651dd8e728e6d.html"  target="element">
				  		<area shape="rect" coords="694,11,875,60" href="../elements/id-fd36478e292c4bccb9c843cd83ddb3b8.html"  target="element">
				  		<area shape="rect" coords="10,11,143,60" href="../elements/id-b59e5fbbbd0e449591a7fc9fe707eeb3.html"  target="element">
				  		<area shape="rect" coords="274,10,431,60" href="../elements/id-117dca03dd9d4ccb80ddcf044ff74524.html"  target="element">
				  		<area shape="rect" coords="154,71,371,120" href="../elements/id-9cc44f88f60d463389db5bc4125f8233.html"  target="element">
				  		<area shape="rect" coords="442,11,682,60" href="../elements/id-99f98eadff47421faa44ff848680aaf5.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-99f98eadff47421faa44ff848680aaf5.html" target="element"> Helsingin kaupunginkirjasto (VAKE) </a> </td>
											    <td> <a href="../elements/id-99f98eadff47421faa44ff848680aaf5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9cc44f88f60d463389db5bc4125f8233.html" target="element"> Kansallisarkisto </a> </td>
											    <td> <a href="../elements/id-9cc44f88f60d463389db5bc4125f8233.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-117dca03dd9d4ccb80ddcf044ff74524.html" target="element"> Museovirasto </a> </td>
											    <td> <a href="../elements/id-117dca03dd9d4ccb80ddcf044ff74524.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b59e5fbbbd0e449591a7fc9fe707eeb3.html" target="element"> Kansalliskirjasto </a> </td>
											    <td> <a href="../elements/id-b59e5fbbbd0e449591a7fc9fe707eeb3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fd36478e292c4bccb9c843cd83ddb3b8.html" target="element"> Kansallisgalleria </a> </td>
											    <td> <a href="../elements/id-fd36478e292c4bccb9c843cd83ddb3b8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3b926b2450e44a7ca43651dd8e728e6d.html" target="element"> SYKE </a> </td>
											    <td> <a href="../elements/id-3b926b2450e44a7ca43651dd8e728e6d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a5f68df5e2b944db813cf8d19ac21574.html" target="element"> SLS </a> </td>
											    <td> <a href="../elements/id-a5f68df5e2b944db813cf8d19ac21574.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-913be720169e4da7be92174a8aa6d7f3.html" target="element"> Tietoarkisto </a> </td>
											    <td> <a href="../elements/id-913be720169e4da7be92174a8aa6d7f3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-32a7441b064a4281850926c82e6d8f25.html" target="element"> ALVA-museot </a> </td>
											    <td> <a href="../elements/id-32a7441b064a4281850926c82e6d8f25.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a70d781bf44944cbbeee2af7181148a8.html" target="element"> SKS </a> </td>
											    <td> <a href="../elements/id-a70d781bf44944cbbeee2af7181148a8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10d62a3186374c7687f87d3d1d7e88fc.html" target="element"> VALVA-museot </a> </td>
											    <td> <a href="../elements/id-10d62a3186374c7687f87d3d1d7e88fc.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-405cbe11410b49e1a835663f989bca52.html" target="element"> KOTUS </a> </td>
											    <td> <a href="../elements/id-405cbe11410b49e1a835663f989bca52.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e09531a330c9411c87d65acfd25e9edb.html" target="element"> Yksityisarkistot </a> </td>
											    <td> <a href="../elements/id-e09531a330c9411c87d65acfd25e9edb.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd887e61ae544e95b6ffd91b6e625256.html" target="element"> Korkeakoulujen kirjastot ja arkistot </a> </td>
											    <td> <a href="../elements/id-dd887e61ae544e95b6ffd91b6e625256.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e20bf473c5e44bafa3c765812d0d13e8.html" target="element"> Luonnontieteellinen keskusmueseo </a> </td>
											    <td> <a href="../elements/id-e20bf473c5e44bafa3c765812d0d13e8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e90081f772ef41528621dd7dcf8e9366.html" target="element"> KAVI </a> </td>
											    <td> <a href="../elements/id-e90081f772ef41528621dd7dcf8e9366.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>