<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Digitaalinen kulttuuriperintö</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Digitaalinen kulttuuriperint&#246;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-08cf83bd5c5a4884b29c5ed592fe5779.png" alt="Digitaalinen kulttuuriperintö" usemap="#id-08cf83bd5c5a4884b29c5ed592fe5779map"/>
			   <map name="id-08cf83bd5c5a4884b29c5ed592fe5779map">
				  		<area shape="rect" coords="486,130,667,185" href="../elements/id-1465284dfe094f5d9408570439484bb8.html"  target="element">
				  		        <area shape="rect" coords="94,142,184,167" href="../objects/id-36a74ccbeec74af6989bf7b9167fdd2c.html" target="element" >
				  				<area shape="rect" coords="22,112,71,167" href="../elements/id-0fb8dd2ccc014ed8a70f78e90b1355d5.html"  target="element">
				  				<area shape="rect" coords="194,112,255,167" href="../elements/id-0e656cd8ed9d40f89fa04c0ce49d5716.html"  target="element">
				  				<area shape="rect" coords="250,46,370,101" href="../elements/id-824ebb7232864883a48a1124dfdb10d5.html"  target="element">
				  				<area shape="rect" coords="190,46,239,101" href="../elements/id-cb16c034b2f847ba95db1b3d5c2419c2.html"  target="element">
				  				<area shape="rect" coords="190,88,239,125" href="../elements/id-f7367535ef1b45b4a3353fba675eaa9d.html"  target="element">
				  				<area shape="rect" coords="22,34,71,89" href="../elements/id-aa38323ec5c9475f905780c27c419990.html"  target="element">
				  				<area shape="rect" coords="22,88,71,125" href="../elements/id-9222e83980924e1396059b5c4e5973c0.html"  target="element">

				  		<area shape="rect" coords="10,10,394,191" href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html"  target="element">
				  		<area shape="rect" coords="718,262,875,317" href="../elements/id-52e04e412ba64ce98e00da0e691fec65.html"  target="element">
				  		<area shape="rect" coords="279,514,419,569" href="../elements/id-596e4058b11f465bb42fd557eb060675.html"  target="element">
				  		<area shape="rect" coords="482,262,663,317" href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html"  target="element">
				  		<area shape="rect" coords="490,442,663,497" href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html"  target="element">
				  		<area shape="rect" coords="101,514,251,569" href="../elements/id-0c67f4ba1753421c87e964e084577a23.html"  target="element">
				  		<area shape="rect" coords="250,358,428,413" href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html"  target="element">
				  		<area shape="rect" coords="478,10,668,65" href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html"  target="element">
				  		<area shape="rect" coords="250,262,428,317" href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
											    <td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
											    <td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
											    <td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
											    <td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-596e4058b11f465bb42fd557eb060675.html" target="element"> Metatieto </a> </td>
											    <td> <a href="../elements/id-596e4058b11f465bb42fd557eb060675.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-52e04e412ba64ce98e00da0e691fec65.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-52e04e412ba64ce98e00da0e691fec65.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
											    <td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9222e83980924e1396059b5c4e5973c0.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-9222e83980924e1396059b5c4e5973c0.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aa38323ec5c9475f905780c27c419990.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-aa38323ec5c9475f905780c27c419990.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f7367535ef1b45b4a3353fba675eaa9d.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-f7367535ef1b45b4a3353fba675eaa9d.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cb16c034b2f847ba95db1b3d5c2419c2.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-cb16c034b2f847ba95db1b3d5c2419c2.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-824ebb7232864883a48a1124dfdb10d5.html" target="element"> Objekti </a> </td>
													    <td> <a href="../elements/id-824ebb7232864883a48a1124dfdb10d5.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0e656cd8ed9d40f89fa04c0ce49d5716.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-0e656cd8ed9d40f89fa04c0ce49d5716.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0fb8dd2ccc014ed8a70f78e90b1355d5.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-0fb8dd2ccc014ed8a70f78e90b1355d5.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-36a74ccbeec74af6989bf7b9167fdd2c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-36a74ccbeec74af6989bf7b9167fdd2c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1465284dfe094f5d9408570439484bb8.html" target="element"> Kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-1465284dfe094f5d9408570439484bb8.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c728fe8f425b4a98af23cbb74eb22ad5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c728fe8f425b4a98af23cbb74eb22ad5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-00fabf7a0fa747c1ab5d0ac78cf94a22.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00fabf7a0fa747c1ab5d0ac78cf94a22.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																		<td> <a href="../elements/id-1465284dfe094f5d9408570439484bb8.html" target="element"> Kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cf385ce8dcd34ad7a9dcc67592c55fe0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf385ce8dcd34ad7a9dcc67592c55fe0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4d87684da2a7470d942b552f903e84e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d87684da2a7470d942b552f903e84e6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1d7145719d884fbc9f491c8f834cb6f5.html" target="element"> digitoi </a> </td>
																		<td> <a href="../elements/id-1d7145719d884fbc9f491c8f834cb6f5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
																		<td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c8432eaee15947d7873fb39a55258182.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8432eaee15947d7873fb39a55258182.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-596e4058b11f465bb42fd557eb060675.html" target="element"> Metatieto </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-195cf73541b6441a8f5390648596034a.html" target="element"> voi kuvailla </a> </td>
																		<td> <a href="../elements/id-195cf73541b6441a8f5390648596034a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-596e4058b11f465bb42fd557eb060675.html" target="element"> Metatieto </a> </td>
																		<td> <a href="../elements/id-52e04e412ba64ce98e00da0e691fec65.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f171cea865a74fc28a7f9aa724a04c9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f171cea865a74fc28a7f9aa724a04c9d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-9222e83980924e1396059b5c4e5973c0.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-18554a043f6e432aac8cd6669a192f79.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18554a043f6e432aac8cd6669a192f79.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-cb16c034b2f847ba95db1b3d5c2419c2.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9b0dd15e605a437aa259cd9e3283e279.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b0dd15e605a437aa259cd9e3283e279.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-824ebb7232864883a48a1124dfdb10d5.html" target="element"> Objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2dd238e1da6742f9b3eac8ebbbdcbe23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2dd238e1da6742f9b3eac8ebbbdcbe23.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-aa38323ec5c9475f905780c27c419990.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-03fd7683611a407cbeda905a43a4c3b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-03fd7683611a407cbeda905a43a4c3b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-f7367535ef1b45b4a3353fba675eaa9d.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0cd19bc0abf14b5dbd22306de090c584.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0cd19bc0abf14b5dbd22306de090c584.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-0e656cd8ed9d40f89fa04c0ce49d5716.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bb1e69930b4f4ce4b31d36a1284bc83f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb1e69930b4f4ce4b31d36a1284bc83f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-0fb8dd2ccc014ed8a70f78e90b1355d5.html" target="element">  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9ccb0485581d4c3b89d597d6a4055b5e.html" target="element"> erikoistuminen </a> </td>
																				<td> <a href="../elements/id-9ccb0485581d4c3b89d597d6a4055b5e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9222e83980924e1396059b5c4e5973c0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f7367535ef1b45b4a3353fba675eaa9d.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-756736fefa4e4274bd0feef59572f5e1.html" target="element"> liittyy </a> </td>
																				<td> <a href="../elements/id-756736fefa4e4274bd0feef59572f5e1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-aa38323ec5c9475f905780c27c419990.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cb16c034b2f847ba95db1b3d5c2419c2.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e20e9126bab541e58aa98ecc081cf647.html" target="element"> koostuu </a> </td>
																				<td> <a href="../elements/id-e20e9126bab541e58aa98ecc081cf647.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0e656cd8ed9d40f89fa04c0ce49d5716.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0fb8dd2ccc014ed8a70f78e90b1355d5.html" target="element">  </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-3dedbc90ba974408be66dee985023106.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3dedbc90ba974408be66dee985023106.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1465284dfe094f5d9408570439484bb8.html" target="element"> Kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dc92624a45c14e80992b666901996e27.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc92624a45c14e80992b666901996e27.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1465284dfe094f5d9408570439484bb8.html" target="element"> Kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-818ceb689cfd4e86947e216944a3e1df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-818ceb689cfd4e86947e216944a3e1df.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1465284dfe094f5d9408570439484bb8.html" target="element"> Kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-52e04e412ba64ce98e00da0e691fec65.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>