<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kyvykkyyskartta (Luonnos)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kyvykkyyskartta (Luonnos)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-16ac5ec38c8648d8bdb1c1491fe664c5.png" alt="Kyvykkyyskartta (Luonnos)" usemap="#id-16ac5ec38c8648d8bdb1c1491fe664c5map"/>
			   <map name="id-16ac5ec38c8648d8bdb1c1491fe664c5map">
				  						<area shape="rect" coords="538,754,707,809" href="../elements/id-c4f343d6876040c4877943d30525a624.html"  target="element">
				  						<area shape="rect" coords="538,826,707,881" href="../elements/id-388f6fbcf7574fcd9bcf29a77ccc1bc3.html"  target="element">

				  				<area shape="rect" coords="526,706,718,1007" href="../elements/id-ec80fb91c62d4d8ca57028b97ae266ce.html"  target="element">
				  				<area shape="rect" coords="754,706,958,766" href="../elements/id-0c1b48a9acf74d0485b8322a3e6a1a96.html"  target="element">
				  						<area shape="rect" coords="766,898,946,953" href="../elements/id-c5534769d3e34ee29071a7115213f7c2.html"  target="element">
				  						<area shape="rect" coords="766,826,946,881" href="../elements/id-85949f67cf80431aa458c307b436ee3d.html"  target="element">

				  				<area shape="rect" coords="754,790,958,1007" href="../elements/id-c80682f7603d4cc5b9ed2b8317a7c57f.html"  target="element">
				  								<area shape="rect" coords="274,1054,455,1109" href="../elements/id-8a731c4893e140ac826f387f14c0478a.html"  target="element">
				  								<area shape="rect" coords="82,1054,251,1109" href="../elements/id-013b5a0121314691827411a8ecb8624e.html"  target="element">

				  						<area shape="rect" coords="58,1006,479,1151" href="../elements/id-fc062e2994254922acd33761d7b83645.html"  target="element">
				  								<area shape="rect" coords="70,922,251,977" href="../elements/id-c42c69441b4242d7a3e0d6dc9066ae3f.html"  target="element">
				  								<area shape="rect" coords="274,922,457,977" href="../elements/id-b500004e6cd543e19b47bbbb18347464.html"  target="element">
				  								<area shape="rect" coords="274,778,454,833" href="../elements/id-87e8e1ff4f114fcaaf4e3f38268e26a6.html"  target="element">
				  								<area shape="rect" coords="274,847,454,902" href="../elements/id-125023fe87664b11b1b6c9ae466b2905.html"  target="element">
				  								<area shape="rect" coords="70,778,256,833" href="../elements/id-52da8b893fb14c5aa32172368acfae7a.html"  target="element">
				  								<area shape="rect" coords="70,844,256,905" href="../elements/id-93cb67a575724e0fab01a4ca5b2d7cec.html"  target="element">

				  						<area shape="rect" coords="58,742,479,995" href="../elements/id-73ccfeb107a24e0c835b16c8d5fe6d44.html"  target="element">

				  				<area shape="rect" coords="34,706,503,1163" href="../elements/id-8a257d838a4245049ed4de466edac64b.html"  target="element">
				  								<area shape="rect" coords="754,322,947,377" href="../elements/id-c06314f0a589439fb0db84cb79b91049.html"  target="element">
				  								<area shape="rect" coords="754,394,947,443" href="../elements/id-85e8cc23bfda4e60b6c54090d28af8e4.html"  target="element">
				  										<area shape="rect" coords="767,166,935,221" href="../elements/id-b069db3b0494407eb04c907ab2ab86b1.html"  target="element">
				  										<area shape="rect" coords="767,238,935,298" href="../elements/id-faa0e09fdfd143c9a79daab01ac87ddf.html"  target="element">

				  								<area shape="rect" coords="754,130,947,311" href="../elements/id-ec709ad0471747c9aed2f6e8c3b993c3.html"  target="element">

				  						<area shape="rect" coords="730,94,971,659" href="../elements/id-e9aeba14da2242afb5b0095ddd51b59f.html"  target="element">
				  								<area shape="rect" coords="563,370,683,425" href="../elements/id-e3fd5df963994656a48161a87c33ebf5.html"  target="element">
				  								<area shape="rect" coords="563,310,683,365" href="../elements/id-c6a527df40a94cc2b3eda942efb01281.html"  target="element">
				  								<area shape="rect" coords="562,130,682,185" href="../elements/id-22636ea944d945d19a6831e3f9594f3e.html"  target="element">
				  								<area shape="rect" coords="562,190,682,245" href="../elements/id-8da915d2de6d4d128a5d0bda05c3f74b.html"  target="element">
				  								<area shape="rect" coords="562,250,683,305" href="../elements/id-f0c89fecdbef4b9b84f61401cf0422ef.html"  target="element">

				  						<area shape="rect" coords="538,94,707,659" href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html"  target="element">
				  								<area shape="rect" coords="70,154,206,209" href="../elements/id-3739c8efeab749b29f6f24618dc016d1.html"  target="element">
				  												<area shape="rect" coords="274,574,431,629" href="../elements/id-cf3011eed957440e80dea493cdb98d38.html"  target="element">
				  														<area shape="rect" coords="284,418,421,473" href="../elements/id-24202d56a76948588cb175e86b0a7d22.html"  target="element">
				  														<area shape="rect" coords="286,358,419,413" href="../elements/id-9dbe7e18f05a4d00b5d16baadc0bf8f8.html"  target="element">

				  												<area shape="rect" coords="274,310,431,503" href="../elements/id-b10720951bf8412c92813b5b78d14640.html"  target="element">
				  												<area shape="rect" coords="274,514,431,569" href="../elements/id-5bb7d2e8bb144e9aadb98bfe36119d45.html"  target="element">

				  										<area shape="rect" coords="262,274,450,647" href="../elements/id-72202a46288d4d108a53225610d119a2.html"  target="element">
				  										<area shape="rect" coords="262,154,450,209" href="../elements/id-4eb651060c8244469065f644048b1bba.html"  target="element">
				  										<area shape="rect" coords="262,214,450,269" href="../elements/id-80fc19aab8d4494ea621e3cf034fc359.html"  target="element">

				  								<area shape="rect" coords="226,118,491,659" href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html"  target="element">
				  								<area shape="rect" coords="70,394,211,449" href="../elements/id-164ff2d537494d3c807ac8bf603f9057.html"  target="element">
				  								<area shape="rect" coords="70,334,206,389" href="../elements/id-fe837b75ed28471e9c47397018ea7de4.html"  target="element">
				  								<area shape="rect" coords="70,274,207,329" href="../elements/id-31d2a5bfa0644ca8a2ad9c79b10d9264.html"  target="element">
				  								<area shape="rect" coords="70,214,207,269" href="../elements/id-74c8abd37e48492c843bb3f8d13c1f2e.html"  target="element">

				  						<area shape="rect" coords="58,94,515,671" href="../elements/id-d79e84d3a66848adae6b020a67531a87.html"  target="element">

				  				<area shape="rect" coords="34,58,995,695" href="../elements/id-77402ce262164088b4d8077bcc074ec2.html"  target="element">

				  		<area shape="rect" coords="10,10,1019,1187" href="../elements/id-f17486424bba48b185ed070498190250.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f17486424bba48b185ed070498190250.html" target="element"> Kulttuuriperinn&#246;n hallinta </a> </td>
											    <td> <a href="../elements/id-f17486424bba48b185ed070498190250.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-77402ce262164088b4d8077bcc074ec2.html" target="element"> Kokoelmien hallinta </a> </td>
													    <td> <a href="../elements/id-77402ce262164088b4d8077bcc074ec2.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
															    <td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-74c8abd37e48492c843bb3f8d13c1f2e.html" target="element"> Metatietomallien hallinta </a> </td>
																	    <td> <a href="../elements/id-74c8abd37e48492c843bb3f8d13c1f2e.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-31d2a5bfa0644ca8a2ad9c79b10d9264.html" target="element"> K&#228;ytt&#246;- ja lisenssiehtojen m&#228;&#228;rittely ja ohjeistus </a> </td>
																	    <td> <a href="../elements/id-31d2a5bfa0644ca8a2ad9c79b10d9264.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-fe837b75ed28471e9c47397018ea7de4.html" target="element"> Lisenssiehtojen m&#228;&#228;rittely </a> </td>
																	    <td> <a href="../elements/id-fe837b75ed28471e9c47397018ea7de4.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-164ff2d537494d3c807ac8bf603f9057.html" target="element"> Dokumentaation ja k&#228;ytt&#246;ohjeiden hallinta </a> </td>
																	    <td> <a href="../elements/id-164ff2d537494d3c807ac8bf603f9057.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html" target="element"> Pysyvien k&#228;sitteiden hallinta </a> </td>
																	    <td> <a href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/id-80fc19aab8d4494ea621e3cf034fc359.html" target="element"> Ydintietojen hallinta </a> </td>
																			    <td> <a href="../elements/id-80fc19aab8d4494ea621e3cf034fc359.html" target="element" class="i18n-elementtype-Capability">
																			    </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/id-4eb651060c8244469065f644048b1bba.html" target="element"> Pysyvien tunnisteiden hallinta </a> </td>
																			    <td> <a href="../elements/id-4eb651060c8244469065f644048b1bba.html" target="element" class="i18n-elementtype-Capability">
																			    </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/id-72202a46288d4d108a53225610d119a2.html" target="element"> Viitetietojen hallinta </a> </td>
																			    <td> <a href="../elements/id-72202a46288d4d108a53225610d119a2.html" target="element" class="i18n-elementtype-Capability">
																			    </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/id-5bb7d2e8bb144e9aadb98bfe36119d45.html" target="element"> Asiasanastojen ja ontologioiden hallinta </a> </td>
																					    <td> <a href="../elements/id-5bb7d2e8bb144e9aadb98bfe36119d45.html" target="element" class="i18n-elementtype-Capability">
																					    </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/id-b10720951bf8412c92813b5b78d14640.html" target="element"> Viitetietokantojen hallinta </a> </td>
																					    <td> <a href="../elements/id-b10720951bf8412c92813b5b78d14640.html" target="element" class="i18n-elementtype-Capability">
																					    </a> </td>
																					</tr>

																							<tr>
																							    <td> <a href="../elements/id-9dbe7e18f05a4d00b5d16baadc0bf8f8.html" target="element"> Nimitietojen hallinta </a> </td>
																							    <td> <a href="../elements/id-9dbe7e18f05a4d00b5d16baadc0bf8f8.html" target="element" class="i18n-elementtype-Capability">
																							    </a> </td>
																							</tr>

																							<tr>
																							    <td> <a href="../elements/id-24202d56a76948588cb175e86b0a7d22.html" target="element"> Paikkatietojen hallinta </a> </td>
																							    <td> <a href="../elements/id-24202d56a76948588cb175e86b0a7d22.html" target="element" class="i18n-elementtype-Capability">
																							    </a> </td>
																							</tr>

																					
																					<tr>
																					    <td> <a href="../elements/id-cf3011eed957440e80dea493cdb98d38.html" target="element"> Koodistojen hallinta </a> </td>
																					    <td> <a href="../elements/id-cf3011eed957440e80dea493cdb98d38.html" target="element" class="i18n-elementtype-Capability">
																					    </a> </td>
																					</tr>

																			
																	
																	<tr>
																	    <td> <a href="../elements/id-3739c8efeab749b29f6f24618dc016d1.html" target="element"> Metatietojen kuvailu </a> </td>
																	    <td> <a href="../elements/id-3739c8efeab749b29f6f24618dc016d1.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element"> Digitointi </a> </td>
															    <td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-f0c89fecdbef4b9b84f61401cf0422ef.html" target="element"> Ymp&#228;rist&#246;jen 3D-digitointi </a> </td>
																	    <td> <a href="../elements/id-f0c89fecdbef4b9b84f61401cf0422ef.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-8da915d2de6d4d128a5d0bda05c3f74b.html" target="element"> Kokoelmien 3D-digitointi </a> </td>
																	    <td> <a href="../elements/id-8da915d2de6d4d128a5d0bda05c3f74b.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-22636ea944d945d19a6831e3f9594f3e.html" target="element"> Kokoelmien digitointi </a> </td>
																	    <td> <a href="../elements/id-22636ea944d945d19a6831e3f9594f3e.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-c6a527df40a94cc2b3eda942efb01281.html" target="element"> VR / AR </a> </td>
																	    <td> <a href="../elements/id-c6a527df40a94cc2b3eda942efb01281.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-e3fd5df963994656a48161a87c33ebf5.html" target="element"> Audio </a> </td>
																	    <td> <a href="../elements/id-e3fd5df963994656a48161a87c33ebf5.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-e9aeba14da2242afb5b0095ddd51b59f.html" target="element"> Digitaalisten aineistojen hallinta </a> </td>
															    <td> <a href="../elements/id-e9aeba14da2242afb5b0095ddd51b59f.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-ec709ad0471747c9aed2f6e8c3b993c3.html" target="element"> Data-arkeologia </a> </td>
																	    <td> <a href="../elements/id-ec709ad0471747c9aed2f6e8c3b993c3.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/id-faa0e09fdfd143c9a79daab01ac87ddf.html" target="element"> Syntys&#228;hk&#246;isten aineistojen hallinta </a> </td>
																			    <td> <a href="../elements/id-faa0e09fdfd143c9a79daab01ac87ddf.html" target="element" class="i18n-elementtype-Capability">
																			    </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/id-b069db3b0494407eb04c907ab2ab86b1.html" target="element"> Digitaalinen kulttuuri ja teknologia </a> </td>
																			    <td> <a href="../elements/id-b069db3b0494407eb04c907ab2ab86b1.html" target="element" class="i18n-elementtype-Capability">
																			    </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/id-85e8cc23bfda4e60b6c54090d28af8e4.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
																	    <td> <a href="../elements/id-85e8cc23bfda4e60b6c54090d28af8e4.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-c06314f0a589439fb0db84cb79b91049.html" target="element"> Aineistojen jakelu ja saatavuus </a> </td>
																	    <td> <a href="../elements/id-c06314f0a589439fb0db84cb79b91049.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-8a257d838a4245049ed4de466edac64b.html" target="element"> Palvelu- ja tuotekehitys </a> </td>
													    <td> <a href="../elements/id-8a257d838a4245049ed4de466edac64b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-73ccfeb107a24e0c835b16c8d5fe6d44.html" target="element"> Digitaalisten palveluiden kehitt&#228;minen </a> </td>
															    <td> <a href="../elements/id-73ccfeb107a24e0c835b16c8d5fe6d44.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-93cb67a575724e0fab01a4ca5b2d7cec.html" target="element"> Yhteentoimivuuden edist&#228;minen </a> </td>
																	    <td> <a href="../elements/id-93cb67a575724e0fab01a4ca5b2d7cec.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-52da8b893fb14c5aa32172368acfae7a.html" target="element"> Digitaalinen arkkitehtuuri </a> </td>
																	    <td> <a href="../elements/id-52da8b893fb14c5aa32172368acfae7a.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-125023fe87664b11b1b6c9ae466b2905.html" target="element"> Digitaalinen sis&#228;ll&#246;ntuotanto </a> </td>
																	    <td> <a href="../elements/id-125023fe87664b11b1b6c9ae466b2905.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-87e8e1ff4f114fcaaf4e3f38268e26a6.html" target="element"> Datanhallinta </a> </td>
																	    <td> <a href="../elements/id-87e8e1ff4f114fcaaf4e3f38268e26a6.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-b500004e6cd543e19b47bbbb18347464.html" target="element"> Teko&#228;lyn hy&#246;dynt&#228;minen </a> </td>
																	    <td> <a href="../elements/id-b500004e6cd543e19b47bbbb18347464.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-c42c69441b4242d7a3e0d6dc9066ae3f.html" target="element"> Tietoj&#228;rjestelmien kehitt&#228;minen </a> </td>
																	    <td> <a href="../elements/id-c42c69441b4242d7a3e0d6dc9066ae3f.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-fc062e2994254922acd33761d7b83645.html" target="element"> Palvelu, innovaatio ja ekosysteemikehitys </a> </td>
															    <td> <a href="../elements/id-fc062e2994254922acd33761d7b83645.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-013b5a0121314691827411a8ecb8624e.html" target="element"> Palvelumuotoilu </a> </td>
																	    <td> <a href="../elements/id-013b5a0121314691827411a8ecb8624e.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-8a731c4893e140ac826f387f14c0478a.html" target="element"> Data-avaruudet </a> </td>
																	    <td> <a href="../elements/id-8a731c4893e140ac826f387f14c0478a.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-c80682f7603d4cc5b9ed2b8317a7c57f.html" target="element"> Kulttuuriperint&#246;tutkimus </a> </td>
													    <td> <a href="../elements/id-c80682f7603d4cc5b9ed2b8317a7c57f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-85949f67cf80431aa458c307b436ee3d.html" target="element"> Tutkimusaineistojen koostaminen </a> </td>
															    <td> <a href="../elements/id-85949f67cf80431aa458c307b436ee3d.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c5534769d3e34ee29071a7115213f7c2.html" target="element"> Prototyyppien kehitys </a> </td>
															    <td> <a href="../elements/id-c5534769d3e34ee29071a7115213f7c2.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-0c1b48a9acf74d0485b8322a3e6a1a96.html" target="element"> Kulttuuriperint&#246;kasvatus </a> </td>
													    <td> <a href="../elements/id-0c1b48a9acf74d0485b8322a3e6a1a96.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ec80fb91c62d4d8ca57028b97ae266ce.html" target="element"> Kulttuuriperinn&#246;n markkinointi </a> </td>
													    <td> <a href="../elements/id-ec80fb91c62d4d8ca57028b97ae266ce.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-388f6fbcf7574fcd9bcf29a77ccc1bc3.html" target="element"> Kulttuurimatkailun edist&#228;minen </a> </td>
															    <td> <a href="../elements/id-388f6fbcf7574fcd9bcf29a77ccc1bc3.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c4f343d6876040c4877943d30525a624.html" target="element"> Kulttuuriarvot markkinoinnissa </a> </td>
															    <td> <a href="../elements/id-c4f343d6876040c4877943d30525a624.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-217b5aad338a40a785e3ee4dabdb006e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-217b5aad338a40a785e3ee4dabdb006e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f17486424bba48b185ed070498190250.html" target="element"> Kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-77402ce262164088b4d8077bcc074ec2.html" target="element"> Kokoelmien hallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fbf64722955c49e9bba889ca09b640d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fbf64722955c49e9bba889ca09b640d5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f17486424bba48b185ed070498190250.html" target="element"> Kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-8a257d838a4245049ed4de466edac64b.html" target="element"> Palvelu- ja tuotekehitys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-50b6d3bb63154b828cfceee238c8f6e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50b6d3bb63154b828cfceee238c8f6e1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f17486424bba48b185ed070498190250.html" target="element"> Kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-c80682f7603d4cc5b9ed2b8317a7c57f.html" target="element"> Kulttuuriperint&#246;tutkimus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-38cd39789dd744058858e3d9cea9fd01.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-38cd39789dd744058858e3d9cea9fd01.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f17486424bba48b185ed070498190250.html" target="element"> Kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-0c1b48a9acf74d0485b8322a3e6a1a96.html" target="element"> Kulttuuriperint&#246;kasvatus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-62bae9b1559244028f15fe90fd0e7061.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62bae9b1559244028f15fe90fd0e7061.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f17486424bba48b185ed070498190250.html" target="element"> Kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-ec80fb91c62d4d8ca57028b97ae266ce.html" target="element"> Kulttuuriperinn&#246;n markkinointi </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9098139e2c774960bbe5fabeb08e6cd2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9098139e2c774960bbe5fabeb08e6cd2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-77402ce262164088b4d8077bcc074ec2.html" target="element"> Kokoelmien hallinta </a> </td>
																				<td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a75989d480344829b465182014daeef5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a75989d480344829b465182014daeef5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-77402ce262164088b4d8077bcc074ec2.html" target="element"> Kokoelmien hallinta </a> </td>
																				<td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element"> Digitointi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-901cf4c5ce85428ab5bddfadb1eccd7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-901cf4c5ce85428ab5bddfadb1eccd7f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-77402ce262164088b4d8077bcc074ec2.html" target="element"> Kokoelmien hallinta </a> </td>
																				<td> <a href="../elements/id-e9aeba14da2242afb5b0095ddd51b59f.html" target="element"> Digitaalisten aineistojen hallinta </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-8e24e6dc680b46eb86a9c6aee37201b9.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-8e24e6dc680b46eb86a9c6aee37201b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
																						<td> <a href="../elements/id-74c8abd37e48492c843bb3f8d13c1f2e.html" target="element"> Metatietomallien hallinta </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-1e566314efb9445090a39dff234114e7.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-1e566314efb9445090a39dff234114e7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
																						<td> <a href="../elements/id-31d2a5bfa0644ca8a2ad9c79b10d9264.html" target="element"> K&#228;ytt&#246;- ja lisenssiehtojen m&#228;&#228;rittely ja ohjeistus </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-7ac458713bb14f789517e19a0e03631e.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-7ac458713bb14f789517e19a0e03631e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
																						<td> <a href="../elements/id-fe837b75ed28471e9c47397018ea7de4.html" target="element"> Lisenssiehtojen m&#228;&#228;rittely </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-08a4b076aeb24c0ba02e4d1e3e6ac4c7.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-08a4b076aeb24c0ba02e4d1e3e6ac4c7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
																						<td> <a href="../elements/id-164ff2d537494d3c807ac8bf603f9057.html" target="element"> Dokumentaation ja k&#228;ytt&#246;ohjeiden hallinta </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-2cdb76bca57f4dc69017ffff7e68e8bb.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-2cdb76bca57f4dc69017ffff7e68e8bb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
																						<td> <a href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html" target="element"> Pysyvien k&#228;sitteiden hallinta </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-3aab3ff4083845819a9b62d98e2c50f5.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-3aab3ff4083845819a9b62d98e2c50f5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
																						<td> <a href="../elements/id-3739c8efeab749b29f6f24618dc016d1.html" target="element"> Metatietojen kuvailu </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/id-0e7a3fe2b9b84f07a0b52c0826cd91bc.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-0e7a3fe2b9b84f07a0b52c0826cd91bc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html" target="element"> Pysyvien k&#228;sitteiden hallinta </a> </td>
																								<td> <a href="../elements/id-72202a46288d4d108a53225610d119a2.html" target="element"> Viitetietojen hallinta </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/id-4d3e897ac76f4b32b58958d5ab35b818.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-4d3e897ac76f4b32b58958d5ab35b818.html" target="element" class="i18n-elementtype-CompositionRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html" target="element"> Pysyvien k&#228;sitteiden hallinta </a> </td>
																								<td> <a href="../elements/id-80fc19aab8d4494ea621e3cf034fc359.html" target="element"> Ydintietojen hallinta </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/id-188391fb80554bb7a3527b3cf3ffcda5.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-188391fb80554bb7a3527b3cf3ffcda5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html" target="element"> Pysyvien k&#228;sitteiden hallinta </a> </td>
																								<td> <a href="../elements/id-4eb651060c8244469065f644048b1bba.html" target="element"> Pysyvien tunnisteiden hallinta </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/id-23a91ca6a23e42b18c5a06923c8ef406.html" target="element">  </a> </td>
																										<td> <a href="../elements/id-23a91ca6a23e42b18c5a06923c8ef406.html" target="element" class="i18n-elementtype-CompositionRelationship">
																										</a> </td>
																										<td> <a href="../elements/id-72202a46288d4d108a53225610d119a2.html" target="element"> Viitetietojen hallinta </a> </td>
																										<td> <a href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html" target="element"> Pysyvien k&#228;sitteiden hallinta </a> </td>
																									</tr>
																									<tr>
																										<td> <a href="../elements/id-42e199e4e69947f4966f499ae6fec97a.html" target="element">  </a> </td>
																										<td> <a href="../elements/id-42e199e4e69947f4966f499ae6fec97a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																										</a> </td>
																										<td> <a href="../elements/id-72202a46288d4d108a53225610d119a2.html" target="element"> Viitetietojen hallinta </a> </td>
																										<td> <a href="../elements/id-5bb7d2e8bb144e9aadb98bfe36119d45.html" target="element"> Asiasanastojen ja ontologioiden hallinta </a> </td>
																									</tr>
																									<tr>
																										<td> <a href="../elements/id-5971254be13f495184c152afb155abe2.html" target="element">  </a> </td>
																										<td> <a href="../elements/id-5971254be13f495184c152afb155abe2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																										</a> </td>
																										<td> <a href="../elements/id-72202a46288d4d108a53225610d119a2.html" target="element"> Viitetietojen hallinta </a> </td>
																										<td> <a href="../elements/id-b10720951bf8412c92813b5b78d14640.html" target="element"> Viitetietokantojen hallinta </a> </td>
																									</tr>
																									<tr>
																										<td> <a href="../elements/id-d222c92862eb46e1950849176347d0e8.html" target="element">  </a> </td>
																										<td> <a href="../elements/id-d222c92862eb46e1950849176347d0e8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																										</a> </td>
																										<td> <a href="../elements/id-72202a46288d4d108a53225610d119a2.html" target="element"> Viitetietojen hallinta </a> </td>
																										<td> <a href="../elements/id-cf3011eed957440e80dea493cdb98d38.html" target="element"> Koodistojen hallinta </a> </td>
																									</tr>

																											<tr>
																												<td> <a href="../elements/id-b0fcb16564ba409ca0035e3ed2b4595b.html" target="element">  </a> </td>
																												<td> <a href="../elements/id-b0fcb16564ba409ca0035e3ed2b4595b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																												</a> </td>
																												<td> <a href="../elements/id-b10720951bf8412c92813b5b78d14640.html" target="element"> Viitetietokantojen hallinta </a> </td>
																												<td> <a href="../elements/id-9dbe7e18f05a4d00b5d16baadc0bf8f8.html" target="element"> Nimitietojen hallinta </a> </td>
																											</tr>
																											<tr>
																												<td> <a href="../elements/id-a2e6db3981444bc983cb81e7ce4ca199.html" target="element">  </a> </td>
																												<td> <a href="../elements/id-a2e6db3981444bc983cb81e7ce4ca199.html" target="element" class="i18n-elementtype-CompositionRelationship">
																												</a> </td>
																												<td> <a href="../elements/id-b10720951bf8412c92813b5b78d14640.html" target="element"> Viitetietokantojen hallinta </a> </td>
																												<td> <a href="../elements/id-24202d56a76948588cb175e86b0a7d22.html" target="element"> Paikkatietojen hallinta </a> </td>
																											</tr>

																					
																			
																	
															
																					<tr>
																						<td> <a href="../elements/id-78d738fc52bc4a6e802084133caa5f44.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-78d738fc52bc4a6e802084133caa5f44.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element"> Digitointi </a> </td>
																						<td> <a href="../elements/id-f0c89fecdbef4b9b84f61401cf0422ef.html" target="element"> Ymp&#228;rist&#246;jen 3D-digitointi </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-e738d22764394be2b98a2918b239aefd.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e738d22764394be2b98a2918b239aefd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element"> Digitointi </a> </td>
																						<td> <a href="../elements/id-8da915d2de6d4d128a5d0bda05c3f74b.html" target="element"> Kokoelmien 3D-digitointi </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-123112af930b4b62a3cf6e0309e86972.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-123112af930b4b62a3cf6e0309e86972.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element"> Digitointi </a> </td>
																						<td> <a href="../elements/id-22636ea944d945d19a6831e3f9594f3e.html" target="element"> Kokoelmien digitointi </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-fdaa9f03b2344816bad00b61da2dc4dc.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-fdaa9f03b2344816bad00b61da2dc4dc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element"> Digitointi </a> </td>
																						<td> <a href="../elements/id-c6a527df40a94cc2b3eda942efb01281.html" target="element"> VR / AR </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-059e80dfc8424e908abc6cbee50cb9f2.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-059e80dfc8424e908abc6cbee50cb9f2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element"> Digitointi </a> </td>
																						<td> <a href="../elements/id-e3fd5df963994656a48161a87c33ebf5.html" target="element"> Audio </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-59421220835444388446c02b7700d795.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-59421220835444388446c02b7700d795.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-e9aeba14da2242afb5b0095ddd51b59f.html" target="element"> Digitaalisten aineistojen hallinta </a> </td>
																						<td> <a href="../elements/id-ec709ad0471747c9aed2f6e8c3b993c3.html" target="element"> Data-arkeologia </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-dfabb4fcbf984ba595131c5c4ca3d5a4.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-dfabb4fcbf984ba595131c5c4ca3d5a4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-e9aeba14da2242afb5b0095ddd51b59f.html" target="element"> Digitaalisten aineistojen hallinta </a> </td>
																						<td> <a href="../elements/id-85e8cc23bfda4e60b6c54090d28af8e4.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-ade3f1f435674864ab9038dc8bda70e4.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-ade3f1f435674864ab9038dc8bda70e4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-e9aeba14da2242afb5b0095ddd51b59f.html" target="element"> Digitaalisten aineistojen hallinta </a> </td>
																						<td> <a href="../elements/id-c06314f0a589439fb0db84cb79b91049.html" target="element"> Aineistojen jakelu ja saatavuus </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/id-6bb78eee6ece4b919f7daaad5f5cc4de.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-6bb78eee6ece4b919f7daaad5f5cc4de.html" target="element" class="i18n-elementtype-CompositionRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-ec709ad0471747c9aed2f6e8c3b993c3.html" target="element"> Data-arkeologia </a> </td>
																								<td> <a href="../elements/id-faa0e09fdfd143c9a79daab01ac87ddf.html" target="element"> Syntys&#228;hk&#246;isten aineistojen hallinta </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/id-0ed75dc4dc0a440f9c398edda30333e4.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-0ed75dc4dc0a440f9c398edda30333e4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-ec709ad0471747c9aed2f6e8c3b993c3.html" target="element"> Data-arkeologia </a> </td>
																								<td> <a href="../elements/id-b069db3b0494407eb04c907ab2ab86b1.html" target="element"> Digitaalinen kulttuuri ja teknologia </a> </td>
																							</tr>

																	
															
													
																			<tr>
																				<td> <a href="../elements/id-fd276c1ea1ac40caac01f0591e9c8b16.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fd276c1ea1ac40caac01f0591e9c8b16.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8a257d838a4245049ed4de466edac64b.html" target="element"> Palvelu- ja tuotekehitys </a> </td>
																				<td> <a href="../elements/id-73ccfeb107a24e0c835b16c8d5fe6d44.html" target="element"> Digitaalisten palveluiden kehitt&#228;minen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7febdf30237b4c32953a609855c5aabf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7febdf30237b4c32953a609855c5aabf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8a257d838a4245049ed4de466edac64b.html" target="element"> Palvelu- ja tuotekehitys </a> </td>
																				<td> <a href="../elements/id-fc062e2994254922acd33761d7b83645.html" target="element"> Palvelu, innovaatio ja ekosysteemikehitys </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-fbbf432748ee4d4888b4aec260d9d7b3.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-fbbf432748ee4d4888b4aec260d9d7b3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-73ccfeb107a24e0c835b16c8d5fe6d44.html" target="element"> Digitaalisten palveluiden kehitt&#228;minen </a> </td>
																						<td> <a href="../elements/id-93cb67a575724e0fab01a4ca5b2d7cec.html" target="element"> Yhteentoimivuuden edist&#228;minen </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-57c6d3ec72f241f38a18a60704d125b9.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-57c6d3ec72f241f38a18a60704d125b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-73ccfeb107a24e0c835b16c8d5fe6d44.html" target="element"> Digitaalisten palveluiden kehitt&#228;minen </a> </td>
																						<td> <a href="../elements/id-87e8e1ff4f114fcaaf4e3f38268e26a6.html" target="element"> Datanhallinta </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-f73fb70e82bb48ee93e7b1ba1e53e36e.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f73fb70e82bb48ee93e7b1ba1e53e36e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-73ccfeb107a24e0c835b16c8d5fe6d44.html" target="element"> Digitaalisten palveluiden kehitt&#228;minen </a> </td>
																						<td> <a href="../elements/id-52da8b893fb14c5aa32172368acfae7a.html" target="element"> Digitaalinen arkkitehtuuri </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-ff3691a626c9480080d3c189262036cf.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-ff3691a626c9480080d3c189262036cf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-73ccfeb107a24e0c835b16c8d5fe6d44.html" target="element"> Digitaalisten palveluiden kehitt&#228;minen </a> </td>
																						<td> <a href="../elements/id-125023fe87664b11b1b6c9ae466b2905.html" target="element"> Digitaalinen sis&#228;ll&#246;ntuotanto </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-9cb4b85f6c2f4b068124e23b140c4947.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9cb4b85f6c2f4b068124e23b140c4947.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-73ccfeb107a24e0c835b16c8d5fe6d44.html" target="element"> Digitaalisten palveluiden kehitt&#228;minen </a> </td>
																						<td> <a href="../elements/id-b500004e6cd543e19b47bbbb18347464.html" target="element"> Teko&#228;lyn hy&#246;dynt&#228;minen </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-cc2e7d28d7404c01a3232f0efa45304f.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-cc2e7d28d7404c01a3232f0efa45304f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-73ccfeb107a24e0c835b16c8d5fe6d44.html" target="element"> Digitaalisten palveluiden kehitt&#228;minen </a> </td>
																						<td> <a href="../elements/id-c42c69441b4242d7a3e0d6dc9066ae3f.html" target="element"> Tietoj&#228;rjestelmien kehitt&#228;minen </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-714e5ea9797146f191633575776201bb.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-714e5ea9797146f191633575776201bb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fc062e2994254922acd33761d7b83645.html" target="element"> Palvelu, innovaatio ja ekosysteemikehitys </a> </td>
																						<td> <a href="../elements/id-8a731c4893e140ac826f387f14c0478a.html" target="element"> Data-avaruudet </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-442a7d7b6c7944f5936aa933de7edf87.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-442a7d7b6c7944f5936aa933de7edf87.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-fc062e2994254922acd33761d7b83645.html" target="element"> Palvelu, innovaatio ja ekosysteemikehitys </a> </td>
																						<td> <a href="../elements/id-013b5a0121314691827411a8ecb8624e.html" target="element"> Palvelumuotoilu </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-39795594aa064917992e9cb04dd16dbb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-39795594aa064917992e9cb04dd16dbb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c80682f7603d4cc5b9ed2b8317a7c57f.html" target="element"> Kulttuuriperint&#246;tutkimus </a> </td>
																				<td> <a href="../elements/id-85949f67cf80431aa458c307b436ee3d.html" target="element"> Tutkimusaineistojen koostaminen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c902950693664491b48b2fac54b8bac4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c902950693664491b48b2fac54b8bac4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c80682f7603d4cc5b9ed2b8317a7c57f.html" target="element"> Kulttuuriperint&#246;tutkimus </a> </td>
																				<td> <a href="../elements/id-c5534769d3e34ee29071a7115213f7c2.html" target="element"> Prototyyppien kehitys </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-b735b79d1dd4469ab8250ef4e0be1a85.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b735b79d1dd4469ab8250ef4e0be1a85.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ec80fb91c62d4d8ca57028b97ae266ce.html" target="element"> Kulttuuriperinn&#246;n markkinointi </a> </td>
																				<td> <a href="../elements/id-388f6fbcf7574fcd9bcf29a77ccc1bc3.html" target="element"> Kulttuurimatkailun edist&#228;minen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-81060b7fa5e249729d12c40368f44adb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-81060b7fa5e249729d12c40368f44adb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ec80fb91c62d4d8ca57028b97ae266ce.html" target="element"> Kulttuuriperinn&#246;n markkinointi </a> </td>
																				<td> <a href="../elements/id-c4f343d6876040c4877943d30525a624.html" target="element"> Kulttuuriarvot markkinoinnissa </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>