<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Laki kansallisarkistosta ja Arkistolaki</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Laki kansallisarkistosta ja Arkistolaki</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-196ed885bd7c48d28da01b8ba5d18050.png" alt="Laki kansallisarkistosta ja Arkistolaki" usemap="#id-196ed885bd7c48d28da01b8ba5d18050map"/>
			   <map name="id-196ed885bd7c48d28da01b8ba5d18050map">
				          <area shape="rect" coords="478,10,1043,48" href="../objects/id-bcb228cbd02243258970950108f35e94.html" target="element" >
				  		<area shape="rect" coords="762,309,1079,439" href="../elements/id-6c71f620bee3469abd0f04d0a0c44512.html"  target="element">
				  		<area shape="rect" coords="1174,358,1547,413" href="../elements/id-f0d8da60b9a648d8938ea405ac622de9.html"  target="element">
				  		<area shape="rect" coords="1174,238,1552,347" href="../elements/id-901105bd07bc46e68bb3368867961c1a.html"  target="element">
				  		<area shape="rect" coords="1174,163,1547,221" href="../elements/id-459474fa2c90498c980e509808b11669.html"  target="element">
				  		<area shape="rect" coords="1054,745,1198,800" href="../elements/id-3ceb0f6081fb4a28b0ff2a0f6ecf23dd.html"  target="element">
				  		<area shape="rect" coords="1016,64,1212,119" href="../elements/id-9b60ca4f60244128a432666d45c88a8e.html"  target="element">
				  		<area shape="rect" coords="250,298,623,450" href="../elements/id-d11b3a0a8d134fa5bfca7021528916e3.html"  target="element">
				  		<area shape="rect" coords="720,238,1081,293" href="../elements/id-40dd3ec93c724f759d23dfc5ea60a423.html"  target="element">
				  		<area shape="rect" coords="732,161,1079,222" href="../elements/id-9c52db2eb7574e05abc8ba2ef1da893b.html"  target="element">
				  		<area shape="rect" coords="334,64,454,119" href="../elements/id-a6b0bd93ce2b40849bf8f056fbc2a29a.html"  target="element">
				  		<area shape="rect" coords="10,220,419,281" href="../elements/id-f4cae4783ecd429099404175b9ec43aa.html"  target="element">
				  				<area shape="rect" coords="790,754,910,809" href="../elements/id-be9248e8b4d141cfb31bbb8d1c065c70.html"  target="element">
				  				<area shape="rect" coords="334,754,454,809" href="../elements/id-ec188b5d32b54131a32d8223df1800f2.html"  target="element">
				  				<area shape="rect" coords="622,754,765,809" href="../elements/id-86f933b752964fb8be3981ce92b976b2.html"  target="element">
				  				<area shape="rect" coords="478,754,598,809" href="../elements/id-30fd5c822a97414599129210673ea126.html"  target="element">
				  				<area shape="rect" coords="40,754,160,809" href="../elements/id-68314e3fa20747c780a8788bcdcfb073.html"  target="element">
				  				<area shape="rect" coords="190,754,310,809" href="../elements/id-aa71e00f1d9a4ffa8b4327d8664e67a4.html"  target="element">

				  		<area shape="rect" coords="22,718,923,827" href="../elements/id-235f94a765f644aa8b65a05f6a218b63.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">https://www.finlex.fi/fi/laki/ajantasa/1994/19940831</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-235f94a765f644aa8b65a05f6a218b63.html" target="element"> Arkistonmuodostaja </a> </td>
											    <td> <a href="../elements/id-235f94a765f644aa8b65a05f6a218b63.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-aa71e00f1d9a4ffa8b4327d8664e67a4.html" target="element"> Laitos </a> </td>
													    <td> <a href="../elements/id-aa71e00f1d9a4ffa8b4327d8664e67a4.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-68314e3fa20747c780a8788bcdcfb073.html" target="element"> Valtion virasto </a> </td>
													    <td> <a href="../elements/id-68314e3fa20747c780a8788bcdcfb073.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-30fd5c822a97414599129210673ea126.html" target="element"> Kunnallinen viranomainen </a> </td>
													    <td> <a href="../elements/id-30fd5c822a97414599129210673ea126.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-86f933b752964fb8be3981ce92b976b2.html" target="element"> Kansanel&#228;kelaitos </a> </td>
													    <td> <a href="../elements/id-86f933b752964fb8be3981ce92b976b2.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ec188b5d32b54131a32d8223df1800f2.html" target="element"> Valtion viranomainen </a> </td>
													    <td> <a href="../elements/id-ec188b5d32b54131a32d8223df1800f2.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-be9248e8b4d141cfb31bbb8d1c065c70.html" target="element"> Muu toimija </a> </td>
													    <td> <a href="../elements/id-be9248e8b4d141cfb31bbb8d1c065c70.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f4cae4783ecd429099404175b9ec43aa.html" target="element"> Varmistaa asiakirjojen k&#228;ytett&#228;vyys ja s&#228;ilyminen, huolehtia asiakirjoihin liittyv&#228;st&#228; tietopalvelusta, m&#228;&#228;ritell&#228; asiakirjojen s&#228;ilytysarvo ja h&#228;vitt&#228;&#228; tarpeeton aineisto. </a> </td>
											    <td> <a href="../elements/id-f4cae4783ecd429099404175b9ec43aa.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a6b0bd93ce2b40849bf8f056fbc2a29a.html" target="element"> Arkistolaki </a> </td>
											    <td> <a href="../elements/id-a6b0bd93ce2b40849bf8f056fbc2a29a.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9c52db2eb7574e05abc8ba2ef1da893b.html" target="element"> Varmistaa kansalliseen kulttuuriperint&#246;&#246;n kuuluvien viranomaisten asiakirjojen ja niihin sis&#228;ltyvien tietojen s&#228;ilyminen </a> </td>
											    <td> <a href="../elements/id-9c52db2eb7574e05abc8ba2ef1da893b.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-40dd3ec93c724f759d23dfc5ea60a423.html" target="element"> Toimia viranomaisten asiakirjojen ja niihin sis&#228;ltyvien tietojen pysyv&#228;n s&#228;ilytt&#228;misen sek&#228; arkistotoimen asiantuntijaviranomaisena </a> </td>
											    <td> <a href="../elements/id-40dd3ec93c724f759d23dfc5ea60a423.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d11b3a0a8d134fa5bfca7021528916e3.html" target="element"> Arkistotointa on hoidettava siten, ett&#228; se tukee arkistonmuodostajan teht&#228;vien suorittamista sek&#228; yksityisten ja yhteis&#246;jen oikeutta saada tietoja julkisista asiakirjoista, ett&#228; yksityisten ja yhteis&#246;jen oikeusturva samoin kuin tietosuoja on otettu asianmukaisesti huomioon ja ett&#228; yksityisten ja yhteis&#246;jen oikeusturvaan liittyvien asiakirjojen saatavuus on varmistettu sek&#228; ett&#228; asiakirjat palvelevat tutkimuksen tiedon l&#228;htein&#228;. </a> </td>
											    <td> <a href="../elements/id-d11b3a0a8d134fa5bfca7021528916e3.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9b60ca4f60244128a432666d45c88a8e.html" target="element"> Laki kansallisarkistosta </a> </td>
											    <td> <a href="../elements/id-9b60ca4f60244128a432666d45c88a8e.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3ceb0f6081fb4a28b0ff2a0f6ecf23dd.html" target="element"> Kansallisarkisto </a> </td>
											    <td> <a href="../elements/id-3ceb0f6081fb4a28b0ff2a0f6ecf23dd.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-459474fa2c90498c980e509808b11669.html" target="element"> Edist&#228;&#228; pysyv&#228;sti s&#228;ilytett&#228;vien asiakirjojen ja niihin sis&#228;ltyvien tietojen saatavuutta, k&#228;ytt&#246;&#228; ja niihin perustuvaa tutkimusta </a> </td>
											    <td> <a href="../elements/id-459474fa2c90498c980e509808b11669.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-901105bd07bc46e68bb3368867961c1a.html" target="element"> Edist&#228;&#228; kansalliseen kulttuuriperint&#246;&#246;n kuuluvien yksityisten asiakirjojen ja niihin sis&#228;ltyvien tietojen s&#228;ilymist&#228;, hankkia n&#228;it&#228; aineistoja pysyv&#228;&#228;n s&#228;ilytykseen sek&#228; osallistua yksityisen arkistotoiminnan kehitt&#228;miseen yhteisty&#246;ss&#228; yksityisen arkistotoiminnan harjoittajien kanssa </a> </td>
											    <td> <a href="../elements/id-901105bd07bc46e68bb3368867961c1a.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f0d8da60b9a648d8938ea405ac622de9.html" target="element"> Toimia asiantuntijana viranomaisten heraldisissa kysymyksiss&#228; ja edist&#228;&#228; heraldista kulttuuria </a> </td>
											    <td> <a href="../elements/id-f0d8da60b9a648d8938ea405ac622de9.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6c71f620bee3469abd0f04d0a0c44512.html" target="element"> Hoitaa arkistolaissa (831/1994), s&#228;hk&#246;isest&#228; asioinnista viranomaistoiminnassa annetussa laissa (13/2003), yksityisten arkistojen valtionavusta annetussa laissa (1006/2006), henkil&#246;tietolaissa (523/1999) ja muussa lains&#228;&#228;d&#228;nn&#246;ss&#228; Kansallisarkistolle, arkistolaitokselle tai maakunta-arkistolle s&#228;&#228;detyt teht&#228;v&#228;t </a> </td>
											    <td> <a href="../elements/id-6c71f620bee3469abd0f04d0a0c44512.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-bcb228cbd02243258970950108f35e94.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bcb228cbd02243258970950108f35e94.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d365a926d244425f8ae9e11233cf3117.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d365a926d244425f8ae9e11233cf3117.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-235f94a765f644aa8b65a05f6a218b63.html" target="element"> Arkistonmuodostaja </a> </td>
																		<td> <a href="../elements/id-d11b3a0a8d134fa5bfca7021528916e3.html" target="element"> Arkistotointa on hoidettava siten, ett&#228; se tukee arkistonmuodostajan teht&#228;vien suorittamista sek&#228; yksityisten ja yhteis&#246;jen oikeutta saada tietoja julkisista asiakirjoista, ett&#228; yksityisten ja yhteis&#246;jen oikeusturva samoin kuin tietosuoja on otettu asianmukaisesti huomioon ja ett&#228; yksityisten ja yhteis&#246;jen oikeusturvaan liittyvien asiakirjojen saatavuus on varmistettu sek&#228; ett&#228; asiakirjat palvelevat tutkimuksen tiedon l&#228;htein&#228;. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ba9a2c55b4854e2690c7c2984c0d9a1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ba9a2c55b4854e2690c7c2984c0d9a1c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-235f94a765f644aa8b65a05f6a218b63.html" target="element"> Arkistonmuodostaja </a> </td>
																		<td> <a href="../elements/id-f4cae4783ecd429099404175b9ec43aa.html" target="element"> Varmistaa asiakirjojen k&#228;ytett&#228;vyys ja s&#228;ilyminen, huolehtia asiakirjoihin liittyv&#228;st&#228; tietopalvelusta, m&#228;&#228;ritell&#228; asiakirjojen s&#228;ilytysarvo ja h&#228;vitt&#228;&#228; tarpeeton aineisto. </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-779b51b6c3434b4ca8d520f8cdb222b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-779b51b6c3434b4ca8d520f8cdb222b9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6b0bd93ce2b40849bf8f056fbc2a29a.html" target="element"> Arkistolaki </a> </td>
																		<td> <a href="../elements/id-f4cae4783ecd429099404175b9ec43aa.html" target="element"> Varmistaa asiakirjojen k&#228;ytett&#228;vyys ja s&#228;ilyminen, huolehtia asiakirjoihin liittyv&#228;st&#228; tietopalvelusta, m&#228;&#228;ritell&#228; asiakirjojen s&#228;ilytysarvo ja h&#228;vitt&#228;&#228; tarpeeton aineisto. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-03162b9628a6455f9b0a6d8f5b61e7a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-03162b9628a6455f9b0a6d8f5b61e7a1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6b0bd93ce2b40849bf8f056fbc2a29a.html" target="element"> Arkistolaki </a> </td>
																		<td> <a href="../elements/id-d11b3a0a8d134fa5bfca7021528916e3.html" target="element"> Arkistotointa on hoidettava siten, ett&#228; se tukee arkistonmuodostajan teht&#228;vien suorittamista sek&#228; yksityisten ja yhteis&#246;jen oikeutta saada tietoja julkisista asiakirjoista, ett&#228; yksityisten ja yhteis&#246;jen oikeusturva samoin kuin tietosuoja on otettu asianmukaisesti huomioon ja ett&#228; yksityisten ja yhteis&#246;jen oikeusturvaan liittyvien asiakirjojen saatavuus on varmistettu sek&#228; ett&#228; asiakirjat palvelevat tutkimuksen tiedon l&#228;htein&#228;. </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8fc56e4881054949abb61485d82ad7d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fc56e4881054949abb61485d82ad7d3.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b60ca4f60244128a432666d45c88a8e.html" target="element"> Laki kansallisarkistosta </a> </td>
																		<td> <a href="../elements/id-a6b0bd93ce2b40849bf8f056fbc2a29a.html" target="element"> Arkistolaki </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2e636ba288154a088cbe1f4f96b6a01f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e636ba288154a088cbe1f4f96b6a01f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b60ca4f60244128a432666d45c88a8e.html" target="element"> Laki kansallisarkistosta </a> </td>
																		<td> <a href="../elements/id-9c52db2eb7574e05abc8ba2ef1da893b.html" target="element"> Varmistaa kansalliseen kulttuuriperint&#246;&#246;n kuuluvien viranomaisten asiakirjojen ja niihin sis&#228;ltyvien tietojen s&#228;ilyminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-05c19e941cce435aa8d718c1f643e031.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05c19e941cce435aa8d718c1f643e031.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b60ca4f60244128a432666d45c88a8e.html" target="element"> Laki kansallisarkistosta </a> </td>
																		<td> <a href="../elements/id-459474fa2c90498c980e509808b11669.html" target="element"> Edist&#228;&#228; pysyv&#228;sti s&#228;ilytett&#228;vien asiakirjojen ja niihin sis&#228;ltyvien tietojen saatavuutta, k&#228;ytt&#246;&#228; ja niihin perustuvaa tutkimusta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dc1778c8856449398aba5a59537036cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc1778c8856449398aba5a59537036cf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b60ca4f60244128a432666d45c88a8e.html" target="element"> Laki kansallisarkistosta </a> </td>
																		<td> <a href="../elements/id-40dd3ec93c724f759d23dfc5ea60a423.html" target="element"> Toimia viranomaisten asiakirjojen ja niihin sis&#228;ltyvien tietojen pysyv&#228;n s&#228;ilytt&#228;misen sek&#228; arkistotoimen asiantuntijaviranomaisena </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e1417a7952744fd3b18636a46f2aa1e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1417a7952744fd3b18636a46f2aa1e2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b60ca4f60244128a432666d45c88a8e.html" target="element"> Laki kansallisarkistosta </a> </td>
																		<td> <a href="../elements/id-901105bd07bc46e68bb3368867961c1a.html" target="element"> Edist&#228;&#228; kansalliseen kulttuuriperint&#246;&#246;n kuuluvien yksityisten asiakirjojen ja niihin sis&#228;ltyvien tietojen s&#228;ilymist&#228;, hankkia n&#228;it&#228; aineistoja pysyv&#228;&#228;n s&#228;ilytykseen sek&#228; osallistua yksityisen arkistotoiminnan kehitt&#228;miseen yhteisty&#246;ss&#228; yksityisen arkistotoiminnan harjoittajien kanssa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b8b39640cf6b47aa9d8fc882a03d3040.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8b39640cf6b47aa9d8fc882a03d3040.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b60ca4f60244128a432666d45c88a8e.html" target="element"> Laki kansallisarkistosta </a> </td>
																		<td> <a href="../elements/id-6c71f620bee3469abd0f04d0a0c44512.html" target="element"> Hoitaa arkistolaissa (831/1994), s&#228;hk&#246;isest&#228; asioinnista viranomaistoiminnassa annetussa laissa (13/2003), yksityisten arkistojen valtionavusta annetussa laissa (1006/2006), henkil&#246;tietolaissa (523/1999) ja muussa lains&#228;&#228;d&#228;nn&#246;ss&#228; Kansallisarkistolle, arkistolaitokselle tai maakunta-arkistolle s&#228;&#228;detyt teht&#228;v&#228;t </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-62b2fd21947c46c4880b8056543f76db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62b2fd21947c46c4880b8056543f76db.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b60ca4f60244128a432666d45c88a8e.html" target="element"> Laki kansallisarkistosta </a> </td>
																		<td> <a href="../elements/id-f0d8da60b9a648d8938ea405ac622de9.html" target="element"> Toimia asiantuntijana viranomaisten heraldisissa kysymyksiss&#228; ja edist&#228;&#228; heraldista kulttuuria </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f8612adc8ea345d6ba7fb169de6e7a1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8612adc8ea345d6ba7fb169de6e7a1c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3ceb0f6081fb4a28b0ff2a0f6ecf23dd.html" target="element"> Kansallisarkisto </a> </td>
																		<td> <a href="../elements/id-6c71f620bee3469abd0f04d0a0c44512.html" target="element"> Hoitaa arkistolaissa (831/1994), s&#228;hk&#246;isest&#228; asioinnista viranomaistoiminnassa annetussa laissa (13/2003), yksityisten arkistojen valtionavusta annetussa laissa (1006/2006), henkil&#246;tietolaissa (523/1999) ja muussa lains&#228;&#228;d&#228;nn&#246;ss&#228; Kansallisarkistolle, arkistolaitokselle tai maakunta-arkistolle s&#228;&#228;detyt teht&#228;v&#228;t </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-efa034ae28c240b695a4a7e4e82f510f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-efa034ae28c240b695a4a7e4e82f510f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3ceb0f6081fb4a28b0ff2a0f6ecf23dd.html" target="element"> Kansallisarkisto </a> </td>
																		<td> <a href="../elements/id-f0d8da60b9a648d8938ea405ac622de9.html" target="element"> Toimia asiantuntijana viranomaisten heraldisissa kysymyksiss&#228; ja edist&#228;&#228; heraldista kulttuuria </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5402b0dc80dc48958292dbb0be9b30d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5402b0dc80dc48958292dbb0be9b30d8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3ceb0f6081fb4a28b0ff2a0f6ecf23dd.html" target="element"> Kansallisarkisto </a> </td>
																		<td> <a href="../elements/id-901105bd07bc46e68bb3368867961c1a.html" target="element"> Edist&#228;&#228; kansalliseen kulttuuriperint&#246;&#246;n kuuluvien yksityisten asiakirjojen ja niihin sis&#228;ltyvien tietojen s&#228;ilymist&#228;, hankkia n&#228;it&#228; aineistoja pysyv&#228;&#228;n s&#228;ilytykseen sek&#228; osallistua yksityisen arkistotoiminnan kehitt&#228;miseen yhteisty&#246;ss&#228; yksityisen arkistotoiminnan harjoittajien kanssa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1805f0fdffb24c24adcfdff2bd368689.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1805f0fdffb24c24adcfdff2bd368689.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3ceb0f6081fb4a28b0ff2a0f6ecf23dd.html" target="element"> Kansallisarkisto </a> </td>
																		<td> <a href="../elements/id-40dd3ec93c724f759d23dfc5ea60a423.html" target="element"> Toimia viranomaisten asiakirjojen ja niihin sis&#228;ltyvien tietojen pysyv&#228;n s&#228;ilytt&#228;misen sek&#228; arkistotoimen asiantuntijaviranomaisena </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ca540d16dcc4d96be5b5b72f452b678.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ca540d16dcc4d96be5b5b72f452b678.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3ceb0f6081fb4a28b0ff2a0f6ecf23dd.html" target="element"> Kansallisarkisto </a> </td>
																		<td> <a href="../elements/id-9c52db2eb7574e05abc8ba2ef1da893b.html" target="element"> Varmistaa kansalliseen kulttuuriperint&#246;&#246;n kuuluvien viranomaisten asiakirjojen ja niihin sis&#228;ltyvien tietojen s&#228;ilyminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d3e62113aa9e4daba5c67888e5a7ae93.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3e62113aa9e4daba5c67888e5a7ae93.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3ceb0f6081fb4a28b0ff2a0f6ecf23dd.html" target="element"> Kansallisarkisto </a> </td>
																		<td> <a href="../elements/id-459474fa2c90498c980e509808b11669.html" target="element"> Edist&#228;&#228; pysyv&#228;sti s&#228;ilytett&#228;vien asiakirjojen ja niihin sis&#228;ltyvien tietojen saatavuutta, k&#228;ytt&#246;&#228; ja niihin perustuvaa tutkimusta </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>