<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Yhteistoiminta</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Yhteistoiminta</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-118fab51018a40f3944086f75bc9f3ac.png" alt="Yhteistoiminta" usemap="#id-118fab51018a40f3944086f75bc9f3acmap"/>
			   <map name="id-118fab51018a40f3944086f75bc9f3acmap">
				  				<area shape="rect" coords="250,124,395,159" href="../elements/id-273e1dcf76af43e0bb8f18ee5f004cbf.html"  target="element">
				  				<area shape="rect" coords="250,32,395,71" href="../elements/id-535b8f1a8ae44c04827d8dd50ce15517.html"  target="element">
				  				<area shape="rect" coords="190,93,251,148" href="../elements/id-0e656cd8ed9d40f89fa04c0ce49d5716.html"  target="element">
				  				<area shape="rect" coords="18,93,67,148" href="../elements/id-0fb8dd2ccc014ed8a70f78e90b1355d5.html"  target="element">
				  				<area shape="rect" coords="11,57,71,112" href="../elements/id-274f93ffeace49c3bfef0826d8649cd9.html"  target="element">
				  				<area shape="rect" coords="18,33,67,70" href="../elements/id-7d5974904d3b438d8ff342693624557d.html"  target="element">
				  		        <area shape="rect" coords="82,129,172,154" href="../objects/id-0382053d426f460487315276c4967316.html" target="element" >
				  				<area shape="rect" coords="250,79,395,117" href="../elements/id-e6ad5508bed046809009f237f9e95cd6.html"  target="element">
				  				<area shape="rect" coords="190,33,239,70" href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html"  target="element">
				  				<area shape="rect" coords="190,57,245,112" href="../elements/id-226204b7e37d4af982c7b87182bebc5d.html"  target="element">

				  		<area shape="rect" coords="10,10,455,179" href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html"  target="element">
				  		<area shape="rect" coords="490,324,659,379" href="../elements/id-85cb668cd865439fa339855ccb56bda0.html"  target="element">
				  		<area shape="rect" coords="706,394,887,446" href="../elements/id-fbce5c29fd09473982b9b826329ebd50.html"  target="element">
				  		<area shape="rect" coords="706,514,887,569" href="../elements/id-6a01d536d17b4194b073bca1917a424e.html"  target="element">
				  		<area shape="rect" coords="262,382,421,437" href="../elements/id-8f08abf7042a413e8edbe1247537151a.html"  target="element">
				  		<area shape="rect" coords="706,610,887,665" href="../elements/id-1882fb38ab024119be451e948c265005.html"  target="element">
				  		<area shape="rect" coords="1070,214,1323,263" href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html"  target="element">
				  		<area shape="rect" coords="10,214,243,263" href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html"  target="element">
				  		<area shape="rect" coords="1006,312,1223,361" href="../elements/id-16668215576642cb8ed0564091c9e188.html"  target="element">
				  		<area shape="rect" coords="746,214,965,263" href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html"  target="element">
				  		<area shape="rect" coords="382,214,640,263" href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
											    <td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element"> Digitaalisen kulttuuriperinn&#246;n tukipalveluiden tuottajat </a> </td>
											    <td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
											    <td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
											    <td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
											    <td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
											    <td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n vaaliminen </a> </td>
											    <td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a01d536d17b4194b073bca1917a424e.html" target="element"> Kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-6a01d536d17b4194b073bca1917a424e.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fbce5c29fd09473982b9b826329ebd50.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
											    <td> <a href="../elements/id-fbce5c29fd09473982b9b826329ebd50.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element"> Kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
											    <td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element"> Notaatio </a> </td>
											    <td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-226204b7e37d4af982c7b87182bebc5d.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-226204b7e37d4af982c7b87182bebc5d.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e6ad5508bed046809009f237f9e95cd6.html" target="element"> Toimija (Roolissa) </a> </td>
													    <td> <a href="../elements/id-e6ad5508bed046809009f237f9e95cd6.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-0382053d426f460487315276c4967316.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0382053d426f460487315276c4967316.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-274f93ffeace49c3bfef0826d8649cd9.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-274f93ffeace49c3bfef0826d8649cd9.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0fb8dd2ccc014ed8a70f78e90b1355d5.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-0fb8dd2ccc014ed8a70f78e90b1355d5.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0e656cd8ed9d40f89fa04c0ce49d5716.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-0e656cd8ed9d40f89fa04c0ce49d5716.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-535b8f1a8ae44c04827d8dd50ce15517.html" target="element"> Yhteistoiminta </a> </td>
													    <td> <a href="../elements/id-535b8f1a8ae44c04827d8dd50ce15517.html" target="element" class="i18n-elementtype-BusinessCollaboration">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-273e1dcf76af43e0bb8f18ee5f004cbf.html" target="element"> Objekti </a> </td>
													    <td> <a href="../elements/id-273e1dcf76af43e0bb8f18ee5f004cbf.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-30c9067cbd9e462997b54890f9139176.html" target="element"> toteuttaa </a> </td>
																		<td> <a href="../elements/id-30c9067cbd9e462997b54890f9139176.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																		<td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n vaaliminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a565d7a1af4d43bf9dfd5d72896bdfe2.html" target="element"> toteuttaa </a> </td>
																		<td> <a href="../elements/id-a565d7a1af4d43bf9dfd5d72896bdfe2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																		<td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element"> Kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-301977ccb7b9449cb9df1a184ad7f5c3.html" target="element"> tekninen tuki </a> </td>
																		<td> <a href="../elements/id-301977ccb7b9449cb9df1a184ad7f5c3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element"> Digitaalisen kulttuuriperinn&#246;n tukipalveluiden tuottajat </a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2626f70fc3e8430fae8b618b7b031d4b.html" target="element"> tekninen tuki </a> </td>
																		<td> <a href="../elements/id-2626f70fc3e8430fae8b618b7b031d4b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element"> Digitaalisen kulttuuriperinn&#246;n tukipalveluiden tuottajat </a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-64c46cec38cf4c5c97d5dbb2dc1c0de4.html" target="element"> tukee </a> </td>
																		<td> <a href="../elements/id-64c46cec38cf4c5c97d5dbb2dc1c0de4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2647da992d5a4976b8ae2bac18840339.html" target="element"> osallistuu </a> </td>
																		<td> <a href="../elements/id-2647da992d5a4976b8ae2bac18840339.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
																		<td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element"> Kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf367d2efce14cb09def6a403ed8c488.html" target="element"> osallistuu ja hy&#246;dynt&#228;&#228; </a> </td>
																		<td> <a href="../elements/id-cf367d2efce14cb09def6a403ed8c488.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-36ad791d3a3240838ed11d329f25b124.html" target="element"> hy&#246;dynt&#228;&#228; </a> </td>
																		<td> <a href="../elements/id-36ad791d3a3240838ed11d329f25b124.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
																		<td> <a href="../elements/id-fbce5c29fd09473982b9b826329ebd50.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d29833613bfe4ba2a86c8a50d0735029.html" target="element"> ohjaa ja tukee </a> </td>
																		<td> <a href="../elements/id-d29833613bfe4ba2a86c8a50d0735029.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n vaaliminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2025ecfd19134be98100226645ef701a.html" target="element"> rahoitus ja ohjaus </a> </td>
																		<td> <a href="../elements/id-2025ecfd19134be98100226645ef701a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-83d2255799a74642a05a3d8fcd50aeea.html" target="element"> ohjaa ja tukee </a> </td>
																		<td> <a href="../elements/id-83d2255799a74642a05a3d8fcd50aeea.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bfe366b797cd4a1881596a3c611f7721.html" target="element"> j&#228;rjest&#228;&#228; </a> </td>
																		<td> <a href="../elements/id-bfe366b797cd4a1881596a3c611f7721.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-04b6e8d544874d0091a539acd53bf85a.html" target="element"> osallistuu </a> </td>
																		<td> <a href="../elements/id-04b6e8d544874d0091a539acd53bf85a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																		<td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element"> Kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7b58c1ad86b148e98f99bc39bfa1fc0a.html" target="element"> luo </a> </td>
																		<td> <a href="../elements/id-7b58c1ad86b148e98f99bc39bfa1fc0a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																		<td> <a href="../elements/id-6a01d536d17b4194b073bca1917a424e.html" target="element"> Kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5c6e79e005614590b4820349f1a2ad33.html" target="element"> seuraa </a> </td>
																		<td> <a href="../elements/id-5c6e79e005614590b4820349f1a2ad33.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n vaaliminen </a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0de646f73a5549958867e5fc3f7e534b.html" target="element"> suojelutoimet </a> </td>
																		<td> <a href="../elements/id-0de646f73a5549958867e5fc3f7e534b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n vaaliminen </a> </td>
																		<td> <a href="../elements/id-fbce5c29fd09473982b9b826329ebd50.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc843c8de45c4fc388378d5fdbe6f090.html" target="element"> arvonm&#228;&#228;ritys </a> </td>
																		<td> <a href="../elements/id-cc843c8de45c4fc388378d5fdbe6f090.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n vaaliminen </a> </td>
																		<td> <a href="../elements/id-6a01d536d17b4194b073bca1917a424e.html" target="element"> Kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7d630e373a574def88cd1a7e48caad7e.html" target="element"> koostuu </a> </td>
																		<td> <a href="../elements/id-7d630e373a574def88cd1a7e48caad7e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fbce5c29fd09473982b9b826329ebd50.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																		<td> <a href="../elements/id-6a01d536d17b4194b073bca1917a424e.html" target="element"> Kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c76165ff937d47c4a98a215baa9b9144.html" target="element"> v&#228;litt&#228;&#228; </a> </td>
																		<td> <a href="../elements/id-c76165ff937d47c4a98a215baa9b9144.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element"> Kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-fbce5c29fd09473982b9b826329ebd50.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-768e1a30393545ad97a20bd16af7a063.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-768e1a30393545ad97a20bd16af7a063.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-226204b7e37d4af982c7b87182bebc5d.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b75d7b2c0aa444b90857cc2ca2f36ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b75d7b2c0aa444b90857cc2ca2f36ab.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7b5cb568a804b1ebe4fb57c0401431b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7b5cb568a804b1ebe4fb57c0401431b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-e6ad5508bed046809009f237f9e95cd6.html" target="element"> Toimija (Roolissa) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd031344249d47798cad898b6a744c50.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd031344249d47798cad898b6a744c50.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-320c2e366750477facb7764eb3b8ef2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-320c2e366750477facb7764eb3b8ef2a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-274f93ffeace49c3bfef0826d8649cd9.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7b593dfee4954793844b9789a49d7028.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b593dfee4954793844b9789a49d7028.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-0fb8dd2ccc014ed8a70f78e90b1355d5.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-94a84c077a504a2594b479aa7275cd56.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94a84c077a504a2594b479aa7275cd56.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-0e656cd8ed9d40f89fa04c0ce49d5716.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2e38a3feac39415f87d694ad0e6d0f0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e38a3feac39415f87d694ad0e6d0f0a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-535b8f1a8ae44c04827d8dd50ce15517.html" target="element"> Yhteistoiminta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-769ca2f433be40838cb1ced89fc93a7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-769ca2f433be40838cb1ced89fc93a7d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-273e1dcf76af43e0bb8f18ee5f004cbf.html" target="element"> Objekti </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-f9e1e8c0455244b88981bfa7f87e531e.html" target="element"> palvelee </a> </td>
																				<td> <a href="../elements/id-f9e1e8c0455244b88981bfa7f87e531e.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-82d266a16fab4c15aa8e40fd327f1995.html" target="element"> k&#228;ytt&#228;&#228; </a> </td>
																				<td> <a href="../elements/id-82d266a16fab4c15aa8e40fd327f1995.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-274f93ffeace49c3bfef0826d8649cd9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-226204b7e37d4af982c7b87182bebc5d.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e20e9126bab541e58aa98ecc081cf647.html" target="element"> koostuu </a> </td>
																				<td> <a href="../elements/id-e20e9126bab541e58aa98ecc081cf647.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0e656cd8ed9d40f89fa04c0ce49d5716.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0fb8dd2ccc014ed8a70f78e90b1355d5.html" target="element">  </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>