<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Yhteistoiminta</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Yhteistoiminta</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-118fab51018a40f3944086f75bc9f3ac.png" alt="Yhteistoiminta" usemap="#id-118fab51018a40f3944086f75bc9f3acmap"/>
			   <map name="id-118fab51018a40f3944086f75bc9f3acmap">
				  		<area shape="rect" coords="490,120,659,175" href="../elements/id-85cb668cd865439fa339855ccb56bda0.html"  target="element">
				  		<area shape="rect" coords="706,190,887,242" href="../elements/id-fbce5c29fd09473982b9b826329ebd50.html"  target="element">
				  		<area shape="rect" coords="706,276,887,331" href="../elements/id-6a01d536d17b4194b073bca1917a424e.html"  target="element">
				  		<area shape="rect" coords="262,178,421,233" href="../elements/id-8f08abf7042a413e8edbe1247537151a.html"  target="element">
				  		<area shape="rect" coords="706,372,887,427" href="../elements/id-1882fb38ab024119be451e948c265005.html"  target="element">
				  		<area shape="rect" coords="1070,10,1323,59" href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html"  target="element">
				  		<area shape="rect" coords="10,10,243,59" href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html"  target="element">
				  		<area shape="rect" coords="1006,108,1223,157" href="../elements/id-16668215576642cb8ed0564091c9e188.html"  target="element">
				  		<area shape="rect" coords="746,10,965,59" href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html"  target="element">
				  		<area shape="rect" coords="382,10,640,59" href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
											    <td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element"> Digitaalisen kulttuuriperinn&#246;n tukipalveluiden tuottajat </a> </td>
											    <td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
											    <td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
											    <td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
											    <td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
											    <td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n suojelutoiminta </a> </td>
											    <td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a01d536d17b4194b073bca1917a424e.html" target="element"> Kulttuuriaineisto </a> </td>
											    <td> <a href="../elements/id-6a01d536d17b4194b073bca1917a424e.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fbce5c29fd09473982b9b826329ebd50.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
											    <td> <a href="../elements/id-fbce5c29fd09473982b9b826329ebd50.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element"> Kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
											    <td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-30c9067cbd9e462997b54890f9139176.html" target="element"> edist&#228;&#228; </a> </td>
																		<td> <a href="../elements/id-30c9067cbd9e462997b54890f9139176.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																		<td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n suojelutoiminta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a565d7a1af4d43bf9dfd5d72896bdfe2.html" target="element"> edist&#228;&#228; </a> </td>
																		<td> <a href="../elements/id-a565d7a1af4d43bf9dfd5d72896bdfe2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																		<td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element"> Kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-301977ccb7b9449cb9df1a184ad7f5c3.html" target="element"> tekninen tuki </a> </td>
																		<td> <a href="../elements/id-301977ccb7b9449cb9df1a184ad7f5c3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element"> Digitaalisen kulttuuriperinn&#246;n tukipalveluiden tuottajat </a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2626f70fc3e8430fae8b618b7b031d4b.html" target="element"> tekninen tuki </a> </td>
																		<td> <a href="../elements/id-2626f70fc3e8430fae8b618b7b031d4b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element"> Digitaalisen kulttuuriperinn&#246;n tukipalveluiden tuottajat </a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-64c46cec38cf4c5c97d5dbb2dc1c0de4.html" target="element"> tukee </a> </td>
																		<td> <a href="../elements/id-64c46cec38cf4c5c97d5dbb2dc1c0de4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2647da992d5a4976b8ae2bac18840339.html" target="element"> osallistuu </a> </td>
																		<td> <a href="../elements/id-2647da992d5a4976b8ae2bac18840339.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
																		<td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element"> Kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf367d2efce14cb09def6a403ed8c488.html" target="element"> osallistuu </a> </td>
																		<td> <a href="../elements/id-cf367d2efce14cb09def6a403ed8c488.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d29833613bfe4ba2a86c8a50d0735029.html" target="element"> ohjaa ja tukee </a> </td>
																		<td> <a href="../elements/id-d29833613bfe4ba2a86c8a50d0735029.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n suojelutoiminta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2025ecfd19134be98100226645ef701a.html" target="element"> rahoitus ja ohjaus </a> </td>
																		<td> <a href="../elements/id-2025ecfd19134be98100226645ef701a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-83d2255799a74642a05a3d8fcd50aeea.html" target="element"> ohjaa ja tukee </a> </td>
																		<td> <a href="../elements/id-83d2255799a74642a05a3d8fcd50aeea.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bfe366b797cd4a1881596a3c611f7721.html" target="element"> osallistuu toimintaan </a> </td>
																		<td> <a href="../elements/id-bfe366b797cd4a1881596a3c611f7721.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b64172cf879047fdb4bf9f5d7234b09f.html" target="element"> Luo </a> </td>
																		<td> <a href="../elements/id-b64172cf879047fdb4bf9f5d7234b09f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																		<td> <a href="../elements/id-6a01d536d17b4194b073bca1917a424e.html" target="element"> Kulttuuriaineisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5c6e79e005614590b4820349f1a2ad33.html" target="element"> seuraa </a> </td>
																		<td> <a href="../elements/id-5c6e79e005614590b4820349f1a2ad33.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n suojelutoiminta </a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0de646f73a5549958867e5fc3f7e534b.html" target="element"> s&#228;ilytt&#228;&#228; </a> </td>
																		<td> <a href="../elements/id-0de646f73a5549958867e5fc3f7e534b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n suojelutoiminta </a> </td>
																		<td> <a href="../elements/id-fbce5c29fd09473982b9b826329ebd50.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7d630e373a574def88cd1a7e48caad7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d630e373a574def88cd1a7e48caad7e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fbce5c29fd09473982b9b826329ebd50.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																		<td> <a href="../elements/id-6a01d536d17b4194b073bca1917a424e.html" target="element"> Kulttuuriaineisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c76165ff937d47c4a98a215baa9b9144.html" target="element"> v&#228;litt&#228;&#228; </a> </td>
																		<td> <a href="../elements/id-c76165ff937d47c4a98a215baa9b9144.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element"> Kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-fbce5c29fd09473982b9b826329ebd50.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>