<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kulttuuriperintöpalvelut tavoitetila</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kulttuuriperint&#246;palvelut tavoitetila</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-2685eb0feb524759842d9ae1dab67794.png" alt="Kulttuuriperintöpalvelut tavoitetila" usemap="#id-2685eb0feb524759842d9ae1dab67794map"/>
			   <map name="id-2685eb0feb524759842d9ae1dab67794map">
				  		<area shape="rect" coords="10,83,209,138" href="../elements/id-4c30834335634264a8bb95033939d1e9.html"  target="element">
				  				<area shape="rect" coords="430,411,587,466" href="../elements/id-673188670c8b4a09be930feb0a949737.html"  target="element">
				  				<area shape="rect" coords="928,411,1087,466" href="../elements/id-91ad7a1484a94c4a9de47fa14fb71da1.html"  target="element">
				  				<area shape="rect" coords="599,411,761,466" href="../elements/id-59fea7466966461ea5bab4154d6b8a0f.html"  target="element">
				  				<area shape="rect" coords="772,411,912,466" href="../elements/id-03461702925e4c0d9309bd0ee8b61512.html"  target="element">

				  		<area shape="rect" coords="418,375,1097,484" href="../elements/id-ca79998389f446438323216767c545af.html"  target="element">
				  		<area shape="rect" coords="703,219,932,268" href="../elements/id-c932f455f29346e5a39aa992df4b2a81.html"  target="element">
				  		<area shape="rect" coords="358,303,563,352" href="../elements/id-4b9febd8dbb443c9afeec4c89f0374d1.html"  target="element">
				  		<area shape="rect" coords="358,87,563,135" href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html"  target="element">
				  		<area shape="rect" coords="1042,86,1259,135" href="../elements/id-165fdce4a8844a3286bf8e00683af1ba.html"  target="element">
				  		<area shape="rect" coords="706,87,911,135" href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
											    <td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-165fdce4a8844a3286bf8e00683af1ba.html" target="element"> Uudelleenk&#228;ytt&#246; </a> </td>
											    <td> <a href="../elements/id-165fdce4a8844a3286bf8e00683af1ba.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html" target="element"> Hallinnointi ja yll&#228;pitopalvelu </a> </td>
											    <td> <a href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4b9febd8dbb443c9afeec4c89f0374d1.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
											    <td> <a href="../elements/id-4b9febd8dbb443c9afeec4c89f0374d1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c932f455f29346e5a39aa992df4b2a81.html" target="element"> Aineistojen jatkokehityspalvelu (Uusi kansallinen palvelu) </a> </td>
											    <td> <a href="../elements/id-c932f455f29346e5a39aa992df4b2a81.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element"> Tukipalvelu </a> </td>
											    <td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-03461702925e4c0d9309bd0ee8b61512.html" target="element"> Teko&#228;lypalvelu </a> </td>
													    <td> <a href="../elements/id-03461702925e4c0d9309bd0ee8b61512.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-59fea7466966461ea5bab4154d6b8a0f.html" target="element"> Viite- ja nimitietopalvelut </a> </td>
													    <td> <a href="../elements/id-59fea7466966461ea5bab4154d6b8a0f.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-91ad7a1484a94c4a9de47fa14fb71da1.html" target="element"> Joukkoistuspalvelu (Uusi tukipalvelu) </a> </td>
													    <td> <a href="../elements/id-91ad7a1484a94c4a9de47fa14fb71da1.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-673188670c8b4a09be930feb0a949737.html" target="element"> Ontologiapalvelu </a> </td>
													    <td> <a href="../elements/id-673188670c8b4a09be930feb0a949737.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4c30834335634264a8bb95033939d1e9.html" target="element"> Hankinta tai vastaanottopalvelu </a> </td>
											    <td> <a href="../elements/id-4c30834335634264a8bb95033939d1e9.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a3451bc37ace4ceda22aa8cf18e8d704.html" target="element"> Kuvailutiedot </a> </td>
																		<td> <a href="../elements/id-a3451bc37ace4ceda22aa8cf18e8d704.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-165fdce4a8844a3286bf8e00683af1ba.html" target="element"> Uudelleenk&#228;ytt&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8d377adf9e4f4fa2ad6ae1df2dbd3580.html" target="element"> Digitaalinen aineisto ja kuvailu </a> </td>
																		<td> <a href="../elements/id-8d377adf9e4f4fa2ad6ae1df2dbd3580.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html" target="element"> Hallinnointi ja yll&#228;pitopalvelu </a> </td>
																		<td> <a href="../elements/id-4b9febd8dbb443c9afeec4c89f0374d1.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f455a29991164288ad31633bc6d6c083.html" target="element"> Digitaalinen aineisto </a> </td>
																		<td> <a href="../elements/id-f455a29991164288ad31633bc6d6c083.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html" target="element"> Hallinnointi ja yll&#228;pitopalvelu </a> </td>
																		<td> <a href="../elements/id-c932f455f29346e5a39aa992df4b2a81.html" target="element"> Aineistojen jatkokehityspalvelu (Uusi kansallinen palvelu) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dda566ddfe0149509f60443b97689aa8.html" target="element"> Kuvailutiedot </a> </td>
																		<td> <a href="../elements/id-dda566ddfe0149509f60443b97689aa8.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html" target="element"> Hallinnointi ja yll&#228;pitopalvelu </a> </td>
																		<td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7ccf4204c6b74d679aaf8731c034d3fe.html" target="element"> Digitaaliset aineistot </a> </td>
																		<td> <a href="../elements/id-7ccf4204c6b74d679aaf8731c034d3fe.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html" target="element"> Hallinnointi ja yll&#228;pitopalvelu </a> </td>
																		<td> <a href="../elements/id-165fdce4a8844a3286bf8e00683af1ba.html" target="element"> Uudelleenk&#228;ytt&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7907cd0853bb41a79b01cf4cf0ba4a97.html" target="element"> PAS aineisto </a> </td>
																		<td> <a href="../elements/id-7907cd0853bb41a79b01cf4cf0ba4a97.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4b9febd8dbb443c9afeec4c89f0374d1.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
																		<td> <a href="../elements/id-c932f455f29346e5a39aa992df4b2a81.html" target="element"> Aineistojen jatkokehityspalvelu (Uusi kansallinen palvelu) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fdb5abe6401d4bda82f03eb822802adf.html" target="element"> Kuvailutiedot </a> </td>
																		<td> <a href="../elements/id-fdb5abe6401d4bda82f03eb822802adf.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c932f455f29346e5a39aa992df4b2a81.html" target="element"> Aineistojen jatkokehityspalvelu (Uusi kansallinen palvelu) </a> </td>
																		<td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-be889686f03349b5a93f0a6cea27d006.html" target="element"> Jatkojalostetut tiedot </a> </td>
																		<td> <a href="../elements/id-be889686f03349b5a93f0a6cea27d006.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c932f455f29346e5a39aa992df4b2a81.html" target="element"> Aineistojen jatkokehityspalvelu (Uusi kansallinen palvelu) </a> </td>
																		<td> <a href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html" target="element"> Hallinnointi ja yll&#228;pitopalvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2e9282fe9ab9439b955bf5d71dd3b52f.html" target="element"> Jatkojalostetut aineistot </a> </td>
																		<td> <a href="../elements/id-2e9282fe9ab9439b955bf5d71dd3b52f.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c932f455f29346e5a39aa992df4b2a81.html" target="element"> Aineistojen jatkokehityspalvelu (Uusi kansallinen palvelu) </a> </td>
																		<td> <a href="../elements/id-165fdce4a8844a3286bf8e00683af1ba.html" target="element"> Uudelleenk&#228;ytt&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2c5e897ace364b8e863a8bd23da501b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c5e897ace364b8e863a8bd23da501b7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element"> Tukipalvelu </a> </td>
																		<td> <a href="../elements/id-03461702925e4c0d9309bd0ee8b61512.html" target="element"> Teko&#228;lypalvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e9b514a1f48345cda2787292ec09f6c5.html" target="element"> Tukee kehityst&#228; </a> </td>
																		<td> <a href="../elements/id-e9b514a1f48345cda2787292ec09f6c5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element"> Tukipalvelu </a> </td>
																		<td> <a href="../elements/id-c932f455f29346e5a39aa992df4b2a81.html" target="element"> Aineistojen jatkokehityspalvelu (Uusi kansallinen palvelu) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e1aeff134b4c438e88a5733180f6c59d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1aeff134b4c438e88a5733180f6c59d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element"> Tukipalvelu </a> </td>
																		<td> <a href="../elements/id-673188670c8b4a09be930feb0a949737.html" target="element"> Ontologiapalvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-724d6a50baa24174908b5ac4fd1bcb45.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-724d6a50baa24174908b5ac4fd1bcb45.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element"> Tukipalvelu </a> </td>
																		<td> <a href="../elements/id-59fea7466966461ea5bab4154d6b8a0f.html" target="element"> Viite- ja nimitietopalvelut </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-51905a272b5147e78a82c92dbd9e8cda.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-51905a272b5147e78a82c92dbd9e8cda.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element"> Tukipalvelu </a> </td>
																		<td> <a href="../elements/id-91ad7a1484a94c4a9de47fa14fb71da1.html" target="element"> Joukkoistuspalvelu (Uusi tukipalvelu) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a514ff67832345d9a1ed5dcb5d55f818.html" target="element"> Aineisto ja kuvailu </a> </td>
																		<td> <a href="../elements/id-a514ff67832345d9a1ed5dcb5d55f818.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c30834335634264a8bb95033939d1e9.html" target="element"> Hankinta tai vastaanottopalvelu </a> </td>
																		<td> <a href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html" target="element"> Hallinnointi ja yll&#228;pitopalvelu </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>