<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Palvelut ja infastruktuurit</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Palvelut ja infastruktuurit</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-243f46b784f046ae9f0cb33d938dacaf.png" alt="Palvelut ja infastruktuurit" usemap="#id-243f46b784f046ae9f0cb33d938dacafmap"/>
			   <map name="id-243f46b784f046ae9f0cb33d938dacafmap">
				          <area shape="rect" coords="670,238,899,371" href="../objects/id-bcd2a5f7437d4441bdb71c664ee7a957.html" target="element" >
				          <area shape="rect" coords="430,622,552,702" href="../objects/id-46642d2dfb654300a4de9c4911743471.html" target="element" >
				  				<area shape="rect" coords="418,58,556,113" href="../elements/id-3418e9a80ae74294a629e4150193c396.html"  target="element">

				  		<area shape="rect" coords="262,10,719,150" href="../elements/id-be9fe7e9294040f5bab9de5bf31a0baf.html"  target="element">
				  		<area shape="rect" coords="417,310,564,365" href="../elements/id-58d7120b9ae542a1b8961628a92866b3.html"  target="element">
				  		<area shape="rect" coords="425,202,545,257" href="../elements/id-6fa62426fcb24586a5cc211e856c989c.html"  target="element">
				  		<area shape="rect" coords="586,454,731,509" href="../elements/id-462c7778093e4a4384a7c732b42a38b6.html"  target="element">
				  				<area shape="rect" coords="567,562,713,617" href="../elements/id-f734c9c063674b9883634d4f959e50e4.html"  target="element">

				  		<area shape="rect" coords="555,418,803,635" href="../elements/id-93aaac8248204a3f955e2947ef497aaa.html"  target="element">
				  				<area shape="rect" coords="274,478,419,533" href="../elements/id-8a3d36f422314ec9bc2e7a78578ef1d6.html"  target="element">
				  				<area shape="rect" coords="47,574,187,629" href="../elements/id-64efcda12eeb408db09f4ecb50c2be3a.html"  target="element">
				  				<area shape="rect" coords="40,478,193,533" href="../elements/id-9504526ea21242618951fcc2eb82cecc.html"  target="element">

				  		<area shape="rect" coords="10,418,426,659" href="../elements/id-f9dcdd8e1f204e2b8952826d3cebcc96.html"  target="element">
				  		<area shape="rect" coords="262,166,719,383" href="../elements/id-692b3bad32db4ba4a243335fd8c56a6a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-692b3bad32db4ba4a243335fd8c56a6a.html" target="element"> Kansallinen infrastruktuuri </a> </td>
											    <td> <a href="../elements/id-692b3bad32db4ba4a243335fd8c56a6a.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f9dcdd8e1f204e2b8952826d3cebcc96.html" target="element"> Organisaation X oma infrastruktuuri </a> </td>
											    <td> <a href="../elements/id-f9dcdd8e1f204e2b8952826d3cebcc96.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9504526ea21242618951fcc2eb82cecc.html" target="element"> Kulttuuriperint&#246;-aineistopalvelu </a> </td>
													    <td> <a href="../elements/id-9504526ea21242618951fcc2eb82cecc.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-64efcda12eeb408db09f4ecb50c2be3a.html" target="element"> Tietoj&#228;rjestelm&#228; </a> </td>
													    <td> <a href="../elements/id-64efcda12eeb408db09f4ecb50c2be3a.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8a3d36f422314ec9bc2e7a78578ef1d6.html" target="element"> Kulttuuriperint&#246;-aineistopalvelu </a> </td>
													    <td> <a href="../elements/id-8a3d36f422314ec9bc2e7a78578ef1d6.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-93aaac8248204a3f955e2947ef497aaa.html" target="element"> Organisaation Y oma infrastruktuuri </a> </td>
											    <td> <a href="../elements/id-93aaac8248204a3f955e2947ef497aaa.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f734c9c063674b9883634d4f959e50e4.html" target="element"> Tietoj&#228;rjestelm&#228; </a> </td>
													    <td> <a href="../elements/id-f734c9c063674b9883634d4f959e50e4.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-462c7778093e4a4384a7c732b42a38b6.html" target="element"> Kulttuuriperint&#246;-aineistopalvelu </a> </td>
											    <td> <a href="../elements/id-462c7778093e4a4384a7c732b42a38b6.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6fa62426fcb24586a5cc211e856c989c.html" target="element"> Kansallinen palvelu </a> </td>
											    <td> <a href="../elements/id-6fa62426fcb24586a5cc211e856c989c.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-58d7120b9ae542a1b8961628a92866b3.html" target="element"> Tietoj&#228;rjestelm&#228; </a> </td>
											    <td> <a href="../elements/id-58d7120b9ae542a1b8961628a92866b3.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-be9fe7e9294040f5bab9de5bf31a0baf.html" target="element"> Kansainv&#228;linen infrastruktuuri </a> </td>
											    <td> <a href="../elements/id-be9fe7e9294040f5bab9de5bf31a0baf.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3418e9a80ae74294a629e4150193c396.html" target="element"> Kansainv&#228;linen palvelu </a> </td>
													    <td> <a href="../elements/id-3418e9a80ae74294a629e4150193c396.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-46642d2dfb654300a4de9c4911743471.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-46642d2dfb654300a4de9c4911743471.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-bcd2a5f7437d4441bdb71c664ee7a957.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bcd2a5f7437d4441bdb71c664ee7a957.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5e357439f96d4a28bc9adabf2f83a393.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e357439f96d4a28bc9adabf2f83a393.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9dcdd8e1f204e2b8952826d3cebcc96.html" target="element"> Organisaation X oma infrastruktuuri </a> </td>
																		<td> <a href="../elements/id-9504526ea21242618951fcc2eb82cecc.html" target="element"> Kulttuuriperint&#246;-aineistopalvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-15b03ae244fb4ad68b2381618b6671de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15b03ae244fb4ad68b2381618b6671de.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9dcdd8e1f204e2b8952826d3cebcc96.html" target="element"> Organisaation X oma infrastruktuuri </a> </td>
																		<td> <a href="../elements/id-64efcda12eeb408db09f4ecb50c2be3a.html" target="element"> Tietoj&#228;rjestelm&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f81380568f3241959d0d23edca170365.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f81380568f3241959d0d23edca170365.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9dcdd8e1f204e2b8952826d3cebcc96.html" target="element"> Organisaation X oma infrastruktuuri </a> </td>
																		<td> <a href="../elements/id-8a3d36f422314ec9bc2e7a78578ef1d6.html" target="element"> Kulttuuriperint&#246;-aineistopalvelu </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0f0eb0d8a3ce467fa33d015565b1224c.html" target="element"> 1..n </a> </td>
																				<td> <a href="../elements/id-0f0eb0d8a3ce467fa33d015565b1224c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-64efcda12eeb408db09f4ecb50c2be3a.html" target="element"> Tietoj&#228;rjestelm&#228; </a> </td>
																				<td> <a href="../elements/id-9504526ea21242618951fcc2eb82cecc.html" target="element"> Kulttuuriperint&#246;-aineistopalvelu </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b50ce427fa9540ef990fb9732746f734.html" target="element"> SaaS palvelu </a> </td>
																				<td> <a href="../elements/id-b50ce427fa9540ef990fb9732746f734.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8a3d36f422314ec9bc2e7a78578ef1d6.html" target="element"> Kulttuuriperint&#246;-aineistopalvelu </a> </td>
																				<td> <a href="../elements/id-6fa62426fcb24586a5cc211e856c989c.html" target="element"> Kansallinen palvelu </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2dff4dbdaa8d480f89c4f884c9c491af.html" target="element"> Tietovirta </a> </td>
																				<td> <a href="../elements/id-2dff4dbdaa8d480f89c4f884c9c491af.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8a3d36f422314ec9bc2e7a78578ef1d6.html" target="element"> Kulttuuriperint&#246;-aineistopalvelu </a> </td>
																				<td> <a href="../elements/id-9504526ea21242618951fcc2eb82cecc.html" target="element"> Kulttuuriperint&#246;-aineistopalvelu </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-94e421dc3840465e9f172b90c42191df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94e421dc3840465e9f172b90c42191df.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-93aaac8248204a3f955e2947ef497aaa.html" target="element"> Organisaation Y oma infrastruktuuri </a> </td>
																		<td> <a href="../elements/id-f734c9c063674b9883634d4f959e50e4.html" target="element"> Tietoj&#228;rjestelm&#228; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d78266ec33ca43e3818a906d09d5455f.html" target="element"> 1..n </a> </td>
																				<td> <a href="../elements/id-d78266ec33ca43e3818a906d09d5455f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f734c9c063674b9883634d4f959e50e4.html" target="element"> Tietoj&#228;rjestelm&#228; </a> </td>
																				<td> <a href="../elements/id-462c7778093e4a4384a7c732b42a38b6.html" target="element"> Kulttuuriperint&#246;-aineistopalvelu </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-96aa244ea6b54f99b32057d1659f70a3.html" target="element"> Integraatio </a> </td>
																				<td> <a href="../elements/id-96aa244ea6b54f99b32057d1659f70a3.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f734c9c063674b9883634d4f959e50e4.html" target="element"> Tietoj&#228;rjestelm&#228; </a> </td>
																				<td> <a href="../elements/id-58d7120b9ae542a1b8961628a92866b3.html" target="element"> Tietoj&#228;rjestelm&#228; </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7b7fc097ed704cdab3c3b3bebe85a72c.html" target="element"> Tietovirta </a> </td>
																		<td> <a href="../elements/id-7b7fc097ed704cdab3c3b3bebe85a72c.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-462c7778093e4a4384a7c732b42a38b6.html" target="element"> Kulttuuriperint&#246;-aineistopalvelu </a> </td>
																		<td> <a href="../elements/id-6fa62426fcb24586a5cc211e856c989c.html" target="element"> Kansallinen palvelu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-db75a3bf7d354533885336b1c4b0fd84.html" target="element"> Tietovirta </a> </td>
																		<td> <a href="../elements/id-db75a3bf7d354533885336b1c4b0fd84.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6fa62426fcb24586a5cc211e856c989c.html" target="element"> Kansallinen palvelu </a> </td>
																		<td> <a href="../elements/id-3418e9a80ae74294a629e4150193c396.html" target="element"> Kansainv&#228;linen palvelu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-63e35b36a5d445179860173c153edb0a.html" target="element"> 1..n </a> </td>
																		<td> <a href="../elements/id-63e35b36a5d445179860173c153edb0a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58d7120b9ae542a1b8961628a92866b3.html" target="element"> Tietoj&#228;rjestelm&#228; </a> </td>
																		<td> <a href="../elements/id-6fa62426fcb24586a5cc211e856c989c.html" target="element"> Kansallinen palvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7f27f07fe8b64e6283172c43eace0a6a.html" target="element"> Integraatio </a> </td>
																		<td> <a href="../elements/id-7f27f07fe8b64e6283172c43eace0a6a.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58d7120b9ae542a1b8961628a92866b3.html" target="element"> Tietoj&#228;rjestelm&#228; </a> </td>
																		<td> <a href="../elements/id-64efcda12eeb408db09f4ecb50c2be3a.html" target="element"> Tietoj&#228;rjestelm&#228; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-43bb56ad55404ad89b6604e613ff75ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43bb56ad55404ad89b6604e613ff75ad.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-be9fe7e9294040f5bab9de5bf31a0baf.html" target="element"> Kansainv&#228;linen infrastruktuuri </a> </td>
																		<td> <a href="../elements/id-3418e9a80ae74294a629e4150193c396.html" target="element"> Kansainv&#228;linen palvelu </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-503a0f9bb51446a6b61aeebd6eb73bdb.html" target="element"> Tietovirta </a> </td>
																				<td> <a href="../elements/id-503a0f9bb51446a6b61aeebd6eb73bdb.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3418e9a80ae74294a629e4150193c396.html" target="element"> Kansainv&#228;linen palvelu </a> </td>
																				<td> <a href="../elements/id-9504526ea21242618951fcc2eb82cecc.html" target="element"> Kulttuuriperint&#246;-aineistopalvelu </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>