<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>CIDOC CRM ja FRBR ja RiC</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>CIDOC CRM ja FRBR ja RiC</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3b6a264bed234768a39a38d0093a2d30.png" alt="CIDOC CRM ja FRBR ja RiC" usemap="#id-3b6a264bed234768a39a38d0093a2d30map"/>
			   <map name="id-3b6a264bed234768a39a38d0093a2d30map">
				          <area shape="rect" coords="971,528,1162,568" href="../objects/id-4c846c3a759743b28f177651542cf909.html" target="element" >
				          <area shape="rect" coords="239,918,376,950" href="../objects/id-0cb29e215d2d4752b0762c06ce85c691.html" target="element" >
				          <area shape="rect" coords="260,22,409,65" href="../objects/id-1711a0e1dfb04d1d819a47f6c013ae3a.html" target="element" >
				  		<area shape="rect" coords="370,976,490,1031" href="../elements/id-7d7afb26a3944b42abc31562d537cf07.html"  target="element">
				  		<area shape="rect" coords="190,976,298,1031" href="../elements/id-6c012702a7cf4747a10c8bf73abbf843.html"  target="element">
				  		<area shape="rect" coords="1229,1060,1349,1115" href="../elements/id-297ce43981c24960bf6622cd25e740e5.html"  target="element">
				  		<area shape="rect" coords="10,976,130,1031" href="../elements/id-270169d42bfc4c1c832758e584bc9739.html"  target="element">
				  		<area shape="rect" coords="59,822,167,877" href="../elements/id-74d09fac955942709f3295e93a01d4ab.html"  target="element">
				  		<area shape="rect" coords="809,1060,929,1115" href="../elements/id-170fb59d0c51461192ccdd87836df539.html"  target="element">
				  		<area shape="rect" coords="396,1072,516,1127" href="../elements/id-711db8892fb242f99f6ece57190743c6.html"  target="element">
				  		<area shape="rect" coords="190,1072,310,1127" href="../elements/id-15599d560fa94852ae095753abd2c753.html"  target="element">
				  		<area shape="rect" coords="1354,528,1474,583" href="../elements/id-3e3b1efa47cc4c0a8e958d8299c0ce49.html"  target="element">
				  		<area shape="rect" coords="1330,906,1450,961" href="../elements/id-253b80ccc695410f83ea65144a9a501c.html"  target="element">
				  		<area shape="rect" coords="1222,822,1355,877" href="../elements/id-38a4d94c01e84bab8364a0add496b680.html"  target="element">
				  		<area shape="rect" coords="1150,728,1270,783" href="../elements/id-62d9d4921b4a4a44a30de4b15b36c9be.html"  target="element">
				  		<area shape="rect" coords="1115,620,1235,675" href="../elements/id-ea457d8b5a09425f8cc675e2b4112fdb.html"  target="element">
				  		<area shape="rect" coords="985,268,1105,323" href="../elements/id-5cc6d535ff564d9793fb8a8bdc89bfbc.html"  target="element">
				  		<area shape="rect" coords="1053,376,1258,431" href="../elements/id-97c87dec1b7e45e493c4952cdd3eb2a1.html"  target="element">
				  		<area shape="rect" coords="910,184,1030,239" href="../elements/id-1c83045003914801bf3ff3a2841ca5a8.html"  target="element">
				  		<area shape="rect" coords="800,100,920,155" href="../elements/id-cd6ef9ab03f44062ab199609f1be8f2b.html"  target="element">
				  		<area shape="rect" coords="634,100,754,155" href="../elements/id-b3bbcdf1088345789e0f98bec8cc2e95.html"  target="element">
				  		<area shape="rect" coords="480,100,600,155" href="../elements/id-e918f78a11c44071ab862e4e5c57a962.html"  target="element">
				  		<area shape="rect" coords="430,16,550,71" href="../elements/id-27812bed3a57456d9fffe85cf0e327b9.html"  target="element">
				  		<area shape="rect" coords="264,808,384,863" href="../elements/id-15c090f67b67422bb87d4b546030590d.html"  target="element">
				  		<area shape="rect" coords="264,674,384,729" href="../elements/id-6caadd6c37d1465ea54d68cb145e1a7d.html"  target="element">
				  		<area shape="rect" coords="120,674,240,729" href="../elements/id-28941267502c4864af5ab44eedd5f262.html"  target="element">
				  		<area shape="rect" coords="217,558,337,613" href="../elements/id-2d9be7b291c6486e91effb04505d8123.html"  target="element">
				  		<area shape="rect" coords="526,832,688,887" href="../elements/id-ed6b672fb815448b83518f8264e5fed5.html"  target="element">
				  		<area shape="rect" coords="547,448,667,503" href="../elements/id-832d0a405f3b43ffb62034ab36b739d7.html"  target="element">
				  		<area shape="rect" coords="275,474,395,529" href="../elements/id-fbf5dabb051b4462a8947940c730d1e1.html"  target="element">
				  		<area shape="rect" coords="336,330,456,385" href="../elements/id-48ddb40be4444b219243d91769a1c214.html"  target="element">
				  		<area shape="rect" coords="141,220,261,275" href="../elements/id-ebb48ce505f94ffb8b0fbab63416d77f.html"  target="element">
				  		<area shape="rect" coords="336,100,456,155" href="../elements/id-0b3d5441d4d141db8031b505b91d5f77.html"  target="element">
				  		<area shape="rect" coords="396,674,516,729" href="../elements/id-7d6a7faa2bbb42acadeac07883332f93.html"  target="element">
				  		<area shape="rect" coords="394,558,514,613" href="../elements/id-567d6e0a0dfe4cc5b64c82d847ea39f1.html"  target="element">
				  		<area shape="rect" coords="611,558,731,613" href="../elements/id-835590522c434eafa13b563b29ca0314.html"  target="element">
				  		<area shape="rect" coords="480,330,637,385" href="../elements/id-fd9eae7c245641a4a75e1d8ac4a4f43c.html"  target="element">
				  		<area shape="rect" coords="394,220,514,275" href="../elements/id-949d10758f604886aaa5126797cde5c9.html"  target="element">
				  		<area shape="rect" coords="791,552,929,607" href="../elements/id-8a09b8cc0eb443a4abd1eb1fb2cd937b.html"  target="element">
				  		<area shape="rect" coords="971,906,1091,961" href="../elements/id-e9bc1e9438b54bde9bd9e58917e9e2a4.html"  target="element">
				  		<area shape="rect" coords="971,822,1091,877" href="../elements/id-2719a016f6bc4a95aba59b8b9223afa7.html"  target="element">
				  		<area shape="rect" coords="971,728,1091,783" href="../elements/id-fa3d0b5d5c86402b8b8fa94cae938036.html"  target="element">
				  		<area shape="rect" coords="971,620,1091,675" href="../elements/id-ed0bbac935fe4334a4136af956139ac9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ed0bbac935fe4334a4136af956139ac9.html" target="element"> Teos (F1) </a> </td>
											    <td> <a href="../elements/id-ed0bbac935fe4334a4136af956139ac9.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa3d0b5d5c86402b8b8fa94cae938036.html" target="element"> Ekspressio (F2) </a> </td>
											    <td> <a href="../elements/id-fa3d0b5d5c86402b8b8fa94cae938036.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2719a016f6bc4a95aba59b8b9223afa7.html" target="element"> Manifestaatio (F3) </a> </td>
											    <td> <a href="../elements/id-2719a016f6bc4a95aba59b8b9223afa7.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e9bc1e9438b54bde9bd9e58917e9e2a4.html" target="element"> Kappale (F5) </a> </td>
											    <td> <a href="../elements/id-e9bc1e9438b54bde9bd9e58917e9e2a4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8a09b8cc0eb443a4abd1eb1fb2cd937b.html" target="element"> K&#228;sitteellinen merkityssis&#228;lt&#246; (E89) </a> </td>
											    <td> <a href="../elements/id-8a09b8cc0eb443a4abd1eb1fb2cd937b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-949d10758f604886aaa5126797cde5c9.html" target="element"> K&#228;site (E70) </a> </td>
											    <td> <a href="../elements/id-949d10758f604886aaa5126797cde5c9.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fd9eae7c245641a4a75e1d8ac4a4f43c.html" target="element"> Ihmisen luoma objekti (E71) </a> </td>
											    <td> <a href="../elements/id-fd9eae7c245641a4a75e1d8ac4a4f43c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-835590522c434eafa13b563b29ca0314.html" target="element"> Tyyppi (E55) </a> </td>
											    <td> <a href="../elements/id-835590522c434eafa13b563b29ca0314.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-567d6e0a0dfe4cc5b64c82d847ea39f1.html" target="element"> Symbolinen objekti (E90) </a> </td>
											    <td> <a href="../elements/id-567d6e0a0dfe4cc5b64c82d847ea39f1.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d6a7faa2bbb42acadeac07883332f93.html" target="element"> Informaatio objekti (E73) </a> </td>
											    <td> <a href="../elements/id-7d6a7faa2bbb42acadeac07883332f93.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0b3d5441d4d141db8031b505b91d5f77.html" target="element"> Pysyv&#228; asia (E77) </a> </td>
											    <td> <a href="../elements/id-0b3d5441d4d141db8031b505b91d5f77.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ebb48ce505f94ffb8b0fbab63416d77f.html" target="element"> Laillinen toimija (E39) </a> </td>
											    <td> <a href="../elements/id-ebb48ce505f94ffb8b0fbab63416d77f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-48ddb40be4444b219243d91769a1c214.html" target="element"> Laillinen objekti (E72) </a> </td>
											    <td> <a href="../elements/id-48ddb40be4444b219243d91769a1c214.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fbf5dabb051b4462a8947940c730d1e1.html" target="element"> Fyysinen objekti (E18) </a> </td>
											    <td> <a href="../elements/id-fbf5dabb051b4462a8947940c730d1e1.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-832d0a405f3b43ffb62034ab36b739d7.html" target="element"> K&#228;sitteellinen objekti </a> </td>
											    <td> <a href="../elements/id-832d0a405f3b43ffb62034ab36b739d7.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed6b672fb815448b83518f8264e5fed5.html" target="element"> Fyysinen ihmisen luoma objekti (E24) </a> </td>
											    <td> <a href="../elements/id-ed6b672fb815448b83518f8264e5fed5.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2d9be7b291c6486e91effb04505d8123.html" target="element"> Biologinen objekti (E20) </a> </td>
											    <td> <a href="../elements/id-2d9be7b291c6486e91effb04505d8123.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28941267502c4864af5ab44eedd5f262.html" target="element"> Henkil&#246; (E21) </a> </td>
											    <td> <a href="../elements/id-28941267502c4864af5ab44eedd5f262.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6caadd6c37d1465ea54d68cb145e1a7d.html" target="element"> Fyysinen ominaisuus (E26) </a> </td>
											    <td> <a href="../elements/id-6caadd6c37d1465ea54d68cb145e1a7d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-15c090f67b67422bb87d4b546030590d.html" target="element"> Perint&#246;kohde (E27) </a> </td>
											    <td> <a href="../elements/id-15c090f67b67422bb87d4b546030590d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-27812bed3a57456d9fffe85cf0e327b9.html" target="element"> Entiteetti (E1) </a> </td>
											    <td> <a href="../elements/id-27812bed3a57456d9fffe85cf0e327b9.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e918f78a11c44071ab862e4e5c57a962.html" target="element"> Sijainti (E53) </a> </td>
											    <td> <a href="../elements/id-e918f78a11c44071ab862e4e5c57a962.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b3bbcdf1088345789e0f98bec8cc2e95.html" target="element"> Ajanjakso (E52) </a> </td>
											    <td> <a href="../elements/id-b3bbcdf1088345789e0f98bec8cc2e95.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cd6ef9ab03f44062ab199609f1be8f2b.html" target="element"> Ajallinen entiteetti (E2) </a> </td>
											    <td> <a href="../elements/id-cd6ef9ab03f44062ab199609f1be8f2b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1c83045003914801bf3ff3a2841ca5a8.html" target="element"> Tapahtuma (E5) </a> </td>
											    <td> <a href="../elements/id-1c83045003914801bf3ff3a2841ca5a8.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97c87dec1b7e45e493c4952cdd3eb2a1.html" target="element"> Luominen (E65) </a> </td>
											    <td> <a href="../elements/id-97c87dec1b7e45e493c4952cdd3eb2a1.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5cc6d535ff564d9793fb8a8bdc89bfbc.html" target="element"> Aktiviteetti (E7) </a> </td>
											    <td> <a href="../elements/id-5cc6d535ff564d9793fb8a8bdc89bfbc.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ea457d8b5a09425f8cc675e2b4112fdb.html" target="element"> Teoksen luominen (F27) </a> </td>
											    <td> <a href="../elements/id-ea457d8b5a09425f8cc675e2b4112fdb.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-62d9d4921b4a4a44a30de4b15b36c9be.html" target="element"> Ekspression luominen (F28) </a> </td>
											    <td> <a href="../elements/id-62d9d4921b4a4a44a30de4b15b36c9be.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38a4d94c01e84bab8364a0add496b680.html" target="element"> Manifestaation luominen (F30) </a> </td>
											    <td> <a href="../elements/id-38a4d94c01e84bab8364a0add496b680.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-253b80ccc695410f83ea65144a9a501c.html" target="element"> Kappaleen tuottaminen (F33) </a> </td>
											    <td> <a href="../elements/id-253b80ccc695410f83ea65144a9a501c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3e3b1efa47cc4c0a8e958d8299c0ce49.html" target="element"> Tuottaminen (E12) </a> </td>
											    <td> <a href="../elements/id-3e3b1efa47cc4c0a8e958d8299c0ce49.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-15599d560fa94852ae095753abd2c753.html" target="element"> Kokoelma (RiC-E03) </a> </td>
											    <td> <a href="../elements/id-15599d560fa94852ae095753abd2c753.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-711db8892fb242f99f6ece57190743c6.html" target="element"> Asiakirja (RiC-E02) </a> </td>
											    <td> <a href="../elements/id-711db8892fb242f99f6ece57190743c6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-170fb59d0c51461192ccdd87836df539.html" target="element"> Ilmentym&#228; (RiC-E06) </a> </td>
											    <td> <a href="../elements/id-170fb59d0c51461192ccdd87836df539.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-74d09fac955942709f3295e93a01d4ab.html" target="element"> Toimija (RiC-E07) </a> </td>
											    <td> <a href="../elements/id-74d09fac955942709f3295e93a01d4ab.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-270169d42bfc4c1c832758e584bc9739.html" target="element"> Mekanismi (RiC-E13) </a> </td>
											    <td> <a href="../elements/id-270169d42bfc4c1c832758e584bc9739.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-297ce43981c24960bf6622cd25e740e5.html" target="element"> Aktiviteetti (RiC-E15) </a> </td>
											    <td> <a href="../elements/id-297ce43981c24960bf6622cd25e740e5.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6c012702a7cf4747a10c8bf73abbf843.html" target="element"> Henkil&#246; (RiC-E08) </a> </td>
											    <td> <a href="../elements/id-6c012702a7cf4747a10c8bf73abbf843.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d7afb26a3944b42abc31562d537cf07.html" target="element"> Resurssi (RiC-E02)  </a> </td>
											    <td> <a href="../elements/id-7d7afb26a3944b42abc31562d537cf07.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-1711a0e1dfb04d1d819a47f6c013ae3a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1711a0e1dfb04d1d819a47f6c013ae3a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0cb29e215d2d4752b0762c06ce85c691.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0cb29e215d2d4752b0762c06ce85c691.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4c846c3a759743b28f177651542cf909.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4c846c3a759743b28f177651542cf909.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a3ed8bd6828d4c38bf88221e0d5ab6eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3ed8bd6828d4c38bf88221e0d5ab6eb.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed0bbac935fe4334a4136af956139ac9.html" target="element"> Teos (F1) </a> </td>
																		<td> <a href="../elements/id-8a09b8cc0eb443a4abd1eb1fb2cd937b.html" target="element"> K&#228;sitteellinen merkityssis&#228;lt&#246; (E89) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e919d0d4335744c084daeff3d149faa4.html" target="element"> Toteutuu </a> </td>
																		<td> <a href="../elements/id-e919d0d4335744c084daeff3d149faa4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed0bbac935fe4334a4136af956139ac9.html" target="element"> Teos (F1) </a> </td>
																		<td> <a href="../elements/id-fa3d0b5d5c86402b8b8fa94cae938036.html" target="element"> Ekspressio (F2) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-00a332a34bd04abd9634d0c5ff9452ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00a332a34bd04abd9634d0c5ff9452ba.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fa3d0b5d5c86402b8b8fa94cae938036.html" target="element"> Ekspressio (F2) </a> </td>
																		<td> <a href="../elements/id-7d6a7faa2bbb42acadeac07883332f93.html" target="element"> Informaatio objekti (E73) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e4bc4dd23afa4bb99d7a26a0fc119277.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e4bc4dd23afa4bb99d7a26a0fc119277.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2719a016f6bc4a95aba59b8b9223afa7.html" target="element"> Manifestaatio (F3) </a> </td>
																		<td> <a href="../elements/id-fa3d0b5d5c86402b8b8fa94cae938036.html" target="element"> Ekspressio (F2) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e565588fdfbb4503b0ae0a72a17e08ad.html" target="element"> Edustaa </a> </td>
																		<td> <a href="../elements/id-e565588fdfbb4503b0ae0a72a17e08ad.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9bc1e9438b54bde9bd9e58917e9e2a4.html" target="element"> Kappale (F5) </a> </td>
																		<td> <a href="../elements/id-2719a016f6bc4a95aba59b8b9223afa7.html" target="element"> Manifestaatio (F3) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f94561149a134943bf4460baa16a033f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f94561149a134943bf4460baa16a033f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9bc1e9438b54bde9bd9e58917e9e2a4.html" target="element"> Kappale (F5) </a> </td>
																		<td> <a href="../elements/id-ed6b672fb815448b83518f8264e5fed5.html" target="element"> Fyysinen ihmisen luoma objekti (E24) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6f8323a4abe84eb9a2cc6c3e8012a012.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f8323a4abe84eb9a2cc6c3e8012a012.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a09b8cc0eb443a4abd1eb1fb2cd937b.html" target="element"> K&#228;sitteellinen merkityssis&#228;lt&#246; (E89) </a> </td>
																		<td> <a href="../elements/id-832d0a405f3b43ffb62034ab36b739d7.html" target="element"> K&#228;sitteellinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-af4cece1dca94b38a65cdc02709d124f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-af4cece1dca94b38a65cdc02709d124f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-949d10758f604886aaa5126797cde5c9.html" target="element"> K&#228;site (E70) </a> </td>
																		<td> <a href="../elements/id-0b3d5441d4d141db8031b505b91d5f77.html" target="element"> Pysyv&#228; asia (E77) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a9ce04f9bd024d19aa4b64a09446508b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9ce04f9bd024d19aa4b64a09446508b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fd9eae7c245641a4a75e1d8ac4a4f43c.html" target="element"> Ihmisen luoma objekti (E71) </a> </td>
																		<td> <a href="../elements/id-949d10758f604886aaa5126797cde5c9.html" target="element"> K&#228;site (E70) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-291f74c338904a47a4fab6c44a928d9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-291f74c338904a47a4fab6c44a928d9e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-835590522c434eafa13b563b29ca0314.html" target="element"> Tyyppi (E55) </a> </td>
																		<td> <a href="../elements/id-832d0a405f3b43ffb62034ab36b739d7.html" target="element"> K&#228;sitteellinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7ebfbf22f5914f20a592c5f678360a87.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ebfbf22f5914f20a592c5f678360a87.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-567d6e0a0dfe4cc5b64c82d847ea39f1.html" target="element"> Symbolinen objekti (E90) </a> </td>
																		<td> <a href="../elements/id-48ddb40be4444b219243d91769a1c214.html" target="element"> Laillinen objekti (E72) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed1793a899f1463dbb200e9a4b35b31e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed1793a899f1463dbb200e9a4b35b31e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-567d6e0a0dfe4cc5b64c82d847ea39f1.html" target="element"> Symbolinen objekti (E90) </a> </td>
																		<td> <a href="../elements/id-832d0a405f3b43ffb62034ab36b739d7.html" target="element"> K&#228;sitteellinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7f51a83d7a5e4df98517cf94e5a6f2aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7f51a83d7a5e4df98517cf94e5a6f2aa.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d6a7faa2bbb42acadeac07883332f93.html" target="element"> Informaatio objekti (E73) </a> </td>
																		<td> <a href="../elements/id-567d6e0a0dfe4cc5b64c82d847ea39f1.html" target="element"> Symbolinen objekti (E90) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-27bd7c6f551e4e209392f59a801e2d4f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-27bd7c6f551e4e209392f59a801e2d4f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0b3d5441d4d141db8031b505b91d5f77.html" target="element"> Pysyv&#228; asia (E77) </a> </td>
																		<td> <a href="../elements/id-27812bed3a57456d9fffe85cf0e327b9.html" target="element"> Entiteetti (E1) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1b14b1f5fdd44f11883b06db941e8260.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b14b1f5fdd44f11883b06db941e8260.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebb48ce505f94ffb8b0fbab63416d77f.html" target="element"> Laillinen toimija (E39) </a> </td>
																		<td> <a href="../elements/id-0b3d5441d4d141db8031b505b91d5f77.html" target="element"> Pysyv&#228; asia (E77) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-76b48ffc489d45a595296c509e7a6dc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76b48ffc489d45a595296c509e7a6dc9.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48ddb40be4444b219243d91769a1c214.html" target="element"> Laillinen objekti (E72) </a> </td>
																		<td> <a href="../elements/id-949d10758f604886aaa5126797cde5c9.html" target="element"> K&#228;site (E70) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7185aad5581642d6be0f54b133cb0489.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7185aad5581642d6be0f54b133cb0489.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fbf5dabb051b4462a8947940c730d1e1.html" target="element"> Fyysinen objekti (E18) </a> </td>
																		<td> <a href="../elements/id-48ddb40be4444b219243d91769a1c214.html" target="element"> Laillinen objekti (E72) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1bae692bed0c416f96b7dc8e1cacfbc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1bae692bed0c416f96b7dc8e1cacfbc1.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-832d0a405f3b43ffb62034ab36b739d7.html" target="element"> K&#228;sitteellinen objekti </a> </td>
																		<td> <a href="../elements/id-fd9eae7c245641a4a75e1d8ac4a4f43c.html" target="element"> Ihmisen luoma objekti (E71) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1b88bf774c2243e3a155098ed5d231a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b88bf774c2243e3a155098ed5d231a9.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed6b672fb815448b83518f8264e5fed5.html" target="element"> Fyysinen ihmisen luoma objekti (E24) </a> </td>
																		<td> <a href="../elements/id-fd9eae7c245641a4a75e1d8ac4a4f43c.html" target="element"> Ihmisen luoma objekti (E71) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-585f5a4fc9a24b4295813c237ffb8104.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-585f5a4fc9a24b4295813c237ffb8104.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2d9be7b291c6486e91effb04505d8123.html" target="element"> Biologinen objekti (E20) </a> </td>
																		<td> <a href="../elements/id-fbf5dabb051b4462a8947940c730d1e1.html" target="element"> Fyysinen objekti (E18) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-424660ca493c494cb77f4cf343857cc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-424660ca493c494cb77f4cf343857cc9.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28941267502c4864af5ab44eedd5f262.html" target="element"> Henkil&#246; (E21) </a> </td>
																		<td> <a href="../elements/id-2d9be7b291c6486e91effb04505d8123.html" target="element"> Biologinen objekti (E20) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f9c7f68c9307403ea63e702e952e2b3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f9c7f68c9307403ea63e702e952e2b3c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28941267502c4864af5ab44eedd5f262.html" target="element"> Henkil&#246; (E21) </a> </td>
																		<td> <a href="../elements/id-ebb48ce505f94ffb8b0fbab63416d77f.html" target="element"> Laillinen toimija (E39) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eabd4f90b54f47faacc9caf213c391a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eabd4f90b54f47faacc9caf213c391a3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6caadd6c37d1465ea54d68cb145e1a7d.html" target="element"> Fyysinen ominaisuus (E26) </a> </td>
																		<td> <a href="../elements/id-fbf5dabb051b4462a8947940c730d1e1.html" target="element"> Fyysinen objekti (E18) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ab7cef6eee324b20bd2dcca18b373f4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab7cef6eee324b20bd2dcca18b373f4c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-15c090f67b67422bb87d4b546030590d.html" target="element"> Perint&#246;kohde (E27) </a> </td>
																		<td> <a href="../elements/id-6caadd6c37d1465ea54d68cb145e1a7d.html" target="element"> Fyysinen ominaisuus (E26) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fba08a9deb1e4132aa2bbc5c80382b28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fba08a9deb1e4132aa2bbc5c80382b28.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e918f78a11c44071ab862e4e5c57a962.html" target="element"> Sijainti (E53) </a> </td>
																		<td> <a href="../elements/id-27812bed3a57456d9fffe85cf0e327b9.html" target="element"> Entiteetti (E1) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8e976a972ac9481b96a85e84bec579db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e976a972ac9481b96a85e84bec579db.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3bbcdf1088345789e0f98bec8cc2e95.html" target="element"> Ajanjakso (E52) </a> </td>
																		<td> <a href="../elements/id-27812bed3a57456d9fffe85cf0e327b9.html" target="element"> Entiteetti (E1) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7a0051fe7c574c36abf933604cf6a6d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a0051fe7c574c36abf933604cf6a6d6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cd6ef9ab03f44062ab199609f1be8f2b.html" target="element"> Ajallinen entiteetti (E2) </a> </td>
																		<td> <a href="../elements/id-27812bed3a57456d9fffe85cf0e327b9.html" target="element"> Entiteetti (E1) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a5768f68b919454ca9ea985e817af03b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5768f68b919454ca9ea985e817af03b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c83045003914801bf3ff3a2841ca5a8.html" target="element"> Tapahtuma (E5) </a> </td>
																		<td> <a href="../elements/id-cd6ef9ab03f44062ab199609f1be8f2b.html" target="element"> Ajallinen entiteetti (E2) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ab984273549a4ffc95f5dabcb61a3a28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab984273549a4ffc95f5dabcb61a3a28.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c87dec1b7e45e493c4952cdd3eb2a1.html" target="element"> Luominen (E65) </a> </td>
																		<td> <a href="../elements/id-5cc6d535ff564d9793fb8a8bdc89bfbc.html" target="element"> Aktiviteetti (E7) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-927ef249e9eb4261a14b430fae162b76.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-927ef249e9eb4261a14b430fae162b76.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5cc6d535ff564d9793fb8a8bdc89bfbc.html" target="element"> Aktiviteetti (E7) </a> </td>
																		<td> <a href="../elements/id-1c83045003914801bf3ff3a2841ca5a8.html" target="element"> Tapahtuma (E5) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d22481244ad54b7c8bdbd786e3c7a3fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d22481244ad54b7c8bdbd786e3c7a3fd.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ea457d8b5a09425f8cc675e2b4112fdb.html" target="element"> Teoksen luominen (F27) </a> </td>
																		<td> <a href="../elements/id-97c87dec1b7e45e493c4952cdd3eb2a1.html" target="element"> Luominen (E65) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4fd356d96fcf4216a4f75822bf35f04b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4fd356d96fcf4216a4f75822bf35f04b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ea457d8b5a09425f8cc675e2b4112fdb.html" target="element"> Teoksen luominen (F27) </a> </td>
																		<td> <a href="../elements/id-ed0bbac935fe4334a4136af956139ac9.html" target="element"> Teos (F1) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-90af95ff691a4280a2f2b1eac890171a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90af95ff691a4280a2f2b1eac890171a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62d9d4921b4a4a44a30de4b15b36c9be.html" target="element"> Ekspression luominen (F28) </a> </td>
																		<td> <a href="../elements/id-97c87dec1b7e45e493c4952cdd3eb2a1.html" target="element"> Luominen (E65) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e93ffc8d9dda4e7fb36d6b5b659ec971.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e93ffc8d9dda4e7fb36d6b5b659ec971.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62d9d4921b4a4a44a30de4b15b36c9be.html" target="element"> Ekspression luominen (F28) </a> </td>
																		<td> <a href="../elements/id-fa3d0b5d5c86402b8b8fa94cae938036.html" target="element"> Ekspressio (F2) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-55284dfbe0b14efe81d2ef9f46fcf848.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55284dfbe0b14efe81d2ef9f46fcf848.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38a4d94c01e84bab8364a0add496b680.html" target="element"> Manifestaation luominen (F30) </a> </td>
																		<td> <a href="../elements/id-97c87dec1b7e45e493c4952cdd3eb2a1.html" target="element"> Luominen (E65) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e6b93eb4aa6b45db9dbd76a8362f906e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6b93eb4aa6b45db9dbd76a8362f906e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38a4d94c01e84bab8364a0add496b680.html" target="element"> Manifestaation luominen (F30) </a> </td>
																		<td> <a href="../elements/id-2719a016f6bc4a95aba59b8b9223afa7.html" target="element"> Manifestaatio (F3) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cb302219191343ca8d3b5bb8c3719460.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb302219191343ca8d3b5bb8c3719460.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-253b80ccc695410f83ea65144a9a501c.html" target="element"> Kappaleen tuottaminen (F33) </a> </td>
																		<td> <a href="../elements/id-3e3b1efa47cc4c0a8e958d8299c0ce49.html" target="element"> Tuottaminen (E12) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4aaddfcf12784391a2718740e1bfb02e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4aaddfcf12784391a2718740e1bfb02e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-253b80ccc695410f83ea65144a9a501c.html" target="element"> Kappaleen tuottaminen (F33) </a> </td>
																		<td> <a href="../elements/id-e9bc1e9438b54bde9bd9e58917e9e2a4.html" target="element"> Kappale (F5) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0bc895e456a8414b96ba23ede9658bec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0bc895e456a8414b96ba23ede9658bec.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e3b1efa47cc4c0a8e958d8299c0ce49.html" target="element"> Tuottaminen (E12) </a> </td>
																		<td> <a href="../elements/id-97c87dec1b7e45e493c4952cdd3eb2a1.html" target="element"> Luominen (E65) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ec53ef090e9e4a2fad46348e98e52e1b.html" target="element"> ryhmittelee </a> </td>
																		<td> <a href="../elements/id-ec53ef090e9e4a2fad46348e98e52e1b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-15599d560fa94852ae095753abd2c753.html" target="element"> Kokoelma (RiC-E03) </a> </td>
																		<td> <a href="../elements/id-711db8892fb242f99f6ece57190743c6.html" target="element"> Asiakirja (RiC-E02) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d288514d9a7f4b51875c8d9bfe959e10.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d288514d9a7f4b51875c8d9bfe959e10.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-15599d560fa94852ae095753abd2c753.html" target="element"> Kokoelma (RiC-E03) </a> </td>
																		<td> <a href="../elements/id-7d7afb26a3944b42abc31562d537cf07.html" target="element"> Resurssi (RiC-E02)  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4793d5d0fc5044c7884b049557862d58.html" target="element"> useita </a> </td>
																		<td> <a href="../elements/id-4793d5d0fc5044c7884b049557862d58.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-711db8892fb242f99f6ece57190743c6.html" target="element"> Asiakirja (RiC-E02) </a> </td>
																		<td> <a href="../elements/id-170fb59d0c51461192ccdd87836df539.html" target="element"> Ilmentym&#228; (RiC-E06) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eced4d19658647f4b6cc0f186dd6f072.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eced4d19658647f4b6cc0f186dd6f072.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-711db8892fb242f99f6ece57190743c6.html" target="element"> Asiakirja (RiC-E02) </a> </td>
																		<td> <a href="../elements/id-7d7afb26a3944b42abc31562d537cf07.html" target="element"> Resurssi (RiC-E02)  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9b8720e06a264b69867ec33d815326e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b8720e06a264b69867ec33d815326e7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-170fb59d0c51461192ccdd87836df539.html" target="element"> Ilmentym&#228; (RiC-E06) </a> </td>
																		<td> <a href="../elements/id-2719a016f6bc4a95aba59b8b9223afa7.html" target="element"> Manifestaatio (F3) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31437ff256cc47e48fd722ae29f97ca7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31437ff256cc47e48fd722ae29f97ca7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-170fb59d0c51461192ccdd87836df539.html" target="element"> Ilmentym&#228; (RiC-E06) </a> </td>
																		<td> <a href="../elements/id-7d7afb26a3944b42abc31562d537cf07.html" target="element"> Resurssi (RiC-E02)  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fef10792ef8a48eeb938730296585680.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fef10792ef8a48eeb938730296585680.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-74d09fac955942709f3295e93a01d4ab.html" target="element"> Toimija (RiC-E07) </a> </td>
																		<td> <a href="../elements/id-ebb48ce505f94ffb8b0fbab63416d77f.html" target="element"> Laillinen toimija (E39) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-79985bccecf74fa390d678c82bbd0259.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79985bccecf74fa390d678c82bbd0259.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-270169d42bfc4c1c832758e584bc9739.html" target="element"> Mekanismi (RiC-E13) </a> </td>
																		<td> <a href="../elements/id-74d09fac955942709f3295e93a01d4ab.html" target="element"> Toimija (RiC-E07) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d08d79b6ce234c74b9f18cbfa0408821.html" target="element"> suorittaa </a> </td>
																		<td> <a href="../elements/id-d08d79b6ce234c74b9f18cbfa0408821.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-270169d42bfc4c1c832758e584bc9739.html" target="element"> Mekanismi (RiC-E13) </a> </td>
																		<td> <a href="../elements/id-297ce43981c24960bf6622cd25e740e5.html" target="element"> Aktiviteetti (RiC-E15) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7d5e2b2e196f4d08abc71a78344c3373.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d5e2b2e196f4d08abc71a78344c3373.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-297ce43981c24960bf6622cd25e740e5.html" target="element"> Aktiviteetti (RiC-E15) </a> </td>
																		<td> <a href="../elements/id-5cc6d535ff564d9793fb8a8bdc89bfbc.html" target="element"> Aktiviteetti (E7) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fcef488e315440c8964fc9198d30d5c6.html" target="element"> k&#228;sittelee </a> </td>
																		<td> <a href="../elements/id-fcef488e315440c8964fc9198d30d5c6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-297ce43981c24960bf6622cd25e740e5.html" target="element"> Aktiviteetti (RiC-E15) </a> </td>
																		<td> <a href="../elements/id-170fb59d0c51461192ccdd87836df539.html" target="element"> Ilmentym&#228; (RiC-E06) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-145f885265c649c3a05dbbaddc847bea.html" target="element"> k&#228;sittelee </a> </td>
																		<td> <a href="../elements/id-145f885265c649c3a05dbbaddc847bea.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-297ce43981c24960bf6622cd25e740e5.html" target="element"> Aktiviteetti (RiC-E15) </a> </td>
																		<td> <a href="../elements/id-711db8892fb242f99f6ece57190743c6.html" target="element"> Asiakirja (RiC-E02) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8c65540129154ff29aaf07591cb01489.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c65540129154ff29aaf07591cb01489.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c012702a7cf4747a10c8bf73abbf843.html" target="element"> Henkil&#246; (RiC-E08) </a> </td>
																		<td> <a href="../elements/id-28941267502c4864af5ab44eedd5f262.html" target="element"> Henkil&#246; (E21) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4abdc6f36afa4ca3a5ea408aa7ccf32b.html" target="element"> luo </a> </td>
																		<td> <a href="../elements/id-4abdc6f36afa4ca3a5ea408aa7ccf32b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c012702a7cf4747a10c8bf73abbf843.html" target="element"> Henkil&#246; (RiC-E08) </a> </td>
																		<td> <a href="../elements/id-270169d42bfc4c1c832758e584bc9739.html" target="element"> Mekanismi (RiC-E13) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a66cb7c2c78e49369b9946f1344061be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a66cb7c2c78e49369b9946f1344061be.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c012702a7cf4747a10c8bf73abbf843.html" target="element"> Henkil&#246; (RiC-E08) </a> </td>
																		<td> <a href="../elements/id-74d09fac955942709f3295e93a01d4ab.html" target="element"> Toimija (RiC-E07) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-38c6d4cacc354269ba17e05b37e9ed58.html" target="element"> hallinnoi </a> </td>
																		<td> <a href="../elements/id-38c6d4cacc354269ba17e05b37e9ed58.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c012702a7cf4747a10c8bf73abbf843.html" target="element"> Henkil&#246; (RiC-E08) </a> </td>
																		<td> <a href="../elements/id-15599d560fa94852ae095753abd2c753.html" target="element"> Kokoelma (RiC-E03) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f41464f0a2dc4073b337c3fa2132fdc1.html" target="element"> liittyy </a> </td>
																		<td> <a href="../elements/id-f41464f0a2dc4073b337c3fa2132fdc1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c012702a7cf4747a10c8bf73abbf843.html" target="element"> Henkil&#246; (RiC-E08) </a> </td>
																		<td> <a href="../elements/id-7d7afb26a3944b42abc31562d537cf07.html" target="element"> Resurssi (RiC-E02)  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-22f344f2aa50484baa3545b8a4b2df6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22f344f2aa50484baa3545b8a4b2df6a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d7afb26a3944b42abc31562d537cf07.html" target="element"> Resurssi (RiC-E02)  </a> </td>
																		<td> <a href="../elements/id-7d6a7faa2bbb42acadeac07883332f93.html" target="element"> Informaatio objekti (E73) </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>