<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arvovirrat</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arvovirrat</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3d8fb223a4c7405b8c9ae2506fcb048b.png" alt="Arvovirrat" usemap="#id-3d8fb223a4c7405b8c9ae2506fcb048bmap"/>
			   <map name="id-3d8fb223a4c7405b8c9ae2506fcb048bmap">
				  						<area shape="rect" coords="346,382,575,443" href="../elements/id-005f67a6be2f4327ac78efb90c2aed96.html"  target="element">
				  						<area shape="rect" coords="346,310,575,371" href="../elements/id-3d125832757748e4881bbcd45944c07a.html"  target="element">

				  				<area shape="rect" coords="322,250,599,503" href="../elements/id-db373a487da94570a865625f23e6b647.html"  target="element">
				  						<area shape="rect" coords="646,550,851,605" href="../elements/id-5bbc3041fed14641aee378e2a165ec28.html"  target="element">
				  						<area shape="rect" coords="358,549,575,607" href="../elements/id-45e822b3e78440d7928f04939f955687.html"  target="element">
				  						<area shape="rect" coords="70,550,287,605" href="../elements/id-00221d8869d647c9b8a050e39c45c723.html"  target="element">

				  				<area shape="rect" coords="34,514,887,623" href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html"  target="element">
				  						<area shape="rect" coords="634,442,863,479" href="../elements/id-546755c6c9c441599280658fd53a827f.html"  target="element">
				  						<area shape="rect" coords="634,250,863,287" href="../elements/id-d0b70e14ca124017bc45a6816d24b288.html"  target="element">
				  						<area shape="rect" coords="634,346,863,383" href="../elements/id-c3f4008175c94552a48371dac3ce71fc.html"  target="element">
				  						<area shape="rect" coords="634,394,863,431" href="../elements/id-190595fe1ea24804a9f73310b6551e6f.html"  target="element">
				  						<area shape="rect" coords="634,154,863,191" href="../elements/id-d0c1ec1808bd421d860dcb2e46436ca6.html"  target="element">
				  						<area shape="rect" coords="634,298,863,335" href="../elements/id-9c4a64dd45fd4a8ca07eae0c2d48736d.html"  target="element">
				  						<area shape="rect" coords="634,202,863,239" href="../elements/id-93e2fa87fe2e4d6b98629363357ad073.html"  target="element">
				  						<area shape="rect" coords="634,106,863,143" href="../elements/id-d6854ce9427640b8a0c6c3d4f2027436.html"  target="element">

				  				<area shape="rect" coords="610,46,887,503" href="../elements/id-97aea062588d4bcd82c766419f92acf6.html"  target="element">
				  						<area shape="rect" coords="58,106,289,161" href="../elements/id-0c76f7e6cb3046e8ab3788a17164384c.html"  target="element">
				  						<area shape="rect" coords="58,250,290,299" href="../elements/id-7789fc4c30d0490886a9d44a9903dc9a.html"  target="element">
				  						<area shape="rect" coords="58,178,290,227" href="../elements/id-34dda6c310bf49ee800d5f2f144f154e.html"  target="element">
				  						<area shape="rect" coords="58,394,290,443" href="../elements/id-4a8cf44cbfb6433ca5061d95b57a8660.html"  target="element">
				  						<area shape="rect" coords="58,322,289,371" href="../elements/id-7e8b16981f2841458595af2ddbec4220.html"  target="element">

				  				<area shape="rect" coords="34,46,311,503" href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html"  target="element">
				  						<area shape="rect" coords="346,166,576,215" href="../elements/id-87a64e74faee47a7a94df8403c465757.html"  target="element">
				  						<area shape="rect" coords="346,106,575,155" href="../elements/id-3daf4b44e0f94d5689ebb74cf6aa09b7.html"  target="element">

				  				<area shape="rect" coords="322,46,599,239" href="../elements/id-4c71200f7b624052a4433537f134657d.html"  target="element">

				  		<area shape="rect" coords="10,10,911,635" href="../elements/id-c22bb8c8b4ba4286b282a0bd22505d71.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c22bb8c8b4ba4286b282a0bd22505d71.html" target="element"> Digitaalisen kulttuuriperinn&#246;n arvoketju </a> </td>
											    <td> <a href="../elements/id-c22bb8c8b4ba4286b282a0bd22505d71.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
													    <td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-3daf4b44e0f94d5689ebb74cf6aa09b7.html" target="element"> Tallentaminen, hallinta ja s&#228;ilytys </a> </td>
															    <td> <a href="../elements/id-3daf4b44e0f94d5689ebb74cf6aa09b7.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-87a64e74faee47a7a94df8403c465757.html" target="element"> Pitk&#228;aikaiss&#228;ilytt&#228;minen </a> </td>
															    <td> <a href="../elements/id-87a64e74faee47a7a94df8403c465757.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
													    <td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-7e8b16981f2841458595af2ddbec4220.html" target="element"> Kulttuuriperinn&#246;n digitointi </a> </td>
															    <td> <a href="../elements/id-7e8b16981f2841458595af2ddbec4220.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4a8cf44cbfb6433ca5061d95b57a8660.html" target="element"> Alkujaan digitaalisen aineistojen k&#228;sittely </a> </td>
															    <td> <a href="../elements/id-4a8cf44cbfb6433ca5061d95b57a8660.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-34dda6c310bf49ee800d5f2f144f154e.html" target="element"> Kulttuuriperint&#246;aineistojen arvonm&#228;&#228;ritys </a> </td>
															    <td> <a href="../elements/id-34dda6c310bf49ee800d5f2f144f154e.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7789fc4c30d0490886a9d44a9903dc9a.html" target="element"> Kulttuuriperinn&#246;n kuvailu </a> </td>
															    <td> <a href="../elements/id-7789fc4c30d0490886a9d44a9903dc9a.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0c76f7e6cb3046e8ab3788a17164384c.html" target="element"> Kulttuuriperint&#246;aineistojen hankkiminen, ker&#228;&#228;minen tai vastaanottaminen </a> </td>
															    <td> <a href="../elements/id-0c76f7e6cb3046e8ab3788a17164384c.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
													    <td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d6854ce9427640b8a0c6c3d4f2027436.html" target="element"> Sis&#228;ll&#246;ntuotanto- ja produktiot </a> </td>
															    <td> <a href="../elements/id-d6854ce9427640b8a0c6c3d4f2027436.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-93e2fa87fe2e4d6b98629363357ad073.html" target="element"> Digitaalinen yleis&#246;ty&#246; </a> </td>
															    <td> <a href="../elements/id-93e2fa87fe2e4d6b98629363357ad073.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9c4a64dd45fd4a8ca07eae0c2d48736d.html" target="element"> Oppiminen </a> </td>
															    <td> <a href="../elements/id-9c4a64dd45fd4a8ca07eae0c2d48736d.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d0c1ec1808bd421d860dcb2e46436ca6.html" target="element"> Viranomaistoiminta </a> </td>
															    <td> <a href="../elements/id-d0c1ec1808bd421d860dcb2e46436ca6.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-190595fe1ea24804a9f73310b6551e6f.html" target="element"> Harrastustoiminta </a> </td>
															    <td> <a href="../elements/id-190595fe1ea24804a9f73310b6551e6f.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c3f4008175c94552a48371dac3ce71fc.html" target="element"> Taiteellinen toiminta </a> </td>
															    <td> <a href="../elements/id-c3f4008175c94552a48371dac3ce71fc.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d0b70e14ca124017bc45a6816d24b288.html" target="element"> Tutkimustoiminta </a> </td>
															    <td> <a href="../elements/id-d0b70e14ca124017bc45a6816d24b288.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-546755c6c9c441599280658fd53a827f.html" target="element"> Kaupallinen toiminta </a> </td>
															    <td> <a href="../elements/id-546755c6c9c441599280658fd53a827f.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-00221d8869d647c9b8a050e39c45c723.html" target="element"> Kulttuuriperint&#246;palveluiden kehitt&#228;minen </a> </td>
															    <td> <a href="../elements/id-00221d8869d647c9b8a050e39c45c723.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-45e822b3e78440d7928f04939f955687.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
															    <td> <a href="../elements/id-45e822b3e78440d7928f04939f955687.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5bbc3041fed14641aee378e2a165ec28.html" target="element"> Kulttuuriperint&#246;toiminnan vaikuttavuuden arviointi </a> </td>
															    <td> <a href="../elements/id-5bbc3041fed14641aee378e2a165ec28.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-db373a487da94570a865625f23e6b647.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
													    <td> <a href="../elements/id-db373a487da94570a865625f23e6b647.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-3d125832757748e4881bbcd45944c07a.html" target="element"> L&#246;ydett&#228;vyyden, saatavuuden ja k&#228;ytett&#228;vyyden kehitt&#228;minen ja yll&#228;pito </a> </td>
															    <td> <a href="../elements/id-3d125832757748e4881bbcd45944c07a.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-005f67a6be2f4327ac78efb90c2aed96.html" target="element"> K&#228;ytt&#246;&#246;nohjaus ja ohjeistus </a> </td>
															    <td> <a href="../elements/id-005f67a6be2f4327ac78efb90c2aed96.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-986d7d6d8ae94609ac33a4c6e1a94564.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-986d7d6d8ae94609ac33a4c6e1a94564.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c22bb8c8b4ba4286b282a0bd22505d71.html" target="element"> Digitaalisen kulttuuriperinn&#246;n arvoketju </a> </td>
																		<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0224a8e85545439a9d388ffc2b5b039e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0224a8e85545439a9d388ffc2b5b039e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c22bb8c8b4ba4286b282a0bd22505d71.html" target="element"> Digitaalisen kulttuuriperinn&#246;n arvoketju </a> </td>
																		<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e64f511400774b1d8d55050c3331a95c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e64f511400774b1d8d55050c3331a95c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c22bb8c8b4ba4286b282a0bd22505d71.html" target="element"> Digitaalisen kulttuuriperinn&#246;n arvoketju </a> </td>
																		<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-91c514a36ae94e7aba249f768ece749a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-91c514a36ae94e7aba249f768ece749a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c22bb8c8b4ba4286b282a0bd22505d71.html" target="element"> Digitaalisen kulttuuriperinn&#246;n arvoketju </a> </td>
																		<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dae9881e024d4acd9a49cbdf5f018a94.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dae9881e024d4acd9a49cbdf5f018a94.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c22bb8c8b4ba4286b282a0bd22505d71.html" target="element"> Digitaalisen kulttuuriperinn&#246;n arvoketju </a> </td>
																		<td> <a href="../elements/id-db373a487da94570a865625f23e6b647.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-bfea1d5289904ccb9a079d7c7a619e2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bfea1d5289904ccb9a079d7c7a619e2d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
																				<td> <a href="../elements/id-3daf4b44e0f94d5689ebb74cf6aa09b7.html" target="element"> Tallentaminen, hallinta ja s&#228;ilytys </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3ef93b26b9e2425cbb2af6ab943cb2d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3ef93b26b9e2425cbb2af6ab943cb2d1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
																				<td> <a href="../elements/id-87a64e74faee47a7a94df8403c465757.html" target="element"> Pitk&#228;aikaiss&#228;ilytt&#228;minen </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-79b0bdabfd344b85905ae764b04ec05d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-79b0bdabfd344b85905ae764b04ec05d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																				<td> <a href="../elements/id-7e8b16981f2841458595af2ddbec4220.html" target="element"> Kulttuuriperinn&#246;n digitointi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5004396224b947ccbbb33eff6aa3d1ca.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5004396224b947ccbbb33eff6aa3d1ca.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																				<td> <a href="../elements/id-4a8cf44cbfb6433ca5061d95b57a8660.html" target="element"> Alkujaan digitaalisen aineistojen k&#228;sittely </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dd34c1435fce46fa860b6d8e2d35ecf4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dd34c1435fce46fa860b6d8e2d35ecf4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																				<td> <a href="../elements/id-34dda6c310bf49ee800d5f2f144f154e.html" target="element"> Kulttuuriperint&#246;aineistojen arvonm&#228;&#228;ritys </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b0c162822ac342b39daa872ae72364ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b0c162822ac342b39daa872ae72364ac.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																				<td> <a href="../elements/id-7789fc4c30d0490886a9d44a9903dc9a.html" target="element"> Kulttuuriperinn&#246;n kuvailu </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e96b866191d24077ac802bf227329d45.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e96b866191d24077ac802bf227329d45.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																				<td> <a href="../elements/id-0c76f7e6cb3046e8ab3788a17164384c.html" target="element"> Kulttuuriperint&#246;aineistojen hankkiminen, ker&#228;&#228;minen tai vastaanottaminen </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-2b2d7107a07843599e46dc9e0114195b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2b2d7107a07843599e46dc9e0114195b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																				<td> <a href="../elements/id-d6854ce9427640b8a0c6c3d4f2027436.html" target="element"> Sis&#228;ll&#246;ntuotanto- ja produktiot </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-435466d67f4f4e17b3327f43f241d666.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-435466d67f4f4e17b3327f43f241d666.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																				<td> <a href="../elements/id-546755c6c9c441599280658fd53a827f.html" target="element"> Kaupallinen toiminta </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-89f9f83bcc344966aad2ba51d4f83b83.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-89f9f83bcc344966aad2ba51d4f83b83.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																				<td> <a href="../elements/id-d0b70e14ca124017bc45a6816d24b288.html" target="element"> Tutkimustoiminta </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-33ee9e2be103420bbf4fdb7020046a13.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-33ee9e2be103420bbf4fdb7020046a13.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																				<td> <a href="../elements/id-93e2fa87fe2e4d6b98629363357ad073.html" target="element"> Digitaalinen yleis&#246;ty&#246; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fd6b9518f2cd4e3783a10f8fe65a60c0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fd6b9518f2cd4e3783a10f8fe65a60c0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																				<td> <a href="../elements/id-9c4a64dd45fd4a8ca07eae0c2d48736d.html" target="element"> Oppiminen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b11eea7c26cf4db0b6b0523bb8c7a937.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b11eea7c26cf4db0b6b0523bb8c7a937.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																				<td> <a href="../elements/id-d0c1ec1808bd421d860dcb2e46436ca6.html" target="element"> Viranomaistoiminta </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f684bb6ff19e477d870d89769ed9e9b4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f684bb6ff19e477d870d89769ed9e9b4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																				<td> <a href="../elements/id-190595fe1ea24804a9f73310b6551e6f.html" target="element"> Harrastustoiminta </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-eaa20fcc25c44eebae5d1ef850912ac1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eaa20fcc25c44eebae5d1ef850912ac1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																				<td> <a href="../elements/id-c3f4008175c94552a48371dac3ce71fc.html" target="element"> Taiteellinen toiminta </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-2e974e18fbea45d49d4c0962a297f90c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e974e18fbea45d49d4c0962a297f90c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-00221d8869d647c9b8a050e39c45c723.html" target="element"> Kulttuuriperint&#246;palveluiden kehitt&#228;minen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-418364c648794915b6cecaf734fc70ff.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-418364c648794915b6cecaf734fc70ff.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-45e822b3e78440d7928f04939f955687.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b1db8da5bb7a448ba49212c9f54cb912.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b1db8da5bb7a448ba49212c9f54cb912.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-45e822b3e78440d7928f04939f955687.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7932f817f82040b293c480d811686cd7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7932f817f82040b293c480d811686cd7.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-45e822b3e78440d7928f04939f955687.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1821cd2474ab43f38fcbb67d337ac5b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1821cd2474ab43f38fcbb67d337ac5b6.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-45e822b3e78440d7928f04939f955687.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-26c146eb176646c0bb42b6c33e7478e9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-26c146eb176646c0bb42b6c33e7478e9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-5bbc3041fed14641aee378e2a165ec28.html" target="element"> Kulttuuriperint&#246;toiminnan vaikuttavuuden arviointi </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-8049cac223394f3c8c8e785cc23c07eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8049cac223394f3c8c8e785cc23c07eb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-db373a487da94570a865625f23e6b647.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																				<td> <a href="../elements/id-005f67a6be2f4327ac78efb90c2aed96.html" target="element"> K&#228;ytt&#246;&#246;nohjaus ja ohjeistus </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0fb8c2aa6b7e46ef8f689c815e3d3648.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0fb8c2aa6b7e46ef8f689c815e3d3648.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-db373a487da94570a865625f23e6b647.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																				<td> <a href="../elements/id-005f67a6be2f4327ac78efb90c2aed96.html" target="element"> K&#228;ytt&#246;&#246;nohjaus ja ohjeistus </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9de605a4d7d14eb389624b7cf58d855c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9de605a4d7d14eb389624b7cf58d855c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-db373a487da94570a865625f23e6b647.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																				<td> <a href="../elements/id-3d125832757748e4881bbcd45944c07a.html" target="element"> L&#246;ydett&#228;vyyden, saatavuuden ja k&#228;ytett&#228;vyyden kehitt&#228;minen ja yll&#228;pito </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>