<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Laki kulttuuriaineistojen tallettamisesta ja säilyttämisestä</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Laki kulttuuriaineistojen tallettamisesta ja s&#228;ilytt&#228;misest&#228;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3a3b705360a548d28058f67966c7bf64.png" alt="Laki kulttuuriaineistojen tallettamisesta ja säilyttämisestä" usemap="#id-3a3b705360a548d28058f67966c7bf64map"/>
			   <map name="id-3a3b705360a548d28058f67966c7bf64map">
				  		<area shape="rect" coords="1054,52,1511,109" href="../elements/id-27cc4a4ebbb44701a7d94241e53589db.html"  target="element">
				  		<area shape="rect" coords="10,112,431,167" href="../elements/id-4d7f1d8f61ec44269bf855e6f92b3dff.html"  target="element">
				  		<area shape="rect" coords="178,184,599,244" href="../elements/id-2565ea8fea2d4a969a707f5f5bed0149.html"  target="element">
				  		<area shape="rect" coords="658,10,995,65" href="../elements/id-98087c34cdc64b3ba781b85be62c2f69.html"  target="element">
				  				<area shape="rect" coords="1222,580,1354,635" href="../elements/id-625722f6494a4c058950d752f5eceb17.html"  target="element">
				  				<area shape="rect" coords="1066,580,1211,635" href="../elements/id-fad9ce0dc3184624a040beccc8fc9a78.html"  target="element">

				  		<area shape="rect" coords="1042,544,1375,650" href="../elements/id-4390462fe2f7462486fa57dc2c0596ea.html"  target="element">
				  		<area shape="rect" coords="442,586,623,641" href="../elements/id-13d1c944e07449abbc0f831f55a32db7.html"  target="element">
				  		<area shape="rect" coords="550,262,803,311" href="../elements/id-02e72febb6124e16960f2906e6579dbc.html"  target="element">
				  		<area shape="rect" coords="598,334,1091,419" href="../elements/id-b6f2db78a00a44d4a25a5e6e5bca788b.html"  target="element">
				  		<area shape="rect" coords="886,259,1403,314" href="../elements/id-066f692ba84549459dcc963065530177.html"  target="element">
				  		<area shape="rect" coords="766,118,1191,173" href="../elements/id-8661728705294d0bb07b1bd43c9bebe1.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8661728705294d0bb07b1bd43c9bebe1.html" target="element"> Laki kulttuuriaineistojen tallettamisesta ja s&#228;ilytt&#228;misest&#228; </a> </td>
											    <td> <a href="../elements/id-8661728705294d0bb07b1bd43c9bebe1.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-066f692ba84549459dcc963065530177.html" target="element"> Suomessa yleis&#246;n saataville saatettujen kansallisen kulttuurin aineistojen s&#228;ilytt&#228;minen tuleville sukupolville ja saattaminen tutkijoiden ja muiden tarvitsijoiden k&#228;ytt&#246;&#246;n. </a> </td>
											    <td> <a href="../elements/id-066f692ba84549459dcc963065530177.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b6f2db78a00a44d4a25a5e6e5bca788b.html" target="element"> Huolehtia siit&#228;, ett&#228; luovutettavat ja talletettavat aineistot ovat kopioitavissa tallennusv&#228;lineelt&#228; toiselle ja muunnettavissa pitk&#228;aikaiss&#228;ilytykseen sopivaan muotoon teknisten suojausten est&#228;m&#228;tt&#228;. Luovutettavan ja talletettavan aineiston tiedollisen, kuvallisen ja &#228;&#228;nellisen sis&#228;ll&#246;n tulee vastata mahdollisimman tarkasti alkuper&#228;isen aineiston sis&#228;lt&#246;&#228;.  </a> </td>
											    <td> <a href="../elements/id-b6f2db78a00a44d4a25a5e6e5bca788b.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-02e72febb6124e16960f2906e6579dbc.html" target="element"> Painotuotteiden ja tallenteiden luovuttamisvelvollisuus </a> </td>
											    <td> <a href="../elements/id-02e72febb6124e16960f2906e6579dbc.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-13d1c944e07449abbc0f831f55a32db7.html" target="element"> Luovutusvelvollinen </a> </td>
											    <td> <a href="../elements/id-13d1c944e07449abbc0f831f55a32db7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4390462fe2f7462486fa57dc2c0596ea.html" target="element"> Tallentamisvelvollinen </a> </td>
											    <td> <a href="../elements/id-4390462fe2f7462486fa57dc2c0596ea.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fad9ce0dc3184624a040beccc8fc9a78.html" target="element"> Kansalliskirjasto </a> </td>
													    <td> <a href="../elements/id-fad9ce0dc3184624a040beccc8fc9a78.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-625722f6494a4c058950d752f5eceb17.html" target="element"> Kansallinen audiovisuaalinen instituutti </a> </td>
													    <td> <a href="../elements/id-625722f6494a4c058950d752f5eceb17.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-98087c34cdc64b3ba781b85be62c2f69.html" target="element"> Lakikulttuuriaineistojen tallettamisesta ja s&#228;ilytt&#228;misest&#228; annetun lain muuttamisesta </a> </td>
											    <td> <a href="../elements/id-98087c34cdc64b3ba781b85be62c2f69.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2565ea8fea2d4a969a707f5f5bed0149.html" target="element"> Tulee sis&#228;llytt&#228;&#228; aineistoon liittyv&#228;t kuvailutiedot ja aineiston tiedossa olevat tekij&#228;noikeustiedot </a> </td>
											    <td> <a href="../elements/id-2565ea8fea2d4a969a707f5f5bed0149.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d7f1d8f61ec44269bf855e6f92b3dff.html" target="element"> Luovutettavien ja talletettavien aineistojen tulee olla t&#228;ydellisi&#228;, teknisesti virheett&#246;mi&#228; ja siin&#228; muodossa, miss&#228; ne on julkaistu tai muutoin saatettu yleis&#246;n saataville. </a> </td>
											    <td> <a href="../elements/id-4d7f1d8f61ec44269bf855e6f92b3dff.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-27cc4a4ebbb44701a7d94241e53589db.html" target="element"> Aineistojen kappaleet, jotka sis&#228;lt&#228;v&#228;t salassa pidett&#228;vi&#228; tietoja, on s&#228;ilytett&#228;v&#228; Kansalliskirjastossa tai Kansallisessa audiovisuaalisessa instituutissa, kunnes salassapitoaika on kulunut umpeen </a> </td>
											    <td> <a href="../elements/id-27cc4a4ebbb44701a7d94241e53589db.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5eed7fb652a64dbf9065a0f8fced9312.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5eed7fb652a64dbf9065a0f8fced9312.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8661728705294d0bb07b1bd43c9bebe1.html" target="element"> Laki kulttuuriaineistojen tallettamisesta ja s&#228;ilytt&#228;misest&#228; </a> </td>
																		<td> <a href="../elements/id-02e72febb6124e16960f2906e6579dbc.html" target="element"> Painotuotteiden ja tallenteiden luovuttamisvelvollisuus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c83c4002495542909a14949e4825f033.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c83c4002495542909a14949e4825f033.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8661728705294d0bb07b1bd43c9bebe1.html" target="element"> Laki kulttuuriaineistojen tallettamisesta ja s&#228;ilytt&#228;misest&#228; </a> </td>
																		<td> <a href="../elements/id-b6f2db78a00a44d4a25a5e6e5bca788b.html" target="element"> Huolehtia siit&#228;, ett&#228; luovutettavat ja talletettavat aineistot ovat kopioitavissa tallennusv&#228;lineelt&#228; toiselle ja muunnettavissa pitk&#228;aikaiss&#228;ilytykseen sopivaan muotoon teknisten suojausten est&#228;m&#228;tt&#228;. Luovutettavan ja talletettavan aineiston tiedollisen, kuvallisen ja &#228;&#228;nellisen sis&#228;ll&#246;n tulee vastata mahdollisimman tarkasti alkuper&#228;isen aineiston sis&#228;lt&#246;&#228;.  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d3a804bb44ac4c6282f22d1e7ebb07a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3a804bb44ac4c6282f22d1e7ebb07a6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8661728705294d0bb07b1bd43c9bebe1.html" target="element"> Laki kulttuuriaineistojen tallettamisesta ja s&#228;ilytt&#228;misest&#228; </a> </td>
																		<td> <a href="../elements/id-066f692ba84549459dcc963065530177.html" target="element"> Suomessa yleis&#246;n saataville saatettujen kansallisen kulttuurin aineistojen s&#228;ilytt&#228;minen tuleville sukupolville ja saattaminen tutkijoiden ja muiden tarvitsijoiden k&#228;ytt&#246;&#246;n. </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c01c0015a4bd498488d6af3b952a0b3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c01c0015a4bd498488d6af3b952a0b3d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-13d1c944e07449abbc0f831f55a32db7.html" target="element"> Luovutusvelvollinen </a> </td>
																		<td> <a href="../elements/id-02e72febb6124e16960f2906e6579dbc.html" target="element"> Painotuotteiden ja tallenteiden luovuttamisvelvollisuus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64e90232f1584523aed5d6a6b69a21fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64e90232f1584523aed5d6a6b69a21fb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-13d1c944e07449abbc0f831f55a32db7.html" target="element"> Luovutusvelvollinen </a> </td>
																		<td> <a href="../elements/id-b6f2db78a00a44d4a25a5e6e5bca788b.html" target="element"> Huolehtia siit&#228;, ett&#228; luovutettavat ja talletettavat aineistot ovat kopioitavissa tallennusv&#228;lineelt&#228; toiselle ja muunnettavissa pitk&#228;aikaiss&#228;ilytykseen sopivaan muotoon teknisten suojausten est&#228;m&#228;tt&#228;. Luovutettavan ja talletettavan aineiston tiedollisen, kuvallisen ja &#228;&#228;nellisen sis&#228;ll&#246;n tulee vastata mahdollisimman tarkasti alkuper&#228;isen aineiston sis&#228;lt&#246;&#228;.  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4531ca5f00104bfc96fb0723c5d2e3d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4531ca5f00104bfc96fb0723c5d2e3d1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-13d1c944e07449abbc0f831f55a32db7.html" target="element"> Luovutusvelvollinen </a> </td>
																		<td> <a href="../elements/id-4d7f1d8f61ec44269bf855e6f92b3dff.html" target="element"> Luovutettavien ja talletettavien aineistojen tulee olla t&#228;ydellisi&#228;, teknisesti virheett&#246;mi&#228; ja siin&#228; muodossa, miss&#228; ne on julkaistu tai muutoin saatettu yleis&#246;n saataville. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c6ec827673154e608946a37dc0262484.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6ec827673154e608946a37dc0262484.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-13d1c944e07449abbc0f831f55a32db7.html" target="element"> Luovutusvelvollinen </a> </td>
																		<td> <a href="../elements/id-2565ea8fea2d4a969a707f5f5bed0149.html" target="element"> Tulee sis&#228;llytt&#228;&#228; aineistoon liittyv&#228;t kuvailutiedot ja aineiston tiedossa olevat tekij&#228;noikeustiedot </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6198cdc266fd48199563169fdb711dc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6198cdc266fd48199563169fdb711dc4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4390462fe2f7462486fa57dc2c0596ea.html" target="element"> Tallentamisvelvollinen </a> </td>
																		<td> <a href="../elements/id-066f692ba84549459dcc963065530177.html" target="element"> Suomessa yleis&#246;n saataville saatettujen kansallisen kulttuurin aineistojen s&#228;ilytt&#228;minen tuleville sukupolville ja saattaminen tutkijoiden ja muiden tarvitsijoiden k&#228;ytt&#246;&#246;n. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2a943bdcf34c47d0ab77f5ceb601737a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a943bdcf34c47d0ab77f5ceb601737a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4390462fe2f7462486fa57dc2c0596ea.html" target="element"> Tallentamisvelvollinen </a> </td>
																		<td> <a href="../elements/id-27cc4a4ebbb44701a7d94241e53589db.html" target="element"> Aineistojen kappaleet, jotka sis&#228;lt&#228;v&#228;t salassa pidett&#228;vi&#228; tietoja, on s&#228;ilytett&#228;v&#228; Kansalliskirjastossa tai Kansallisessa audiovisuaalisessa instituutissa, kunnes salassapitoaika on kulunut umpeen </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b1c79f42277c4034b283effec834986e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1c79f42277c4034b283effec834986e.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98087c34cdc64b3ba781b85be62c2f69.html" target="element"> Lakikulttuuriaineistojen tallettamisesta ja s&#228;ilytt&#228;misest&#228; annetun lain muuttamisesta </a> </td>
																		<td> <a href="../elements/id-8661728705294d0bb07b1bd43c9bebe1.html" target="element"> Laki kulttuuriaineistojen tallettamisesta ja s&#228;ilytt&#228;misest&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2c6e00c36c7b4ab8862c79f6ef14a2ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c6e00c36c7b4ab8862c79f6ef14a2ea.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98087c34cdc64b3ba781b85be62c2f69.html" target="element"> Lakikulttuuriaineistojen tallettamisesta ja s&#228;ilytt&#228;misest&#228; annetun lain muuttamisesta </a> </td>
																		<td> <a href="../elements/id-2565ea8fea2d4a969a707f5f5bed0149.html" target="element"> Tulee sis&#228;llytt&#228;&#228; aineistoon liittyv&#228;t kuvailutiedot ja aineiston tiedossa olevat tekij&#228;noikeustiedot </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a80a5870e204e10b35ae5e21d8e6376.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a80a5870e204e10b35ae5e21d8e6376.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98087c34cdc64b3ba781b85be62c2f69.html" target="element"> Lakikulttuuriaineistojen tallettamisesta ja s&#228;ilytt&#228;misest&#228; annetun lain muuttamisesta </a> </td>
																		<td> <a href="../elements/id-4d7f1d8f61ec44269bf855e6f92b3dff.html" target="element"> Luovutettavien ja talletettavien aineistojen tulee olla t&#228;ydellisi&#228;, teknisesti virheett&#246;mi&#228; ja siin&#228; muodossa, miss&#228; ne on julkaistu tai muutoin saatettu yleis&#246;n saataville. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c079dafc7da34aa7923a9638fbd6953d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c079dafc7da34aa7923a9638fbd6953d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98087c34cdc64b3ba781b85be62c2f69.html" target="element"> Lakikulttuuriaineistojen tallettamisesta ja s&#228;ilytt&#228;misest&#228; annetun lain muuttamisesta </a> </td>
																		<td> <a href="../elements/id-27cc4a4ebbb44701a7d94241e53589db.html" target="element"> Aineistojen kappaleet, jotka sis&#228;lt&#228;v&#228;t salassa pidett&#228;vi&#228; tietoja, on s&#228;ilytett&#228;v&#228; Kansalliskirjastossa tai Kansallisessa audiovisuaalisessa instituutissa, kunnes salassapitoaika on kulunut umpeen </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>