<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kulttuuriperintöaineistojen viitetiedot</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kulttuuriperint&#246;aineistojen viitetiedot</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-323becfd81af475eb728a5757b20e353.png" alt="Kulttuuriperintöaineistojen viitetiedot" usemap="#id-323becfd81af475eb728a5757b20e353map"/>
			   <map name="id-323becfd81af475eb728a5757b20e353map">
				  		<area shape="rect" coords="634,430,754,485" href="../elements/id-8d4f661c18a242f3b6dc5b99f06be24d.html"  target="element">
				  		<area shape="rect" coords="490,214,610,269" href="../elements/id-27635280c5e14c468c6d518c3e7b4f4b.html"  target="element">
				  		<area shape="rect" coords="658,250,791,305" href="../elements/id-8dae62c6f6d74beb9a015d1d121aad4e.html"  target="element">
				  		<area shape="rect" coords="394,334,575,389" href="../elements/id-626ccd34446345318a9d12dac9173071.html"  target="element">
				  		<area shape="rect" coords="696,646,836,701" href="../elements/id-96ddfc3a5c9c4b248fa69e34ec6903cd.html"  target="element">
				  		<area shape="rect" coords="852,646,995,701" href="../elements/id-2d01f3222d0c4cbba9ce8c6722832a3e.html"  target="element">
				  		<area shape="rect" coords="10,214,154,269" href="../elements/id-767b373f66a349a899c439bedfca61fc.html"  target="element">
				  		<area shape="rect" coords="153,10,273,65" href="../elements/id-6c533b299464446eb32667e016531ff9.html"  target="element">
				  		<area shape="rect" coords="10,118,154,173" href="../elements/id-18f01d9f53fa4e948b368e978c65cc73.html"  target="element">
				  		<area shape="rect" coords="367,10,504,65" href="../elements/id-d57c3544f14f48d9879188059b4c0e45.html"  target="element">
				  		<area shape="rect" coords="322,442,460,497" href="../elements/id-b364a76f5949424baf11da4f40609054.html"  target="element">
				  		<area shape="rect" coords="202,538,347,593" href="../elements/id-4333b86e3e4a49ef84295b1b11d1c2f6.html"  target="element">
				  		<area shape="rect" coords="785,550,918,605" href="../elements/id-8814a1fd487142789dc9a64024f68ae1.html"  target="element">
				  		<area shape="rect" coords="363,106,508,161" href="../elements/id-a905e46ae7bf46bda535883aff4d4445.html"  target="element">
				  		<area shape="rect" coords="274,214,467,269" href="../elements/id-7379fb1a0ce04506b797ca958819003a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-7379fb1a0ce04506b797ca958819003a.html" target="element"> Digitaalinen kulttuuriperint&#246;  </a> </td>
											    <td> <a href="../elements/id-7379fb1a0ce04506b797ca958819003a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a905e46ae7bf46bda535883aff4d4445.html" target="element"> Kulttuuriperint&#246; objekti </a> </td>
											    <td> <a href="../elements/id-a905e46ae7bf46bda535883aff4d4445.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8814a1fd487142789dc9a64024f68ae1.html" target="element"> Fyysinen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-8814a1fd487142789dc9a64024f68ae1.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4333b86e3e4a49ef84295b1b11d1c2f6.html" target="element"> Digitoitu kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-4333b86e3e4a49ef84295b1b11d1c2f6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b364a76f5949424baf11da4f40609054.html" target="element"> Alkujaan digitaalinen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-b364a76f5949424baf11da4f40609054.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d57c3544f14f48d9879188059b4c0e45.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
											    <td> <a href="../elements/id-d57c3544f14f48d9879188059b4c0e45.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-18f01d9f53fa4e948b368e978c65cc73.html" target="element"> FAIR Digital Object </a> </td>
											    <td> <a href="../elements/id-18f01d9f53fa4e948b368e978c65cc73.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6c533b299464446eb32667e016531ff9.html" target="element"> Digitaalinen objekti </a> </td>
											    <td> <a href="../elements/id-6c533b299464446eb32667e016531ff9.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-767b373f66a349a899c439bedfca61fc.html" target="element"> FAIR kulttuuriperint&#246; objekti </a> </td>
											    <td> <a href="../elements/id-767b373f66a349a899c439bedfca61fc.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2d01f3222d0c4cbba9ce8c6722832a3e.html" target="element"> Kulttuuriperint&#246;-kohde </a> </td>
											    <td> <a href="../elements/id-2d01f3222d0c4cbba9ce8c6722832a3e.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-96ddfc3a5c9c4b248fa69e34ec6903cd.html" target="element"> Kulttuuriperint&#246;-esine </a> </td>
											    <td> <a href="../elements/id-96ddfc3a5c9c4b248fa69e34ec6903cd.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-626ccd34446345318a9d12dac9173071.html" target="element"> Kulttuuriperint&#246;k&#228;site (Viitetieto) </a> </td>
											    <td> <a href="../elements/id-626ccd34446345318a9d12dac9173071.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8dae62c6f6d74beb9a015d1d121aad4e.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-8dae62c6f6d74beb9a015d1d121aad4e.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-27635280c5e14c468c6d518c3e7b4f4b.html" target="element"> Toimija </a> </td>
											    <td> <a href="../elements/id-27635280c5e14c468c6d518c3e7b4f4b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8d4f661c18a242f3b6dc5b99f06be24d.html" target="element"> Pysyv&#228; tunniste </a> </td>
											    <td> <a href="../elements/id-8d4f661c18a242f3b6dc5b99f06be24d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1afce5cb51da4864b2fe095f080ccf44.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1afce5cb51da4864b2fe095f080ccf44.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7379fb1a0ce04506b797ca958819003a.html" target="element"> Digitaalinen kulttuuriperint&#246;  </a> </td>
																		<td> <a href="../elements/id-a905e46ae7bf46bda535883aff4d4445.html" target="element"> Kulttuuriperint&#246; objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da09cb8ea13f41d9909140056114e3a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da09cb8ea13f41d9909140056114e3a0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7379fb1a0ce04506b797ca958819003a.html" target="element"> Digitaalinen kulttuuriperint&#246;  </a> </td>
																		<td> <a href="../elements/id-6c533b299464446eb32667e016531ff9.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7fdfb558a8e842c4bc0a6bb81e301ead.html" target="element"> Digitoidaan </a> </td>
																		<td> <a href="../elements/id-7fdfb558a8e842c4bc0a6bb81e301ead.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8814a1fd487142789dc9a64024f68ae1.html" target="element"> Fyysinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-4333b86e3e4a49ef84295b1b11d1c2f6.html" target="element"> Digitoitu kulttuuriperint&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f37864bd542c4bc48676c9f83c80c540.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f37864bd542c4bc48676c9f83c80c540.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8814a1fd487142789dc9a64024f68ae1.html" target="element"> Fyysinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-a905e46ae7bf46bda535883aff4d4445.html" target="element"> Kulttuuriperint&#246; objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-40fe9895f758491e9c13b029aaee3e41.html" target="element"> Luetteloidaan </a> </td>
																		<td> <a href="../elements/id-40fe9895f758491e9c13b029aaee3e41.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8814a1fd487142789dc9a64024f68ae1.html" target="element"> Fyysinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-626ccd34446345318a9d12dac9173071.html" target="element"> Kulttuuriperint&#246;k&#228;site (Viitetieto) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cb137b870d1d4e6ea40c92db65cf3042.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb137b870d1d4e6ea40c92db65cf3042.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4333b86e3e4a49ef84295b1b11d1c2f6.html" target="element"> Digitoitu kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-7379fb1a0ce04506b797ca958819003a.html" target="element"> Digitaalinen kulttuuriperint&#246;  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-832c4933003b43178589b1efe8e2290b.html" target="element"> Luetteloidaan </a> </td>
																		<td> <a href="../elements/id-832c4933003b43178589b1efe8e2290b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4333b86e3e4a49ef84295b1b11d1c2f6.html" target="element"> Digitoitu kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-626ccd34446345318a9d12dac9173071.html" target="element"> Kulttuuriperint&#246;k&#228;site (Viitetieto) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-781f6c74b40c488a9f29a359cce01403.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-781f6c74b40c488a9f29a359cce01403.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b364a76f5949424baf11da4f40609054.html" target="element"> Alkujaan digitaalinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-7379fb1a0ce04506b797ca958819003a.html" target="element"> Digitaalinen kulttuuriperint&#246;  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d7a1b021d7204428869b0eccc9e81af3.html" target="element"> Luetteloidaan </a> </td>
																		<td> <a href="../elements/id-d7a1b021d7204428869b0eccc9e81af3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b364a76f5949424baf11da4f40609054.html" target="element"> Alkujaan digitaalinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-626ccd34446345318a9d12dac9173071.html" target="element"> Kulttuuriperint&#246;k&#228;site (Viitetieto) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d0e0ee99105541328aa99246b305dbdb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d0e0ee99105541328aa99246b305dbdb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d57c3544f14f48d9879188059b4c0e45.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																		<td> <a href="../elements/id-a905e46ae7bf46bda535883aff4d4445.html" target="element"> Kulttuuriperint&#246; objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8e2f67d09994426ea79e3b715a824b68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e2f67d09994426ea79e3b715a824b68.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-18f01d9f53fa4e948b368e978c65cc73.html" target="element"> FAIR Digital Object </a> </td>
																		<td> <a href="../elements/id-6c533b299464446eb32667e016531ff9.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c5f7010518454b9699a20267dd182d19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5f7010518454b9699a20267dd182d19.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-767b373f66a349a899c439bedfca61fc.html" target="element"> FAIR kulttuuriperint&#246; objekti </a> </td>
																		<td> <a href="../elements/id-18f01d9f53fa4e948b368e978c65cc73.html" target="element"> FAIR Digital Object </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b0e2fc4a8b54289b6efc240fe76e449.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b0e2fc4a8b54289b6efc240fe76e449.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-767b373f66a349a899c439bedfca61fc.html" target="element"> FAIR kulttuuriperint&#246; objekti </a> </td>
																		<td> <a href="../elements/id-7379fb1a0ce04506b797ca958819003a.html" target="element"> Digitaalinen kulttuuriperint&#246;  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f4f2ec00fcab4479a59c4f54d6b679da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4f2ec00fcab4479a59c4f54d6b679da.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2d01f3222d0c4cbba9ce8c6722832a3e.html" target="element"> Kulttuuriperint&#246;-kohde </a> </td>
																		<td> <a href="../elements/id-8814a1fd487142789dc9a64024f68ae1.html" target="element"> Fyysinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-809bcc3071b94303a0b24ebbdc57e55e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-809bcc3071b94303a0b24ebbdc57e55e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-96ddfc3a5c9c4b248fa69e34ec6903cd.html" target="element"> Kulttuuriperint&#246;-esine </a> </td>
																		<td> <a href="../elements/id-8814a1fd487142789dc9a64024f68ae1.html" target="element"> Fyysinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2bac7f379eab4d3e9558bcafa55a0c78.html" target="element"> Yksil&#246;id&#228;&#228;n </a> </td>
																		<td> <a href="../elements/id-2bac7f379eab4d3e9558bcafa55a0c78.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-626ccd34446345318a9d12dac9173071.html" target="element"> Kulttuuriperint&#246;k&#228;site (Viitetieto) </a> </td>
																		<td> <a href="../elements/id-8d4f661c18a242f3b6dc5b99f06be24d.html" target="element"> Pysyv&#228; tunniste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e25f9f235945468997955b553426a4a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e25f9f235945468997955b553426a4a4.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-626ccd34446345318a9d12dac9173071.html" target="element"> Kulttuuriperint&#246;k&#228;site (Viitetieto) </a> </td>
																		<td> <a href="../elements/id-a905e46ae7bf46bda535883aff4d4445.html" target="element"> Kulttuuriperint&#246; objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4c089d6c342d45298ad077f33c62291e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c089d6c342d45298ad077f33c62291e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8dae62c6f6d74beb9a015d1d121aad4e.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-a905e46ae7bf46bda535883aff4d4445.html" target="element"> Kulttuuriperint&#246; objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3339e84259e0471cb02ac6dd65e2fcae.html" target="element"> Luetteloidaan </a> </td>
																		<td> <a href="../elements/id-3339e84259e0471cb02ac6dd65e2fcae.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8dae62c6f6d74beb9a015d1d121aad4e.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-626ccd34446345318a9d12dac9173071.html" target="element"> Kulttuuriperint&#246;k&#228;site (Viitetieto) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-341d1325e14047eeb0327d802549da15.html" target="element"> Luetteloidaan </a> </td>
																		<td> <a href="../elements/id-341d1325e14047eeb0327d802549da15.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27635280c5e14c468c6d518c3e7b4f4b.html" target="element"> Toimija </a> </td>
																		<td> <a href="../elements/id-626ccd34446345318a9d12dac9173071.html" target="element"> Kulttuuriperint&#246;k&#228;site (Viitetieto) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-456ed8f5aae6432aa0f907f1cb3e440c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-456ed8f5aae6432aa0f907f1cb3e440c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-27635280c5e14c468c6d518c3e7b4f4b.html" target="element"> Toimija </a> </td>
																		<td> <a href="../elements/id-a905e46ae7bf46bda535883aff4d4445.html" target="element"> Kulttuuriperint&#246; objekti </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>