<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>FRBR EWMI esimerkkejä</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>FRBR EWMI esimerkkej&#228;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-40f0bfd95b4249ad8f5638046c7c0ac2.png" alt="FRBR EWMI esimerkkejä" usemap="#id-40f0bfd95b4249ad8f5638046c7c0ac2map"/>
			   <map name="id-40f0bfd95b4249ad8f5638046c7c0ac2map">
				  				<area shape="rect" coords="802,550,922,605" href="../elements/id-b72b16246bc043e2a40aaa24a52242c5.html"  target="element">
				  				<area shape="rect" coords="586,550,706,605" href="../elements/id-955a2a76a3b2475fa934defc9d574215.html"  target="element">
				  				<area shape="rect" coords="346,550,466,605" href="../elements/id-16a05746dded4996a97434f56167997f.html"  target="element">
				  				<area shape="rect" coords="118,550,250,605" href="../elements/id-7df40d3081c74d4f884d612ee754b576.html"  target="element">
				  				<area shape="rect" coords="802,482,922,537" href="../elements/id-ac8befbda4544abd8f6510b227c913d9.html"  target="element">
				  				<area shape="rect" coords="586,482,706,537" href="../elements/id-872960bf4e804a64b663f9862d4fbe15.html"  target="element">
				  				<area shape="rect" coords="346,482,466,537" href="../elements/id-d5032ff7b6464f428e10936eebb4f5b8.html"  target="element">
				  				<area shape="rect" coords="118,482,250,537" href="../elements/id-e9e135c25e68477e98ef1b8ebaca65fb.html"  target="element">

				  		<area shape="rect" coords="34,442,1102,622" href="../elements/id-0664eb6ebb19499bb26806671b252f01.html"  target="element">
				  				<area shape="rect" coords="779,346,923,401" href="../elements/id-2983f85e818741438eba970ee02acd21.html"  target="element">
				  				<area shape="rect" coords="575,346,695,401" href="../elements/id-45f389faac1a4fe1b127a7d6145b4d76.html"  target="element">
				  				<area shape="rect" coords="347,346,467,401" href="../elements/id-61be69a4f8ff46adb2b49670cf6ffde1.html"  target="element">
				  				<area shape="rect" coords="119,346,251,401" href="../elements/id-0c93038b1e0748f59d474881588903ff.html"  target="element">

				  		<area shape="rect" coords="35,310,1103,434" href="../elements/id-001bb35c12a442c5a90835b235cbdbe4.html"  target="element">
				  		<area shape="rect" coords="123,202,256,257" href="../elements/id-24c92a2099f54e779a7c8349d1366547.html"  target="element">
				  		<area shape="rect" coords="778,202,923,257" href="../elements/id-bf4e6b06537746beb2551a8c5f3f5b11.html"  target="element">
				  		<area shape="rect" coords="346,202,466,257" href="../elements/id-4ea3887280c7460c88c9121fd4997e14.html"  target="element">
				  		<area shape="rect" coords="574,202,694,257" href="../elements/id-3ff1ad320f404e679ffadb6b42ab5779.html"  target="element">
				  		<area shape="rect" coords="33,178,1102,299" href="../elements/id-3cfafd3b8be44f37a948ead8e1d8e705.html"  target="element">
				  				<area shape="rect" coords="778,70,917,125" href="../elements/id-2ffde20de65c44db8da70297845636c6.html"  target="element">
				  				<area shape="rect" coords="574,70,694,125" href="../elements/id-0167a970bbb14efa87f5f89dba449523.html"  target="element">
				  				<area shape="rect" coords="346,70,466,125" href="../elements/id-bf4f9eeb95ba4490b446a73b8f338fca.html"  target="element">
				  				<area shape="rect" coords="118,70,251,125" href="../elements/id-3423f39d37e645b19af428dfa543d0e9.html"  target="element">

				  		<area shape="rect" coords="10,10,1127,635" href="../elements/id-7ab22596fa014beaaf190ac64a4fa89d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-7ab22596fa014beaaf190ac64a4fa89d.html" target="element"> Esimerkkej&#228; abstraktimmista teoksista, johdannaisista ja tallenteista </a> </td>
											    <td> <a href="../elements/id-7ab22596fa014beaaf190ac64a4fa89d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3423f39d37e645b19af428dfa543d0e9.html" target="element"> Teos </a> </td>
													    <td> <a href="../elements/id-3423f39d37e645b19af428dfa543d0e9.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bf4f9eeb95ba4490b446a73b8f338fca.html" target="element"> Ekspressio </a> </td>
													    <td> <a href="../elements/id-bf4f9eeb95ba4490b446a73b8f338fca.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0167a970bbb14efa87f5f89dba449523.html" target="element"> Manifestaatio </a> </td>
													    <td> <a href="../elements/id-0167a970bbb14efa87f5f89dba449523.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2ffde20de65c44db8da70297845636c6.html" target="element"> Kappale </a> </td>
													    <td> <a href="../elements/id-2ffde20de65c44db8da70297845636c6.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3cfafd3b8be44f37a948ead8e1d8e705.html" target="element"> Esitt&#228;v&#228; taide esimerkki </a> </td>
											    <td> <a href="../elements/id-3cfafd3b8be44f37a948ead8e1d8e705.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3ff1ad320f404e679ffadb6b42ab5779.html" target="element"> Esitys </a> </td>
											    <td> <a href="../elements/id-3ff1ad320f404e679ffadb6b42ab5779.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4ea3887280c7460c88c9121fd4997e14.html" target="element"> Koreografia </a> </td>
											    <td> <a href="../elements/id-4ea3887280c7460c88c9121fd4997e14.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf4e6b06537746beb2551a8c5f3f5b11.html" target="element"> Tallenne </a> </td>
											    <td> <a href="../elements/id-bf4e6b06537746beb2551a8c5f3f5b11.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-24c92a2099f54e779a7c8349d1366547.html" target="element"> Tanssiteos </a> </td>
											    <td> <a href="../elements/id-24c92a2099f54e779a7c8349d1366547.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-001bb35c12a442c5a90835b235cbdbe4.html" target="element"> El&#228;v&#228; kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-001bb35c12a442c5a90835b235cbdbe4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0c93038b1e0748f59d474881588903ff.html" target="element"> J&#228;&#228;karuselli </a> </td>
													    <td> <a href="../elements/id-0c93038b1e0748f59d474881588903ff.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-61be69a4f8ff46adb2b49670cf6ffde1.html" target="element"> Suunnitelma </a> </td>
													    <td> <a href="../elements/id-61be69a4f8ff46adb2b49670cf6ffde1.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-45f389faac1a4fe1b127a7d6145b4d76.html" target="element"> Toteutus </a> </td>
													    <td> <a href="../elements/id-45f389faac1a4fe1b127a7d6145b4d76.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2983f85e818741438eba970ee02acd21.html" target="element"> Tallenne </a> </td>
													    <td> <a href="../elements/id-2983f85e818741438eba970ee02acd21.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0664eb6ebb19499bb26806671b252f01.html" target="element"> Asiakirjallinen kultuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-0664eb6ebb19499bb26806671b252f01.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e9e135c25e68477e98ef1b8ebaca65fb.html" target="element"> Kirkonkirja </a> </td>
													    <td> <a href="../elements/id-e9e135c25e68477e98ef1b8ebaca65fb.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d5032ff7b6464f428e10936eebb4f5b8.html" target="element"> Kirjasarja </a> </td>
													    <td> <a href="../elements/id-d5032ff7b6464f428e10936eebb4f5b8.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-872960bf4e804a64b663f9862d4fbe15.html" target="element"> PDF/A muoto </a> </td>
													    <td> <a href="../elements/id-872960bf4e804a64b663f9862d4fbe15.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac8befbda4544abd8f6510b227c913d9.html" target="element"> Yksitt&#228;inen Ilmentym&#228; </a> </td>
													    <td> <a href="../elements/id-ac8befbda4544abd8f6510b227c913d9.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7df40d3081c74d4f884d612ee754b576.html" target="element"> Puhe </a> </td>
													    <td> <a href="../elements/id-7df40d3081c74d4f884d612ee754b576.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-16a05746dded4996a97434f56167997f.html" target="element"> K&#228;&#228;nn&#246;s </a> </td>
													    <td> <a href="../elements/id-16a05746dded4996a97434f56167997f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-955a2a76a3b2475fa934defc9d574215.html" target="element"> Tulkkaus kasetilla </a> </td>
													    <td> <a href="../elements/id-955a2a76a3b2475fa934defc9d574215.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b72b16246bc043e2a40aaa24a52242c5.html" target="element"> Yksitt&#228;inen kasetti </a> </td>
													    <td> <a href="../elements/id-b72b16246bc043e2a40aaa24a52242c5.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ae5f0135d551483a8ac4640ec39446fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae5f0135d551483a8ac4640ec39446fc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7ab22596fa014beaaf190ac64a4fa89d.html" target="element"> Esimerkkej&#228; abstraktimmista teoksista, johdannaisista ja tallenteista </a> </td>
																		<td> <a href="../elements/id-3423f39d37e645b19af428dfa543d0e9.html" target="element"> Teos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d878c687d7304181a54781756cb2f92c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d878c687d7304181a54781756cb2f92c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7ab22596fa014beaaf190ac64a4fa89d.html" target="element"> Esimerkkej&#228; abstraktimmista teoksista, johdannaisista ja tallenteista </a> </td>
																		<td> <a href="../elements/id-bf4f9eeb95ba4490b446a73b8f338fca.html" target="element"> Ekspressio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f21e2d44e0e449ecbc7e2d5327dfb994.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f21e2d44e0e449ecbc7e2d5327dfb994.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7ab22596fa014beaaf190ac64a4fa89d.html" target="element"> Esimerkkej&#228; abstraktimmista teoksista, johdannaisista ja tallenteista </a> </td>
																		<td> <a href="../elements/id-0167a970bbb14efa87f5f89dba449523.html" target="element"> Manifestaatio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d708d1f61c624d109ceda7a2f4334463.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d708d1f61c624d109ceda7a2f4334463.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7ab22596fa014beaaf190ac64a4fa89d.html" target="element"> Esimerkkej&#228; abstraktimmista teoksista, johdannaisista ja tallenteista </a> </td>
																		<td> <a href="../elements/id-2ffde20de65c44db8da70297845636c6.html" target="element"> Kappale </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-15b5150c34154d8bbf28820254c6bb9c.html" target="element"> realisoi </a> </td>
																				<td> <a href="../elements/id-15b5150c34154d8bbf28820254c6bb9c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bf4f9eeb95ba4490b446a73b8f338fca.html" target="element"> Ekspressio </a> </td>
																				<td> <a href="../elements/id-3423f39d37e645b19af428dfa543d0e9.html" target="element"> Teos </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8353997545dd4a5bbd743f2da74a1c9d.html" target="element"> ilment&#228;&#228; </a> </td>
																				<td> <a href="../elements/id-8353997545dd4a5bbd743f2da74a1c9d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0167a970bbb14efa87f5f89dba449523.html" target="element"> Manifestaatio </a> </td>
																				<td> <a href="../elements/id-bf4f9eeb95ba4490b446a73b8f338fca.html" target="element"> Ekspressio </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6b86541182ba43ebbd548457044b1d4c.html" target="element"> edustaa </a> </td>
																				<td> <a href="../elements/id-6b86541182ba43ebbd548457044b1d4c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2ffde20de65c44db8da70297845636c6.html" target="element"> Kappale </a> </td>
																				<td> <a href="../elements/id-0167a970bbb14efa87f5f89dba449523.html" target="element"> Manifestaatio </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a0164c45821343369ce3a01750f2083d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0164c45821343369ce3a01750f2083d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-001bb35c12a442c5a90835b235cbdbe4.html" target="element"> El&#228;v&#228; kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-0c93038b1e0748f59d474881588903ff.html" target="element"> J&#228;&#228;karuselli </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0558dfc6b194403d82f1f43c74972166.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0558dfc6b194403d82f1f43c74972166.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-001bb35c12a442c5a90835b235cbdbe4.html" target="element"> El&#228;v&#228; kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-45f389faac1a4fe1b127a7d6145b4d76.html" target="element"> Toteutus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-011a66b5b678458cab95e1473cd0faa3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-011a66b5b678458cab95e1473cd0faa3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-001bb35c12a442c5a90835b235cbdbe4.html" target="element"> El&#228;v&#228; kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-61be69a4f8ff46adb2b49670cf6ffde1.html" target="element"> Suunnitelma </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e2bd5d04f434401c81b7e3ec7cc7618a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e2bd5d04f434401c81b7e3ec7cc7618a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-001bb35c12a442c5a90835b235cbdbe4.html" target="element"> El&#228;v&#228; kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-2983f85e818741438eba970ee02acd21.html" target="element"> Tallenne </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1476751d99894289a24dc9525f8c9b8a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1476751d99894289a24dc9525f8c9b8a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0664eb6ebb19499bb26806671b252f01.html" target="element"> Asiakirjallinen kultuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-ac8befbda4544abd8f6510b227c913d9.html" target="element"> Yksitt&#228;inen Ilmentym&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-63aa968efa634d27b9ec14c173c71904.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-63aa968efa634d27b9ec14c173c71904.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0664eb6ebb19499bb26806671b252f01.html" target="element"> Asiakirjallinen kultuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-955a2a76a3b2475fa934defc9d574215.html" target="element"> Tulkkaus kasetilla </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-350eaa153e5c47feadaadd1718679b1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-350eaa153e5c47feadaadd1718679b1d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0664eb6ebb19499bb26806671b252f01.html" target="element"> Asiakirjallinen kultuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-d5032ff7b6464f428e10936eebb4f5b8.html" target="element"> Kirjasarja </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-981947e319024821bbd014e611c04d77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-981947e319024821bbd014e611c04d77.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0664eb6ebb19499bb26806671b252f01.html" target="element"> Asiakirjallinen kultuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-7df40d3081c74d4f884d612ee754b576.html" target="element"> Puhe </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cb054cf503744ce0916a31b57bc19651.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb054cf503744ce0916a31b57bc19651.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0664eb6ebb19499bb26806671b252f01.html" target="element"> Asiakirjallinen kultuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-16a05746dded4996a97434f56167997f.html" target="element"> K&#228;&#228;nn&#246;s </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e71f4c9d69594e1db66d5965dde520cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e71f4c9d69594e1db66d5965dde520cd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0664eb6ebb19499bb26806671b252f01.html" target="element"> Asiakirjallinen kultuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-872960bf4e804a64b663f9862d4fbe15.html" target="element"> PDF/A muoto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5004e97dac14035a751ee8652385559.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5004e97dac14035a751ee8652385559.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0664eb6ebb19499bb26806671b252f01.html" target="element"> Asiakirjallinen kultuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-e9e135c25e68477e98ef1b8ebaca65fb.html" target="element"> Kirkonkirja </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d6b41c19092a40a9bfbce6bb034cfc0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6b41c19092a40a9bfbce6bb034cfc0f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0664eb6ebb19499bb26806671b252f01.html" target="element"> Asiakirjallinen kultuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-b72b16246bc043e2a40aaa24a52242c5.html" target="element"> Yksitt&#228;inen kasetti </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>