<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Lainsäädäntö</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Lains&#228;&#228;d&#228;nt&#246;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-47af1952a47f4a66a3500c67b766c5c3.png" alt="Lainsäädäntö" usemap="#id-47af1952a47f4a66a3500c67b766c5c3map"/>
			   <map name="id-47af1952a47f4a66a3500c67b766c5c3map">
				  		<area shape="rect" coords="46,706,215,761" href="../views/id-0e67e5a1e5594f8c91b2a409a177296b.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="46,622,395,677" href="../views/id-cfa578abe2054aff823940fbedd75c64.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="17,130,245,185" href="../views/id-7a10755364ba4b1280bbb09ad244f23e.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="251,418,540,473" href="../views/id-0b6f776c95404a82bc4ef3444457437e.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="675,142,1009,197" href="../views/id-3f93285def2b44cdb3215cbbf28a0fab.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="670,304,1014,359" href="../views/id-f41076ac9bf34cf8bfad89859e99ec8c.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="46,532,276,587" href="../views/id-7c3bcdb8c88e4592aab273f1eda1c714.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="27,250,309,305" href="../views/id-c8532f2bcd504926986b784737ca5ed2.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="670,598,1075,653" href="../views/id-3a3b705360a548d28058f67966c7bf64.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="670,514,1008,569" href="../views/id-83e00f756ac64ebc8cdcc4865b86ff73.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="682,406,946,461" href="../views/id-e1a60cea463c47e4899b1d841775064f.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="46,418,166,473" href="../views/id-86cf7618f9ef44889038a83861a577ba.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="666,676,1079,731" href="../views/id-fb8ddf9e9ad24d11bbed53e85065fadd.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="502,10,915,65" href="../views/id-c43c6c0cd01b4e778db48f34bfc92acd.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,10,350,65" href="../views/id-196ed885bd7c48d28da01b8ba5d18050.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-196ed885bd7c48d28da01b8ba5d18050.html" target="view"> Laki kansallisarkistosta ja Arkistolaki </a> </td>
											    <td> <a href="../views/id-196ed885bd7c48d28da01b8ba5d18050.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-c43c6c0cd01b4e778db48f34bfc92acd.html" target="view"> Laki yleisistä kirjastoista </a> </td>
											    <td> <a href="../views/id-c43c6c0cd01b4e778db48f34bfc92acd.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-fb8ddf9e9ad24d11bbed53e85065fadd.html" target="view"> Yliopistolaki </a> </td>
											    <td> <a href="../views/id-fb8ddf9e9ad24d11bbed53e85065fadd.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-86cf7618f9ef44889038a83861a577ba.html" target="view"> Hallintolaki </a> </td>
											    <td> <a href="../views/id-86cf7618f9ef44889038a83861a577ba.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-e1a60cea463c47e4899b1d841775064f.html" target="view"> Laki esittävän taiteen edistämisestä </a> </td>
											    <td> <a href="../views/id-e1a60cea463c47e4899b1d841775064f.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-83e00f756ac64ebc8cdcc4865b86ff73.html" target="view"> Laki kansallisesta audiovisuaalisesta instituutista </a> </td>
											    <td> <a href="../views/id-83e00f756ac64ebc8cdcc4865b86ff73.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-3a3b705360a548d28058f67966c7bf64.html" target="view"> Laki kulttuuriaineistojen tallettamisesta ja säilyttämisestä </a> </td>
											    <td> <a href="../views/id-3a3b705360a548d28058f67966c7bf64.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-c8532f2bcd504926986b784737ca5ed2.html" target="view"> Laki kuntien kulttuuritoiminnasta </a> </td>
											    <td> <a href="../views/id-c8532f2bcd504926986b784737ca5ed2.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-7c3bcdb8c88e4592aab273f1eda1c714.html" target="view"> Laki museovirastosta </a> </td>
											    <td> <a href="../views/id-7c3bcdb8c88e4592aab273f1eda1c714.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-f41076ac9bf34cf8bfad89859e99ec8c.html" target="view"> Laki Taiteen edistämiskeskuksesta </a> </td>
											    <td> <a href="../views/id-f41076ac9bf34cf8bfad89859e99ec8c.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-3f93285def2b44cdb3215cbbf28a0fab.html" target="view"> Laki valtion rahoituksesta elokuvakulttuurin edistämiseen </a> </td>
											    <td> <a href="../views/id-3f93285def2b44cdb3215cbbf28a0fab.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-0b6f776c95404a82bc4ef3444457437e.html" target="view"> Laki valtion rahoituksesta kansallisille taidelaitoksille </a> </td>
											    <td> <a href="../views/id-0b6f776c95404a82bc4ef3444457437e.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-7a10755364ba4b1280bbb09ad244f23e.html" target="view"> Laki vapaasta sivistystyöstä </a> </td>
											    <td> <a href="../views/id-7a10755364ba4b1280bbb09ad244f23e.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-cfa578abe2054aff823940fbedd75c64.html" target="view"> Muinaismuistolaki ja Laki rakennusperinnön suojelemisesta </a> </td>
											    <td> <a href="../views/id-cfa578abe2054aff823940fbedd75c64.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-0e67e5a1e5594f8c91b2a409a177296b.html" target="view"> Luonnonsuojelulaki </a> </td>
											    <td> <a href="../views/id-0e67e5a1e5594f8c91b2a409a177296b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>