<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Digime viitearkkitehtuuri</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Digime viitearkkitehtuuri</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-40b572a4128d4221a46374c0bb397c84.png" alt="Digime viitearkkitehtuuri" usemap="#id-40b572a4128d4221a46374c0bb397c84map"/>
			   <map name="id-40b572a4128d4221a46374c0bb397c84map">
				  		<area shape="rect" coords="310,82,430,137" href="../views/id-4004b1be24784ee18c112f7b74aa51aa.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="458,250,610,305" href="../views/id-16ac5ec38c8648d8bdb1c1491fe664c5.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,250,130,305" href="../views/id-ecf66ef1ff5043af8573d94d9930bf40.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="454,166,574,221" href="../views/id-acc993eab31d48d2bd42adfc1402876e.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="322,166,442,221" href="../views/id-7220adcc28dd47c5933ce2cf55bde3e4.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="46,166,173,221" href="../views/id-def0a282f9b74796b473e94dc2221317.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="238,10,358,65" href="../views/id-69db7756ded34187a917bb86837c8dfb.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="154,82,292,137" href="../views/id-47af1952a47f4a66a3500c67b766c5c3.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="285,250,441,305" href="../views/id-e737c5098c934433bc07f93247ec93cd.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="142,250,262,305" href="../views/id-cb8b0052fd6f45ec8127ca68efe16ab7.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="190,166,310,221" href="../views/id-3d8fb223a4c7405b8c9ae2506fcb048b.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-3d8fb223a4c7405b8c9ae2506fcb048b.html" target="view"> Arvoketjut </a> </td>
											    <td> <a href="../views/id-3d8fb223a4c7405b8c9ae2506fcb048b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-cb8b0052fd6f45ec8127ca68efe16ab7.html" target="view"> Tietovirrat </a> </td>
											    <td> <a href="../views/id-cb8b0052fd6f45ec8127ca68efe16ab7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-e737c5098c934433bc07f93247ec93cd.html" target="view"> Vuorovaikutukset </a> </td>
											    <td> <a href="../views/id-e737c5098c934433bc07f93247ec93cd.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-47af1952a47f4a66a3500c67b766c5c3.html" target="view"> Lainsäädäntö </a> </td>
											    <td> <a href="../views/id-47af1952a47f4a66a3500c67b766c5c3.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-69db7756ded34187a917bb86837c8dfb.html" target="view"> Metamallit </a> </td>
											    <td> <a href="../views/id-69db7756ded34187a917bb86837c8dfb.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-def0a282f9b74796b473e94dc2221317.html" target="view"> Arvotekijät </a> </td>
											    <td> <a href="../views/id-def0a282f9b74796b473e94dc2221317.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-7220adcc28dd47c5933ce2cf55bde3e4.html" target="view"> Arvovirrat </a> </td>
											    <td> <a href="../views/id-7220adcc28dd47c5933ce2cf55bde3e4.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-acc993eab31d48d2bd42adfc1402876e.html" target="view"> Arvovirrat (Tarkempi) </a> </td>
											    <td> <a href="../views/id-acc993eab31d48d2bd42adfc1402876e.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-ecf66ef1ff5043af8573d94d9930bf40.html" target="view"> Palvelukartta </a> </td>
											    <td> <a href="../views/id-ecf66ef1ff5043af8573d94d9930bf40.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-16ac5ec38c8648d8bdb1c1491fe664c5.html" target="view"> Kyvykkyyskartta </a> </td>
											    <td> <a href="../views/id-16ac5ec38c8648d8bdb1c1491fe664c5.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-4004b1be24784ee18c112f7b74aa51aa.html" target="view"> Käsitemallit </a> </td>
											    <td> <a href="../views/id-4004b1be24784ee18c112f7b74aa51aa.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>