<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Palvelukartta V4</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Palvelukartta V4</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5362c5d789de4cae87d416de1feed62b.png" alt="Palvelukartta V4" usemap="#id-5362c5d789de4cae87d416de1feed62bmap"/>
			   <map name="id-5362c5d789de4cae87d416de1feed62bmap">
				  		<area shape="rect" coords="430,226,656,281" href="../elements/id-019814d47a364205946d89c052142389.html"  target="element">
				  				<area shape="rect" coords="562,516,719,571" href="../elements/id-516931caa2a1452584a5daf7a306494e.html"  target="element">
				  				<area shape="rect" coords="562,444,719,499" href="../elements/id-15efb531098e4207b0069fce108cb283.html"  target="element">

				  		<area shape="rect" coords="538,408,743,815" href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html"  target="element">
				  				<area shape="rect" coords="490,70,635,125" href="../elements/id-46a4714cb4444b68a4b7d23e6f58acee.html"  target="element">
				  				<area shape="rect" coords="262,72,455,124" href="../elements/id-366ff1e776ef4151b63dfbc2699a604e.html"  target="element">
				  				<area shape="rect" coords="34,70,227,125" href="../elements/id-94863ae8b01047c8a30fa830e7b9596b.html"  target="element">

				  		<area shape="rect" coords="10,10,983,173" href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html"  target="element">
				  				<area shape="rect" coords="754,898,923,953" href="../elements/id-7bf0497144a64c3390165cc3ca506958.html"  target="element">
				  				<area shape="rect" coords="575,982,731,1037" href="../elements/id-ca8df1b8e1b04842843db2ebfa29a68a.html"  target="element">
				  				<area shape="rect" coords="574,898,731,953" href="../elements/id-e78c8375bab548ad87cca152146d6b70.html"  target="element">
				  				<area shape="rect" coords="394,898,557,953" href="../elements/id-0b191dbcf3d242ac96e6244522594861.html"  target="element">
				  				<area shape="rect" coords="394,982,557,1037" href="../elements/id-c9daa9f21c2c471292a894abdc7b7854.html"  target="element">
				  				<area shape="rect" coords="205,982,381,1037" href="../elements/id-9facad923b8947cb9cdd8af6862e7fbf.html"  target="element">
				  				<area shape="rect" coords="202,898,383,953" href="../elements/id-403ed574671b4a88ad2b45a1b8a403f6.html"  target="element">
				  				<area shape="rect" coords="30,898,187,953" href="../elements/id-493247d6af234816874b8ce7a0a752ad.html"  target="element">
				  				<area shape="rect" coords="30,982,187,1037" href="../elements/id-697717fa4f8e4e6f98ac3fa8c845c281.html"  target="element">

				  		<area shape="rect" coords="10,838,983,1082" href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html"  target="element">
				  				<area shape="rect" coords="804,454,958,509" href="../elements/id-d51f914e91664346a6b7923ab09d3213.html"  target="element">
				  				<area shape="rect" coords="804,598,958,653" href="../elements/id-97592c23b5b64ccf9aeb7525b5a15b57.html"  target="element">
				  				<area shape="rect" coords="804,526,961,581" href="../elements/id-889052ce70af456080990f4a8b1ccad0.html"  target="element">

				  		<area shape="rect" coords="778,406,983,815" href="../elements/id-165fdce4a8844a3286bf8e00683af1ba.html"  target="element">
				  				<area shape="rect" coords="310,612,480,667" href="../elements/id-dd7e3e0370f243b4a3b30b64ac14e880.html"  target="element">
				  				<area shape="rect" coords="309,540,481,595" href="../elements/id-e5768bab803e42078a7ac73685197dd3.html"  target="element">
				  				<area shape="rect" coords="310,468,480,523" href="../elements/id-927e3bbe72ef4009996e55998fefd417.html"  target="element">

				  		<area shape="rect" coords="286,408,503,815" href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html"  target="element">
				  				<area shape="rect" coords="30,672,203,727" href="../elements/id-a3eea84721df451eae8b569ee3a82aba.html"  target="element">
				  				<area shape="rect" coords="31,600,203,655" href="../elements/id-1afedf3a13734a14a4770b44b3cda8d2.html"  target="element">
				  				<area shape="rect" coords="31,528,203,583" href="../elements/id-64a9c2df5299409f80eb2553be6523cb.html"  target="element">
				  				<area shape="rect" coords="31,456,203,511" href="../elements/id-1f69af393404425ab6cd7faa83b573e0.html"  target="element">

				  		<area shape="rect" coords="10,408,227,817" href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element"> Kartuttaminen </a> </td>
											    <td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1f69af393404425ab6cd7faa83b573e0.html" target="element"> Arvonm&#228;&#228;ritys ja seulonta </a> </td>
													    <td> <a href="../elements/id-1f69af393404425ab6cd7faa83b573e0.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-64a9c2df5299409f80eb2553be6523cb.html" target="element"> Digitointi </a> </td>
													    <td> <a href="../elements/id-64a9c2df5299409f80eb2553be6523cb.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1afedf3a13734a14a4770b44b3cda8d2.html" target="element"> Digitaalisten aineistojen kokoaminen </a> </td>
													    <td> <a href="../elements/id-1afedf3a13734a14a4770b44b3cda8d2.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a3eea84721df451eae8b569ee3a82aba.html" target="element"> Pitk&#228;aikaiss&#228;ilytyksen paketointipalvelu </a> </td>
													    <td> <a href="../elements/id-a3eea84721df451eae8b569ee3a82aba.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
											    <td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-927e3bbe72ef4009996e55998fefd417.html" target="element"> Aineistojenhallinta </a> </td>
													    <td> <a href="../elements/id-927e3bbe72ef4009996e55998fefd417.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e5768bab803e42078a7ac73685197dd3.html" target="element"> Aineettoman kulttuuriperinn&#246;n palvelu </a> </td>
													    <td> <a href="../elements/id-e5768bab803e42078a7ac73685197dd3.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dd7e3e0370f243b4a3b30b64ac14e880.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
													    <td> <a href="../elements/id-dd7e3e0370f243b4a3b30b64ac14e880.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-165fdce4a8844a3286bf8e00683af1ba.html" target="element"> Uudelleenk&#228;ytt&#246; </a> </td>
											    <td> <a href="../elements/id-165fdce4a8844a3286bf8e00683af1ba.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-889052ce70af456080990f4a8b1ccad0.html" target="element"> Opetus </a> </td>
													    <td> <a href="../elements/id-889052ce70af456080990f4a8b1ccad0.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-97592c23b5b64ccf9aeb7525b5a15b57.html" target="element"> Lis&#228;arvo </a> </td>
													    <td> <a href="../elements/id-97592c23b5b64ccf9aeb7525b5a15b57.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d51f914e91664346a6b7923ab09d3213.html" target="element"> Tutkimus </a> </td>
													    <td> <a href="../elements/id-d51f914e91664346a6b7923ab09d3213.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
											    <td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-697717fa4f8e4e6f98ac3fa8c845c281.html" target="element"> Paikkatieto </a> </td>
													    <td> <a href="../elements/id-697717fa4f8e4e6f98ac3fa8c845c281.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-493247d6af234816874b8ce7a0a752ad.html" target="element"> Ontologiat </a> </td>
													    <td> <a href="../elements/id-493247d6af234816874b8ce7a0a752ad.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-403ed574671b4a88ad2b45a1b8a403f6.html" target="element"> Tunnistautuminen </a> </td>
													    <td> <a href="../elements/id-403ed574671b4a88ad2b45a1b8a403f6.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9facad923b8947cb9cdd8af6862e7fbf.html" target="element"> Maksutavat </a> </td>
													    <td> <a href="../elements/id-9facad923b8947cb9cdd8af6862e7fbf.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c9daa9f21c2c471292a894abdc7b7854.html" target="element"> Pysyv&#228;t tunnisteet </a> </td>
													    <td> <a href="../elements/id-c9daa9f21c2c471292a894abdc7b7854.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0b191dbcf3d242ac96e6244522594861.html" target="element"> Integraatiot </a> </td>
													    <td> <a href="../elements/id-0b191dbcf3d242ac96e6244522594861.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e78c8375bab548ad87cca152146d6b70.html" target="element"> Viitetiedot </a> </td>
													    <td> <a href="../elements/id-e78c8375bab548ad87cca152146d6b70.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ca8df1b8e1b04842843db2ebfa29a68a.html" target="element"> Teko&#228;ly </a> </td>
													    <td> <a href="../elements/id-ca8df1b8e1b04842843db2ebfa29a68a.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7bf0497144a64c3390165cc3ca506958.html" target="element"> Dataekosysteemi tai alusta </a> </td>
													    <td> <a href="../elements/id-7bf0497144a64c3390165cc3ca506958.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element"> Ohjaus ja neuvonta </a> </td>
											    <td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-94863ae8b01047c8a30fa830e7b9596b.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-94863ae8b01047c8a30fa830e7b9596b.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-366ff1e776ef4151b63dfbc2699a604e.html" target="element"> K&#228;yt&#246;n ja vaikuttavuuden seuranta </a> </td>
													    <td> <a href="../elements/id-366ff1e776ef4151b63dfbc2699a604e.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-46a4714cb4444b68a4b7d23e6f58acee.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;yt&#246;n edist&#228;minen </a> </td>
													    <td> <a href="../elements/id-46a4714cb4444b68a4b7d23e6f58acee.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
											    <td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-15efb531098e4207b0069fce108cb283.html" target="element"> Haku </a> </td>
													    <td> <a href="../elements/id-15efb531098e4207b0069fce108cb283.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-516931caa2a1452584a5daf7a306494e.html" target="element"> Saatavuus </a> </td>
													    <td> <a href="../elements/id-516931caa2a1452584a5daf7a306494e.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-019814d47a364205946d89c052142389.html" target="element"> Kulttuuriperint&#246;aineistopalvelu </a> </td>
											    <td> <a href="../elements/id-019814d47a364205946d89c052142389.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-87b15cb286bc4446940ef67b3545a18d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87b15cb286bc4446940ef67b3545a18d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element"> Kartuttaminen </a> </td>
																		<td> <a href="../elements/id-a3eea84721df451eae8b569ee3a82aba.html" target="element"> Pitk&#228;aikaiss&#228;ilytyksen paketointipalvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a323ae4a148d463ea737a0febcfccc21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a323ae4a148d463ea737a0febcfccc21.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element"> Kartuttaminen </a> </td>
																		<td> <a href="../elements/id-1afedf3a13734a14a4770b44b3cda8d2.html" target="element"> Digitaalisten aineistojen kokoaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ceede19198c94fd59820af640010fda9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ceede19198c94fd59820af640010fda9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element"> Kartuttaminen </a> </td>
																		<td> <a href="../elements/id-1f69af393404425ab6cd7faa83b573e0.html" target="element"> Arvonm&#228;&#228;ritys ja seulonta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6aee31653abc464a83edc54370d3d671.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6aee31653abc464a83edc54370d3d671.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element"> Kartuttaminen </a> </td>
																		<td> <a href="../elements/id-64a9c2df5299409f80eb2553be6523cb.html" target="element"> Digitointi </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-716c7e2371f544e1b1aa65414faa5b78.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-716c7e2371f544e1b1aa65414faa5b78.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
																		<td> <a href="../elements/id-927e3bbe72ef4009996e55998fefd417.html" target="element"> Aineistojenhallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6b3e32db04c543d6895ac38353a7f799.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b3e32db04c543d6895ac38353a7f799.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
																		<td> <a href="../elements/id-e5768bab803e42078a7ac73685197dd3.html" target="element"> Aineettoman kulttuuriperinn&#246;n palvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7097352f4cc048c2b80921b0cdb4ff03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7097352f4cc048c2b80921b0cdb4ff03.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
																		<td> <a href="../elements/id-dd7e3e0370f243b4a3b30b64ac14e880.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5234b81226274b8eb64533d190a0cbc8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5234b81226274b8eb64533d190a0cbc8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-165fdce4a8844a3286bf8e00683af1ba.html" target="element"> Uudelleenk&#228;ytt&#246; </a> </td>
																		<td> <a href="../elements/id-d51f914e91664346a6b7923ab09d3213.html" target="element"> Tutkimus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1762aeb8dafa41b8bd93c44bf6d0742a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1762aeb8dafa41b8bd93c44bf6d0742a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-165fdce4a8844a3286bf8e00683af1ba.html" target="element"> Uudelleenk&#228;ytt&#246; </a> </td>
																		<td> <a href="../elements/id-97592c23b5b64ccf9aeb7525b5a15b57.html" target="element"> Lis&#228;arvo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-09785770984546429c3e7b9d86d4db7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09785770984546429c3e7b9d86d4db7b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-165fdce4a8844a3286bf8e00683af1ba.html" target="element"> Uudelleenk&#228;ytt&#246; </a> </td>
																		<td> <a href="../elements/id-889052ce70af456080990f4a8b1ccad0.html" target="element"> Opetus </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-dfb994e50c574b95835aa4b084adcce9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dfb994e50c574b95835aa4b084adcce9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-c9daa9f21c2c471292a894abdc7b7854.html" target="element"> Pysyv&#228;t tunnisteet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6c64263b36de45b7afcdefba0b209e0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c64263b36de45b7afcdefba0b209e0d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-7bf0497144a64c3390165cc3ca506958.html" target="element"> Dataekosysteemi tai alusta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5dbe0caec9cb450ab951e24b42f6022e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5dbe0caec9cb450ab951e24b42f6022e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-403ed574671b4a88ad2b45a1b8a403f6.html" target="element"> Tunnistautuminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6e99cf9a4f9046c9b78c82c77cc1e465.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e99cf9a4f9046c9b78c82c77cc1e465.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-ca8df1b8e1b04842843db2ebfa29a68a.html" target="element"> Teko&#228;ly </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bff837b4496b4b2aaa1da9a8987086ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bff837b4496b4b2aaa1da9a8987086ef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-493247d6af234816874b8ce7a0a752ad.html" target="element"> Ontologiat </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6eed9ee1f62e4cfaa7239458247f2a33.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6eed9ee1f62e4cfaa7239458247f2a33.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-9facad923b8947cb9cdd8af6862e7fbf.html" target="element"> Maksutavat </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed22dfeea65a430398b90c8ebceda393.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed22dfeea65a430398b90c8ebceda393.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-697717fa4f8e4e6f98ac3fa8c845c281.html" target="element"> Paikkatieto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-61eafe9cd06a4183b06e7ee426265dd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61eafe9cd06a4183b06e7ee426265dd8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-0b191dbcf3d242ac96e6244522594861.html" target="element"> Integraatiot </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e2a18a91557c44efbcea30361d82b4e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e2a18a91557c44efbcea30361d82b4e3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-e78c8375bab548ad87cca152146d6b70.html" target="element"> Viitetiedot </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-6f60659aaf2c453fac99305705e0a7eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f60659aaf2c453fac99305705e0a7eb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element"> Ohjaus ja neuvonta </a> </td>
																		<td> <a href="../elements/id-366ff1e776ef4151b63dfbc2699a604e.html" target="element"> K&#228;yt&#246;n ja vaikuttavuuden seuranta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b24ba3dcbeda4b0392ec52760a9b7037.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b24ba3dcbeda4b0392ec52760a9b7037.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element"> Ohjaus ja neuvonta </a> </td>
																		<td> <a href="../elements/id-94863ae8b01047c8a30fa830e7b9596b.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f888f71f2fb48ddae2a66b6b54a75fd.html" target="element"> Ohjaa ja tukee kehityst&#228; </a> </td>
																		<td> <a href="../elements/id-6f888f71f2fb48ddae2a66b6b54a75fd.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element"> Ohjaus ja neuvonta </a> </td>
																		<td> <a href="../elements/id-019814d47a364205946d89c052142389.html" target="element"> Kulttuuriperint&#246;aineistopalvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-db0382df632943398e3ca48d9a79ac07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db0382df632943398e3ca48d9a79ac07.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element"> Ohjaus ja neuvonta </a> </td>
																		<td> <a href="../elements/id-46a4714cb4444b68a4b7d23e6f58acee.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;yt&#246;n edist&#228;minen </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7c37780db2754a5bbf9331ae8b00208e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c37780db2754a5bbf9331ae8b00208e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-15efb531098e4207b0069fce108cb283.html" target="element"> Haku </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e0796bfd8adf4437be2e87c0b48f2209.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0796bfd8adf4437be2e87c0b48f2209.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-516931caa2a1452584a5daf7a306494e.html" target="element"> Saatavuus </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b8cac7c15ad249d49060080ef51f2318.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8cac7c15ad249d49060080ef51f2318.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-019814d47a364205946d89c052142389.html" target="element"> Kulttuuriperint&#246;aineistopalvelu </a> </td>
																		<td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3a537f3c74bc469081fcdf54317ce841.html" target="element"> koostuu </a> </td>
																		<td> <a href="../elements/id-3a537f3c74bc469081fcdf54317ce841.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-019814d47a364205946d89c052142389.html" target="element"> Kulttuuriperint&#246;aineistopalvelu </a> </td>
																		<td> <a href="../elements/id-165fdce4a8844a3286bf8e00683af1ba.html" target="element"> Uudelleenk&#228;ytt&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-87307eac359e4f0f9fbdc738935a7dfe.html" target="element"> koostuu </a> </td>
																		<td> <a href="../elements/id-87307eac359e4f0f9fbdc738935a7dfe.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-019814d47a364205946d89c052142389.html" target="element"> Kulttuuriperint&#246;aineistopalvelu </a> </td>
																		<td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element"> Kartuttaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78f4656e17be485aa6c96229042e6e2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78f4656e17be485aa6c96229042e6e2d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-019814d47a364205946d89c052142389.html" target="element"> Kulttuuriperint&#246;aineistopalvelu </a> </td>
																		<td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c751422c0ff448cebd40b27ab054386e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c751422c0ff448cebd40b27ab054386e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-019814d47a364205946d89c052142389.html" target="element"> Kulttuuriperint&#246;aineistopalvelu </a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>