<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Business Model Canvas</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Business Model Canvas</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-CanvasModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-CanvasModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-671cb010e9dc4864a08bdafa60922edf.png" alt="Business Model Canvas" usemap="#id-671cb010e9dc4864a08bdafa60922edfmap"/>
			   <map name="id-671cb010e9dc4864a08bdafa60922edfmap">
				          <area shape="rect" coords="622,769,1151,827" href="../objects/id-e65c166191ed4bf68b251a3696f4c0f7.html" target="element" >
				          <area shape="rect" coords="579,586,1151,767" href="../objects/id-27291f297bee4e8bbeec16968086dd4b.html" target="element" >
				          <area shape="rect" coords="10,586,580,767" href="../objects/id-4ef63f8f1bb34c39a542102dee2cdaee.html" target="element" >
				          <area shape="rect" coords="922,10,1151,587" href="../objects/id-a0bf7a1932dc416086bde1504b3bdbd7.html" target="element" >
				          <area shape="rect" coords="694,298,923,587" href="../objects/id-96c7397c4f384d1db9abe63141520034.html" target="element" >
				          <area shape="rect" coords="694,10,923,299" href="../objects/id-b4716c9d8ab34ebea3eeeb88743cdef4.html" target="element" >
				          <area shape="rect" coords="466,10,695,587" href="../objects/id-55caaa851dd1464b89effba858a5f30e.html" target="element" >
				          <area shape="rect" coords="238,298,467,587" href="../objects/id-4733b362828e4f0d9a7bd294517697ae.html" target="element" >
				          <area shape="rect" coords="238,10,467,299" href="../objects/id-0a51b0778fdd4cbcb11accb9b8fea66b.html" target="element" >
				          <area shape="rect" coords="10,10,239,587" href="../objects/id-b1f3f0410a3846739c7911262d849487.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">The Business Model Canvas is a strategic management and entrepreneurial tool. It allows you to describe, design, challenge, invent, and pivot your business model. 

For more information visit http://www.businessmodelgeneration.com 

This work is licensed under the Creative Commons Attribution-Share Alike 3.0 Unported License. To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/3.0/</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-b1f3f0410a3846739c7911262d849487.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b1f3f0410a3846739c7911262d849487.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0a51b0778fdd4cbcb11accb9b8fea66b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0a51b0778fdd4cbcb11accb9b8fea66b.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4733b362828e4f0d9a7bd294517697ae.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4733b362828e4f0d9a7bd294517697ae.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-55caaa851dd1464b89effba858a5f30e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-55caaa851dd1464b89effba858a5f30e.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b4716c9d8ab34ebea3eeeb88743cdef4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b4716c9d8ab34ebea3eeeb88743cdef4.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-96c7397c4f384d1db9abe63141520034.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-96c7397c4f384d1db9abe63141520034.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a0bf7a1932dc416086bde1504b3bdbd7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a0bf7a1932dc416086bde1504b3bdbd7.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4ef63f8f1bb34c39a542102dee2cdaee.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4ef63f8f1bb34c39a542102dee2cdaee.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-27291f297bee4e8bbeec16968086dd4b.html" target="element"> Block </a> </td>
									           <td> <a href="../objects/id-27291f297bee4e8bbeec16968086dd4b.html" target="element" class="i18n-elementtype-CanvasModelBlock"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e65c166191ed4bf68b251a3696f4c0f7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e65c166191ed4bf68b251a3696f4c0f7.html" target="element" class="i18n-elementtype-CanvasModelSticky"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelBlock -->
											<!-- DEBUG: Skipping element from class com.archimatetool.canvas.model.impl.CanvasModelSticky -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>