<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kulttuuriperintöpalvelut nykytila</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kulttuuriperint&#246;palvelut nykytila</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7fe3d5666ff04ccc8f52682833f68d49.png" alt="Kulttuuriperintöpalvelut nykytila" usemap="#id-7fe3d5666ff04ccc8f52682833f68d49map"/>
			   <map name="id-7fe3d5666ff04ccc8f52682833f68d49map">
				  		<area shape="rect" coords="10,96,209,151" href="../elements/id-4c30834335634264a8bb95033939d1e9.html"  target="element">
				  		<area shape="rect" coords="1174,96,1345,151" href="../elements/id-5622e250775d49c3a6e1bb85c7744ad1.html"  target="element">
				  		<area shape="rect" coords="766,96,971,151" href="../elements/id-db4f4dee4b6e47cb968bb0fe7fc4bb07.html"  target="element">
				  				<area shape="rect" coords="1090,276,1287,331" href="../elements/id-812b373024de4fd6879109246d3fdab5.html"  target="element">
				  				<area shape="rect" coords="742,276,899,331" href="../elements/id-673188670c8b4a09be930feb0a949737.html"  target="element">
				  				<area shape="rect" coords="911,276,1073,331" href="../elements/id-59fea7466966461ea5bab4154d6b8a0f.html"  target="element">

				  		<area shape="rect" coords="730,240,1319,349" href="../elements/id-ca79998389f446438323216767c545af.html"  target="element">
				  		<area shape="rect" coords="346,288,551,337" href="../elements/id-4b9febd8dbb443c9afeec4c89f0374d1.html"  target="element">
				  		<area shape="rect" coords="346,96,551,151" href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html" target="element"> Hallinnointi ja yll&#228;pitopalvelu </a> </td>
											    <td> <a href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4b9febd8dbb443c9afeec4c89f0374d1.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
											    <td> <a href="../elements/id-4b9febd8dbb443c9afeec4c89f0374d1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element"> Tukipalvelu </a> </td>
											    <td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-59fea7466966461ea5bab4154d6b8a0f.html" target="element"> Viite- ja nimitietopalvelut </a> </td>
													    <td> <a href="../elements/id-59fea7466966461ea5bab4154d6b8a0f.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-673188670c8b4a09be930feb0a949737.html" target="element"> Ontologiapalvelu </a> </td>
													    <td> <a href="../elements/id-673188670c8b4a09be930feb0a949737.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-812b373024de4fd6879109246d3fdab5.html" target="element"> Pysyvien tunnisteiden palvelu </a> </td>
													    <td> <a href="../elements/id-812b373024de4fd6879109246d3fdab5.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-db4f4dee4b6e47cb968bb0fe7fc4bb07.html" target="element"> K&#228;ytt&#246;&#246;nsaattopalvelu (Finna) </a> </td>
											    <td> <a href="../elements/id-db4f4dee4b6e47cb968bb0fe7fc4bb07.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5622e250775d49c3a6e1bb85c7744ad1.html" target="element"> K&#228;ytt&#246;palvelu (Asiakasliittym&#228;) </a> </td>
											    <td> <a href="../elements/id-5622e250775d49c3a6e1bb85c7744ad1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c30834335634264a8bb95033939d1e9.html" target="element"> Hankinta tai vastaanottopalvelu </a> </td>
											    <td> <a href="../elements/id-4c30834335634264a8bb95033939d1e9.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-8d377adf9e4f4fa2ad6ae1df2dbd3580.html" target="element"> Digitaalinen aineisto ja kuvailu </a> </td>
																		<td> <a href="../elements/id-8d377adf9e4f4fa2ad6ae1df2dbd3580.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html" target="element"> Hallinnointi ja yll&#228;pitopalvelu </a> </td>
																		<td> <a href="../elements/id-4b9febd8dbb443c9afeec4c89f0374d1.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-651236b9bf054bf98f1ad8fd87da3ea7.html" target="element"> Digitaaliset aineistot </a> </td>
																		<td> <a href="../elements/id-651236b9bf054bf98f1ad8fd87da3ea7.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html" target="element"> Hallinnointi ja yll&#228;pitopalvelu </a> </td>
																		<td> <a href="../elements/id-5622e250775d49c3a6e1bb85c7744ad1.html" target="element"> K&#228;ytt&#246;palvelu (Asiakasliittym&#228;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d4b0a7a9f9c4450e8e529635eb04344e.html" target="element"> Kuvailutiedot </a> </td>
																		<td> <a href="../elements/id-d4b0a7a9f9c4450e8e529635eb04344e.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html" target="element"> Hallinnointi ja yll&#228;pitopalvelu </a> </td>
																		<td> <a href="../elements/id-db4f4dee4b6e47cb968bb0fe7fc4bb07.html" target="element"> K&#228;ytt&#246;&#246;nsaattopalvelu (Finna) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-724d6a50baa24174908b5ac4fd1bcb45.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-724d6a50baa24174908b5ac4fd1bcb45.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element"> Tukipalvelu </a> </td>
																		<td> <a href="../elements/id-59fea7466966461ea5bab4154d6b8a0f.html" target="element"> Viite- ja nimitietopalvelut </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e1aeff134b4c438e88a5733180f6c59d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1aeff134b4c438e88a5733180f6c59d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element"> Tukipalvelu </a> </td>
																		<td> <a href="../elements/id-673188670c8b4a09be930feb0a949737.html" target="element"> Ontologiapalvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1afac6f802534701a68732716aaf4e90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1afac6f802534701a68732716aaf4e90.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element"> Tukipalvelu </a> </td>
																		<td> <a href="../elements/id-812b373024de4fd6879109246d3fdab5.html" target="element"> Pysyvien tunnisteiden palvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc3df72ffa08415bba2a5ff5655407be.html" target="element"> Tukee </a> </td>
																		<td> <a href="../elements/id-bc3df72ffa08415bba2a5ff5655407be.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element"> Tukipalvelu </a> </td>
																		<td> <a href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html" target="element"> Hallinnointi ja yll&#228;pitopalvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ab85028f9a1a429a8b3f26f62bdbdb70.html" target="element"> Tukee </a> </td>
																		<td> <a href="../elements/id-ab85028f9a1a429a8b3f26f62bdbdb70.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element"> Tukipalvelu </a> </td>
																		<td> <a href="../elements/id-4b9febd8dbb443c9afeec4c89f0374d1.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e015d7f5d024c138e31d57fc951a4c5.html" target="element"> Tukee </a> </td>
																		<td> <a href="../elements/id-7e015d7f5d024c138e31d57fc951a4c5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element"> Tukipalvelu </a> </td>
																		<td> <a href="../elements/id-5622e250775d49c3a6e1bb85c7744ad1.html" target="element"> K&#228;ytt&#246;palvelu (Asiakasliittym&#228;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7abb852a422f4604ba0d82e71884b215.html" target="element"> Tukee </a> </td>
																		<td> <a href="../elements/id-7abb852a422f4604ba0d82e71884b215.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca79998389f446438323216767c545af.html" target="element"> Tukipalvelu </a> </td>
																		<td> <a href="../elements/id-db4f4dee4b6e47cb968bb0fe7fc4bb07.html" target="element"> K&#228;ytt&#246;&#246;nsaattopalvelu (Finna) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-db34cb18c9764076943e667232f6f4ee.html" target="element"> Kuvailutiedot </a> </td>
																		<td> <a href="../elements/id-db34cb18c9764076943e667232f6f4ee.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-db4f4dee4b6e47cb968bb0fe7fc4bb07.html" target="element"> K&#228;ytt&#246;&#246;nsaattopalvelu (Finna) </a> </td>
																		<td> <a href="../elements/id-5622e250775d49c3a6e1bb85c7744ad1.html" target="element"> K&#228;ytt&#246;palvelu (Asiakasliittym&#228;) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a514ff67832345d9a1ed5dcb5d55f818.html" target="element"> Aineisto ja kuvailu </a> </td>
																		<td> <a href="../elements/id-a514ff67832345d9a1ed5dcb5d55f818.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c30834335634264a8bb95033939d1e9.html" target="element"> Hankinta tai vastaanottopalvelu </a> </td>
																		<td> <a href="../elements/id-8e65ba9a60204b4990fb763f182155c6.html" target="element"> Hallinnointi ja yll&#228;pitopalvelu </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>