<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Laki museovirastosta</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Laki museovirastosta</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7c3bcdb8c88e4592aab273f1eda1c714.png" alt="Laki museovirastosta" usemap="#id-7c3bcdb8c88e4592aab273f1eda1c714map"/>
			   <map name="id-7c3bcdb8c88e4592aab273f1eda1c714map">
				  		<area shape="rect" coords="1150,661,1439,716" href="../elements/id-ad80c72c55b8499086fc2a22b872793e.html"  target="element">
				  		<area shape="rect" coords="886,661,1127,716" href="../elements/id-bf9b02238a8b4aeb8e8e25ea7dc90acc.html"  target="element">
				  		<area shape="rect" coords="550,661,862,716" href="../elements/id-067ea47f06b6458492ab9f9fe94e13d4.html"  target="element">
				  		<area shape="rect" coords="332,664,515,719" href="../elements/id-c602b82c5f40452d9cf206eedb4f9d2b.html"  target="element">
				  		<area shape="rect" coords="79,661,287,716" href="../elements/id-ebd2a7fcbdc34bc69d782383d81d3e56.html"  target="element">
				  		<area shape="rect" coords="970,574,1410,629" href="../elements/id-dadf766b7b7a4cf2962786b41a6d306c.html"  target="element">
				  		<area shape="rect" coords="488,574,950,629" href="../elements/id-74a4c4cc1bb24272a31616870a3cbbd4.html"  target="element">
				  		<area shape="rect" coords="22,574,467,629" href="../elements/id-5d62a2694f6c46ec98a4baf0426e3a0e.html"  target="element">
				  		<area shape="rect" coords="934,486,1391,550" href="../elements/id-ef17a3302f434fd4879fd7bd08896da8.html"  target="element">
				  		<area shape="rect" coords="718,490,923,545" href="../elements/id-636743ec09aa44629d440a57905ffddc.html"  target="element">
				  		<area shape="rect" coords="262,490,711,545" href="../elements/id-dbfd7110a1e8431da4960a835f12f388.html"  target="element">
				  		<area shape="rect" coords="10,490,251,545" href="../elements/id-39099bf6fc2941c09e144c9e06379b04.html"  target="element">
				  		<area shape="rect" coords="670,778,867,833" href="../elements/id-d79cb99521bc47c094c3626aeb68d89a.html"  target="element">
				  		<area shape="rect" coords="1426,370,1763,443" href="../elements/id-b2eba19f280648dfb0fd7ff70d1870c3.html"  target="element">
				  		<area shape="rect" coords="1534,562,1775,617" href="../elements/id-f3339f7b13f94aae939535d399b55e4d.html"  target="element">
				  		<area shape="rect" coords="830,358,950,413" href="../elements/id-5683dff7401f4eee949ef007d4ad8bd8.html"  target="element">
				  		<area shape="rect" coords="802,10,977,65" href="../elements/id-d0d28f34414443bb83814a2defda7524.html"  target="element">
				  		<area shape="rect" coords="1282,178,1703,233" href="../elements/id-7e98b77cf13942e085d6c31a8c89cc2a.html"  target="element">
				  		<area shape="rect" coords="910,178,1235,233" href="../elements/id-39f481d922124c7a88ed85cd6cc6ccb9.html"  target="element">
				  		<area shape="rect" coords="514,178,842,233" href="../elements/id-130f632d8dab4bcabd05d56535093083.html"  target="element">
				  		<area shape="rect" coords="70,178,467,233" href="../elements/id-881981f3c7754599a145f8bccc4e49b2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-881981f3c7754599a145f8bccc4e49b2.html" target="element"> Huolehtia kulttuurihistoriallisen kansallisomaisuuden kartuttamisesta, hoidosta ja n&#228;ytteill&#228;pidosta </a> </td>
											    <td> <a href="../elements/id-881981f3c7754599a145f8bccc4e49b2.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-130f632d8dab4bcabd05d56535093083.html" target="element"> Toimia kulttuuriperinn&#246;n ja -ymp&#228;rist&#246;n suojelusta vastaavana asiantuntijaviranomaisena </a> </td>
											    <td> <a href="../elements/id-130f632d8dab4bcabd05d56535093083.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-39f481d922124c7a88ed85cd6cc6ccb9.html" target="element"> Vastata muinaisj&#228;&#228;nn&#246;sten ja, jollei asia kuulu muun viranomaisen toimialaan, kulttuuriymp&#228;rist&#246;n hoidosta ja valvonnasta </a> </td>
											    <td> <a href="../elements/id-39f481d922124c7a88ed85cd6cc6ccb9.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7e98b77cf13942e085d6c31a8c89cc2a.html" target="element"> Huolehtia kulttuuriperinn&#246;n tutkimisesta ja kulttuuriperint&#246;&#228; koskevan tiedon tallentamisesta, s&#228;ilytt&#228;misest&#228; ja k&#228;ytett&#228;v&#228;ksi saattamisesta </a> </td>
											    <td> <a href="../elements/id-7e98b77cf13942e085d6c31a8c89cc2a.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0d28f34414443bb83814a2defda7524.html" target="element"> Laki museovirastosta </a> </td>
											    <td> <a href="../elements/id-d0d28f34414443bb83814a2defda7524.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5683dff7401f4eee949ef007d4ad8bd8.html" target="element"> Museovirasto </a> </td>
											    <td> <a href="../elements/id-5683dff7401f4eee949ef007d4ad8bd8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3339f7b13f94aae939535d399b55e4d.html" target="element"> Laki kulttuuriesineiden maastaviennin rajoittamisesta </a> </td>
											    <td> <a href="../elements/id-f3339f7b13f94aae939535d399b55e4d.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b2eba19f280648dfb0fd7ff70d1870c3.html" target="element"> Taiteellisten, historiallisten ja arkeologisten kulttuuriesineiden maastaviennin rajoittaminen kansalliseen kulttuuriperint&#246;&#246;n kuuluvien kansallisaarteiden suojelemiseksi </a> </td>
											    <td> <a href="../elements/id-b2eba19f280648dfb0fd7ff70d1870c3.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d79cb99521bc47c094c3626aeb68d89a.html" target="element"> Valtioneuvoston asetus Museovirastosta </a> </td>
											    <td> <a href="../elements/id-d79cb99521bc47c094c3626aeb68d89a.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-39099bf6fc2941c09e144c9e06379b04.html" target="element"> Johtaa ja kehitt&#228;&#228; maan yleist&#228; museotointa </a> </td>
											    <td> <a href="../elements/id-39099bf6fc2941c09e144c9e06379b04.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dbfd7110a1e8431da4960a835f12f388.html" target="element"> Huolehtia kulttuuriymp&#228;rist&#246;n suojelusta ja sen valvonnasta sek&#228; alan kehitt&#228;misest&#228;, jollei asia kuulu muun viranomaisen toimialaan </a> </td>
											    <td> <a href="../elements/id-dbfd7110a1e8431da4960a835f12f388.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-636743ec09aa44629d440a57905ffddc.html" target="element"> Yll&#228;pit&#228;&#228; museoita ja j&#228;rjest&#228;&#228; n&#228;yttelyit&#228; </a> </td>
											    <td> <a href="../elements/id-636743ec09aa44629d440a57905ffddc.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ef17a3302f434fd4879fd7bd08896da8.html" target="element"> Suorittaa arkeologian, historian, kansatieteen, merihistorian, numismatiikan, rakennushistorian ja taidehistorian alaan kuuluvaa tallennusta ja tutkimusta ja harjoittaa alan julkaisutoimintaa </a> </td>
											    <td> <a href="../elements/id-ef17a3302f434fd4879fd7bd08896da8.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5d62a2694f6c46ec98a4baf0426e3a0e.html" target="element"> Huolehtia arkeologisen, meriarkeologisen ja kulttuurihistoriallisen aineiston konservoinnista sek&#228; antaa restaurointialan ohjausta </a> </td>
											    <td> <a href="../elements/id-5d62a2694f6c46ec98a4baf0426e3a0e.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-74a4c4cc1bb24272a31616870a3cbbd4.html" target="element"> Toimia valtion kiinteist&#246;varallisuuden haltijavirastona ja rakennuttajana muinaisj&#228;&#228;nn&#246;skohteissa ja viraston kiinteist&#246;iss&#228; </a> </td>
											    <td> <a href="../elements/id-74a4c4cc1bb24272a31616870a3cbbd4.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dadf766b7b7a4cf2962786b41a6d306c.html" target="element"> Yll&#228;pit&#228;&#228; ja edist&#228;&#228; alansa kansainv&#228;lisi&#228; yhteyksi&#228; ja edist&#228;&#228; suomalaisen kulttuuriperinn&#246;n tunnettuisuutta ulkomailla </a> </td>
											    <td> <a href="../elements/id-dadf766b7b7a4cf2962786b41a6d306c.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ebd2a7fcbdc34bc69d782383d81d3e56.html" target="element"> V&#228;litt&#228;&#228; tietoa my&#246;s muiden kansojen kulttuurista </a> </td>
											    <td> <a href="../elements/id-ebd2a7fcbdc34bc69d782383d81d3e56.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c602b82c5f40452d9cf206eedb4f9d2b.html" target="element"> Lis&#228;t&#228; yleis&#246;n tietoisuutta ja tuntemusta kulttuuriperinn&#246;st&#228; </a> </td>
											    <td> <a href="../elements/id-c602b82c5f40452d9cf206eedb4f9d2b.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-067ea47f06b6458492ab9f9fe94e13d4.html" target="element"> Huolehtia viraston toimialaa koskevan lains&#228;&#228;d&#228;nn&#246;n toteutumisesta yhdess&#228; muiden viranomaisten ja muun museolaitoksen kanssa </a> </td>
											    <td> <a href="../elements/id-067ea47f06b6458492ab9f9fe94e13d4.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf9b02238a8b4aeb8e8e25ea7dc90acc.html" target="element"> Hoitaa valtionavustusten my&#246;nt&#228;miseen liittyv&#228;t teht&#228;v&#228;t </a> </td>
											    <td> <a href="../elements/id-bf9b02238a8b4aeb8e8e25ea7dc90acc.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ad80c72c55b8499086fc2a22b872793e.html" target="element"> Hoitaa muut teht&#228;v&#228;t, jotka s&#228;&#228;det&#228;&#228;n tai m&#228;&#228;r&#228;t&#228;&#228;n sen teht&#228;viksi </a> </td>
											    <td> <a href="../elements/id-ad80c72c55b8499086fc2a22b872793e.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4be5038311434a4b8e0407037b0389bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4be5038311434a4b8e0407037b0389bd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0d28f34414443bb83814a2defda7524.html" target="element"> Laki museovirastosta </a> </td>
																		<td> <a href="../elements/id-881981f3c7754599a145f8bccc4e49b2.html" target="element"> Huolehtia kulttuurihistoriallisen kansallisomaisuuden kartuttamisesta, hoidosta ja n&#228;ytteill&#228;pidosta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f3738c3ac8ce40a7a6334f2c95c6c59f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3738c3ac8ce40a7a6334f2c95c6c59f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0d28f34414443bb83814a2defda7524.html" target="element"> Laki museovirastosta </a> </td>
																		<td> <a href="../elements/id-130f632d8dab4bcabd05d56535093083.html" target="element"> Toimia kulttuuriperinn&#246;n ja -ymp&#228;rist&#246;n suojelusta vastaavana asiantuntijaviranomaisena </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b8577ad3566e4d95a95f9a4e3ee00d23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8577ad3566e4d95a95f9a4e3ee00d23.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0d28f34414443bb83814a2defda7524.html" target="element"> Laki museovirastosta </a> </td>
																		<td> <a href="../elements/id-39f481d922124c7a88ed85cd6cc6ccb9.html" target="element"> Vastata muinaisj&#228;&#228;nn&#246;sten ja, jollei asia kuulu muun viranomaisen toimialaan, kulttuuriymp&#228;rist&#246;n hoidosta ja valvonnasta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f75609cd203c489f9c768114cf09cab1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f75609cd203c489f9c768114cf09cab1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0d28f34414443bb83814a2defda7524.html" target="element"> Laki museovirastosta </a> </td>
																		<td> <a href="../elements/id-7e98b77cf13942e085d6c31a8c89cc2a.html" target="element"> Huolehtia kulttuuriperinn&#246;n tutkimisesta ja kulttuuriperint&#246;&#228; koskevan tiedon tallentamisesta, s&#228;ilytt&#228;misest&#228; ja k&#228;ytett&#228;v&#228;ksi saattamisesta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f3b3e4a3ff874f06a65501e03fc017ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3b3e4a3ff874f06a65501e03fc017ae.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5683dff7401f4eee949ef007d4ad8bd8.html" target="element"> Museovirasto </a> </td>
																		<td> <a href="../elements/id-881981f3c7754599a145f8bccc4e49b2.html" target="element"> Huolehtia kulttuurihistoriallisen kansallisomaisuuden kartuttamisesta, hoidosta ja n&#228;ytteill&#228;pidosta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c672117e7044655bcfc3975b4127ebe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c672117e7044655bcfc3975b4127ebe.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5683dff7401f4eee949ef007d4ad8bd8.html" target="element"> Museovirasto </a> </td>
																		<td> <a href="../elements/id-130f632d8dab4bcabd05d56535093083.html" target="element"> Toimia kulttuuriperinn&#246;n ja -ymp&#228;rist&#246;n suojelusta vastaavana asiantuntijaviranomaisena </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ebba542801a6485cabb67f47954feaa1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ebba542801a6485cabb67f47954feaa1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5683dff7401f4eee949ef007d4ad8bd8.html" target="element"> Museovirasto </a> </td>
																		<td> <a href="../elements/id-39f481d922124c7a88ed85cd6cc6ccb9.html" target="element"> Vastata muinaisj&#228;&#228;nn&#246;sten ja, jollei asia kuulu muun viranomaisen toimialaan, kulttuuriymp&#228;rist&#246;n hoidosta ja valvonnasta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3c61f032ffca4be6917e9241ac879e93.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c61f032ffca4be6917e9241ac879e93.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5683dff7401f4eee949ef007d4ad8bd8.html" target="element"> Museovirasto </a> </td>
																		<td> <a href="../elements/id-7e98b77cf13942e085d6c31a8c89cc2a.html" target="element"> Huolehtia kulttuuriperinn&#246;n tutkimisesta ja kulttuuriperint&#246;&#228; koskevan tiedon tallentamisesta, s&#228;ilytt&#228;misest&#228; ja k&#228;ytett&#228;v&#228;ksi saattamisesta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e9eb22a5564b4c12b238d2853d07ce2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9eb22a5564b4c12b238d2853d07ce2e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5683dff7401f4eee949ef007d4ad8bd8.html" target="element"> Museovirasto </a> </td>
																		<td> <a href="../elements/id-b2eba19f280648dfb0fd7ff70d1870c3.html" target="element"> Taiteellisten, historiallisten ja arkeologisten kulttuuriesineiden maastaviennin rajoittaminen kansalliseen kulttuuriperint&#246;&#246;n kuuluvien kansallisaarteiden suojelemiseksi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5cea3696932a4da6b5763b62f5b3ec28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5cea3696932a4da6b5763b62f5b3ec28.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3339f7b13f94aae939535d399b55e4d.html" target="element"> Laki kulttuuriesineiden maastaviennin rajoittamisesta </a> </td>
																		<td> <a href="../elements/id-b2eba19f280648dfb0fd7ff70d1870c3.html" target="element"> Taiteellisten, historiallisten ja arkeologisten kulttuuriesineiden maastaviennin rajoittaminen kansalliseen kulttuuriperint&#246;&#246;n kuuluvien kansallisaarteiden suojelemiseksi </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>