<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Notaatio</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Notaatio</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-73985a24244a4bdea98d08d434b4c082.png" alt="Notaatio" usemap="#id-73985a24244a4bdea98d08d434b4c082map"/>
			   <map name="id-73985a24244a4bdea98d08d434b4c082map">
				  		<area shape="rect" coords="213,526,262,581" href="../elements/id-f37387a19b19491280c39bd8b434bc8f.html"  target="element">
				  		<area shape="rect" coords="45,514,94,569" href="../elements/id-97929f0f36df4b089b71adbf7954204c.html"  target="element">
				  		<area shape="rect" coords="197,364,246,419" href="../elements/id-cb16c034b2f847ba95db1b3d5c2419c2.html"  target="element">
				  		<area shape="rect" coords="29,352,78,407" href="../elements/id-aa38323ec5c9475f905780c27c419990.html"  target="element">
				          <area shape="rect" coords="81,310,171,335" href="../objects/id-b5dcd32058374527b12e1408190b9b28.html" target="element" >
				          <area shape="rect" coords="93,484,183,509" href="../objects/id-4258b1bbccd442449a8a651b1d646448.html" target="element" >
				  		<area shape="rect" coords="24,448,84,503" href="../elements/id-4b6330594e064923bde7b75529ba3924.html"  target="element">
				  		<area shape="rect" coords="201,448,274,503" href="../elements/id-7db31b95b44a40f19a80546ea1f6c91a.html"  target="element">
				  		<area shape="rect" coords="17,274,66,329" href="../elements/id-0fb8dd2ccc014ed8a70f78e90b1355d5.html"  target="element">
				  		<area shape="rect" coords="189,274,250,329" href="../elements/id-0e656cd8ed9d40f89fa04c0ce49d5716.html"  target="element">
				  		<area shape="rect" coords="177,214,232,269" href="../elements/id-226204b7e37d4af982c7b87182bebc5d.html"  target="element">
				  		<area shape="rect" coords="10,214,70,269" href="../elements/id-274f93ffeace49c3bfef0826d8649cd9.html"  target="element">
				  		<area shape="rect" coords="177,154,226,191" href="../elements/id-90b03d4c1de1432c939c977595682075.html"  target="element">
				  		<area shape="rect" coords="21,154,70,191" href="../elements/id-2ad1e3da112f47a9997ed7a4c02cc5f8.html"  target="element">
				  		<area shape="rect" coords="177,106,226,143" href="../elements/id-72c4bf9b52d64e15910937ade535428a.html"  target="element">
				  		<area shape="rect" coords="21,106,70,143" href="../elements/id-83f10daa760e4557b64435c5d2b8cd68.html"  target="element">
				  		<area shape="rect" coords="197,406,246,443" href="../elements/id-f7367535ef1b45b4a3353fba675eaa9d.html"  target="element">
				  		<area shape="rect" coords="29,406,78,443" href="../elements/id-9222e83980924e1396059b5c4e5973c0.html"  target="element">
				  		<area shape="rect" coords="177,58,226,95" href="../elements/id-30c9a44cdda643688f07880ddc5e8448.html"  target="element">
				  		<area shape="rect" coords="21,58,70,95" href="../elements/id-5bfeb1f4edac4fd0922bd221073d9f48.html"  target="element">
				  		<area shape="rect" coords="177,10,226,47" href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html"  target="element">
				  		<area shape="rect" coords="21,10,70,47" href="../elements/id-7d5974904d3b438d8ff342693624557d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5bfeb1f4edac4fd0922bd221073d9f48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-5bfeb1f4edac4fd0922bd221073d9f48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-30c9a44cdda643688f07880ddc5e8448.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30c9a44cdda643688f07880ddc5e8448.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9222e83980924e1396059b5c4e5973c0.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-9222e83980924e1396059b5c4e5973c0.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f7367535ef1b45b4a3353fba675eaa9d.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-f7367535ef1b45b4a3353fba675eaa9d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-83f10daa760e4557b64435c5d2b8cd68.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-83f10daa760e4557b64435c5d2b8cd68.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-72c4bf9b52d64e15910937ade535428a.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-72c4bf9b52d64e15910937ade535428a.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ad1e3da112f47a9997ed7a4c02cc5f8.html" target="element">  (copy) </a> </td>
											    <td> <a href="../elements/id-2ad1e3da112f47a9997ed7a4c02cc5f8.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-90b03d4c1de1432c939c977595682075.html" target="element">  (copy) </a> </td>
											    <td> <a href="../elements/id-90b03d4c1de1432c939c977595682075.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-274f93ffeace49c3bfef0826d8649cd9.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-274f93ffeace49c3bfef0826d8649cd9.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-226204b7e37d4af982c7b87182bebc5d.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-226204b7e37d4af982c7b87182bebc5d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e656cd8ed9d40f89fa04c0ce49d5716.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-0e656cd8ed9d40f89fa04c0ce49d5716.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0fb8dd2ccc014ed8a70f78e90b1355d5.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-0fb8dd2ccc014ed8a70f78e90b1355d5.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7db31b95b44a40f19a80546ea1f6c91a.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-7db31b95b44a40f19a80546ea1f6c91a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4b6330594e064923bde7b75529ba3924.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-4b6330594e064923bde7b75529ba3924.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-4258b1bbccd442449a8a651b1d646448.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4258b1bbccd442449a8a651b1d646448.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b5dcd32058374527b12e1408190b9b28.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b5dcd32058374527b12e1408190b9b28.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-aa38323ec5c9475f905780c27c419990.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-aa38323ec5c9475f905780c27c419990.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cb16c034b2f847ba95db1b3d5c2419c2.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-cb16c034b2f847ba95db1b3d5c2419c2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97929f0f36df4b089b71adbf7954204c.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-97929f0f36df4b089b71adbf7954204c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f37387a19b19491280c39bd8b434bc8f.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-f37387a19b19491280c39bd8b434bc8f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f9e1e8c0455244b88981bfa7f87e531e.html" target="element"> palvelee </a> </td>
																		<td> <a href="../elements/id-f9e1e8c0455244b88981bfa7f87e531e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cf3bbf52237d4cfd8abd8785de808b08.html" target="element"> tietovirta </a> </td>
																		<td> <a href="../elements/id-cf3bbf52237d4cfd8abd8785de808b08.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5bfeb1f4edac4fd0922bd221073d9f48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-30c9a44cdda643688f07880ddc5e8448.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9ccb0485581d4c3b89d597d6a4055b5e.html" target="element"> erikoistuminen </a> </td>
																		<td> <a href="../elements/id-9ccb0485581d4c3b89d597d6a4055b5e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9222e83980924e1396059b5c4e5973c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7367535ef1b45b4a3353fba675eaa9d.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6a150751fdb04e3cb6f461f2a7981300.html" target="element"> realisoi </a> </td>
																		<td> <a href="../elements/id-6a150751fdb04e3cb6f461f2a7981300.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83f10daa760e4557b64435c5d2b8cd68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72c4bf9b52d64e15910937ade535428a.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-72be33960a754dffa6157f4d072898b4.html" target="element"> johtaa </a> </td>
																		<td> <a href="../elements/id-72be33960a754dffa6157f4d072898b4.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2ad1e3da112f47a9997ed7a4c02cc5f8.html" target="element">  (copy) </a> </td>
																		<td> <a href="../elements/id-90b03d4c1de1432c939c977595682075.html" target="element">  (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-82d266a16fab4c15aa8e40fd327f1995.html" target="element"> k&#228;ytt&#228;&#228; </a> </td>
																		<td> <a href="../elements/id-82d266a16fab4c15aa8e40fd327f1995.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-274f93ffeace49c3bfef0826d8649cd9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-226204b7e37d4af982c7b87182bebc5d.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e20e9126bab541e58aa98ecc081cf647.html" target="element"> koostuu </a> </td>
																		<td> <a href="../elements/id-e20e9126bab541e58aa98ecc081cf647.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0e656cd8ed9d40f89fa04c0ce49d5716.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0fb8dd2ccc014ed8a70f78e90b1355d5.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b2f086ead7e54b5a8642cd42a5573aa2.html" target="element"> koostuu </a> </td>
																		<td> <a href="../elements/id-b2f086ead7e54b5a8642cd42a5573aa2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7db31b95b44a40f19a80546ea1f6c91a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b6330594e064923bde7b75529ba3924.html" target="element">  </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-756736fefa4e4274bd0feef59572f5e1.html" target="element"> liittyy </a> </td>
																		<td> <a href="../elements/id-756736fefa4e4274bd0feef59572f5e1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aa38323ec5c9475f905780c27c419990.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb16c034b2f847ba95db1b3d5c2419c2.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ea44555b33c54cdba502914d5e24f138.html" target="element"> liittyy </a> </td>
																		<td> <a href="../elements/id-ea44555b33c54cdba502914d5e24f138.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97929f0f36df4b089b71adbf7954204c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f37387a19b19491280c39bd8b434bc8f.html" target="element">  </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>