<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Laki vapaasta sivistystyöstä</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Laki vapaasta sivistysty&#246;st&#228;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7a10755364ba4b1280bbb09ad244f23e.png" alt="Laki vapaasta sivistystyöstä" usemap="#id-7a10755364ba4b1280bbb09ad244f23emap"/>
			   <map name="id-7a10755364ba4b1280bbb09ad244f23emap">
				  		<area shape="rect" coords="346,10,499,65" href="../elements/id-510e919ce17649c3b5434e0645787501.html"  target="element">
				  		<area shape="rect" coords="202,142,694,197" href="../elements/id-4e3df3d252ee46be8eb723ebb43ddb26.html"  target="element">
				  				<area shape="rect" coords="514,358,649,413" href="../elements/id-3464303cb1934d93924da8580f6ca514.html"  target="element">
				  				<area shape="rect" coords="106,358,235,413" href="../elements/id-2fab7338b9804d89942bdb4d96fd2eee.html"  target="element">
				  				<area shape="rect" coords="658,358,778,413" href="../elements/id-fb6b46f51c3344cd8ac7221469fd8835.html"  target="element">
				  				<area shape="rect" coords="250,358,370,413" href="../elements/id-a9f915f824b7470b8a6775e1156f7867.html"  target="element">
				  				<area shape="rect" coords="382,358,502,413" href="../elements/id-58f8618027394c7b933b89d5c44ac552.html"  target="element">

				  		<area shape="rect" coords="10,298,867,455" href="../elements/id-ee24868098a8458193c9e67eb9ca54d9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ee24868098a8458193c9e67eb9ca54d9.html" target="element"> Vapaan sivistysty&#246;n j&#228;rjest&#228;j&#228; </a> </td>
											    <td> <a href="../elements/id-ee24868098a8458193c9e67eb9ca54d9.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-58f8618027394c7b933b89d5c44ac552.html" target="element"> Kes&#228;yliopisto </a> </td>
													    <td> <a href="../elements/id-58f8618027394c7b933b89d5c44ac552.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a9f915f824b7470b8a6775e1156f7867.html" target="element"> Kansanopisto </a> </td>
													    <td> <a href="../elements/id-a9f915f824b7470b8a6775e1156f7867.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fb6b46f51c3344cd8ac7221469fd8835.html" target="element"> Opintokeskus </a> </td>
													    <td> <a href="../elements/id-fb6b46f51c3344cd8ac7221469fd8835.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2fab7338b9804d89942bdb4d96fd2eee.html" target="element"> Kansalaisopisto </a> </td>
													    <td> <a href="../elements/id-2fab7338b9804d89942bdb4d96fd2eee.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3464303cb1934d93924da8580f6ca514.html" target="element"> Liikunnan koulutuskeskus </a> </td>
													    <td> <a href="../elements/id-3464303cb1934d93924da8580f6ca514.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4e3df3d252ee46be8eb723ebb43ddb26.html" target="element"> J&#228;rjest&#228;&#228; elinik&#228;isen oppimisen periaatteen pohjalta yhteiskunnan eheytt&#228;, tasa-arvoa ja aktiivista kansalaisuutta tukevaa koulutusta </a> </td>
											    <td> <a href="../elements/id-4e3df3d252ee46be8eb723ebb43ddb26.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-510e919ce17649c3b5434e0645787501.html" target="element"> Laki vapaasta sivistysty&#246;st&#228; </a> </td>
											    <td> <a href="../elements/id-510e919ce17649c3b5434e0645787501.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f4d18ba5f12e44d5b7d6efc540e0dff5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4d18ba5f12e44d5b7d6efc540e0dff5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ee24868098a8458193c9e67eb9ca54d9.html" target="element"> Vapaan sivistysty&#246;n j&#228;rjest&#228;j&#228; </a> </td>
																		<td> <a href="../elements/id-4e3df3d252ee46be8eb723ebb43ddb26.html" target="element"> J&#228;rjest&#228;&#228; elinik&#228;isen oppimisen periaatteen pohjalta yhteiskunnan eheytt&#228;, tasa-arvoa ja aktiivista kansalaisuutta tukevaa koulutusta </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d47bdc76e30e4675a3c6ade274813ecf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d47bdc76e30e4675a3c6ade274813ecf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-510e919ce17649c3b5434e0645787501.html" target="element"> Laki vapaasta sivistysty&#246;st&#228; </a> </td>
																		<td> <a href="../elements/id-4e3df3d252ee46be8eb723ebb43ddb26.html" target="element"> J&#228;rjest&#228;&#228; elinik&#228;isen oppimisen periaatteen pohjalta yhteiskunnan eheytt&#228;, tasa-arvoa ja aktiivista kansalaisuutta tukevaa koulutusta </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>