<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kyvykkyydet</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kyvykkyydet</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7220adcc28dd47c5933ce2cf55bde3e4.png" alt="Kyvykkyydet" usemap="#id-7220adcc28dd47c5933ce2cf55bde3e4map"/>
			   <map name="id-7220adcc28dd47c5933ce2cf55bde3e4map">
				  				<area shape="rect" coords="874,775,1089,830" href="../elements/id-ac45f6072e124ea4911e724a2e41731d.html"  target="element">
				  				<area shape="rect" coords="622,775,851,830" href="../elements/id-afb37428692e4351abe9ee29c4a8c05b.html"  target="element">
				  				<area shape="rect" coords="406,775,598,830" href="../elements/id-f6b7980296944b45ab0daec282e39529.html"  target="element">
				  				<area shape="rect" coords="238,775,385,830" href="../elements/id-42d1ec6f6dfa4eafba610b82cd4120e9.html"  target="element">
				  				<area shape="rect" coords="58,775,213,830" href="../elements/id-6279e33dbde24ee786663d3545aee99a.html"  target="element">

				  		<area shape="rect" coords="22,727,1487,848" href="../elements/id-f036f9d39af44082b56c5e3a88f9460e.html"  target="element">
				  				<area shape="rect" coords="958,244,1157,293" href="../elements/id-d224cedf40a444fd9e42849a8c9b7636.html"  target="element">
				  				<area shape="rect" coords="958,484,1157,539" href="../elements/id-54785d388eaa461891db1bfd97d8ebd0.html"  target="element">
				  				<area shape="rect" coords="958,400,1157,455" href="../elements/id-9dbe7e18f05a4d00b5d16baadc0bf8f8.html"  target="element">
				  				<area shape="rect" coords="958,316,1157,371" href="../elements/id-5bb7d2e8bb144e9aadb98bfe36119d45.html"  target="element">
				  				<area shape="rect" coords="958,568,1157,623" href="../elements/id-31d2a5bfa0644ca8a2ad9c79b10d9264.html"  target="element">

				  		<area shape="rect" coords="934,172,1187,692" href="../elements/id-1d918fde208647859099f593069ff287.html"  target="element">
				  		<area shape="rect" coords="934,58,1187,113" href="../elements/id-5461bcdd2ae8472a920f4ddc703e69ed.html"  target="element">
				  				<area shape="rect" coords="1284,316,1445,371" href="../elements/id-65ed34318884470288c6f0f8d46184fa.html"  target="element">
				  				<area shape="rect" coords="1282,244,1447,293" href="../elements/id-ad71e17b7f1b41888f53cbf0f132070f.html"  target="element">
				  				<area shape="rect" coords="1284,532,1445,587" href="../elements/id-d535e9765e8b43baa8c97938c7fe69fe.html"  target="element">
				  				<area shape="rect" coords="1283,460,1447,515" href="../elements/id-802c835f443844d8aa710e4a61cb337d.html"  target="element">
				  				<area shape="rect" coords="1283,388,1447,443" href="../elements/id-47be9680cb634f7282ffbf3537603dbb.html"  target="element">
				  				<area shape="rect" coords="1285,604,1445,659" href="../elements/id-e02ecf00e5a3466282a29863ab44e84a.html"  target="element">

				  		<area shape="rect" coords="1234,172,1487,692" href="../elements/id-841a5a1b5def493893431db510caf2cc.html"  target="element">
				  				<area shape="rect" coords="658,244,850,299" href="../elements/id-d9b6b8c16b2c46ecb819b40197392a45.html"  target="element">
				  				<area shape="rect" coords="658,316,850,371" href="../elements/id-953f3734ff4543d4b6c0e642577f174f.html"  target="element">
				  				<area shape="rect" coords="657,388,850,443" href="../elements/id-54b42529dbdd444eafbb8e75da497fd3.html"  target="element">

				  		<area shape="rect" coords="622,172,887,692" href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html"  target="element">
				  				<area shape="rect" coords="370,244,551,299" href="../elements/id-489e769a7a2d43a0ad30f0b5387fee8b.html"  target="element">
				  				<area shape="rect" coords="370,388,551,449" href="../elements/id-caa2ca0f16d646b1a637d7e73e12f936.html"  target="element">
				  				<area shape="rect" coords="370,316,551,371" href="../elements/id-a2efab94dd2449f8b9006b31ab7e034c.html"  target="element">

				  		<area shape="rect" coords="322,172,586,692" href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html"  target="element">
				  				<area shape="rect" coords="70,532,241,587" href="../elements/id-466c4e0f21c0403daf9ec1f5c6b2040a.html"  target="element">
				  				<area shape="rect" coords="70,316,238,371" href="../elements/id-52f014b9a8864017890124debf0cee2f.html"  target="element">
				  				<area shape="rect" coords="70,244,239,299" href="../elements/id-3d389ccb71044735aa6ec2e0cfa83426.html"  target="element">
				  				<area shape="rect" coords="70,460,239,515" href="../elements/id-65d79fa2d22e4a0abebbe5745e2b6070.html"  target="element">
				  				<area shape="rect" coords="70,388,239,443" href="../elements/id-4e686127dd31401fa144ead1314d7794.html"  target="element">

				  		<area shape="rect" coords="22,172,287,692" href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html"  target="element">
				  		<area shape="rect" coords="1234,55,1487,116" href="../elements/id-97aea062588d4bcd82c766419f92acf6.html"  target="element">
				  		<area shape="rect" coords="622,55,893,116" href="../elements/id-4c71200f7b624052a4433537f134657d.html"  target="element">
				  		<area shape="rect" coords="322,55,587,116" href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html"  target="element">
				  		<area shape="rect" coords="10,55,287,116" href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
											    <td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
											    <td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
											    <td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
											    <td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
											    <td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4e686127dd31401fa144ead1314d7794.html" target="element"> Kulttuuriperinn&#246;n ja suojelutarpeen m&#228;&#228;rittely </a> </td>
													    <td> <a href="../elements/id-4e686127dd31401fa144ead1314d7794.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-65d79fa2d22e4a0abebbe5745e2b6070.html" target="element"> Rahoituksen j&#228;rjest&#228;minen </a> </td>
													    <td> <a href="../elements/id-65d79fa2d22e4a0abebbe5745e2b6070.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3d389ccb71044735aa6ec2e0cfa83426.html" target="element"> Strateginen vaikuttaminen </a> </td>
													    <td> <a href="../elements/id-3d389ccb71044735aa6ec2e0cfa83426.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-52f014b9a8864017890124debf0cee2f.html" target="element"> Kulttuurialan juridiikka </a> </td>
													    <td> <a href="../elements/id-52f014b9a8864017890124debf0cee2f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-466c4e0f21c0403daf9ec1f5c6b2040a.html" target="element"> Palvelu- ja ekosysteemikehitys </a> </td>
													    <td> <a href="../elements/id-466c4e0f21c0403daf9ec1f5c6b2040a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html" target="element"> Kulttuuriperinn&#246;n digitalisointi </a> </td>
											    <td> <a href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a2efab94dd2449f8b9006b31ab7e034c.html" target="element"> Digitointi </a> </td>
													    <td> <a href="../elements/id-a2efab94dd2449f8b9006b31ab7e034c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-caa2ca0f16d646b1a637d7e73e12f936.html" target="element"> Digitaalisten aineistojen kokoaminen </a> </td>
													    <td> <a href="../elements/id-caa2ca0f16d646b1a637d7e73e12f936.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-489e769a7a2d43a0ad30f0b5387fee8b.html" target="element"> Kulttuuriperint&#246;-aineistojen arvonm&#228;&#228;ritys </a> </td>
													    <td> <a href="../elements/id-489e769a7a2d43a0ad30f0b5387fee8b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
											    <td> <a href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-54b42529dbdd444eafbb8e75da497fd3.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
													    <td> <a href="../elements/id-54b42529dbdd444eafbb8e75da497fd3.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-953f3734ff4543d4b6c0e642577f174f.html" target="element"> Aineistokokonaisuuksien hallinta </a> </td>
													    <td> <a href="../elements/id-953f3734ff4543d4b6c0e642577f174f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d9b6b8c16b2c46ecb819b40197392a45.html" target="element"> Kulttuuriperinn&#246;n kuvailu </a> </td>
													    <td> <a href="../elements/id-d9b6b8c16b2c46ecb819b40197392a45.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
											    <td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e02ecf00e5a3466282a29863ab44e84a.html" target="element"> Tutkimusk&#228;yt&#246;n tukeminen </a> </td>
													    <td> <a href="../elements/id-e02ecf00e5a3466282a29863ab44e84a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-47be9680cb634f7282ffbf3537603dbb.html" target="element"> Kulttuuriperint&#246;-kasvatus </a> </td>
													    <td> <a href="../elements/id-47be9680cb634f7282ffbf3537603dbb.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-802c835f443844d8aa710e4a61cb337d.html" target="element"> Kulttuuriperint&#246;-markkinointi </a> </td>
													    <td> <a href="../elements/id-802c835f443844d8aa710e4a61cb337d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d535e9765e8b43baa8c97938c7fe69fe.html" target="element"> Viranomaistoiminta </a> </td>
													    <td> <a href="../elements/id-d535e9765e8b43baa8c97938c7fe69fe.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ad71e17b7f1b41888f53cbf0f132070f.html" target="element"> Kulttuuri ja sis&#228;ll&#246;ntuotanto </a> </td>
													    <td> <a href="../elements/id-ad71e17b7f1b41888f53cbf0f132070f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-65ed34318884470288c6f0f8d46184fa.html" target="element"> Taiteellinen toiminta ja tuotteistaminen </a> </td>
													    <td> <a href="../elements/id-65ed34318884470288c6f0f8d46184fa.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5461bcdd2ae8472a920f4ddc703e69ed.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
											    <td> <a href="../elements/id-5461bcdd2ae8472a920f4ddc703e69ed.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1d918fde208647859099f593069ff287.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
											    <td> <a href="../elements/id-1d918fde208647859099f593069ff287.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-31d2a5bfa0644ca8a2ad9c79b10d9264.html" target="element"> K&#228;ytt&#246;- ja lisenssiehtojen m&#228;&#228;rittely ja ohjeistus </a> </td>
													    <td> <a href="../elements/id-31d2a5bfa0644ca8a2ad9c79b10d9264.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5bb7d2e8bb144e9aadb98bfe36119d45.html" target="element"> Asiasanastojen ja ontologioiden hallinta </a> </td>
													    <td> <a href="../elements/id-5bb7d2e8bb144e9aadb98bfe36119d45.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9dbe7e18f05a4d00b5d16baadc0bf8f8.html" target="element"> Nimitietojen hallinta </a> </td>
													    <td> <a href="../elements/id-9dbe7e18f05a4d00b5d16baadc0bf8f8.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-54785d388eaa461891db1bfd97d8ebd0.html" target="element"> Tiedonhaun opastus </a> </td>
													    <td> <a href="../elements/id-54785d388eaa461891db1bfd97d8ebd0.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d224cedf40a444fd9e42849a8c9b7636.html" target="element"> L&#246;ydett&#228;vyyden ja saatavuuden kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-d224cedf40a444fd9e42849a8c9b7636.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f036f9d39af44082b56c5e3a88f9460e.html" target="element"> Digitaalisten kulttuuriperint&#246;palveluiden kehitt&#228;minen ja hallinta </a> </td>
											    <td> <a href="../elements/id-f036f9d39af44082b56c5e3a88f9460e.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6279e33dbde24ee786663d3545aee99a.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-6279e33dbde24ee786663d3545aee99a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-42d1ec6f6dfa4eafba610b82cd4120e9.html" target="element"> Teko&#228;lyn hy&#246;dynt&#228;minen </a> </td>
													    <td> <a href="../elements/id-42d1ec6f6dfa4eafba610b82cd4120e9.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f6b7980296944b45ab0daec282e39529.html" target="element"> J&#228;rjestelmien yll&#228;pito ja kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-f6b7980296944b45ab0daec282e39529.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-afb37428692e4351abe9ee29c4a8c05b.html" target="element"> Palvelumuotoilu ja asiakastuntemus </a> </td>
													    <td> <a href="../elements/id-afb37428692e4351abe9ee29c4a8c05b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac45f6072e124ea4911e724a2e41731d.html" target="element"> Vaikuttavuuden arviointi </a> </td>
													    <td> <a href="../elements/id-ac45f6072e124ea4911e724a2e41731d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-79b562a3513f422ca0af752ed859c486.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79b562a3513f422ca0af752ed859c486.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b544fb00787a4fe2a28f80b6d495f8ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b544fb00787a4fe2a28f80b6d495f8ee.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																		<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a1056a78876c4b4e854fe4ffe8f9fcef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a1056a78876c4b4e854fe4ffe8f9fcef.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
																		<td> <a href="../elements/id-5461bcdd2ae8472a920f4ddc703e69ed.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-99b132a6bacd4c7c852ce202003bbc4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-99b132a6bacd4c7c852ce202003bbc4b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-15db703ad00c44a89bba7a8c32bea693.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15db703ad00c44a89bba7a8c32bea693.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-4e686127dd31401fa144ead1314d7794.html" target="element"> Kulttuuriperinn&#246;n ja suojelutarpeen m&#228;&#228;rittely </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-259eaad6db8843c090c7aebce0ae666e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-259eaad6db8843c090c7aebce0ae666e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-65d79fa2d22e4a0abebbe5745e2b6070.html" target="element"> Rahoituksen j&#228;rjest&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78764c3d8a3b45aba576e6a1f91bccec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78764c3d8a3b45aba576e6a1f91bccec.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-3d389ccb71044735aa6ec2e0cfa83426.html" target="element"> Strateginen vaikuttaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e79b4a3440f4e42afce6d18f701d076.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e79b4a3440f4e42afce6d18f701d076.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-52f014b9a8864017890124debf0cee2f.html" target="element"> Kulttuurialan juridiikka </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c49e2fd9b5a34929b52f8025401d3be5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c49e2fd9b5a34929b52f8025401d3be5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3cab6eb3e5da421293b1c514624bcf64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3cab6eb3e5da421293b1c514624bcf64.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-466c4e0f21c0403daf9ec1f5c6b2040a.html" target="element"> Palvelu- ja ekosysteemikehitys </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-dc800a7ca0d042fdb5fae36b0635c644.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc800a7ca0d042fdb5fae36b0635c644.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html" target="element"> Kulttuuriperinn&#246;n digitalisointi </a> </td>
																		<td> <a href="../elements/id-a2efab94dd2449f8b9006b31ab7e034c.html" target="element"> Digitointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2cf6daf6a494b5aa53abd492439de61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2cf6daf6a494b5aa53abd492439de61.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html" target="element"> Kulttuuriperinn&#246;n digitalisointi </a> </td>
																		<td> <a href="../elements/id-caa2ca0f16d646b1a637d7e73e12f936.html" target="element"> Digitaalisten aineistojen kokoaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c1f16981e29346589b77f9a6375b14db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1f16981e29346589b77f9a6375b14db.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html" target="element"> Kulttuuriperinn&#246;n digitalisointi </a> </td>
																		<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8ad47d48f3ec404eb45303d9b488adc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ad47d48f3ec404eb45303d9b488adc4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html" target="element"> Kulttuuriperinn&#246;n digitalisointi </a> </td>
																		<td> <a href="../elements/id-489e769a7a2d43a0ad30f0b5387fee8b.html" target="element"> Kulttuuriperint&#246;-aineistojen arvonm&#228;&#228;ritys </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-6cebf24f353647bf9a493200b1f4a5de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6cebf24f353647bf9a493200b1f4a5de.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-54b42529dbdd444eafbb8e75da497fd3.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c2fcf2f2be14ec1a8d40fc5d2a6497c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c2fcf2f2be14ec1a8d40fc5d2a6497c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-953f3734ff4543d4b6c0e642577f174f.html" target="element"> Aineistokokonaisuuksien hallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5fe5580058af4d67a715948cb725dd23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5fe5580058af4d67a715948cb725dd23.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aaac57ce84764e2b82b340bd0e6f02ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aaac57ce84764e2b82b340bd0e6f02ab.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-d9b6b8c16b2c46ecb819b40197392a45.html" target="element"> Kulttuuriperinn&#246;n kuvailu </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c2f6f88a08684690822f10eb457e3e9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2f6f88a08684690822f10eb457e3e9f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-e02ecf00e5a3466282a29863ab44e84a.html" target="element"> Tutkimusk&#228;yt&#246;n tukeminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c63fc75f6b9e4c1d828ef36a16a573c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c63fc75f6b9e4c1d828ef36a16a573c6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-47be9680cb634f7282ffbf3537603dbb.html" target="element"> Kulttuuriperint&#246;-kasvatus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7583fc70ba114d15ae11944d61f5522f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7583fc70ba114d15ae11944d61f5522f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-802c835f443844d8aa710e4a61cb337d.html" target="element"> Kulttuuriperint&#246;-markkinointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c81cda981ef426eb781fe44f94744cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c81cda981ef426eb781fe44f94744cc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-d535e9765e8b43baa8c97938c7fe69fe.html" target="element"> Viranomaistoiminta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed1d3c5bf4004c16be0ce20f5f246181.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed1d3c5bf4004c16be0ce20f5f246181.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7243845c6c0a45af902286ce15f987dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7243845c6c0a45af902286ce15f987dc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-ad71e17b7f1b41888f53cbf0f132070f.html" target="element"> Kulttuuri ja sis&#228;ll&#246;ntuotanto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5a608c7ee6394340b3929ab364915b9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a608c7ee6394340b3929ab364915b9a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-65ed34318884470288c6f0f8d46184fa.html" target="element"> Taiteellinen toiminta ja tuotteistaminen </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-2fdd29254ada4c1dbcfcbd871dea6e17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2fdd29254ada4c1dbcfcbd871dea6e17.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5461bcdd2ae8472a920f4ddc703e69ed.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d0902754d0f94287a7fc7522e5431221.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d0902754d0f94287a7fc7522e5431221.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1d918fde208647859099f593069ff287.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-5461bcdd2ae8472a920f4ddc703e69ed.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3c597ff2413e4e1da9f26357a894cb34.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c597ff2413e4e1da9f26357a894cb34.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1d918fde208647859099f593069ff287.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-31d2a5bfa0644ca8a2ad9c79b10d9264.html" target="element"> K&#228;ytt&#246;- ja lisenssiehtojen m&#228;&#228;rittely ja ohjeistus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7efa9d28086493cae27d6b47f1c8ba9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7efa9d28086493cae27d6b47f1c8ba9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1d918fde208647859099f593069ff287.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-5bb7d2e8bb144e9aadb98bfe36119d45.html" target="element"> Asiasanastojen ja ontologioiden hallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a43d70111f3b4603ae6fe0af12986bd4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a43d70111f3b4603ae6fe0af12986bd4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1d918fde208647859099f593069ff287.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-9dbe7e18f05a4d00b5d16baadc0bf8f8.html" target="element"> Nimitietojen hallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7baf7e8006784cf48cc2adc13a9da126.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7baf7e8006784cf48cc2adc13a9da126.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1d918fde208647859099f593069ff287.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-54785d388eaa461891db1bfd97d8ebd0.html" target="element"> Tiedonhaun opastus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-97c8cab255b84c92b7d45e443d7d336a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97c8cab255b84c92b7d45e443d7d336a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1d918fde208647859099f593069ff287.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-d224cedf40a444fd9e42849a8c9b7636.html" target="element"> L&#246;ydett&#228;vyyden ja saatavuuden kehitt&#228;minen </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e7d280b84e9c458a92ff0c40638cde9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7d280b84e9c458a92ff0c40638cde9e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f036f9d39af44082b56c5e3a88f9460e.html" target="element"> Digitaalisten kulttuuriperint&#246;palveluiden kehitt&#228;minen ja hallinta </a> </td>
																		<td> <a href="../elements/id-42d1ec6f6dfa4eafba610b82cd4120e9.html" target="element"> Teko&#228;lyn hy&#246;dynt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74f7562705ae494ca470047c6c66c8b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74f7562705ae494ca470047c6c66c8b2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f036f9d39af44082b56c5e3a88f9460e.html" target="element"> Digitaalisten kulttuuriperint&#246;palveluiden kehitt&#228;minen ja hallinta </a> </td>
																		<td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b639dd9f472048a9a463952565a57410.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b639dd9f472048a9a463952565a57410.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f036f9d39af44082b56c5e3a88f9460e.html" target="element"> Digitaalisten kulttuuriperint&#246;palveluiden kehitt&#228;minen ja hallinta </a> </td>
																		<td> <a href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html" target="element"> Kulttuuriperinn&#246;n digitalisointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a197a9fae134d418f3fcbc7f2cea9c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a197a9fae134d418f3fcbc7f2cea9c5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f036f9d39af44082b56c5e3a88f9460e.html" target="element"> Digitaalisten kulttuuriperint&#246;palveluiden kehitt&#228;minen ja hallinta </a> </td>
																		<td> <a href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd2b617ced9547ac82921af778f8caf5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd2b617ced9547ac82921af778f8caf5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f036f9d39af44082b56c5e3a88f9460e.html" target="element"> Digitaalisten kulttuuriperint&#246;palveluiden kehitt&#228;minen ja hallinta </a> </td>
																		<td> <a href="../elements/id-1d918fde208647859099f593069ff287.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd1020baa7e143e182dbb33e6d225038.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd1020baa7e143e182dbb33e6d225038.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f036f9d39af44082b56c5e3a88f9460e.html" target="element"> Digitaalisten kulttuuriperint&#246;palveluiden kehitt&#228;minen ja hallinta </a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f80c61d2363f425e9422b5b20d73a15d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f80c61d2363f425e9422b5b20d73a15d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f036f9d39af44082b56c5e3a88f9460e.html" target="element"> Digitaalisten kulttuuriperint&#246;palveluiden kehitt&#228;minen ja hallinta </a> </td>
																		<td> <a href="../elements/id-6279e33dbde24ee786663d3545aee99a.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-479f8612af944509b4b38e554c2c9435.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-479f8612af944509b4b38e554c2c9435.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f036f9d39af44082b56c5e3a88f9460e.html" target="element"> Digitaalisten kulttuuriperint&#246;palveluiden kehitt&#228;minen ja hallinta </a> </td>
																		<td> <a href="../elements/id-f6b7980296944b45ab0daec282e39529.html" target="element"> J&#228;rjestelmien yll&#228;pito ja kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5bde2cdec9d7460aa919d94ad4f1093e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bde2cdec9d7460aa919d94ad4f1093e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f036f9d39af44082b56c5e3a88f9460e.html" target="element"> Digitaalisten kulttuuriperint&#246;palveluiden kehitt&#228;minen ja hallinta </a> </td>
																		<td> <a href="../elements/id-afb37428692e4351abe9ee29c4a8c05b.html" target="element"> Palvelumuotoilu ja asiakastuntemus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-189c16146557482496a1bcdbda1ad3bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-189c16146557482496a1bcdbda1ad3bb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f036f9d39af44082b56c5e3a88f9460e.html" target="element"> Digitaalisten kulttuuriperint&#246;palveluiden kehitt&#228;minen ja hallinta </a> </td>
																		<td> <a href="../elements/id-ac45f6072e124ea4911e724a2e41731d.html" target="element"> Vaikuttavuuden arviointi </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>