<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arvoketju</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arvoketju</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7220adcc28dd47c5933ce2cf55bde3e4.png" alt="Arvoketju" usemap="#id-7220adcc28dd47c5933ce2cf55bde3e4map"/>
			   <map name="id-7220adcc28dd47c5933ce2cf55bde3e4map">
				  				<area shape="rect" coords="1308,623,1469,678" href="../elements/id-e7e5aa3b22054eccba09d6ebad2d67fa.html"  target="element">
				  				<area shape="rect" coords="1306,191,1471,252" href="../elements/id-ad71e17b7f1b41888f53cbf0f132070f.html"  target="element">
				  				<area shape="rect" coords="1308,695,1469,750" href="../elements/id-fc6904fb89044f579a32cfe5dc58a75b.html"  target="element">
				  				<area shape="rect" coords="1308,479,1469,534" href="../elements/id-d535e9765e8b43baa8c97938c7fe69fe.html"  target="element">
				  				<area shape="rect" coords="1307,407,1471,462" href="../elements/id-802c835f443844d8aa710e4a61cb337d.html"  target="element">
				  				<area shape="rect" coords="1307,335,1471,390" href="../elements/id-8d770efdb93d4b2e9e594ba5a133e945.html"  target="element">
				  				<area shape="rect" coords="1307,263,1471,318" href="../elements/id-47be9680cb634f7282ffbf3537603dbb.html"  target="element">
				  				<area shape="rect" coords="1309,551,1469,606" href="../elements/id-e02ecf00e5a3466282a29863ab44e84a.html"  target="element">

				  		<area shape="rect" coords="1246,131,1523,792" href="../elements/id-841a5a1b5def493893431db510caf2cc.html"  target="element">
				  				<area shape="rect" coords="995,407,1163,462" href="../elements/id-f6b7980296944b45ab0daec282e39529.html"  target="element">
				  				<area shape="rect" coords="995,191,1163,246" href="../elements/id-87138eb655df4927b64a43f5f005a1a4.html"  target="element">
				  				<area shape="rect" coords="994,263,1163,318" href="../elements/id-953f3734ff4543d4b6c0e642577f174f.html"  target="element">
				  				<area shape="rect" coords="994,335,1163,390" href="../elements/id-54b42529dbdd444eafbb8e75da497fd3.html"  target="element">
				  				<area shape="rect" coords="994,479,1163,534" href="../elements/id-4a32e572a5974132a7cadda709e84e85.html"  target="element">

				  		<area shape="rect" coords="946,131,1211,792" href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html"  target="element">
				  				<area shape="rect" coords="694,191,856,246" href="../elements/id-b7ff6b3ef6b74c7592c754d83e7fdc65.html"  target="element">
				  				<area shape="rect" coords="694,263,856,318" href="../elements/id-d9b6b8c16b2c46ecb819b40197392a45.html"  target="element">
				  				<area shape="rect" coords="694,407,855,479" href="../elements/id-caa2ca0f16d646b1a637d7e73e12f936.html"  target="element">
				  				<area shape="rect" coords="694,335,854,390" href="../elements/id-a2efab94dd2449f8b9006b31ab7e034c.html"  target="element">

				  		<area shape="rect" coords="646,131,910,792" href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html"  target="element">
				  				<area shape="rect" coords="394,575,550,630" href="../elements/id-466c4e0f21c0403daf9ec1f5c6b2040a.html"  target="element">
				  				<area shape="rect" coords="396,496,551,551" href="../elements/id-6279e33dbde24ee786663d3545aee99a.html"  target="element">
				  				<area shape="rect" coords="398,275,550,330" href="../elements/id-52f014b9a8864017890124debf0cee2f.html"  target="element">
				  				<area shape="rect" coords="398,203,551,258" href="../elements/id-3d389ccb71044735aa6ec2e0cfa83426.html"  target="element">
				  				<area shape="rect" coords="396,419,551,474" href="../elements/id-65d79fa2d22e4a0abebbe5745e2b6070.html"  target="element">
				  				<area shape="rect" coords="396,347,551,402" href="../elements/id-4e686127dd31401fa144ead1314d7794.html"  target="element">

				  		<area shape="rect" coords="334,131,599,792" href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html"  target="element">
				  		<area shape="rect" coords="1570,10,1823,79" href="../elements/id-7bdc83ef8d3a4e149758a8d3caf5daa9.html"  target="element">
				  		<area shape="rect" coords="10,12,275,77" href="../elements/id-de820ba2f5a94403abbef2924851ce5b.html"  target="element">
				  		<area shape="rect" coords="1246,14,1523,75" href="../elements/id-97aea062588d4bcd82c766419f92acf6.html"  target="element">
				  		<area shape="rect" coords="946,14,1217,75" href="../elements/id-4c71200f7b624052a4433537f134657d.html"  target="element">
				  		<area shape="rect" coords="646,14,911,75" href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html"  target="element">
				  		<area shape="rect" coords="334,14,611,75" href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Kulttuuriperinn&#246;n suojelu ja toiminnan kehitt&#228;minen </a> </td>
											    <td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
											    <td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
											    <td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
											    <td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de820ba2f5a94403abbef2924851ce5b.html" target="element"> Kulttuuriperint&#246;&#228; suojellaan ja toimintaa uudistetaan hy&#246;dynt&#228;m&#228;ll&#228; digitaalisia teknologioita </a> </td>
											    <td> <a href="../elements/id-de820ba2f5a94403abbef2924851ce5b.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7bdc83ef8d3a4e149758a8d3caf5daa9.html" target="element"> Digitaalista kulttuuriperint&#246;&#228; hy&#246;dynnet&#228;&#228;n yhteiskunnassa </a> </td>
											    <td> <a href="../elements/id-7bdc83ef8d3a4e149758a8d3caf5daa9.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
											    <td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4e686127dd31401fa144ead1314d7794.html" target="element"> Kulttuuriperinn&#246;n arvonm&#228;&#228;ritys </a> </td>
													    <td> <a href="../elements/id-4e686127dd31401fa144ead1314d7794.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-65d79fa2d22e4a0abebbe5745e2b6070.html" target="element"> Rahoituksen j&#228;rjest&#228;minen </a> </td>
													    <td> <a href="../elements/id-65d79fa2d22e4a0abebbe5745e2b6070.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3d389ccb71044735aa6ec2e0cfa83426.html" target="element"> Kulttuuriperint&#246;- politiikka </a> </td>
													    <td> <a href="../elements/id-3d389ccb71044735aa6ec2e0cfa83426.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-52f014b9a8864017890124debf0cee2f.html" target="element"> Kulttuurialan juridiikka </a> </td>
													    <td> <a href="../elements/id-52f014b9a8864017890124debf0cee2f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6279e33dbde24ee786663d3545aee99a.html" target="element"> Yhteentoimivuuden edist&#228;minen </a> </td>
													    <td> <a href="../elements/id-6279e33dbde24ee786663d3545aee99a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-466c4e0f21c0403daf9ec1f5c6b2040a.html" target="element"> Innovaatio ja ekosysteemikehitys </a> </td>
													    <td> <a href="../elements/id-466c4e0f21c0403daf9ec1f5c6b2040a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html" target="element"> Kulttuuriperinn&#246;n digitalisointi </a> </td>
											    <td> <a href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a2efab94dd2449f8b9006b31ab7e034c.html" target="element"> Digitointi </a> </td>
													    <td> <a href="../elements/id-a2efab94dd2449f8b9006b31ab7e034c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-caa2ca0f16d646b1a637d7e73e12f936.html" target="element"> Alkujaan digitaalisen kulttuuriperinn&#246;n kuratointi </a> </td>
													    <td> <a href="../elements/id-caa2ca0f16d646b1a637d7e73e12f936.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d9b6b8c16b2c46ecb819b40197392a45.html" target="element"> Kulttuuriperinn&#246;n kuvailu </a> </td>
													    <td> <a href="../elements/id-d9b6b8c16b2c46ecb819b40197392a45.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b7ff6b3ef6b74c7592c754d83e7fdc65.html" target="element"> Digitaalisten palveluiden kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-b7ff6b3ef6b74c7592c754d83e7fdc65.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
											    <td> <a href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4a32e572a5974132a7cadda709e84e85.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
													    <td> <a href="../elements/id-4a32e572a5974132a7cadda709e84e85.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-54b42529dbdd444eafbb8e75da497fd3.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
													    <td> <a href="../elements/id-54b42529dbdd444eafbb8e75da497fd3.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-953f3734ff4543d4b6c0e642577f174f.html" target="element"> Kokoelmienhallinta </a> </td>
													    <td> <a href="../elements/id-953f3734ff4543d4b6c0e642577f174f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-87138eb655df4927b64a43f5f005a1a4.html" target="element"> Tiedonhallinta </a> </td>
													    <td> <a href="../elements/id-87138eb655df4927b64a43f5f005a1a4.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f6b7980296944b45ab0daec282e39529.html" target="element"> J&#228;rjestelmien yll&#228;pito </a> </td>
													    <td> <a href="../elements/id-f6b7980296944b45ab0daec282e39529.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;notto ja uudelleenk&#228;ytt&#246; </a> </td>
											    <td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e02ecf00e5a3466282a29863ab44e84a.html" target="element"> Kulttuuriperint&#246;-tutkimus </a> </td>
													    <td> <a href="../elements/id-e02ecf00e5a3466282a29863ab44e84a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-47be9680cb634f7282ffbf3537603dbb.html" target="element"> Kulttuuriperint&#246;-kasvatus </a> </td>
													    <td> <a href="../elements/id-47be9680cb634f7282ffbf3537603dbb.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8d770efdb93d4b2e9e594ba5a133e945.html" target="element"> Kulttuuriperint&#246;-matkailu </a> </td>
													    <td> <a href="../elements/id-8d770efdb93d4b2e9e594ba5a133e945.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-802c835f443844d8aa710e4a61cb337d.html" target="element"> Kulttuuriperint&#246;-markkintointi </a> </td>
													    <td> <a href="../elements/id-802c835f443844d8aa710e4a61cb337d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d535e9765e8b43baa8c97938c7fe69fe.html" target="element"> Viranomais- ja suojelutoiminta </a> </td>
													    <td> <a href="../elements/id-d535e9765e8b43baa8c97938c7fe69fe.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fc6904fb89044f579a32cfe5dc58a75b.html" target="element"> Mediavaikuttaminen </a> </td>
													    <td> <a href="../elements/id-fc6904fb89044f579a32cfe5dc58a75b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ad71e17b7f1b41888f53cbf0f132070f.html" target="element"> Digitaalinen kulttuuri ja viihdetoiminta </a> </td>
													    <td> <a href="../elements/id-ad71e17b7f1b41888f53cbf0f132070f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e7e5aa3b22054eccba09d6ebad2d67fa.html" target="element"> Kulttuuriperinn&#246;n kaupallistaminen </a> </td>
													    <td> <a href="../elements/id-e7e5aa3b22054eccba09d6ebad2d67fa.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-930a40ffaa4046bcade51728e6bb29f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-930a40ffaa4046bcade51728e6bb29f0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Kulttuuriperinn&#246;n suojelu ja toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-de820ba2f5a94403abbef2924851ce5b.html" target="element"> Kulttuuriperint&#246;&#228; suojellaan ja toimintaa uudistetaan hy&#246;dynt&#228;m&#228;ll&#228; digitaalisia teknologioita </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-79b562a3513f422ca0af752ed859c486.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79b562a3513f422ca0af752ed859c486.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Kulttuuriperinn&#246;n suojelu ja toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b544fb00787a4fe2a28f80b6d495f8ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b544fb00787a4fe2a28f80b6d495f8ee.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																		<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-208a11d6509c4eff924f9724f050b2de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-208a11d6509c4eff924f9724f050b2de.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-df08b70702f6474984caf629c2bc548a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df08b70702f6474984caf629c2bc548a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-7bdc83ef8d3a4e149758a8d3caf5daa9.html" target="element"> Digitaalista kulttuuriperint&#246;&#228; hy&#246;dynnet&#228;&#228;n yhteiskunnassa </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-15db703ad00c44a89bba7a8c32bea693.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15db703ad00c44a89bba7a8c32bea693.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-4e686127dd31401fa144ead1314d7794.html" target="element"> Kulttuuriperinn&#246;n arvonm&#228;&#228;ritys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-259eaad6db8843c090c7aebce0ae666e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-259eaad6db8843c090c7aebce0ae666e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-65d79fa2d22e4a0abebbe5745e2b6070.html" target="element"> Rahoituksen j&#228;rjest&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78764c3d8a3b45aba576e6a1f91bccec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78764c3d8a3b45aba576e6a1f91bccec.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-3d389ccb71044735aa6ec2e0cfa83426.html" target="element"> Kulttuuriperint&#246;- politiikka </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e79b4a3440f4e42afce6d18f701d076.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e79b4a3440f4e42afce6d18f701d076.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-52f014b9a8864017890124debf0cee2f.html" target="element"> Kulttuurialan juridiikka </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c49e2fd9b5a34929b52f8025401d3be5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c49e2fd9b5a34929b52f8025401d3be5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Kulttuuriperinn&#246;n suojelu ja toiminnan kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-99085aa075f4436bb07bf74d6bc48663.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-99085aa075f4436bb07bf74d6bc48663.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-6279e33dbde24ee786663d3545aee99a.html" target="element"> Yhteentoimivuuden edist&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3cab6eb3e5da421293b1c514624bcf64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3cab6eb3e5da421293b1c514624bcf64.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f661f2ae63643f4a2bbd0625c36adfc.html" target="element"> Kulttuuriperint&#246;toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-466c4e0f21c0403daf9ec1f5c6b2040a.html" target="element"> Innovaatio ja ekosysteemikehitys </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-dc800a7ca0d042fdb5fae36b0635c644.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc800a7ca0d042fdb5fae36b0635c644.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html" target="element"> Kulttuuriperinn&#246;n digitalisointi </a> </td>
																		<td> <a href="../elements/id-a2efab94dd2449f8b9006b31ab7e034c.html" target="element"> Digitointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2cf6daf6a494b5aa53abd492439de61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2cf6daf6a494b5aa53abd492439de61.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html" target="element"> Kulttuuriperinn&#246;n digitalisointi </a> </td>
																		<td> <a href="../elements/id-caa2ca0f16d646b1a637d7e73e12f936.html" target="element"> Alkujaan digitaalisen kulttuuriperinn&#246;n kuratointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f49473579798419d8af135a8563f97f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f49473579798419d8af135a8563f97f1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html" target="element"> Kulttuuriperinn&#246;n digitalisointi </a> </td>
																		<td> <a href="../elements/id-d9b6b8c16b2c46ecb819b40197392a45.html" target="element"> Kulttuuriperinn&#246;n kuvailu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-210428bc9a034e43a2ecf2d0ddb6b88a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-210428bc9a034e43a2ecf2d0ddb6b88a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html" target="element"> Kulttuuriperinn&#246;n digitalisointi </a> </td>
																		<td> <a href="../elements/id-b7ff6b3ef6b74c7592c754d83e7fdc65.html" target="element"> Digitaalisten palveluiden kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c1f16981e29346589b77f9a6375b14db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1f16981e29346589b77f9a6375b14db.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3305e77750de4029bfbf38afb4fcb13c.html" target="element"> Kulttuuriperinn&#246;n digitalisointi </a> </td>
																		<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5f13e03ab60c4000abd57dd3d40de149.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f13e03ab60c4000abd57dd3d40de149.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-4a32e572a5974132a7cadda709e84e85.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6cebf24f353647bf9a493200b1f4a5de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6cebf24f353647bf9a493200b1f4a5de.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-54b42529dbdd444eafbb8e75da497fd3.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c2fcf2f2be14ec1a8d40fc5d2a6497c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c2fcf2f2be14ec1a8d40fc5d2a6497c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-953f3734ff4543d4b6c0e642577f174f.html" target="element"> Kokoelmienhallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5fe5580058af4d67a715948cb725dd23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5fe5580058af4d67a715948cb725dd23.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-286ab99b65214a868b46ef8955700039.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-286ab99b65214a868b46ef8955700039.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-87138eb655df4927b64a43f5f005a1a4.html" target="element"> Tiedonhallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41d73b97a079434181118c32a507b8bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41d73b97a079434181118c32a507b8bb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b93a05a18e874dff849ef4814c67bba5.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-f6b7980296944b45ab0daec282e39529.html" target="element"> J&#228;rjestelmien yll&#228;pito </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c2f6f88a08684690822f10eb457e3e9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2f6f88a08684690822f10eb457e3e9f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;notto ja uudelleenk&#228;ytt&#246; </a> </td>
																		<td> <a href="../elements/id-e02ecf00e5a3466282a29863ab44e84a.html" target="element"> Kulttuuriperint&#246;-tutkimus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c63fc75f6b9e4c1d828ef36a16a573c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c63fc75f6b9e4c1d828ef36a16a573c6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;notto ja uudelleenk&#228;ytt&#246; </a> </td>
																		<td> <a href="../elements/id-47be9680cb634f7282ffbf3537603dbb.html" target="element"> Kulttuuriperint&#246;-kasvatus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7aa96de9d924d59a52a424c266f2f0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7aa96de9d924d59a52a424c266f2f0c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;notto ja uudelleenk&#228;ytt&#246; </a> </td>
																		<td> <a href="../elements/id-8d770efdb93d4b2e9e594ba5a133e945.html" target="element"> Kulttuuriperint&#246;-matkailu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7583fc70ba114d15ae11944d61f5522f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7583fc70ba114d15ae11944d61f5522f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;notto ja uudelleenk&#228;ytt&#246; </a> </td>
																		<td> <a href="../elements/id-802c835f443844d8aa710e4a61cb337d.html" target="element"> Kulttuuriperint&#246;-markkintointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c81cda981ef426eb781fe44f94744cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c81cda981ef426eb781fe44f94744cc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;notto ja uudelleenk&#228;ytt&#246; </a> </td>
																		<td> <a href="../elements/id-d535e9765e8b43baa8c97938c7fe69fe.html" target="element"> Viranomais- ja suojelutoiminta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ecc5997b305c4daba0cb906daa91868a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ecc5997b305c4daba0cb906daa91868a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;notto ja uudelleenk&#228;ytt&#246; </a> </td>
																		<td> <a href="../elements/id-e7e5aa3b22054eccba09d6ebad2d67fa.html" target="element"> Kulttuuriperinn&#246;n kaupallistaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed1d3c5bf4004c16be0ce20f5f246181.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed1d3c5bf4004c16be0ce20f5f246181.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;notto ja uudelleenk&#228;ytt&#246; </a> </td>
																		<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7243845c6c0a45af902286ce15f987dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7243845c6c0a45af902286ce15f987dc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;notto ja uudelleenk&#228;ytt&#246; </a> </td>
																		<td> <a href="../elements/id-ad71e17b7f1b41888f53cbf0f132070f.html" target="element"> Digitaalinen kulttuuri ja viihdetoiminta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d124eea4646495b98fd974b0652267d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d124eea4646495b98fd974b0652267d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-841a5a1b5def493893431db510caf2cc.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;notto ja uudelleenk&#228;ytt&#246; </a> </td>
																		<td> <a href="../elements/id-fc6904fb89044f579a32cfe5dc58a75b.html" target="element"> Mediavaikuttaminen </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>