<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kulttuuriperinnön suojelu ja toiminnan kehittäminen</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kulttuuriperinn&#246;n suojelu ja toiminnan kehitt&#228;minen</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8729ac329a654a12b0f1a6535bd06964.png" alt="Kulttuuriperinnön suojelu ja toiminnan kehittäminen" usemap="#id-8729ac329a654a12b0f1a6535bd06964map"/>
			   <map name="id-8729ac329a654a12b0f1a6535bd06964map">
				  				<area shape="rect" coords="535,226,697,281" href="../elements/id-e6fb327c11b744a6a0e974ec1ce2a873.html"  target="element">
				  				<area shape="rect" coords="526,82,743,137" href="../elements/id-3d95a9ff277540a78dd7fb9226e91207.html"  target="element">
				  				<area shape="rect" coords="919,226,1073,281" href="../elements/id-e715e7f8bf2a4f599050bb3a015e75cc.html"  target="element">
				  				<area shape="rect" coords="1099,226,1256,281" href="../elements/id-36d5f55e8162413b82386903ca3d6ceb.html"  target="element">
				  				<area shape="rect" coords="1003,81,1220,139" href="../elements/id-45e822b3e78440d7928f04939f955687.html"  target="element">
				  				<area shape="rect" coords="739,226,859,281" href="../elements/id-c40c3f437bd844cd96ef5a331c0fd6a3.html"  target="element">
				  				<area shape="rect" coords="787,81,968,139" href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html"  target="element">

				  		<area shape="rect" coords="10,10,1810,347" href="../elements/id-e539bc1731a94f7dab706cae0345a48d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e539bc1731a94f7dab706cae0345a48d.html" target="element"> Kulttuuriperinn&#246;n suojelu ja toiminnan kehitt&#228;minen </a> </td>
											    <td> <a href="../elements/id-e539bc1731a94f7dab706cae0345a48d.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c40c3f437bd844cd96ef5a331c0fd6a3.html" target="element"> Palvelu- ja tuotekehitys </a> </td>
													    <td> <a href="../elements/id-c40c3f437bd844cd96ef5a331c0fd6a3.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-45e822b3e78440d7928f04939f955687.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-45e822b3e78440d7928f04939f955687.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-36d5f55e8162413b82386903ca3d6ceb.html" target="element"> Pysyvien k&#228;sitteiden hallinta </a> </td>
													    <td> <a href="../elements/id-36d5f55e8162413b82386903ca3d6ceb.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e715e7f8bf2a4f599050bb3a015e75cc.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-e715e7f8bf2a4f599050bb3a015e75cc.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3d95a9ff277540a78dd7fb9226e91207.html" target="element"> Digitaalisen kulttuuriperinn&#246;n arvonm&#228;&#228;ritys </a> </td>
													    <td> <a href="../elements/id-3d95a9ff277540a78dd7fb9226e91207.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e6fb327c11b744a6a0e974ec1ce2a873.html" target="element"> Digitaalisen kulttuuriperinn&#246;n vaikuttavuusanalyysi </a> </td>
													    <td> <a href="../elements/id-e6fb327c11b744a6a0e974ec1ce2a873.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-fdc7a0e28d784931b67d6e4831bb2157.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fdc7a0e28d784931b67d6e4831bb2157.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e539bc1731a94f7dab706cae0345a48d.html" target="element"> Kulttuuriperinn&#246;n suojelu ja toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-45e822b3e78440d7928f04939f955687.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e54da967dfc34e17a3cf2afb35a22a4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e54da967dfc34e17a3cf2afb35a22a4c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e539bc1731a94f7dab706cae0345a48d.html" target="element"> Kulttuuriperinn&#246;n suojelu ja toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-3d95a9ff277540a78dd7fb9226e91207.html" target="element"> Digitaalisen kulttuuriperinn&#246;n arvonm&#228;&#228;ritys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1987e0b695e84cdbafd149da450ad019.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1987e0b695e84cdbafd149da450ad019.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e539bc1731a94f7dab706cae0345a48d.html" target="element"> Kulttuuriperinn&#246;n suojelu ja toiminnan kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1821cd2474ab43f38fcbb67d337ac5b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1821cd2474ab43f38fcbb67d337ac5b6.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-45e822b3e78440d7928f04939f955687.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8dca92cdac5740a998409e6895e56a6c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8dca92cdac5740a998409e6895e56a6c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c40c3f437bd844cd96ef5a331c0fd6a3.html" target="element"> Palvelu- ja tuotekehitys </a> </td>
																				<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-53a74ce230324076b6fa47535be988e1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-53a74ce230324076b6fa47535be988e1.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-36d5f55e8162413b82386903ca3d6ceb.html" target="element"> Pysyvien k&#228;sitteiden hallinta </a> </td>
																				<td> <a href="../elements/id-45e822b3e78440d7928f04939f955687.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6af3eb93ed284ea3b40447dbea8462ff.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6af3eb93ed284ea3b40447dbea8462ff.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e715e7f8bf2a4f599050bb3a015e75cc.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-45e822b3e78440d7928f04939f955687.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-30b30cc218754f3591426258f7c771b4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-30b30cc218754f3591426258f7c771b4.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3d95a9ff277540a78dd7fb9226e91207.html" target="element"> Digitaalisen kulttuuriperinn&#246;n arvonm&#228;&#228;ritys </a> </td>
																				<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9ab8be04069d488eb12c35300ab96764.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9ab8be04069d488eb12c35300ab96764.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e6fb327c11b744a6a0e974ec1ce2a873.html" target="element"> Digitaalisen kulttuuriperinn&#246;n vaikuttavuusanalyysi </a> </td>
																				<td> <a href="../elements/id-3d95a9ff277540a78dd7fb9226e91207.html" target="element"> Digitaalisen kulttuuriperinn&#246;n arvonm&#228;&#228;ritys </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>