<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kulttuuriperintötutkimus</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kulttuuriperint&#246;tutkimus</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8b927e25c76744d78d7eda2890236675.png" alt="Kulttuuriperintötutkimus" usemap="#id-8b927e25c76744d78d7eda2890236675map"/>
			   <map name="id-8b927e25c76744d78d7eda2890236675map">
				  		<area shape="rect" coords="1318,286,1571,341" href="../elements/id-e6be59664b554b999c7d1d79dca435fc.html"  target="element">
				  		<area shape="rect" coords="1318,142,1559,197" href="../elements/id-81ffa505967a469eaa838d68e7f6ff2c.html"  target="element">
				  		<area shape="rect" coords="958,788,1211,857" href="../elements/id-7bdc83ef8d3a4e149758a8d3caf5daa9.html"  target="element">
				  		<area shape="rect" coords="70,790,335,855" href="../elements/id-de820ba2f5a94403abbef2924851ce5b.html"  target="element">
				  		<area shape="rect" coords="742,10,1128,65" href="../elements/id-dff4156c70854ee8b4a0bda6d0f9293d.html"  target="element">
				  		<area shape="rect" coords="10,10,706,65" href="../elements/id-2c85a81d7700418b986df0dff9207807.html"  target="element">
				  				<area shape="rect" coords="334,466,598,521" href="../elements/id-01b6cedb55314c4a9cc67ec94d5ce183.html"  target="element">
				  				<area shape="rect" coords="71,430,250,485" href="../elements/id-e2c5803de8344a8eb3a51efff90f571f.html"  target="element">
				  				<area shape="rect" coords="334,658,599,719" href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html"  target="element">
				  				<area shape="rect" coords="22,658,299,719" href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html"  target="element">
				  				<area shape="rect" coords="71,556,250,611" href="../elements/id-84bb8eb67aa64c5fa8df91ab26acfcf6.html"  target="element">
				  				<area shape="rect" coords="334,556,454,611" href="../elements/id-ecf21abb8f1a4fa39e0508dfa382fe86.html"  target="element">
				  				<area shape="rect" coords="946,658,1223,719" href="../elements/id-97aea062588d4bcd82c766419f92acf6.html"  target="element">
				  				<area shape="rect" coords="634,658,905,719" href="../elements/id-4c71200f7b624052a4433537f134657d.html"  target="element">
				  				<area shape="rect" coords="658,526,1019,587" href="../elements/id-b6b5ee9848884b23b0b69f60b8b874bf.html"  target="element">

				  		<area shape="rect" coords="10,406,1246,754" href="../elements/id-2fc2c05039274b50b4b986a243e1b791.html"  target="element">
				  				<area shape="rect" coords="934,298,1186,353" href="../elements/id-22041632ddaa4516bbd2c3d34d1b3a10.html"  target="element">
				  				<area shape="rect" coords="928,154,1186,209" href="../elements/id-839eed06fc154ef2b16b54ade923f9ac.html"  target="element">
				  				<area shape="rect" coords="934,226,1186,281" href="../elements/id-66bd6e84024349eaa6ff59766456489e.html"  target="element">

				  		<area shape="rect" coords="862,106,1247,382" href="../elements/id-217d866f55be4335991844d7bf3115d2.html"  target="element">
				  				<area shape="rect" coords="358,226,528,281" href="../elements/id-578c6b0351b146dea0dddcc6cb947006.html"  target="element">
				  				<area shape="rect" coords="514,298,694,353" href="../elements/id-bfcb6a85d2d04be1ba2c137e18ded292.html"  target="element">
				  				<area shape="rect" coords="34,226,169,281" href="../elements/id-735a83c23a6a439ea5b83d6c71bed352.html"  target="element">
				  				<area shape="rect" coords="514,154,694,209" href="../elements/id-44f87c110fb342f0b229ebc5fe8d374e.html"  target="element">
				  				<area shape="rect" coords="202,226,322,281" href="../elements/id-480813da6c194268994576579ed15d79.html"  target="element">

				  		<area shape="rect" coords="10,106,754,382" href="../elements/id-60574c36b20a45688cd1063351162355.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-60574c36b20a45688cd1063351162355.html" target="element"> Tutkimus ja digitaaliset ihmistieteet </a> </td>
											    <td> <a href="../elements/id-60574c36b20a45688cd1063351162355.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-480813da6c194268994576579ed15d79.html" target="element"> Soveltava tutkimus </a> </td>
													    <td> <a href="../elements/id-480813da6c194268994576579ed15d79.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-44f87c110fb342f0b229ebc5fe8d374e.html" target="element"> Prototyyppien kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-44f87c110fb342f0b229ebc5fe8d374e.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-735a83c23a6a439ea5b83d6c71bed352.html" target="element"> Perustutkimus </a> </td>
													    <td> <a href="../elements/id-735a83c23a6a439ea5b83d6c71bed352.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bfcb6a85d2d04be1ba2c137e18ded292.html" target="element"> Tutkimusdatan kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-bfcb6a85d2d04be1ba2c137e18ded292.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-578c6b0351b146dea0dddcc6cb947006.html" target="element"> Tutkimusartikkelien julkaisu </a> </td>
													    <td> <a href="../elements/id-578c6b0351b146dea0dddcc6cb947006.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-217d866f55be4335991844d7bf3115d2.html" target="element"> Tutkimusinfrastruktuurien hy&#246;dynt&#228;minen </a> </td>
											    <td> <a href="../elements/id-217d866f55be4335991844d7bf3115d2.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-66bd6e84024349eaa6ff59766456489e.html" target="element"> Datan kehitysmenetelmien ja ty&#246;kulkujen jakaminen </a> </td>
													    <td> <a href="../elements/id-66bd6e84024349eaa6ff59766456489e.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-839eed06fc154ef2b16b54ade923f9ac.html" target="element"> Datan analysointi ja jalostaminen datank&#228;sittelyalustoilla </a> </td>
													    <td> <a href="../elements/id-839eed06fc154ef2b16b54ade923f9ac.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-22041632ddaa4516bbd2c3d34d1b3a10.html" target="element"> Tutkimusdatan avaaminen ja k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
													    <td> <a href="../elements/id-22041632ddaa4516bbd2c3d34d1b3a10.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2fc2c05039274b50b4b986a243e1b791.html" target="element"> Kulttuuriperint&#246;toiminta </a> </td>
											    <td> <a href="../elements/id-2fc2c05039274b50b4b986a243e1b791.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b6b5ee9848884b23b0b69f60b8b874bf.html" target="element"> L&#228;hdeaineistojen kokoaminen tutkimustarpeisiin </a> </td>
													    <td> <a href="../elements/id-b6b5ee9848884b23b0b69f60b8b874bf.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
													    <td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
													    <td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ecf21abb8f1a4fa39e0508dfa382fe86.html" target="element"> Tuotanto </a> </td>
													    <td> <a href="../elements/id-ecf21abb8f1a4fa39e0508dfa382fe86.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-84bb8eb67aa64c5fa8df91ab26acfcf6.html" target="element"> Tuotekehitys </a> </td>
													    <td> <a href="../elements/id-84bb8eb67aa64c5fa8df91ab26acfcf6.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
													    <td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e2c5803de8344a8eb3a51efff90f571f.html" target="element"> Prototyypin tuotteistaminen </a> </td>
													    <td> <a href="../elements/id-e2c5803de8344a8eb3a51efff90f571f.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01b6cedb55314c4a9cc67ec94d5ce183.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-01b6cedb55314c4a9cc67ec94d5ce183.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2c85a81d7700418b986df0dff9207807.html" target="element"> Tulkita ja ymm&#228;rt&#228;&#228; kulttuureita ja menneisyytt&#228; totuudenmukaisesti sen historiallisten vaikutusten, syiden ja merkitysten kautta, jotta voimme hahmottaa nykyisyytt&#228; ja luoda suunnitelmia tulevaisuutta varten </a> </td>
											    <td> <a href="../elements/id-2c85a81d7700418b986df0dff9207807.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dff4156c70854ee8b4a0bda6d0f9293d.html" target="element"> Tutkittua tietoa, joka auttaa ihmisi&#228; ymm&#228;rt&#228;m&#228;&#228;n itse&#228;&#228;n, yhteiskuntaansa ja maailmaa paremmin </a> </td>
											    <td> <a href="../elements/id-dff4156c70854ee8b4a0bda6d0f9293d.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de820ba2f5a94403abbef2924851ce5b.html" target="element"> Kulttuuriperint&#246;&#228; suojellaan ja toimintaa uudistetaan hy&#246;dynt&#228;m&#228;ll&#228; digitaalisia teknologioita </a> </td>
											    <td> <a href="../elements/id-de820ba2f5a94403abbef2924851ce5b.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7bdc83ef8d3a4e149758a8d3caf5daa9.html" target="element"> Digitaalista kulttuuriperint&#246;&#228; hy&#246;dynnet&#228;&#228;n yhteiskunnassa </a> </td>
											    <td> <a href="../elements/id-7bdc83ef8d3a4e149758a8d3caf5daa9.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81ffa505967a469eaa838d68e7f6ff2c.html" target="element"> Tuetaan tutkimusta ja kulttuuriperint&#246;toimintaa yhteisill&#228; infrastruktuureilla </a> </td>
											    <td> <a href="../elements/id-81ffa505967a469eaa838d68e7f6ff2c.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e6be59664b554b999c7d1d79dca435fc.html" target="element"> Dataintensiivisen tutkimuksen tekeminen on tehokasta </a> </td>
											    <td> <a href="../elements/id-e6be59664b554b999c7d1d79dca435fc.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-8f223892a02e4f6bb424439ab3af16ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f223892a02e4f6bb424439ab3af16ca.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60574c36b20a45688cd1063351162355.html" target="element"> Tutkimus ja digitaaliset ihmistieteet </a> </td>
																		<td> <a href="../elements/id-480813da6c194268994576579ed15d79.html" target="element"> Soveltava tutkimus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f3cf36566ef8492988969b630cf3ed98.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3cf36566ef8492988969b630cf3ed98.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60574c36b20a45688cd1063351162355.html" target="element"> Tutkimus ja digitaaliset ihmistieteet </a> </td>
																		<td> <a href="../elements/id-44f87c110fb342f0b229ebc5fe8d374e.html" target="element"> Prototyyppien kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-968277531f7d49959ff39b0fbf7b3799.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-968277531f7d49959ff39b0fbf7b3799.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60574c36b20a45688cd1063351162355.html" target="element"> Tutkimus ja digitaaliset ihmistieteet </a> </td>
																		<td> <a href="../elements/id-735a83c23a6a439ea5b83d6c71bed352.html" target="element"> Perustutkimus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eef7c51c145249d9b41390c69b458669.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eef7c51c145249d9b41390c69b458669.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60574c36b20a45688cd1063351162355.html" target="element"> Tutkimus ja digitaaliset ihmistieteet </a> </td>
																		<td> <a href="../elements/id-bfcb6a85d2d04be1ba2c137e18ded292.html" target="element"> Tutkimusdatan kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b3fc0bb06059473cbd077b79e9ee91da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3fc0bb06059473cbd077b79e9ee91da.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60574c36b20a45688cd1063351162355.html" target="element"> Tutkimus ja digitaaliset ihmistieteet </a> </td>
																		<td> <a href="../elements/id-e2c5803de8344a8eb3a51efff90f571f.html" target="element"> Prototyypin tuotteistaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-252e980d889d4fde817fc68c41c9d21b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-252e980d889d4fde817fc68c41c9d21b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60574c36b20a45688cd1063351162355.html" target="element"> Tutkimus ja digitaaliset ihmistieteet </a> </td>
																		<td> <a href="../elements/id-2c85a81d7700418b986df0dff9207807.html" target="element"> Tulkita ja ymm&#228;rt&#228;&#228; kulttuureita ja menneisyytt&#228; totuudenmukaisesti sen historiallisten vaikutusten, syiden ja merkitysten kautta, jotta voimme hahmottaa nykyisyytt&#228; ja luoda suunnitelmia tulevaisuutta varten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c6f2c44ccef94369baa62a0917c37f58.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6f2c44ccef94369baa62a0917c37f58.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60574c36b20a45688cd1063351162355.html" target="element"> Tutkimus ja digitaaliset ihmistieteet </a> </td>
																		<td> <a href="../elements/id-dff4156c70854ee8b4a0bda6d0f9293d.html" target="element"> Tutkittua tietoa, joka auttaa ihmisi&#228; ymm&#228;rt&#228;m&#228;&#228;n itse&#228;&#228;n, yhteiskuntaansa ja maailmaa paremmin </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-364e7829ca1048888d7fac44b9101729.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-364e7829ca1048888d7fac44b9101729.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60574c36b20a45688cd1063351162355.html" target="element"> Tutkimus ja digitaaliset ihmistieteet </a> </td>
																		<td> <a href="../elements/id-578c6b0351b146dea0dddcc6cb947006.html" target="element"> Tutkimusartikkelien julkaisu </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7a6e33d70f2e43afb7a86da34a780c37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a6e33d70f2e43afb7a86da34a780c37.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-480813da6c194268994576579ed15d79.html" target="element"> Soveltava tutkimus </a> </td>
																				<td> <a href="../elements/id-44f87c110fb342f0b229ebc5fe8d374e.html" target="element"> Prototyyppien kehitt&#228;minen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-73a733b2ddd44a90a9ec4dcb4f8ba28e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-73a733b2ddd44a90a9ec4dcb4f8ba28e.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-480813da6c194268994576579ed15d79.html" target="element"> Soveltava tutkimus </a> </td>
																				<td> <a href="../elements/id-bfcb6a85d2d04be1ba2c137e18ded292.html" target="element"> Tutkimusdatan kehitt&#228;minen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e41a6c8f68e14d1ca91242b397747425.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e41a6c8f68e14d1ca91242b397747425.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-480813da6c194268994576579ed15d79.html" target="element"> Soveltava tutkimus </a> </td>
																				<td> <a href="../elements/id-578c6b0351b146dea0dddcc6cb947006.html" target="element"> Tutkimusartikkelien julkaisu </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-919d079faf9a45cca3bed770df075339.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-919d079faf9a45cca3bed770df075339.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-735a83c23a6a439ea5b83d6c71bed352.html" target="element"> Perustutkimus </a> </td>
																				<td> <a href="../elements/id-480813da6c194268994576579ed15d79.html" target="element"> Soveltava tutkimus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6a14bc5220bd43aa934f54bd442e75d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6a14bc5220bd43aa934f54bd442e75d1.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bfcb6a85d2d04be1ba2c137e18ded292.html" target="element"> Tutkimusdatan kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-44f87c110fb342f0b229ebc5fe8d374e.html" target="element"> Prototyyppien kehitt&#228;minen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cc0673c135f445538008c82709d07b62.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cc0673c135f445538008c82709d07b62.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bfcb6a85d2d04be1ba2c137e18ded292.html" target="element"> Tutkimusdatan kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-b6b5ee9848884b23b0b69f60b8b874bf.html" target="element"> L&#228;hdeaineistojen kokoaminen tutkimustarpeisiin </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-34ce06f4fb514d7080551566486a3138.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-34ce06f4fb514d7080551566486a3138.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-217d866f55be4335991844d7bf3115d2.html" target="element"> Tutkimusinfrastruktuurien hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-60574c36b20a45688cd1063351162355.html" target="element"> Tutkimus ja digitaaliset ihmistieteet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-23c1c7eb4d964fcea06bfe82c0dfbc35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23c1c7eb4d964fcea06bfe82c0dfbc35.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-217d866f55be4335991844d7bf3115d2.html" target="element"> Tutkimusinfrastruktuurien hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-b6b5ee9848884b23b0b69f60b8b874bf.html" target="element"> L&#228;hdeaineistojen kokoaminen tutkimustarpeisiin </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c79130f942af4ca3a1f40af5589e8f88.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c79130f942af4ca3a1f40af5589e8f88.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-217d866f55be4335991844d7bf3115d2.html" target="element"> Tutkimusinfrastruktuurien hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-66bd6e84024349eaa6ff59766456489e.html" target="element"> Datan kehitysmenetelmien ja ty&#246;kulkujen jakaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3ae91eb7a6b84996861a7816de52fadd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ae91eb7a6b84996861a7816de52fadd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-217d866f55be4335991844d7bf3115d2.html" target="element"> Tutkimusinfrastruktuurien hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-839eed06fc154ef2b16b54ade923f9ac.html" target="element"> Datan analysointi ja jalostaminen datank&#228;sittelyalustoilla </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-33ea72b7b3a5420ab11e502f20e0e677.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33ea72b7b3a5420ab11e502f20e0e677.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-217d866f55be4335991844d7bf3115d2.html" target="element"> Tutkimusinfrastruktuurien hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-22041632ddaa4516bbd2c3d34d1b3a10.html" target="element"> Tutkimusdatan avaaminen ja k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-95ae443523724d0a9f5084cb0908cbbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95ae443523724d0a9f5084cb0908cbbd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-217d866f55be4335991844d7bf3115d2.html" target="element"> Tutkimusinfrastruktuurien hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-81ffa505967a469eaa838d68e7f6ff2c.html" target="element"> Tuetaan tutkimusta ja kulttuuriperint&#246;toimintaa yhteisill&#228; infrastruktuureilla </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59233fef1057410981d0d6c0a3efbe48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59233fef1057410981d0d6c0a3efbe48.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-217d866f55be4335991844d7bf3115d2.html" target="element"> Tutkimusinfrastruktuurien hy&#246;dynt&#228;minen </a> </td>
																		<td> <a href="../elements/id-e6be59664b554b999c7d1d79dca435fc.html" target="element"> Dataintensiivisen tutkimuksen tekeminen on tehokasta </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f4bae745855e4b5a9b7a9b09dbb2196b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4bae745855e4b5a9b7a9b09dbb2196b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fc2c05039274b50b4b986a243e1b791.html" target="element"> Kulttuuriperint&#246;toiminta </a> </td>
																		<td> <a href="../elements/id-b6b5ee9848884b23b0b69f60b8b874bf.html" target="element"> L&#228;hdeaineistojen kokoaminen tutkimustarpeisiin </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8591d7628694d9288aaf1380e192c6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8591d7628694d9288aaf1380e192c6b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fc2c05039274b50b4b986a243e1b791.html" target="element"> Kulttuuriperint&#246;toiminta </a> </td>
																		<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a064be4734dd4f9da183984b994cf0a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a064be4734dd4f9da183984b994cf0a6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fc2c05039274b50b4b986a243e1b791.html" target="element"> Kulttuuriperint&#246;toiminta </a> </td>
																		<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-75bdaa461bc841b497970cfa79cddf29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75bdaa461bc841b497970cfa79cddf29.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fc2c05039274b50b4b986a243e1b791.html" target="element"> Kulttuuriperint&#246;toiminta </a> </td>
																		<td> <a href="../elements/id-ecf21abb8f1a4fa39e0508dfa382fe86.html" target="element"> Tuotanto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-19f3f7c980154ec89e674177fe436ad9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-19f3f7c980154ec89e674177fe436ad9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fc2c05039274b50b4b986a243e1b791.html" target="element"> Kulttuuriperint&#246;toiminta </a> </td>
																		<td> <a href="../elements/id-84bb8eb67aa64c5fa8df91ab26acfcf6.html" target="element"> Tuotekehitys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-42887a50517e430595170ad5a40c2b99.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42887a50517e430595170ad5a40c2b99.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fc2c05039274b50b4b986a243e1b791.html" target="element"> Kulttuuriperint&#246;toiminta </a> </td>
																		<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cd732e66a443445cb64099e4c73773c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd732e66a443445cb64099e4c73773c6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fc2c05039274b50b4b986a243e1b791.html" target="element"> Kulttuuriperint&#246;toiminta </a> </td>
																		<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-181bca032f284069b25fdbc466abe447.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-181bca032f284069b25fdbc466abe447.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fc2c05039274b50b4b986a243e1b791.html" target="element"> Kulttuuriperint&#246;toiminta </a> </td>
																		<td> <a href="../elements/id-e2c5803de8344a8eb3a51efff90f571f.html" target="element"> Prototyypin tuotteistaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c172e3247694ffeb127386e4db4cf18.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c172e3247694ffeb127386e4db4cf18.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2fc2c05039274b50b4b986a243e1b791.html" target="element"> Kulttuuriperint&#246;toiminta </a> </td>
																		<td> <a href="../elements/id-01b6cedb55314c4a9cc67ec94d5ce183.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a24000849e5042c0b3c590585ad016e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a24000849e5042c0b3c590585ad016e0.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b6b5ee9848884b23b0b69f60b8b874bf.html" target="element"> L&#228;hdeaineistojen kokoaminen tutkimustarpeisiin </a> </td>
																				<td> <a href="../elements/id-bfcb6a85d2d04be1ba2c137e18ded292.html" target="element"> Tutkimusdatan kehitt&#228;minen </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-208a11d6509c4eff924f9724f050b2de.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-208a11d6509c4eff924f9724f050b2de.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
																				<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9c533f8d366445b685f3d885e03ffa5d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9c533f8d366445b685f3d885e03ffa5d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																				<td> <a href="../elements/id-b6b5ee9848884b23b0b69f60b8b874bf.html" target="element"> L&#228;hdeaineistojen kokoaminen tutkimustarpeisiin </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7e6d7a786cdf4e29acd0133c3a053511.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7e6d7a786cdf4e29acd0133c3a053511.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																				<td> <a href="../elements/id-7bdc83ef8d3a4e149758a8d3caf5daa9.html" target="element"> Digitaalista kulttuuriperint&#246;&#228; hy&#246;dynnet&#228;&#228;n yhteiskunnassa </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c37a2611894a4984992551657fb2be15.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c37a2611894a4984992551657fb2be15.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ecf21abb8f1a4fa39e0508dfa382fe86.html" target="element"> Tuotanto </a> </td>
																				<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-779759bca2e744d0897fe0abe3cf0bd3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-779759bca2e744d0897fe0abe3cf0bd3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84bb8eb67aa64c5fa8df91ab26acfcf6.html" target="element"> Tuotekehitys </a> </td>
																				<td> <a href="../elements/id-ecf21abb8f1a4fa39e0508dfa382fe86.html" target="element"> Tuotanto </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5b275d6533134d33ab09b3197f93fdb7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5b275d6533134d33ab09b3197f93fdb7.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84bb8eb67aa64c5fa8df91ab26acfcf6.html" target="element"> Tuotekehitys </a> </td>
																				<td> <a href="../elements/id-e2c5803de8344a8eb3a51efff90f571f.html" target="element"> Prototyypin tuotteistaminen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cafccf363a1f4ab1a62991d1aeae2259.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cafccf363a1f4ab1a62991d1aeae2259.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84bb8eb67aa64c5fa8df91ab26acfcf6.html" target="element"> Tuotekehitys </a> </td>
																				<td> <a href="../elements/id-01b6cedb55314c4a9cc67ec94d5ce183.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-79b562a3513f422ca0af752ed859c486.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-79b562a3513f422ca0af752ed859c486.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ae5ec832aa4b4d4f881493faf657bcfc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ae5ec832aa4b4d4f881493faf657bcfc.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-84bb8eb67aa64c5fa8df91ab26acfcf6.html" target="element"> Tuotekehitys </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6ca1d1f55a55488ba3b582fce87b691a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6ca1d1f55a55488ba3b582fce87b691a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-de820ba2f5a94403abbef2924851ce5b.html" target="element"> Kulttuuriperint&#246;&#228; suojellaan ja toimintaa uudistetaan hy&#246;dynt&#228;m&#228;ll&#228; digitaalisia teknologioita </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b544fb00787a4fe2a28f80b6d495f8ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b544fb00787a4fe2a28f80b6d495f8ee.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																				<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-baf2b3140c7746a9aec5846aedd4b142.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-baf2b3140c7746a9aec5846aedd4b142.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																				<td> <a href="../elements/id-b6b5ee9848884b23b0b69f60b8b874bf.html" target="element"> L&#228;hdeaineistojen kokoaminen tutkimustarpeisiin </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c6fd323613494deda161dfd4d86a9ddb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c6fd323613494deda161dfd4d86a9ddb.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-01b6cedb55314c4a9cc67ec94d5ce183.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-b6b5ee9848884b23b0b69f60b8b874bf.html" target="element"> L&#228;hdeaineistojen kokoaminen tutkimustarpeisiin </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c774a99555db4fd198556caa3b355641.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c774a99555db4fd198556caa3b355641.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-01b6cedb55314c4a9cc67ec94d5ce183.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>