<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Hallintolaki</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Hallintolaki</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-86cf7618f9ef44889038a83861a577ba.png" alt="Hallintolaki" usemap="#id-86cf7618f9ef44889038a83861a577bamap"/>
			   <map name="id-86cf7618f9ef44889038a83861a577bamap">
				  		<area shape="rect" coords="145,10,265,65" href="../elements/id-41acec8a5b0047eabd240ace5013ff4a.html"  target="element">
				  		<area shape="rect" coords="553,10,673,65" href="../elements/id-fd1d2b2adc0d4ce4b6dbab4dbb91d0ed.html"  target="element">
				  		<area shape="rect" coords="409,10,537,65" href="../elements/id-6a5fce76699446a69c206ff80ccba42b.html"  target="element">
				  		<area shape="rect" coords="277,10,397,65" href="../elements/id-911b7ea7fcea4fcdaeec8bc87aab54b7.html"  target="element">
				  		<area shape="rect" coords="323,161,443,216" href="../elements/id-0100220567da400aa0d07986a24781bc.html"  target="element">
				  		<area shape="rect" coords="490,346,736,401" href="../elements/id-3dba37b5ffd4408fae11be35a9a7029b.html"  target="element">
				  		<area shape="rect" coords="10,334,369,389" href="../elements/id-e43c24a33e624c66a35c07b23cb16da1.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">https://www.finlex.fi/fi/laki/ajantasa/2003/20030434</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e43c24a33e624c66a35c07b23cb16da1.html" target="element"> Toteuttaa ja edist&#228;&#228; hyv&#228;&#228; hallintoa sek&#228; oikeusturvaa hallintoasioissa </a> </td>
											    <td> <a href="../elements/id-e43c24a33e624c66a35c07b23cb16da1.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3dba37b5ffd4408fae11be35a9a7029b.html" target="element"> Edist&#228;&#228; hallinnon palvelujen laatua ja tuloksellisuutta </a> </td>
											    <td> <a href="../elements/id-3dba37b5ffd4408fae11be35a9a7029b.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0100220567da400aa0d07986a24781bc.html" target="element"> Hallintolaki </a> </td>
											    <td> <a href="../elements/id-0100220567da400aa0d07986a24781bc.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-911b7ea7fcea4fcdaeec8bc87aab54b7.html" target="element"> Oikeusturva </a> </td>
											    <td> <a href="../elements/id-911b7ea7fcea4fcdaeec8bc87aab54b7.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a5fce76699446a69c206ff80ccba42b.html" target="element"> Tuloksellisuus </a> </td>
											    <td> <a href="../elements/id-6a5fce76699446a69c206ff80ccba42b.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fd1d2b2adc0d4ce4b6dbab4dbb91d0ed.html" target="element"> Laatu </a> </td>
											    <td> <a href="../elements/id-fd1d2b2adc0d4ce4b6dbab4dbb91d0ed.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-41acec8a5b0047eabd240ace5013ff4a.html" target="element"> Hyv&#228; hallintotapa </a> </td>
											    <td> <a href="../elements/id-41acec8a5b0047eabd240ace5013ff4a.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-8c6d01c3faba4aff80f70667553d40f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c6d01c3faba4aff80f70667553d40f1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0100220567da400aa0d07986a24781bc.html" target="element"> Hallintolaki </a> </td>
																		<td> <a href="../elements/id-e43c24a33e624c66a35c07b23cb16da1.html" target="element"> Toteuttaa ja edist&#228;&#228; hyv&#228;&#228; hallintoa sek&#228; oikeusturvaa hallintoasioissa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-524a1f9b98d443ada2c8ef31db2dcb35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-524a1f9b98d443ada2c8ef31db2dcb35.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0100220567da400aa0d07986a24781bc.html" target="element"> Hallintolaki </a> </td>
																		<td> <a href="../elements/id-3dba37b5ffd4408fae11be35a9a7029b.html" target="element"> Edist&#228;&#228; hallinnon palvelujen laatua ja tuloksellisuutta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6e63a771fc3549528b24b52e5b8c3a96.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e63a771fc3549528b24b52e5b8c3a96.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0100220567da400aa0d07986a24781bc.html" target="element"> Hallintolaki </a> </td>
																		<td> <a href="../elements/id-41acec8a5b0047eabd240ace5013ff4a.html" target="element"> Hyv&#228; hallintotapa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a275f911fcc84ff6bb438ab3281a2536.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a275f911fcc84ff6bb438ab3281a2536.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0100220567da400aa0d07986a24781bc.html" target="element"> Hallintolaki </a> </td>
																		<td> <a href="../elements/id-911b7ea7fcea4fcdaeec8bc87aab54b7.html" target="element"> Oikeusturva </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-45674f9ffb084b7f8d88b40cf3bfedd4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-45674f9ffb084b7f8d88b40cf3bfedd4.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0100220567da400aa0d07986a24781bc.html" target="element"> Hallintolaki </a> </td>
																		<td> <a href="../elements/id-6a5fce76699446a69c206ff80ccba42b.html" target="element"> Tuloksellisuus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-459f4a57dbc44a4e9a014c711119a094.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-459f4a57dbc44a4e9a014c711119a094.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0100220567da400aa0d07986a24781bc.html" target="element"> Hallintolaki </a> </td>
																		<td> <a href="../elements/id-fd1d2b2adc0d4ce4b6dbab4dbb91d0ed.html" target="element"> Laatu </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>