<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Tietovirrat sektoreittain</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Tietovirrat sektoreittain</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-86d19969dfa34883b2b3068d6967f4ea.png" alt="Tietovirrat sektoreittain" usemap="#id-86d19969dfa34883b2b3068d6967f4eamap"/>
			   <map name="id-86d19969dfa34883b2b3068d6967f4eamap">
				  		<area shape="rect" coords="322,538,442,593" href="../elements/id-d5c0f69b0fa249beb21f02126c9a04a7.html"  target="element">
				  				<area shape="rect" coords="358,322,503,377" href="../elements/id-464471b4a449489c87e1d3354dc97f13.html"  target="element">
				  				<area shape="rect" coords="190,322,331,377" href="../elements/id-56389215a7664ea085da669217660385.html"  target="element">
				  				<area shape="rect" coords="34,322,167,377" href="../elements/id-b9a0042da59749ce8571135dc5c59b2e.html"  target="element">

				  		<area shape="rect" coords="10,274,527,407" href="../elements/id-9684a1e86fc343d8b0f67b37a50b4d46.html"  target="element">
				  		<area shape="rect" coords="346,94,527,149" href="../elements/id-549e4d7a962c44378daacc66107a1e9e.html"  target="element">
				  		<area shape="rect" coords="210,10,349,65" href="../elements/id-a31aaa8ad335403bbb900258905b2098.html"  target="element">
				  		<area shape="rect" coords="34,538,174,593" href="../elements/id-8ea23f9c768841bab405d3d7551ee93d.html"  target="element">
				  		<area shape="rect" coords="22,94,223,149" href="../elements/id-8f39c5d50e5f466d8d3d88853174b81b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8f39c5d50e5f466d8d3d88853174b81b.html" target="element"> Kansallinen k&#228;ytt&#246;&#246;nsaattopalvelu (Finna) </a> </td>
											    <td> <a href="../elements/id-8f39c5d50e5f466d8d3d88853174b81b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ea23f9c768841bab405d3d7551ee93d.html" target="element"> Tiedonl&#228;hteen&#228; toimivat palvelut </a> </td>
											    <td> <a href="../elements/id-8ea23f9c768841bab405d3d7551ee93d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a31aaa8ad335403bbb900258905b2098.html" target="element"> Kansainv&#228;linen palvelu </a> </td>
											    <td> <a href="../elements/id-a31aaa8ad335403bbb900258905b2098.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-549e4d7a962c44378daacc66107a1e9e.html" target="element"> Pitk&#228;aikaiss&#228;ilytyksen palvelu (Kulttuuriperint&#246; PAS) </a> </td>
											    <td> <a href="../elements/id-549e4d7a962c44378daacc66107a1e9e.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9684a1e86fc343d8b0f67b37a50b4d46.html" target="element"> Kulttuuriperint&#246;aineisto-palvelu </a> </td>
											    <td> <a href="../elements/id-9684a1e86fc343d8b0f67b37a50b4d46.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b9a0042da59749ce8571135dc5c59b2e.html" target="element"> Museosektorin palvelu </a> </td>
													    <td> <a href="../elements/id-b9a0042da59749ce8571135dc5c59b2e.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-56389215a7664ea085da669217660385.html" target="element"> Arkistosektorin palvelu </a> </td>
													    <td> <a href="../elements/id-56389215a7664ea085da669217660385.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-464471b4a449489c87e1d3354dc97f13.html" target="element"> Kirjastosektorin palvelu </a> </td>
													    <td> <a href="../elements/id-464471b4a449489c87e1d3354dc97f13.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d5c0f69b0fa249beb21f02126c9a04a7.html" target="element"> Hy&#246;dynt&#228;v&#228;t palvelut </a> </td>
											    <td> <a href="../elements/id-d5c0f69b0fa249beb21f02126c9a04a7.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-dd01106d73414a8395dffb0def50dd1b.html" target="element"> Aineistot ja kuvailutiedot </a> </td>
																		<td> <a href="../elements/id-dd01106d73414a8395dffb0def50dd1b.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ea23f9c768841bab405d3d7551ee93d.html" target="element"> Tiedonl&#228;hteen&#228; toimivat palvelut </a> </td>
																		<td> <a href="../elements/id-9684a1e86fc343d8b0f67b37a50b4d46.html" target="element"> Kulttuuriperint&#246;aineisto-palvelu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a0282d9435484dd7b5a287543b9f021f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0282d9435484dd7b5a287543b9f021f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9684a1e86fc343d8b0f67b37a50b4d46.html" target="element"> Kulttuuriperint&#246;aineisto-palvelu </a> </td>
																		<td> <a href="../elements/id-b9a0042da59749ce8571135dc5c59b2e.html" target="element"> Museosektorin palvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c319721490374231a1234c885653e970.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c319721490374231a1234c885653e970.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9684a1e86fc343d8b0f67b37a50b4d46.html" target="element"> Kulttuuriperint&#246;aineisto-palvelu </a> </td>
																		<td> <a href="../elements/id-56389215a7664ea085da669217660385.html" target="element"> Arkistosektorin palvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-77225f7f0dee454d8b0a87b319317945.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77225f7f0dee454d8b0a87b319317945.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9684a1e86fc343d8b0f67b37a50b4d46.html" target="element"> Kulttuuriperint&#246;aineisto-palvelu </a> </td>
																		<td> <a href="../elements/id-464471b4a449489c87e1d3354dc97f13.html" target="element"> Kirjastosektorin palvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c46ac2cd22b44ea94a4735e27b1f003.html" target="element"> Kuvailutiedot </a> </td>
																		<td> <a href="../elements/id-9c46ac2cd22b44ea94a4735e27b1f003.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9684a1e86fc343d8b0f67b37a50b4d46.html" target="element"> Kulttuuriperint&#246;aineisto-palvelu </a> </td>
																		<td> <a href="../elements/id-8f39c5d50e5f466d8d3d88853174b81b.html" target="element"> Kansallinen k&#228;ytt&#246;&#246;nsaattopalvelu (Finna) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d09a501f6f264ca1bbdb82d76d44694d.html" target="element"> Tietopaketit </a> </td>
																		<td> <a href="../elements/id-d09a501f6f264ca1bbdb82d76d44694d.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9684a1e86fc343d8b0f67b37a50b4d46.html" target="element"> Kulttuuriperint&#246;aineisto-palvelu </a> </td>
																		<td> <a href="../elements/id-549e4d7a962c44378daacc66107a1e9e.html" target="element"> Pitk&#228;aikaiss&#228;ilytyksen palvelu (Kulttuuriperint&#246; PAS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-593e6164c7a940df920204a8e9d43a23.html" target="element"> Kuvailutiedot </a> </td>
																		<td> <a href="../elements/id-593e6164c7a940df920204a8e9d43a23.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9684a1e86fc343d8b0f67b37a50b4d46.html" target="element"> Kulttuuriperint&#246;aineisto-palvelu </a> </td>
																		<td> <a href="../elements/id-a31aaa8ad335403bbb900258905b2098.html" target="element"> Kansainv&#228;linen palvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c8f9ba3248a841019c39b831e1745e80.html" target="element"> Kulttuuriperint&#246;aineistot ja kuvailutiedot </a> </td>
																		<td> <a href="../elements/id-c8f9ba3248a841019c39b831e1745e80.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9684a1e86fc343d8b0f67b37a50b4d46.html" target="element"> Kulttuuriperint&#246;aineisto-palvelu </a> </td>
																		<td> <a href="../elements/id-d5c0f69b0fa249beb21f02126c9a04a7.html" target="element"> Hy&#246;dynt&#228;v&#228;t palvelut </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>