<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Alkujaan digitaalisten aineistojen kuratointi</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Alkujaan digitaalisten aineistojen kuratointi</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9bdf74d82f7f41dba965236eb927043d.png" alt="Alkujaan digitaalisten aineistojen kuratointi" usemap="#id-9bdf74d82f7f41dba965236eb927043dmap"/>
			   <map name="id-9bdf74d82f7f41dba965236eb927043dmap">
				  				<area shape="rect" coords="102,409,222,464" href="../elements/id-b99ae6e9590546ce896224b6378667d7.html"  target="element">

				  		<area shape="rect" coords="10,322,851,515" href="../elements/id-11b346f9c7ca479982901578ee148a4b.html"  target="element">
				  				<area shape="rect" coords="682,118,918,173" href="../elements/id-7f09ec69f7834c6ba0b208c1fe80a425.html"  target="element">
				  				<area shape="rect" coords="454,118,659,173" href="../elements/id-7af36ce166f3462b8c3ccecb4add1d77.html"  target="element">
				  				<area shape="rect" coords="262,118,431,173" href="../elements/id-a88e01cc06e94a05bfb85946924501f2.html"  target="element">
				  				<area shape="rect" coords="34,118,239,173" href="../elements/id-e226b997a66545bba3cfc934905743de.html"  target="element">

				  		<area shape="rect" coords="10,82,947,279" href="../elements/id-6db9f80a4702499a9a4c02c45f3a76be.html"  target="element">
				  		<area shape="rect" coords="1006,10,1295,65" href="../elements/id-6a320e8ad54840e8abef1861302784a9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6a320e8ad54840e8abef1861302784a9.html" target="element"> Pitk&#228;aikaiss&#228;ilytykseen valmistelu </a> </td>
											    <td> <a href="../elements/id-6a320e8ad54840e8abef1861302784a9.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6db9f80a4702499a9a4c02c45f3a76be.html" target="element"> Fyysisten tallennusmedioiden k&#228;sittely </a> </td>
											    <td> <a href="../elements/id-6db9f80a4702499a9a4c02c45f3a76be.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e226b997a66545bba3cfc934905743de.html" target="element"> Alkujaan digitaalisten aineistojen ker&#228;&#228;minen tai vastaanotto </a> </td>
													    <td> <a href="../elements/id-e226b997a66545bba3cfc934905743de.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a88e01cc06e94a05bfb85946924501f2.html" target="element"> Aineistojen luettelointi ja kuvailu </a> </td>
													    <td> <a href="../elements/id-a88e01cc06e94a05bfb85946924501f2.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7af36ce166f3462b8c3ccecb4add1d77.html" target="element"> Aineistojen jatkok&#228;sittelyn priorisointi </a> </td>
													    <td> <a href="../elements/id-7af36ce166f3462b8c3ccecb4add1d77.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7f09ec69f7834c6ba0b208c1fe80a425.html" target="element"> Aineistojen k&#228;sittely ja varmuuskopiointi </a> </td>
													    <td> <a href="../elements/id-7f09ec69f7834c6ba0b208c1fe80a425.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-11b346f9c7ca479982901578ee148a4b.html" target="element"> Verkko- tai digitaalisten arkistoaineistojen k&#228;sittely </a> </td>
											    <td> <a href="../elements/id-11b346f9c7ca479982901578ee148a4b.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b99ae6e9590546ce896224b6378667d7.html" target="element"> Value Stream </a> </td>
													    <td> <a href="../elements/id-b99ae6e9590546ce896224b6378667d7.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f4c25aac775b4ec98ff22c9b570edd7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4c25aac775b4ec98ff22c9b570edd7c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6db9f80a4702499a9a4c02c45f3a76be.html" target="element"> Fyysisten tallennusmedioiden k&#228;sittely </a> </td>
																		<td> <a href="../elements/id-e226b997a66545bba3cfc934905743de.html" target="element"> Alkujaan digitaalisten aineistojen ker&#228;&#228;minen tai vastaanotto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b38773b504cb47ceb042185cc0fb7571.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b38773b504cb47ceb042185cc0fb7571.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6db9f80a4702499a9a4c02c45f3a76be.html" target="element"> Fyysisten tallennusmedioiden k&#228;sittely </a> </td>
																		<td> <a href="../elements/id-a88e01cc06e94a05bfb85946924501f2.html" target="element"> Aineistojen luettelointi ja kuvailu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a282d9308b404ad7bcb89ee92ea4bf92.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a282d9308b404ad7bcb89ee92ea4bf92.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6db9f80a4702499a9a4c02c45f3a76be.html" target="element"> Fyysisten tallennusmedioiden k&#228;sittely </a> </td>
																		<td> <a href="../elements/id-7af36ce166f3462b8c3ccecb4add1d77.html" target="element"> Aineistojen jatkok&#228;sittelyn priorisointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8bffc5912bd54bc8b0d3009c6dcd46a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8bffc5912bd54bc8b0d3009c6dcd46a6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6db9f80a4702499a9a4c02c45f3a76be.html" target="element"> Fyysisten tallennusmedioiden k&#228;sittely </a> </td>
																		<td> <a href="../elements/id-7f09ec69f7834c6ba0b208c1fe80a425.html" target="element"> Aineistojen k&#228;sittely ja varmuuskopiointi </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b155a174c0b04339a48502138523ae05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b155a174c0b04339a48502138523ae05.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11b346f9c7ca479982901578ee148a4b.html" target="element"> Verkko- tai digitaalisten arkistoaineistojen k&#228;sittely </a> </td>
																		<td> <a href="../elements/id-b99ae6e9590546ce896224b6378667d7.html" target="element"> Value Stream </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>