<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kulttuuriperintö ylätason malli</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kulttuuriperint&#246; yl&#228;tason malli</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9aa1cbbea5ab433d98fae4a6714298e2.png" alt="Kulttuuriperintö ylätason malli" usemap="#id-9aa1cbbea5ab433d98fae4a6714298e2map"/>
			   <map name="id-9aa1cbbea5ab433d98fae4a6714298e2map">
				  		<area shape="rect" coords="245,502,378,557" href="../elements/id-81e30f8d2397405da5ed2d55b62670e5.html"  target="element">
				  		<area shape="rect" coords="560,304,680,359" href="../elements/id-31ca2b50f0cf423e926dd23cd4d75097.html"  target="element">
				  		<area shape="rect" coords="245,618,405,673" href="../elements/id-9bbb934c06874567bc317145d83ebbb8.html"  target="element">
				  		<area shape="rect" coords="919,672,1039,727" href="../elements/id-41c2c1bdb5c84022afab30ffa6f5e9b3.html"  target="element">
				  		<area shape="rect" coords="560,526,720,581" href="../elements/id-57b54ce3eb0f49459303ca73a1d6e0aa.html"  target="element">
				  		<area shape="rect" coords="808,594,956,649" href="../elements/id-c5bba1cb5cb54885b6f3bf675aca93dc.html"  target="element">
				  		<area shape="rect" coords="620,406,780,461" href="../elements/id-37632fee357b4965b1e9472d7b383a9f.html"  target="element">
				  		<area shape="rect" coords="332,394,470,449" href="../elements/id-3206a8a4c49a4c43bf072e2aa7a86f0f.html"  target="element">
				  		<area shape="rect" coords="938,91,1058,146" href="../elements/id-9dd58aa192dc4240a4c51aa7b36229cd.html"  target="element">
				  		<area shape="rect" coords="364,250,484,305" href="../elements/id-9e045043ae0a4a288affa676844fa354.html"  target="element">
				  		<area shape="rect" coords="1057,672,1177,727" href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html"  target="element">
				  		<area shape="rect" coords="955,486,1099,541" href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html"  target="element">
				  		<area shape="rect" coords="55,366,201,421" href="../elements/id-17fb30ce71314fd992ae29b501466451.html"  target="element">
				  		<area shape="rect" coords="397,502,536,557" href="../elements/id-d1218d58576346049a220844138e9a12.html"  target="element">
				  		<area shape="rect" coords="51,618,205,673" href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html"  target="element">
				  		<area shape="rect" coords="55,250,201,305" href="../elements/id-803015adca6e49d8993abfa45a03ae05.html"  target="element">
				  		<area shape="rect" coords="416,10,536,65" href="../elements/id-fc60931a60a14adea6fe01cec95b69af.html"  target="element">
				  		<area shape="rect" coords="560,178,737,233" href="../elements/id-89a721b426394b27bb762edba703fe98.html"  target="element">
				  		<area shape="rect" coords="938,258,1080,313" href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html" target="element"> Ihmisen luoma fyysinen objekti </a> </td>
											    <td> <a href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-89a721b426394b27bb762edba703fe98.html" target="element"> Ihmisen luoma objekti </a> </td>
											    <td> <a href="../elements/id-89a721b426394b27bb762edba703fe98.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc60931a60a14adea6fe01cec95b69af.html" target="element"> Entiteetti </a> </td>
											    <td> <a href="../elements/id-fc60931a60a14adea6fe01cec95b69af.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-803015adca6e49d8993abfa45a03ae05.html" target="element"> Luonnollinen fyysinen objekti </a> </td>
											    <td> <a href="../elements/id-803015adca6e49d8993abfa45a03ae05.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element"> Rakennusperint&#246; </a> </td>
											    <td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d1218d58576346049a220844138e9a12.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-d1218d58576346049a220844138e9a12.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17fb30ce71314fd992ae29b501466451.html" target="element"> Luonnonperint&#246; </a> </td>
											    <td> <a href="../elements/id-17fb30ce71314fd992ae29b501466451.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
											    <td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
											    <td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e045043ae0a4a288affa676844fa354.html" target="element"> K&#228;sitteellinen objekti </a> </td>
											    <td> <a href="../elements/id-9e045043ae0a4a288affa676844fa354.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9dd58aa192dc4240a4c51aa7b36229cd.html" target="element"> Fyysinen objekti </a> </td>
											    <td> <a href="../elements/id-9dd58aa192dc4240a4c51aa7b36229cd.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3206a8a4c49a4c43bf072e2aa7a86f0f.html" target="element"> Kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-3206a8a4c49a4c43bf072e2aa7a86f0f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-37632fee357b4965b1e9472d7b383a9f.html" target="element"> Kulttuuriperint&#246;-kokoelma </a> </td>
											    <td> <a href="../elements/id-37632fee357b4965b1e9472d7b383a9f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c5bba1cb5cb54885b6f3bf675aca93dc.html" target="element"> Digitaalinen kulttuuriperint&#246;-aineisto </a> </td>
											    <td> <a href="../elements/id-c5bba1cb5cb54885b6f3bf675aca93dc.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-57b54ce3eb0f49459303ca73a1d6e0aa.html" target="element"> Kulttuuriperint&#246;-aineisto </a> </td>
											    <td> <a href="../elements/id-57b54ce3eb0f49459303ca73a1d6e0aa.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-41c2c1bdb5c84022afab30ffa6f5e9b3.html" target="element"> Kuvailutieto </a> </td>
											    <td> <a href="../elements/id-41c2c1bdb5c84022afab30ffa6f5e9b3.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9bbb934c06874567bc317145d83ebbb8.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-9bbb934c06874567bc317145d83ebbb8.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-31ca2b50f0cf423e926dd23cd4d75097.html" target="element"> Symbolinen objekti </a> </td>
											    <td> <a href="../elements/id-31ca2b50f0cf423e926dd23cd4d75097.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-81e30f8d2397405da5ed2d55b62670e5.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-81e30f8d2397405da5ed2d55b62670e5.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-abc8e30cdf6e4f12897aefd006cad844.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-abc8e30cdf6e4f12897aefd006cad844.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html" target="element"> Ihmisen luoma fyysinen objekti </a> </td>
																		<td> <a href="../elements/id-9dd58aa192dc4240a4c51aa7b36229cd.html" target="element"> Fyysinen objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a4f85949bb934130be933adefee9e564.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4f85949bb934130be933adefee9e564.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html" target="element"> Ihmisen luoma fyysinen objekti </a> </td>
																		<td> <a href="../elements/id-89a721b426394b27bb762edba703fe98.html" target="element"> Ihmisen luoma objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-06a259282aa54fec9a57015306c74a6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06a259282aa54fec9a57015306c74a6c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-89a721b426394b27bb762edba703fe98.html" target="element"> Ihmisen luoma objekti </a> </td>
																		<td> <a href="../elements/id-fc60931a60a14adea6fe01cec95b69af.html" target="element"> Entiteetti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9c0a8e667cb24a4e81d98751927b4661.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c0a8e667cb24a4e81d98751927b4661.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-803015adca6e49d8993abfa45a03ae05.html" target="element"> Luonnollinen fyysinen objekti </a> </td>
																		<td> <a href="../elements/id-fc60931a60a14adea6fe01cec95b69af.html" target="element"> Entiteetti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-48f3691575774828a8b285471cc862f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48f3691575774828a8b285471cc862f3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element"> Rakennusperint&#246; </a> </td>
																		<td> <a href="../elements/id-17fb30ce71314fd992ae29b501466451.html" target="element"> Luonnonperint&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8420236409024868b4b0e65938a628c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8420236409024868b4b0e65938a628c7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element"> Rakennusperint&#246; </a> </td>
																		<td> <a href="../elements/id-81e30f8d2397405da5ed2d55b62670e5.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2b17b508d6ee4f0ba6c6088317ae0f07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b17b508d6ee4f0ba6c6088317ae0f07.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1218d58576346049a220844138e9a12.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-3206a8a4c49a4c43bf072e2aa7a86f0f.html" target="element"> Kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0f8e48a731e24974a2ade73cea84d2a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f8e48a731e24974a2ade73cea84d2a6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17fb30ce71314fd992ae29b501466451.html" target="element"> Luonnonperint&#246; </a> </td>
																		<td> <a href="../elements/id-9e045043ae0a4a288affa676844fa354.html" target="element"> K&#228;sitteellinen objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a97f2a504f143be95460d59bde61923.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a97f2a504f143be95460d59bde61923.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17fb30ce71314fd992ae29b501466451.html" target="element"> Luonnonperint&#246; </a> </td>
																		<td> <a href="../elements/id-803015adca6e49d8993abfa45a03ae05.html" target="element"> Luonnollinen fyysinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fb2ea94bbb3c4a52b86eb0d22b4d75b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb2ea94bbb3c4a52b86eb0d22b4d75b0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																		<td> <a href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html" target="element"> Ihmisen luoma fyysinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4d87684da2a7470d942b552f903e84e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d87684da2a7470d942b552f903e84e6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-492fc8ad8b8f4b929ea26d4f9ea234e0.html" target="element"> digitoi </a> </td>
																		<td> <a href="../elements/id-492fc8ad8b8f4b929ea26d4f9ea234e0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
																		<td> <a href="../elements/id-9dd58aa192dc4240a4c51aa7b36229cd.html" target="element"> Fyysinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-366f466785e0461a90510d165e82b7f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-366f466785e0461a90510d165e82b7f0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9e045043ae0a4a288affa676844fa354.html" target="element"> K&#228;sitteellinen objekti </a> </td>
																		<td> <a href="../elements/id-89a721b426394b27bb762edba703fe98.html" target="element"> Ihmisen luoma objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4fab972e7aa54ee8bcca0217c4cf07c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4fab972e7aa54ee8bcca0217c4cf07c0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9dd58aa192dc4240a4c51aa7b36229cd.html" target="element"> Fyysinen objekti </a> </td>
																		<td> <a href="../elements/id-fc60931a60a14adea6fe01cec95b69af.html" target="element"> Entiteetti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d401bdd622164c63b89a24e9223294b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d401bdd622164c63b89a24e9223294b3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3206a8a4c49a4c43bf072e2aa7a86f0f.html" target="element"> Kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-9e045043ae0a4a288affa676844fa354.html" target="element"> K&#228;sitteellinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-10b2f0e8b757458c95fda93974e96a87.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10b2f0e8b757458c95fda93974e96a87.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-37632fee357b4965b1e9472d7b383a9f.html" target="element"> Kulttuuriperint&#246;-kokoelma </a> </td>
																		<td> <a href="../elements/id-57b54ce3eb0f49459303ca73a1d6e0aa.html" target="element"> Kulttuuriperint&#246;-aineisto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-39c7348a60524bf7b860928ece3376e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39c7348a60524bf7b860928ece3376e0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-37632fee357b4965b1e9472d7b383a9f.html" target="element"> Kulttuuriperint&#246;-kokoelma </a> </td>
																		<td> <a href="../elements/id-31ca2b50f0cf423e926dd23cd4d75097.html" target="element"> Symbolinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7f51e9f96e424f4d8f08f84d51c31639.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7f51e9f96e424f4d8f08f84d51c31639.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5bba1cb5cb54885b6f3bf675aca93dc.html" target="element"> Digitaalinen kulttuuriperint&#246;-aineisto </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b1d6436968d4682a2b344722463c243.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b1d6436968d4682a2b344722463c243.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5bba1cb5cb54885b6f3bf675aca93dc.html" target="element"> Digitaalinen kulttuuriperint&#246;-aineisto </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-54928a69b8954d5b8b222e1f1577ada8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54928a69b8954d5b8b222e1f1577ada8.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5bba1cb5cb54885b6f3bf675aca93dc.html" target="element"> Digitaalinen kulttuuriperint&#246;-aineisto </a> </td>
																		<td> <a href="../elements/id-57b54ce3eb0f49459303ca73a1d6e0aa.html" target="element"> Kulttuuriperint&#246;-aineisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e995abd472e64072bf852c4f303353ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e995abd472e64072bf852c4f303353ec.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-57b54ce3eb0f49459303ca73a1d6e0aa.html" target="element"> Kulttuuriperint&#246;-aineisto </a> </td>
																		<td> <a href="../elements/id-41c2c1bdb5c84022afab30ffa6f5e9b3.html" target="element"> Kuvailutieto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6496ef8634e74159a44a611d11817ce1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6496ef8634e74159a44a611d11817ce1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-57b54ce3eb0f49459303ca73a1d6e0aa.html" target="element"> Kulttuuriperint&#246;-aineisto </a> </td>
																		<td> <a href="../elements/id-fc60931a60a14adea6fe01cec95b69af.html" target="element"> Entiteetti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-04c42ca6965e45e5a6513a4702d93b74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-04c42ca6965e45e5a6513a4702d93b74.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-57b54ce3eb0f49459303ca73a1d6e0aa.html" target="element"> Kulttuuriperint&#246;-aineisto </a> </td>
																		<td> <a href="../elements/id-31ca2b50f0cf423e926dd23cd4d75097.html" target="element"> Symbolinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-01da24be577c4ddc8e28b02f87078ba6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01da24be577c4ddc8e28b02f87078ba6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-41c2c1bdb5c84022afab30ffa6f5e9b3.html" target="element"> Kuvailutieto </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a9d12429967f4173800f1da59f3be483.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9d12429967f4173800f1da59f3be483.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9bbb934c06874567bc317145d83ebbb8.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-81e30f8d2397405da5ed2d55b62670e5.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-de34498ec28940d1b192caeda01acb24.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de34498ec28940d1b192caeda01acb24.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-31ca2b50f0cf423e926dd23cd4d75097.html" target="element"> Symbolinen objekti </a> </td>
																		<td> <a href="../elements/id-9e045043ae0a4a288affa676844fa354.html" target="element"> K&#228;sitteellinen objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-846b4f5b83044214a25edce6c3c6c1a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-846b4f5b83044214a25edce6c3c6c1a5.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-31ca2b50f0cf423e926dd23cd4d75097.html" target="element"> Symbolinen objekti </a> </td>
																		<td> <a href="../elements/id-89a721b426394b27bb762edba703fe98.html" target="element"> Ihmisen luoma objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-318b3ad976ee4a0b91e3f07d69e24950.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-318b3ad976ee4a0b91e3f07d69e24950.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-81e30f8d2397405da5ed2d55b62670e5.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-3206a8a4c49a4c43bf072e2aa7a86f0f.html" target="element"> Kulttuuriperint&#246; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>