<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vanha KDK malli</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vanha KDK malli</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-98d3efed83004afdbe7c3bf08021fdf7.png" alt="Vanha KDK malli" usemap="#id-98d3efed83004afdbe7c3bf08021fdf7map"/>
			   <map name="id-98d3efed83004afdbe7c3bf08021fdf7map">
				  				<area shape="rect" coords="106,130,226,185" href="../elements/id-e9e6f3d7229748c1832024f2aecbf64f.html"  target="element">
				  				<area shape="rect" coords="106,58,226,113" href="../elements/id-a54b571901d24a81ad85bb4134a5ab4b.html"  target="element">

				  		<area shape="rect" coords="70,34,271,219" href="../elements/id-541ef70c679648679c4711b061f72165.html"  target="element">
				  		<area shape="rect" coords="754,190,874,245" href="../elements/id-fe744810808f4f8bb058a14f4887a107.html"  target="element">
				  		<area shape="rect" coords="514,202,647,257" href="../elements/id-0a8c49618fa34ee88937e83f6e1b877e.html"  target="element">
				  		<area shape="rect" coords="646,22,803,77" href="../elements/id-2a6271d70b8c4a3fb26d95f788c464a3.html"  target="element">
				  				<area shape="rect" coords="454,418,670,473" href="../elements/id-05e3aed8190348c18813de26f6a79363.html"  target="element">
				  				<area shape="rect" coords="454,346,670,401" href="../elements/id-7eb6d991ec1542d8afdaa2274a81f378.html"  target="element">
				  		        <area shape="rect" coords="550,322,683,491" href="../objects/id-23c75875edcc4962943eb4900c649192.html" target="element" >
				  		        <area shape="rect" coords="442,322,539,491" href="../objects/id-12ad57c093d3400f900035bc95617bf2.html" target="element" >

				  		<area shape="rect" coords="418,274,695,527" href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html"  target="element">
				  		<area shape="rect" coords="382,130,511,185" href="../elements/id-ac9ff869d2f04465a09fcefb9d552a00.html"  target="element">
				  				<area shape="rect" coords="191,384,360,439" href="../elements/id-84ea9d799f4d4c0386d4abf48b1566a9.html"  target="element">
				  				<area shape="rect" coords="192,454,359,509" href="../elements/id-3bd28b07e6344e36b6a8c45f49dffde6.html"  target="element">
				  				<area shape="rect" coords="26,454,182,509" href="../elements/id-10aa153553db41949df05f4ffbed2a95.html"  target="element">
				  				<area shape="rect" coords="28,382,179,442" href="../elements/id-8c82ee3317fb4f6f884b3f1eab7b8b1d.html"  target="element">
				  				<area shape="rect" coords="191,320,359,375" href="../elements/id-ece7a85d0d904d6584bd4e1c530d2b09.html"  target="element">
				  				<area shape="rect" coords="28,320,183,375" href="../elements/id-2349863ebf2d4b3f8a557ee2c2d03a5f.html"  target="element">

				  		<area shape="rect" coords="10,274,383,527" href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html"  target="element">
				  		<area shape="rect" coords="369,10,511,65" href="../elements/id-3b1d8462aae64da6971882889ffdeb96.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3b1d8462aae64da6971882889ffdeb96.html" target="element"> Kansallinen k&#228;ytt&#246;&#246;nsaattopalvelu (Finna) </a> </td>
											    <td> <a href="../elements/id-3b1d8462aae64da6971882889ffdeb96.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element"> Kansalliset tukipalvelut </a> </td>
											    <td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2349863ebf2d4b3f8a557ee2c2d03a5f.html" target="element"> Ontologiapalvelut (Finto) </a> </td>
													    <td> <a href="../elements/id-2349863ebf2d4b3f8a557ee2c2d03a5f.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ece7a85d0d904d6584bd4e1c530d2b09.html" target="element"> Tavoitettavuustieto </a> </td>
													    <td> <a href="../elements/id-ece7a85d0d904d6584bd4e1c530d2b09.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8c82ee3317fb4f6f884b3f1eab7b8b1d.html" target="element"> Tunnistautuminen </a> </td>
													    <td> <a href="../elements/id-8c82ee3317fb4f6f884b3f1eab7b8b1d.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-10aa153553db41949df05f4ffbed2a95.html" target="element"> Integraatioratkaisu </a> </td>
													    <td> <a href="../elements/id-10aa153553db41949df05f4ffbed2a95.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3bd28b07e6344e36b6a8c45f49dffde6.html" target="element"> Verkkomaksaminen </a> </td>
													    <td> <a href="../elements/id-3bd28b07e6344e36b6a8c45f49dffde6.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-84ea9d799f4d4c0386d4abf48b1566a9.html" target="element"> Paikkatietopalvelu </a> </td>
													    <td> <a href="../elements/id-84ea9d799f4d4c0386d4abf48b1566a9.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ac9ff869d2f04465a09fcefb9d552a00.html" target="element"> Muunnospalvelu (Formula) </a> </td>
											    <td> <a href="../elements/id-ac9ff869d2f04465a09fcefb9d552a00.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
											    <td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-12ad57c093d3400f900035bc95617bf2.html" target="element"> Rajoitetut </a> </td>
											           <td> <a href="../objects/id-12ad57c093d3400f900035bc95617bf2.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-23c75875edcc4962943eb4900c649192.html" target="element"> Avoimet </a> </td>
											           <td> <a href="../objects/id-23c75875edcc4962943eb4900c649192.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-7eb6d991ec1542d8afdaa2274a81f378.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
													    <td> <a href="../elements/id-7eb6d991ec1542d8afdaa2274a81f378.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-05e3aed8190348c18813de26f6a79363.html" target="element"> Uudelleenk&#228;ytt&#246;palvelut </a> </td>
													    <td> <a href="../elements/id-05e3aed8190348c18813de26f6a79363.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2a6271d70b8c4a3fb26d95f788c464a3.html" target="element"> Pitk&#228;aikaiss&#228;ilytys (Kulttuuriperint&#246;-PAS ) </a> </td>
											    <td> <a href="../elements/id-2a6271d70b8c4a3fb26d95f788c464a3.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0a8c49618fa34ee88937e83f6e1b877e.html" target="element"> Standardisalkku </a> </td>
											    <td> <a href="../elements/id-0a8c49618fa34ee88937e83f6e1b877e.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fe744810808f4f8bb058a14f4887a107.html" target="element"> Tukipalvelu </a> </td>
											    <td> <a href="../elements/id-fe744810808f4f8bb058a14f4887a107.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-541ef70c679648679c4711b061f72165.html" target="element"> Kansainv&#228;liset palvelut </a> </td>
											    <td> <a href="../elements/id-541ef70c679648679c4711b061f72165.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a54b571901d24a81ad85bb4134a5ab4b.html" target="element"> Kansainv&#228;liset palvelut </a> </td>
													    <td> <a href="../elements/id-a54b571901d24a81ad85bb4134a5ab4b.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e9e6f3d7229748c1832024f2aecbf64f.html" target="element"> Europeana </a> </td>
													    <td> <a href="../elements/id-e9e6f3d7229748c1832024f2aecbf64f.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d7c087ff5c944228a9c08ce36131dc0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7c087ff5c944228a9c08ce36131dc0a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element"> Kansalliset tukipalvelut </a> </td>
																		<td> <a href="../elements/id-2349863ebf2d4b3f8a557ee2c2d03a5f.html" target="element"> Ontologiapalvelut (Finto) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e22c0746d201417e99dbb6e734fbd879.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e22c0746d201417e99dbb6e734fbd879.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element"> Kansalliset tukipalvelut </a> </td>
																		<td> <a href="../elements/id-ece7a85d0d904d6584bd4e1c530d2b09.html" target="element"> Tavoitettavuustieto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8621ce2c9af44fca7eb5a12cade2b53.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8621ce2c9af44fca7eb5a12cade2b53.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element"> Kansalliset tukipalvelut </a> </td>
																		<td> <a href="../elements/id-8c82ee3317fb4f6f884b3f1eab7b8b1d.html" target="element"> Tunnistautuminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d4a66f7931e4911a3a015cbf3f6f393.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d4a66f7931e4911a3a015cbf3f6f393.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element"> Kansalliset tukipalvelut </a> </td>
																		<td> <a href="../elements/id-10aa153553db41949df05f4ffbed2a95.html" target="element"> Integraatioratkaisu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f389f74ed9de461ea3b51c4f5409db7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f389f74ed9de461ea3b51c4f5409db7c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element"> Kansalliset tukipalvelut </a> </td>
																		<td> <a href="../elements/id-3bd28b07e6344e36b6a8c45f49dffde6.html" target="element"> Verkkomaksaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ecccddd1515c4b078ddf4a41a24fc4f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ecccddd1515c4b078ddf4a41a24fc4f9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element"> Kansalliset tukipalvelut </a> </td>
																		<td> <a href="../elements/id-84ea9d799f4d4c0386d4abf48b1566a9.html" target="element"> Paikkatietopalvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f54ad53270df40d0902f27fe0f5a7d28.html" target="element"> Tukee </a> </td>
																		<td> <a href="../elements/id-f54ad53270df40d0902f27fe0f5a7d28.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element"> Kansalliset tukipalvelut </a> </td>
																		<td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-afb5bbff8b06421d9519da3b17bc02d2.html" target="element"> Metatiedot </a> </td>
																		<td> <a href="../elements/id-afb5bbff8b06421d9519da3b17bc02d2.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac9ff869d2f04465a09fcefb9d552a00.html" target="element"> Muunnospalvelu (Formula) </a> </td>
																		<td> <a href="../elements/id-541ef70c679648679c4711b061f72165.html" target="element"> Kansainv&#228;liset palvelut </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-479add12e51c4bfaa172ff371819c5ce.html" target="element"> Metatiedot </a> </td>
																		<td> <a href="../elements/id-479add12e51c4bfaa172ff371819c5ce.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac9ff869d2f04465a09fcefb9d552a00.html" target="element"> Muunnospalvelu (Formula) </a> </td>
																		<td> <a href="../elements/id-3b1d8462aae64da6971882889ffdeb96.html" target="element"> Kansallinen k&#228;ytt&#246;&#246;nsaattopalvelu (Finna) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-26fb427bb047455c89eefd84d083f98e.html" target="element"> Metatiedot </a> </td>
																		<td> <a href="../elements/id-26fb427bb047455c89eefd84d083f98e.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac9ff869d2f04465a09fcefb9d552a00.html" target="element"> Muunnospalvelu (Formula) </a> </td>
																		<td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element"> Kansalliset tukipalvelut </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7cc6059090f3487e822e12b49195a155.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7cc6059090f3487e822e12b49195a155.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
																		<td> <a href="../elements/id-7eb6d991ec1542d8afdaa2274a81f378.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-797d76333bf44a0990d931e3584606f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-797d76333bf44a0990d931e3584606f4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
																		<td> <a href="../elements/id-05e3aed8190348c18813de26f6a79363.html" target="element"> Uudelleenk&#228;ytt&#246;palvelut </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-96ce39a5c10848c2bb5492982624d204.html" target="element"> Tietopaketit </a> </td>
																		<td> <a href="../elements/id-96ce39a5c10848c2bb5492982624d204.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
																		<td> <a href="../elements/id-2a6271d70b8c4a3fb26d95f788c464a3.html" target="element"> Pitk&#228;aikaiss&#228;ilytys (Kulttuuriperint&#246;-PAS ) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e45db6b3a97c41118ea0ca35fda21713.html" target="element"> Metatiedot </a> </td>
																		<td> <a href="../elements/id-e45db6b3a97c41118ea0ca35fda21713.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
																		<td> <a href="../elements/id-ac9ff869d2f04465a09fcefb9d552a00.html" target="element"> Muunnospalvelu (Formula) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-e1fa8dca04334ddfa85a90fda6ff0670.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1fa8dca04334ddfa85a90fda6ff0670.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a8c49618fa34ee88937e83f6e1b877e.html" target="element"> Standardisalkku </a> </td>
																		<td> <a href="../elements/id-ac9ff869d2f04465a09fcefb9d552a00.html" target="element"> Muunnospalvelu (Formula) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7116653495834c96a9018879910208ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7116653495834c96a9018879910208ba.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a8c49618fa34ee88937e83f6e1b877e.html" target="element"> Standardisalkku </a> </td>
																		<td> <a href="../elements/id-2a6271d70b8c4a3fb26d95f788c464a3.html" target="element"> Pitk&#228;aikaiss&#228;ilytys (Kulttuuriperint&#246;-PAS ) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f7158ba86a98464e9639bb9532be9bf1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7158ba86a98464e9639bb9532be9bf1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fe744810808f4f8bb058a14f4887a107.html" target="element"> Tukipalvelu </a> </td>
																		<td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-691cacf581794775a6311d7c1958cad2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-691cacf581794775a6311d7c1958cad2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-541ef70c679648679c4711b061f72165.html" target="element"> Kansainv&#228;liset palvelut </a> </td>
																		<td> <a href="../elements/id-a54b571901d24a81ad85bb4134a5ab4b.html" target="element"> Kansainv&#228;liset palvelut </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7dfaf94b01de4fa793251fbc44ac70d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7dfaf94b01de4fa793251fbc44ac70d3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-541ef70c679648679c4711b061f72165.html" target="element"> Kansainv&#228;liset palvelut </a> </td>
																		<td> <a href="../elements/id-e9e6f3d7229748c1832024f2aecbf64f.html" target="element"> Europeana </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>