<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Laki julkisen hallinnon tiedonhallinnasta</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Laki julkisen hallinnon tiedonhallinnasta</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9e1a1260334b4333bf95a0310959d43d.png" alt="Laki julkisen hallinnon tiedonhallinnasta" usemap="#id-9e1a1260334b4333bf95a0310959d43dmap"/>
			   <map name="id-9e1a1260334b4333bf95a0310959d43dmap">
				  		<area shape="rect" coords="731,10,910,65" href="../elements/id-3e209c2c17eb42689d585be47b333cc7.html"  target="element">
				  		<area shape="rect" coords="525,10,645,65" href="../elements/id-406a6968f0344475bf78c4b59bbfd644.html"  target="element">
				  		<area shape="rect" coords="310,10,458,65" href="../elements/id-2f69129aa5254983981232e3bbc59db7.html"  target="element">
				  		<area shape="rect" coords="1090,289,1499,344" href="../elements/id-3171530042f04acf8ff313504b762dae.html"  target="element">
				  		<area shape="rect" coords="971,730,1091,785" href="../elements/id-c2050781f013406ca7f0dc2ba3288d44.html"  target="element">
				  		<area shape="rect" coords="478,118,759,173" href="../elements/id-efec5c716ddf41f1a7ba61ac401a2156.html"  target="element">
				  		<area shape="rect" coords="118,394,875,469" href="../elements/id-8c3f18bbb45548dd870296160be0c9e4.html"  target="element">
				  		<area shape="rect" coords="406,742,526,797" href="../elements/id-9c9a3e5f97a048d3a513eaf623bb75ac.html"  target="element">
				  		<area shape="rect" coords="394,646,514,701" href="../elements/id-fefc869b72874651a130192e2ba9886d.html"  target="element">
				  		<area shape="rect" coords="10,298,299,353" href="../elements/id-931030a2db294f919615e89a0c408319.html"  target="element">
				  		<area shape="rect" coords="610,280,1031,353" href="../elements/id-dd2400882e094bdfac0e90275d5929e1.html"  target="element">
				  		<area shape="rect" coords="802,172,1211,227" href="../elements/id-31cc2f1f8c2940719a39aa57583d7d6f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-31cc2f1f8c2940719a39aa57583d7d6f.html" target="element"> Varmistaa viranomaisten tietoaineistojen yhdenmukainen ja laadukas hallinta sek&#228; tietoturvallinen k&#228;sittely julkisuusperiaatteen toteuttamiseksi </a> </td>
											    <td> <a href="../elements/id-31cc2f1f8c2940719a39aa57583d7d6f.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd2400882e094bdfac0e90275d5929e1.html" target="element"> Mahdollistaa viranomaisten tietoaineistojen turvallinen ja tehokas hy&#246;dynt&#228;minen, jotta viranomainen voi hoitaa teht&#228;v&#228;ns&#228; ja tarjota palvelunsa hallinnon asiakkaille hyv&#228;&#228; hallintoa noudattaen tuloksellisesti ja laadukkaasti </a> </td>
											    <td> <a href="../elements/id-dd2400882e094bdfac0e90275d5929e1.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-931030a2db294f919615e89a0c408319.html" target="element"> Edist&#228;&#228; tietoj&#228;rjestelmien ja tietovarantojen yhteentoimivuutta </a> </td>
											    <td> <a href="../elements/id-931030a2db294f919615e89a0c408319.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fefc869b72874651a130192e2ba9886d.html" target="element"> Viranomainen </a> </td>
											    <td> <a href="../elements/id-fefc869b72874651a130192e2ba9886d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9c9a3e5f97a048d3a513eaf623bb75ac.html" target="element"> Tiedonhallintayksikk&#246; </a> </td>
											    <td> <a href="../elements/id-9c9a3e5f97a048d3a513eaf623bb75ac.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8c3f18bbb45548dd870296160be0c9e4.html" target="element"> Yll&#228;pidett&#228;v&#228; sen toimintaymp&#228;rist&#246;n tiedonhallintaa m&#228;&#228;rittelev&#228;&#228; ja kuvaavaa tiedonhallintamallia. Tiedonhallintamallia yll&#228;pidet&#228;&#228;n palvelujen, asiank&#228;sittelyn ja tietoaineistojen hallinnan suunnittelemiseksi ja toteuttamiseksi, tiedonsaantia koskevien oikeuksien ja rajoitusten toteuttamiseksi, moninkertaisen tietojen keruun v&#228;hent&#228;miseksi, tietoj&#228;rjestelmien ja tietovarantojen yhteentoimivuuden toteuttamiseksi sek&#228; tietoturvallisuuden yll&#228;pit&#228;miseksi </a> </td>
											    <td> <a href="../elements/id-8c3f18bbb45548dd870296160be0c9e4.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-efec5c716ddf41f1a7ba61ac401a2156.html" target="element"> Laki julkisen hallinnon tiedonhallinnasta </a> </td>
											    <td> <a href="../elements/id-efec5c716ddf41f1a7ba61ac401a2156.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c2050781f013406ca7f0dc2ba3288d44.html" target="element"> Tiedonhallintalautakunta </a> </td>
											    <td> <a href="../elements/id-c2050781f013406ca7f0dc2ba3288d44.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3171530042f04acf8ff313504b762dae.html" target="element"> Edist&#228;&#228; tiedonhallintalaissa s&#228;&#228;dettyjen tiedonhallinnan ja tietoturvallisuuden menettelytapojen ja tiedonhallintalain vaatimusten toteuttamista </a> </td>
											    <td> <a href="../elements/id-3171530042f04acf8ff313504b762dae.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2f69129aa5254983981232e3bbc59db7.html" target="element"> Yhteentoimivuus </a> </td>
											    <td> <a href="../elements/id-2f69129aa5254983981232e3bbc59db7.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-406a6968f0344475bf78c4b59bbfd644.html" target="element"> Laatu </a> </td>
											    <td> <a href="../elements/id-406a6968f0344475bf78c4b59bbfd644.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3e209c2c17eb42689d585be47b333cc7.html" target="element"> Tietoturvallisuus </a> </td>
											    <td> <a href="../elements/id-3e209c2c17eb42689d585be47b333cc7.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2d325e14acee48beaf84e73718800c54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2d325e14acee48beaf84e73718800c54.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fefc869b72874651a130192e2ba9886d.html" target="element"> Viranomainen </a> </td>
																		<td> <a href="../elements/id-8c3f18bbb45548dd870296160be0c9e4.html" target="element"> Yll&#228;pidett&#228;v&#228; sen toimintaymp&#228;rist&#246;n tiedonhallintaa m&#228;&#228;rittelev&#228;&#228; ja kuvaavaa tiedonhallintamallia. Tiedonhallintamallia yll&#228;pidet&#228;&#228;n palvelujen, asiank&#228;sittelyn ja tietoaineistojen hallinnan suunnittelemiseksi ja toteuttamiseksi, tiedonsaantia koskevien oikeuksien ja rajoitusten toteuttamiseksi, moninkertaisen tietojen keruun v&#228;hent&#228;miseksi, tietoj&#228;rjestelmien ja tietovarantojen yhteentoimivuuden toteuttamiseksi sek&#228; tietoturvallisuuden yll&#228;pit&#228;miseksi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d54c12ddef31402e94feb1504e0877da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d54c12ddef31402e94feb1504e0877da.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fefc869b72874651a130192e2ba9886d.html" target="element"> Viranomainen </a> </td>
																		<td> <a href="../elements/id-931030a2db294f919615e89a0c408319.html" target="element"> Edist&#228;&#228; tietoj&#228;rjestelmien ja tietovarantojen yhteentoimivuutta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-39b3e65db1924e2c90fffee20759adc0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39b3e65db1924e2c90fffee20759adc0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c9a3e5f97a048d3a513eaf623bb75ac.html" target="element"> Tiedonhallintayksikk&#246; </a> </td>
																		<td> <a href="../elements/id-fefc869b72874651a130192e2ba9886d.html" target="element"> Viranomainen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b5a92388fc6747e08d3c0df3ab9fd2c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5a92388fc6747e08d3c0df3ab9fd2c7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-efec5c716ddf41f1a7ba61ac401a2156.html" target="element"> Laki julkisen hallinnon tiedonhallinnasta </a> </td>
																		<td> <a href="../elements/id-31cc2f1f8c2940719a39aa57583d7d6f.html" target="element"> Varmistaa viranomaisten tietoaineistojen yhdenmukainen ja laadukas hallinta sek&#228; tietoturvallinen k&#228;sittely julkisuusperiaatteen toteuttamiseksi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5fa43725e4ae4443aa21d4f9f46e26cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5fa43725e4ae4443aa21d4f9f46e26cd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-efec5c716ddf41f1a7ba61ac401a2156.html" target="element"> Laki julkisen hallinnon tiedonhallinnasta </a> </td>
																		<td> <a href="../elements/id-dd2400882e094bdfac0e90275d5929e1.html" target="element"> Mahdollistaa viranomaisten tietoaineistojen turvallinen ja tehokas hy&#246;dynt&#228;minen, jotta viranomainen voi hoitaa teht&#228;v&#228;ns&#228; ja tarjota palvelunsa hallinnon asiakkaille hyv&#228;&#228; hallintoa noudattaen tuloksellisesti ja laadukkaasti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-edab0a53439d457ea77615a444afc8d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-edab0a53439d457ea77615a444afc8d2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-efec5c716ddf41f1a7ba61ac401a2156.html" target="element"> Laki julkisen hallinnon tiedonhallinnasta </a> </td>
																		<td> <a href="../elements/id-931030a2db294f919615e89a0c408319.html" target="element"> Edist&#228;&#228; tietoj&#228;rjestelmien ja tietovarantojen yhteentoimivuutta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ab2e4892eb5431b829063217665b92c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ab2e4892eb5431b829063217665b92c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-efec5c716ddf41f1a7ba61ac401a2156.html" target="element"> Laki julkisen hallinnon tiedonhallinnasta </a> </td>
																		<td> <a href="../elements/id-8c3f18bbb45548dd870296160be0c9e4.html" target="element"> Yll&#228;pidett&#228;v&#228; sen toimintaymp&#228;rist&#246;n tiedonhallintaa m&#228;&#228;rittelev&#228;&#228; ja kuvaavaa tiedonhallintamallia. Tiedonhallintamallia yll&#228;pidet&#228;&#228;n palvelujen, asiank&#228;sittelyn ja tietoaineistojen hallinnan suunnittelemiseksi ja toteuttamiseksi, tiedonsaantia koskevien oikeuksien ja rajoitusten toteuttamiseksi, moninkertaisen tietojen keruun v&#228;hent&#228;miseksi, tietoj&#228;rjestelmien ja tietovarantojen yhteentoimivuuden toteuttamiseksi sek&#228; tietoturvallisuuden yll&#228;pit&#228;miseksi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc7d177052414394b3a09b010a5ef694.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc7d177052414394b3a09b010a5ef694.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-efec5c716ddf41f1a7ba61ac401a2156.html" target="element"> Laki julkisen hallinnon tiedonhallinnasta </a> </td>
																		<td> <a href="../elements/id-3171530042f04acf8ff313504b762dae.html" target="element"> Edist&#228;&#228; tiedonhallintalaissa s&#228;&#228;dettyjen tiedonhallinnan ja tietoturvallisuuden menettelytapojen ja tiedonhallintalain vaatimusten toteuttamista </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-75a700b0806c4f5bbb16a21f09073bfe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75a700b0806c4f5bbb16a21f09073bfe.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-efec5c716ddf41f1a7ba61ac401a2156.html" target="element"> Laki julkisen hallinnon tiedonhallinnasta </a> </td>
																		<td> <a href="../elements/id-2f69129aa5254983981232e3bbc59db7.html" target="element"> Yhteentoimivuus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-825636df9eea435ea5151f42f4222e08.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-825636df9eea435ea5151f42f4222e08.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-efec5c716ddf41f1a7ba61ac401a2156.html" target="element"> Laki julkisen hallinnon tiedonhallinnasta </a> </td>
																		<td> <a href="../elements/id-406a6968f0344475bf78c4b59bbfd644.html" target="element"> Laatu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3da9ab25cea7458aa0305c2da43602ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3da9ab25cea7458aa0305c2da43602ed.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-efec5c716ddf41f1a7ba61ac401a2156.html" target="element"> Laki julkisen hallinnon tiedonhallinnasta </a> </td>
																		<td> <a href="../elements/id-3e209c2c17eb42689d585be47b333cc7.html" target="element"> Tietoturvallisuus </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0f57b5a5cbab4485af5cdb5278875104.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f57b5a5cbab4485af5cdb5278875104.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2050781f013406ca7f0dc2ba3288d44.html" target="element"> Tiedonhallintalautakunta </a> </td>
																		<td> <a href="../elements/id-3171530042f04acf8ff313504b762dae.html" target="element"> Edist&#228;&#228; tiedonhallintalaissa s&#228;&#228;dettyjen tiedonhallinnan ja tietoturvallisuuden menettelytapojen ja tiedonhallintalain vaatimusten toteuttamista </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-35043b2cda8349a8a648fc328714fd96.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-35043b2cda8349a8a648fc328714fd96.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2050781f013406ca7f0dc2ba3288d44.html" target="element"> Tiedonhallintalautakunta </a> </td>
																		<td> <a href="../elements/id-dd2400882e094bdfac0e90275d5929e1.html" target="element"> Mahdollistaa viranomaisten tietoaineistojen turvallinen ja tehokas hy&#246;dynt&#228;minen, jotta viranomainen voi hoitaa teht&#228;v&#228;ns&#228; ja tarjota palvelunsa hallinnon asiakkaille hyv&#228;&#228; hallintoa noudattaen tuloksellisesti ja laadukkaasti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1f76a555a6084f68b25d69051476d3c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f76a555a6084f68b25d69051476d3c8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2050781f013406ca7f0dc2ba3288d44.html" target="element"> Tiedonhallintalautakunta </a> </td>
																		<td> <a href="../elements/id-31cc2f1f8c2940719a39aa57583d7d6f.html" target="element"> Varmistaa viranomaisten tietoaineistojen yhdenmukainen ja laadukas hallinta sek&#228; tietoturvallinen k&#228;sittely julkisuusperiaatteen toteuttamiseksi </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>