<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arvokonfliktit</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arvokonfliktit</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9459f7b091454b1d85f3417307f61b3b.png" alt="Arvokonfliktit" usemap="#id-9459f7b091454b1d85f3417307f61b3bmap"/>
			   <map name="id-9459f7b091454b1d85f3417307f61b3bmap">
				  		<area shape="rect" coords="311,244,431,299" href="../elements/id-4cbedfd6b86046aaab040ffb87240fc3.html"  target="element">
				  		<area shape="rect" coords="394,424,529,479" href="../elements/id-0ed872ddc7464be8ae99605bef656cc9.html"  target="element">
				  		<area shape="rect" coords="311,346,431,401" href="../elements/id-b00786a2dccf4244b21f560d64d34e6e.html"  target="element">
				  		<area shape="rect" coords="10,478,130,533" href="../elements/id-7b50c3c6beb34d349235b3abd964b6c0.html"  target="element">
				  		<area shape="rect" coords="670,646,790,701" href="../elements/id-ac0387b333c64bad91e24e7fb4d26bed.html"  target="element">
				  		<area shape="rect" coords="394,532,551,587" href="../elements/id-49b4ebe032674a2188f46c2e47bfb00d.html"  target="element">
				  		<area shape="rect" coords="106,178,285,233" href="../elements/id-a2d61b42b4564e54ae1b1779cc587cc2.html"  target="element">
				  		<area shape="rect" coords="503,346,623,401" href="../elements/id-9a11e2e5258549fb89b5af1f0e899a95.html"  target="element">
				  		<area shape="rect" coords="166,730,332,785" href="../elements/id-dab6f059e72941a9b9cd42d878b2b344.html"  target="element">
				  		<area shape="rect" coords="284,22,404,77" href="../elements/id-ae10ee2d234e47a38111001379f3a9cf.html"  target="element">
				  		<area shape="rect" coords="610,190,730,245" href="../elements/id-035fd5401415472d9469489ca85107f3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-035fd5401415472d9469489ca85107f3.html" target="element"> Hyvinvointi </a> </td>
											    <td> <a href="../elements/id-035fd5401415472d9469489ca85107f3.html" target="element" class="i18n-elementtype-Meaning">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ae10ee2d234e47a38111001379f3a9cf.html" target="element"> Mielenterveys </a> </td>
											    <td> <a href="../elements/id-ae10ee2d234e47a38111001379f3a9cf.html" target="element" class="i18n-elementtype-Meaning">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dab6f059e72941a9b9cd42d878b2b344.html" target="element"> Kustannustehokkuus </a> </td>
											    <td> <a href="../elements/id-dab6f059e72941a9b9cd42d878b2b344.html" target="element" class="i18n-elementtype-Meaning">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9a11e2e5258549fb89b5af1f0e899a95.html" target="element"> Esteettisyys </a> </td>
											    <td> <a href="../elements/id-9a11e2e5258549fb89b5af1f0e899a95.html" target="element" class="i18n-elementtype-Meaning">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a2d61b42b4564e54ae1b1779cc587cc2.html" target="element"> Ekologisuus </a> </td>
											    <td> <a href="../elements/id-a2d61b42b4564e54ae1b1779cc587cc2.html" target="element" class="i18n-elementtype-Meaning">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-49b4ebe032674a2188f46c2e47bfb00d.html" target="element"> Kest&#228;v&#228; kehitys </a> </td>
											    <td> <a href="../elements/id-49b4ebe032674a2188f46c2e47bfb00d.html" target="element" class="i18n-elementtype-Meaning">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac0387b333c64bad91e24e7fb4d26bed.html" target="element"> Ty&#246; </a> </td>
											    <td> <a href="../elements/id-ac0387b333c64bad91e24e7fb4d26bed.html" target="element" class="i18n-elementtype-Meaning">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7b50c3c6beb34d349235b3abd964b6c0.html" target="element"> Digitalisaatio </a> </td>
											    <td> <a href="../elements/id-7b50c3c6beb34d349235b3abd964b6c0.html" target="element" class="i18n-elementtype-Meaning">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b00786a2dccf4244b21f560d64d34e6e.html" target="element"> Yhteis&#246;llisyys </a> </td>
											    <td> <a href="../elements/id-b00786a2dccf4244b21f560d64d34e6e.html" target="element" class="i18n-elementtype-Meaning">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ed872ddc7464be8ae99605bef656cc9.html" target="element"> Historiallisuus </a> </td>
											    <td> <a href="../elements/id-0ed872ddc7464be8ae99605bef656cc9.html" target="element" class="i18n-elementtype-Meaning">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4cbedfd6b86046aaab040ffb87240fc3.html" target="element"> Symbolisuus </a> </td>
											    <td> <a href="../elements/id-4cbedfd6b86046aaab040ffb87240fc3.html" target="element" class="i18n-elementtype-Meaning">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-88d8e03b71834ca5a6a756aa69555f31.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88d8e03b71834ca5a6a756aa69555f31.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-035fd5401415472d9469489ca85107f3.html" target="element"> Hyvinvointi </a> </td>
																		<td> <a href="../elements/id-dab6f059e72941a9b9cd42d878b2b344.html" target="element"> Kustannustehokkuus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b78484c6491e4762a6541d39d935a07b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b78484c6491e4762a6541d39d935a07b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-035fd5401415472d9469489ca85107f3.html" target="element"> Hyvinvointi </a> </td>
																		<td> <a href="../elements/id-ae10ee2d234e47a38111001379f3a9cf.html" target="element"> Mielenterveys </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5852c1eccfac4538957cb991f2e9bd71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5852c1eccfac4538957cb991f2e9bd71.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae10ee2d234e47a38111001379f3a9cf.html" target="element"> Mielenterveys </a> </td>
																		<td> <a href="../elements/id-035fd5401415472d9469489ca85107f3.html" target="element"> Hyvinvointi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-958b6dbc42e2420786124a34dc04397a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-958b6dbc42e2420786124a34dc04397a.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dab6f059e72941a9b9cd42d878b2b344.html" target="element"> Kustannustehokkuus </a> </td>
																		<td> <a href="../elements/id-49b4ebe032674a2188f46c2e47bfb00d.html" target="element"> Kest&#228;v&#228; kehitys </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6b404b22f620408a833497dc384d8050.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b404b22f620408a833497dc384d8050.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a11e2e5258549fb89b5af1f0e899a95.html" target="element"> Esteettisyys </a> </td>
																		<td> <a href="../elements/id-ae10ee2d234e47a38111001379f3a9cf.html" target="element"> Mielenterveys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-21365af865894413ad437ba0df76ae27.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-21365af865894413ad437ba0df76ae27.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a11e2e5258549fb89b5af1f0e899a95.html" target="element"> Esteettisyys </a> </td>
																		<td> <a href="../elements/id-ac0387b333c64bad91e24e7fb4d26bed.html" target="element"> Ty&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-77e9af653d55478496124a4369715750.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77e9af653d55478496124a4369715750.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a11e2e5258549fb89b5af1f0e899a95.html" target="element"> Esteettisyys </a> </td>
																		<td> <a href="../elements/id-b00786a2dccf4244b21f560d64d34e6e.html" target="element"> Yhteis&#246;llisyys </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-78163a0b37c844929c501283cba551f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78163a0b37c844929c501283cba551f6.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2d61b42b4564e54ae1b1779cc587cc2.html" target="element"> Ekologisuus </a> </td>
																		<td> <a href="../elements/id-dab6f059e72941a9b9cd42d878b2b344.html" target="element"> Kustannustehokkuus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f100ce441fbe40fa8d4f762eb47bd763.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f100ce441fbe40fa8d4f762eb47bd763.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2d61b42b4564e54ae1b1779cc587cc2.html" target="element"> Ekologisuus </a> </td>
																		<td> <a href="../elements/id-ae10ee2d234e47a38111001379f3a9cf.html" target="element"> Mielenterveys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e19a3447c29b4033b1c708dced222831.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e19a3447c29b4033b1c708dced222831.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a2d61b42b4564e54ae1b1779cc587cc2.html" target="element"> Ekologisuus </a> </td>
																		<td> <a href="../elements/id-035fd5401415472d9469489ca85107f3.html" target="element"> Hyvinvointi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-131a7474d15d4d628e2f8156afd19565.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-131a7474d15d4d628e2f8156afd19565.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-49b4ebe032674a2188f46c2e47bfb00d.html" target="element"> Kest&#228;v&#228; kehitys </a> </td>
																		<td> <a href="../elements/id-035fd5401415472d9469489ca85107f3.html" target="element"> Hyvinvointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-53c433101a364d278a940d0c127ca4ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53c433101a364d278a940d0c127ca4ab.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-49b4ebe032674a2188f46c2e47bfb00d.html" target="element"> Kest&#228;v&#228; kehitys </a> </td>
																		<td> <a href="../elements/id-a2d61b42b4564e54ae1b1779cc587cc2.html" target="element"> Ekologisuus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ad7773e7a5df439ba4ce19a0dc65f3e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad7773e7a5df439ba4ce19a0dc65f3e1.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-49b4ebe032674a2188f46c2e47bfb00d.html" target="element"> Kest&#228;v&#228; kehitys </a> </td>
																		<td> <a href="../elements/id-ac0387b333c64bad91e24e7fb4d26bed.html" target="element"> Ty&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed7b94b85524433e92753dcb48bdb42a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed7b94b85524433e92753dcb48bdb42a.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-49b4ebe032674a2188f46c2e47bfb00d.html" target="element"> Kest&#228;v&#228; kehitys </a> </td>
																		<td> <a href="../elements/id-dab6f059e72941a9b9cd42d878b2b344.html" target="element"> Kustannustehokkuus </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-96c956af173b4ffb85a212335f683c3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96c956af173b4ffb85a212335f683c3c.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac0387b333c64bad91e24e7fb4d26bed.html" target="element"> Ty&#246; </a> </td>
																		<td> <a href="../elements/id-dab6f059e72941a9b9cd42d878b2b344.html" target="element"> Kustannustehokkuus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c8c80c0aee3740478083cccd405e245a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8c80c0aee3740478083cccd405e245a.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac0387b333c64bad91e24e7fb4d26bed.html" target="element"> Ty&#246; </a> </td>
																		<td> <a href="../elements/id-035fd5401415472d9469489ca85107f3.html" target="element"> Hyvinvointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-10d995c86bc64584b6031d78091e6b0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10d995c86bc64584b6031d78091e6b0d.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac0387b333c64bad91e24e7fb4d26bed.html" target="element"> Ty&#246; </a> </td>
																		<td> <a href="../elements/id-49b4ebe032674a2188f46c2e47bfb00d.html" target="element"> Kest&#228;v&#228; kehitys </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6103881f8eaf402ea09ba01ffbb5bc1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6103881f8eaf402ea09ba01ffbb5bc1d.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b50c3c6beb34d349235b3abd964b6c0.html" target="element"> Digitalisaatio </a> </td>
																		<td> <a href="../elements/id-dab6f059e72941a9b9cd42d878b2b344.html" target="element"> Kustannustehokkuus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9e380ed88221478791c9c67ace3c13ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e380ed88221478791c9c67ace3c13ae.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b50c3c6beb34d349235b3abd964b6c0.html" target="element"> Digitalisaatio </a> </td>
																		<td> <a href="../elements/id-ac0387b333c64bad91e24e7fb4d26bed.html" target="element"> Ty&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b96cb951b16f4aea80e258f1eb994e3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b96cb951b16f4aea80e258f1eb994e3d.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b50c3c6beb34d349235b3abd964b6c0.html" target="element"> Digitalisaatio </a> </td>
																		<td> <a href="../elements/id-a2d61b42b4564e54ae1b1779cc587cc2.html" target="element"> Ekologisuus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-69f21ceaf78e4e2cb32dca6acbebb69f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-69f21ceaf78e4e2cb32dca6acbebb69f.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b50c3c6beb34d349235b3abd964b6c0.html" target="element"> Digitalisaatio </a> </td>
																		<td> <a href="../elements/id-ae10ee2d234e47a38111001379f3a9cf.html" target="element"> Mielenterveys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8a75baf42ece4ce7b9285fbbd85c7658.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a75baf42ece4ce7b9285fbbd85c7658.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7b50c3c6beb34d349235b3abd964b6c0.html" target="element"> Digitalisaatio </a> </td>
																		<td> <a href="../elements/id-b00786a2dccf4244b21f560d64d34e6e.html" target="element"> Yhteis&#246;llisyys </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e56cdfad59e3486eb221234ac089f62b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e56cdfad59e3486eb221234ac089f62b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b00786a2dccf4244b21f560d64d34e6e.html" target="element"> Yhteis&#246;llisyys </a> </td>
																		<td> <a href="../elements/id-49b4ebe032674a2188f46c2e47bfb00d.html" target="element"> Kest&#228;v&#228; kehitys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-774f0e9e18124e6693918241746e8d64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-774f0e9e18124e6693918241746e8d64.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b00786a2dccf4244b21f560d64d34e6e.html" target="element"> Yhteis&#246;llisyys </a> </td>
																		<td> <a href="../elements/id-a2d61b42b4564e54ae1b1779cc587cc2.html" target="element"> Ekologisuus </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1ce2549b051344e89052285e647f36d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ce2549b051344e89052285e647f36d8.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0ed872ddc7464be8ae99605bef656cc9.html" target="element"> Historiallisuus </a> </td>
																		<td> <a href="../elements/id-b00786a2dccf4244b21f560d64d34e6e.html" target="element"> Yhteis&#246;llisyys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f9966bbcf934c669aa0b57744e52e5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f9966bbcf934c669aa0b57744e52e5b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0ed872ddc7464be8ae99605bef656cc9.html" target="element"> Historiallisuus </a> </td>
																		<td> <a href="../elements/id-49b4ebe032674a2188f46c2e47bfb00d.html" target="element"> Kest&#228;v&#228; kehitys </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-095d4122ac2441da988077581d95bde3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-095d4122ac2441da988077581d95bde3.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4cbedfd6b86046aaab040ffb87240fc3.html" target="element"> Symbolisuus </a> </td>
																		<td> <a href="../elements/id-b00786a2dccf4244b21f560d64d34e6e.html" target="element"> Yhteis&#246;llisyys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aeb8e51b323b4cb2b6d69bc8be135bb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aeb8e51b323b4cb2b6d69bc8be135bb6.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4cbedfd6b86046aaab040ffb87240fc3.html" target="element"> Symbolisuus </a> </td>
																		<td> <a href="../elements/id-ae10ee2d234e47a38111001379f3a9cf.html" target="element"> Mielenterveys </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>