<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kulttuuriperinnön arvot</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kulttuuriperinn&#246;n arvot</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-aa9be7a589bc45dea8464bbfb179876d.png" alt="Kulttuuriperinnön arvot" usemap="#id-aa9be7a589bc45dea8464bbfb179876dmap"/>
			   <map name="id-aa9be7a589bc45dea8464bbfb179876dmap">
				  						<area shape="rect" coords="874,610,994,665" href="../elements/id-1211ca9662304ada8a4a7833f43d661b.html"  target="element">
				  						<area shape="rect" coords="742,610,862,665" href="../elements/id-82a8d40bde1c40358773cf02ffec1dd8.html"  target="element">
				  						<area shape="rect" coords="190,610,310,665" href="../elements/id-ba04fdf2794b442bb8b7a0492a7d3a3e.html"  target="element">
				  						<area shape="rect" coords="586,610,729,665" href="../elements/id-500d877c2ec04bd8bd341ca05106f2f2.html"  target="element">
				  						<area shape="rect" coords="322,610,442,665" href="../elements/id-eec00f327efa40d18bea0cd8c2408886.html"  target="element">
				  						<area shape="rect" coords="454,610,574,665" href="../elements/id-0ec503da98254bd495038f7a14b98f29.html"  target="element">
				  						<area shape="rect" coords="58,610,178,665" href="../elements/id-f707a6e56a624f7bbf5467098b54c9d7.html"  target="element">

				  		        <area shape="rect" coords="34,562,1043,702" href="../objects/id-0b6e62ae2b5b4ff1aa61fc537294e70e.html" target="element" >
				  						<area shape="rect" coords="59,478,179,533" href="../elements/id-c2cf27ba834c49329c752248c85783de.html"  target="element">
				  						<area shape="rect" coords="467,406,600,461" href="../elements/id-603195063bac47acbe1edc6c359d6e9f.html"  target="element">
				  						<area shape="rect" coords="335,406,455,461" href="../elements/id-70fbcd85e56f41b2929d3f0d636c3150.html"  target="element">
				  						<area shape="rect" coords="191,478,311,533" href="../elements/id-0e62ebb1434e414084103440de79018d.html"  target="element">
				  						<area shape="rect" coords="191,406,324,461" href="../elements/id-0fa80fcaba0243d1b488aa349b541248.html"  target="element">
				  						<area shape="rect" coords="611,406,744,461" href="../elements/id-88b325f3f44b46ce8638846a3e07339a.html"  target="element">
				  						<area shape="rect" coords="59,406,179,461" href="../elements/id-cf1e95d46de643df9230dfde4ca9b8e0.html"  target="element">

				  		        <area shape="rect" coords="35,370,1043,551" href="../objects/id-bb45c15bb606420dbb74a7142bfbc987.html" target="element" >
				  						<area shape="rect" coords="874,286,994,341" href="../elements/id-9815d6cbb964466aa7ddba18873b1be2.html"  target="element">
				  						<area shape="rect" coords="58,286,178,341" href="../elements/id-42ffc61b623949a6bf5ca1dd5cd5e737.html"  target="element">
				  						<area shape="rect" coords="742,286,862,341" href="../elements/id-97a0a83ba2cc478386bac7731421a1b3.html"  target="element">
				  						<area shape="rect" coords="610,286,730,341" href="../elements/id-259aac9f9d4540d982604f6179c76859.html"  target="element">
				  						<area shape="rect" coords="454,286,603,341" href="../elements/id-c2bc02d856454311b88675ba0a8a0134.html"  target="element">
				  						<area shape="rect" coords="322,286,442,341" href="../elements/id-d5360872d1db4ca8a1932e6566eb4196.html"  target="element">
				  						<area shape="rect" coords="190,286,310,341" href="../elements/id-7d164c2608a6494cb19e355e5679dcea.html"  target="element">

				  		        <area shape="rect" coords="34,250,1043,359" href="../objects/id-379d8ecf75f6423a9657f2154f5b3260.html" target="element" >
				  						<area shape="rect" coords="388,166,508,221" href="../elements/id-7e6ac47932454c7788fc01954e4307da.html"  target="element">
				  						<area shape="rect" coords="238,166,374,221" href="../elements/id-3026a538561a4bdab5d4e42eb881c10c.html"  target="element">
				  						<area shape="rect" coords="212,94,332,149" href="../elements/id-88cf4e56fe1549039f216bf9df547f86.html"  target="element">
				  						<area shape="rect" coords="58,166,213,221" href="../elements/id-2ca0f3e46b5e4b7baf3ed04c7da5c030.html"  target="element">
				  						<area shape="rect" coords="58,94,191,149" href="../elements/id-9227766bf57c42d8951c9c61ead1d31d.html"  target="element">
				  						<area shape="rect" coords="526,94,658,149" href="../elements/id-b4e163cf756a4af694281aa4d8c3151d.html"  target="element">
				  						<area shape="rect" coords="352,94,508,149" href="../elements/id-43fd8756c2f940c39bfc795f63cff5d5.html"  target="element">

				  		        <area shape="rect" coords="34,58,1043,239" href="../objects/id-5f3b4902915a4d89b8f505e8290e8d79.html" target="element" >

				          <area shape="rect" coords="10,10,1079,737" href="../objects/id-448827bbfcf64c5bb74a62abf45a2788.html" target="element" >
				  						<area shape="rect" coords="778,922,923,977" href="../elements/id-8c8130743ab842829c790194f6f26d55.html"  target="element">
				  						<area shape="rect" coords="838,850,958,905" href="../elements/id-facd8bcea74745c18b980c4fd897f851.html"  target="element">
				  						<area shape="rect" coords="694,850,826,905" href="../elements/id-e9ef456f83f54c548299418682ad3960.html"  target="element">
				  						<area shape="rect" coords="514,922,634,977" href="../elements/id-436bd8d8dfd34dafb777ab007988a99b.html"  target="element">
				  						<area shape="rect" coords="562,850,682,905" href="../elements/id-cd3bae699a6641518e7418409d840de8.html"  target="element">
				  						<area shape="rect" coords="646,922,766,977" href="../elements/id-b07673e0c1614c8cb91e6e9695db42b7.html"  target="element">
				  						<area shape="rect" coords="406,850,554,905" href="../elements/id-1c14c0e3f31c499bbac1ee89e235eb4d.html"  target="element">
				  						<area shape="rect" coords="226,850,395,905" href="../elements/id-600b69e6135a41d3a06d26e2a141b7b0.html"  target="element">
				  						<area shape="rect" coords="51,922,178,977" href="../elements/id-81eee71d536e4d89bba8a9133a9b1014.html"  target="element">
				  						<area shape="rect" coords="51,850,212,905" href="../elements/id-aa58db2c592f492a85dd48a052a7e679.html"  target="element">
				  						<area shape="rect" coords="190,922,310,977" href="../elements/id-7b57c9ffa44340daadfd5145bca59189.html"  target="element">
				  						<area shape="rect" coords="322,922,505,977" href="../elements/id-cd6d542bf5db44458c78e90da09d47b8.html"  target="element">

				  		        <area shape="rect" coords="34,814,1055,990" href="../objects/id-bcec3d762e5f4cfb8ab7a1b33de6848c.html" target="element" >
				  						<area shape="rect" coords="754,1114,910,1169" href="../elements/id-b23f506c56f24f03b5745730c66c7526.html"  target="element">
				  						<area shape="rect" coords="622,1114,742,1169" href="../elements/id-7a3e84089e894909b1067639ffb01509.html"  target="element">
				  						<area shape="rect" coords="802,1042,935,1097" href="../elements/id-dc5e54ff51ea4b92a5bbdd88cd04cae8.html"  target="element">
				  						<area shape="rect" coords="490,1114,610,1169" href="../elements/id-4b5a22551b5441c090c5655730aab445.html"  target="element">
				  						<area shape="rect" coords="334,1042,477,1097" href="../elements/id-345d6f36eadc4993be65f4216df46815.html"  target="element">
				  						<area shape="rect" coords="184,1114,340,1169" href="../elements/id-60b7f5367f0b4f0b92ae18507ce4a642.html"  target="element">
				  						<area shape="rect" coords="353,1114,477,1169" href="../elements/id-18c91d6fe906411885334572eb68edf6.html"  target="element">
				  						<area shape="rect" coords="658,1042,785,1097" href="../elements/id-067d3973742546ba9c59f689636e5c78.html"  target="element">
				  						<area shape="rect" coords="46,1114,166,1169" href="../elements/id-87f32a13e6b246dbb272cdbe558292bd.html"  target="element">
				  						<area shape="rect" coords="490,1042,645,1097" href="../elements/id-ce017558c41840fcb468d877f8feae47.html"  target="element">
				  						<area shape="rect" coords="202,1042,322,1097" href="../elements/id-aedfdb9ca4ae45219f1b1e021b0e24ab.html"  target="element">
				  						<area shape="rect" coords="46,1042,189,1097" href="../elements/id-519141622cb94333ae700e1302e145ac.html"  target="element">

				  		        <area shape="rect" coords="34,1006,1055,1175" href="../objects/id-c6dc4e4f5e3e485cba55f41b0f1695e4.html" target="element" >
				  						<area shape="rect" coords="742,1414,862,1469" href="../elements/id-db22d38838a642a0b8c6672688b847eb.html"  target="element">
				  						<area shape="rect" coords="682,1342,824,1397" href="../elements/id-31a1752eb3e74509a10e441824aff005.html"  target="element">
				  						<area shape="rect" coords="465,1414,599,1469" href="../elements/id-0be07440b9ce4386b1725e89b1b250c9.html"  target="element">
				  						<area shape="rect" coords="610,1414,730,1469" href="../elements/id-88369baf2ec64b7f8e25b670a78c68f4.html"  target="element">
				  						<area shape="rect" coords="334,1414,454,1469" href="../elements/id-99b41a6e78f1480b9365f0e09279340e.html"  target="element">
				  						<area shape="rect" coords="190,1414,322,1469" href="../elements/id-3a778097927745acb3cf0c2a722e3a90.html"  target="element">
				  						<area shape="rect" coords="46,1414,178,1469" href="../elements/id-7f07203dc9a54b78bc16dacf46683ec3.html"  target="element">
				  						<area shape="rect" coords="550,1342,670,1397" href="../elements/id-5dabfd9611b04a64b02dd3c6d76a5060.html"  target="element">
				  						<area shape="rect" coords="406,1342,538,1397" href="../elements/id-ad2df9e3c4ac4a7db9a68d03eeba581c.html"  target="element">
				  						<area shape="rect" coords="46,1342,214,1397" href="../elements/id-78856687b70f423a98402c13dc8f88c4.html"  target="element">
				  						<area shape="rect" coords="226,1342,389,1397" href="../elements/id-f14a4f6a511c4a77953dc7c77a08dc91.html"  target="element">

				  		        <area shape="rect" coords="34,1306,1055,1487" href="../objects/id-8a9813597aff4238a1a44503346a744d.html" target="element" >
				  						<area shape="rect" coords="778,1534,911,1589" href="../elements/id-3cb26e76ca1343a19ecff203c2336380.html"  target="element">
				  						<area shape="rect" coords="598,1600,730,1655" href="../elements/id-aae20ac2d4f34a4db6c833402d0b4c7d.html"  target="element">
				  						<area shape="rect" coords="466,1600,586,1655" href="../elements/id-aaa94f39b7c44ebf8f3d1964b85e7563.html"  target="element">
				  						<area shape="rect" coords="334,1600,454,1655" href="../elements/id-3785bf2fca064a37aed555cfbcefbddf.html"  target="element">
				  						<area shape="rect" coords="646,1534,766,1589" href="../elements/id-c0b577d0edf8412581bac8145f13ff16.html"  target="element">
				  						<area shape="rect" coords="178,1600,318,1655" href="../elements/id-d855c6b4b40e4524a5f0fb8a1c8f3d72.html"  target="element">
				  						<area shape="rect" coords="514,1534,634,1589" href="../elements/id-56ad767dcf594055a3db16f7611835ba.html"  target="element">
				  						<area shape="rect" coords="46,1600,166,1655" href="../elements/id-4604f7c8685b41a2afe4b1561bd89920.html"  target="element">
				  						<area shape="rect" coords="742,1600,887,1655" href="../elements/id-c80be938fa9244caade79731daad205a.html"  target="element">
				  						<area shape="rect" coords="358,1534,503,1589" href="../elements/id-799e5ce168464adfb9ccceb417745bf3.html"  target="element">
				  						<area shape="rect" coords="226,1534,346,1589" href="../elements/id-b74071808988457285946f88bcf420a3.html"  target="element">
				  						<area shape="rect" coords="46,1534,218,1589" href="../elements/id-8c1f659147a04c93a34cc3c73210fcef.html"  target="element">

				  		        <area shape="rect" coords="34,1498,1055,1667" href="../objects/id-da00878442344f8293aec986cda7bd71.html" target="element" >
				  						<area shape="rect" coords="777,1714,901,1769" href="../elements/id-b3257bb5bbf34be997db2396bb77d1b3.html"  target="element">
				  						<area shape="rect" coords="477,1714,597,1769" href="../elements/id-9a445ae6b4ec48a88124bfba9cca5867.html"  target="element">
				  						<area shape="rect" coords="321,1714,469,1769" href="../elements/id-e9247afae0424be4b7bae939aefeb8fc.html"  target="element">
				  						<area shape="rect" coords="609,1714,765,1769" href="../elements/id-6e297eb7c60e47919189c1fa171aac58.html"  target="element">
				  						<area shape="rect" coords="189,1714,310,1769" href="../elements/id-8a6d4122d5124384a33ac2c650fde762.html"  target="element">
				  						<area shape="rect" coords="45,1714,177,1769" href="../elements/id-7d236fa8f12a42eba1a68b9146470be2.html"  target="element">

				  		        <area shape="rect" coords="33,1678,1055,1787" href="../objects/id-05aa95cab9ee47baa1e01aec14e9db06.html" target="element" >
				  						<area shape="rect" coords="45,1222,177,1277" href="../elements/id-3a7b33d5b03b4152b3d16bab2d938094.html"  target="element">
				  						<area shape="rect" coords="189,1222,309,1277" href="../elements/id-d61afd07f52d4bf1b6874182fbad20c9.html"  target="element">
				  						<area shape="rect" coords="321,1222,441,1277" href="../elements/id-01154238f38f4020bb0bc9150aad0a59.html"  target="element">
				  						<area shape="rect" coords="453,1222,581,1277" href="../elements/id-10b8819535e941df8bd2bb02ea67f945.html"  target="element">

				  		        <area shape="rect" coords="33,1186,1054,1295" href="../objects/id-eeec5608bdf647bbbdca8654b1598084.html" target="element" >

				          <area shape="rect" coords="10,766,1079,1811" href="../objects/id-82d4736bfaba43ba9e8665cb15591c29.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-82d4736bfaba43ba9e8665cb15591c29.html" target="element"> Laadulliset arvotekij&#228;t </a> </td>
									           <td> <a href="../objects/id-82d4736bfaba43ba9e8665cb15591c29.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-eeec5608bdf647bbbdca8654b1598084.html" target="element"> Kultuuriset arvotekij&#228;t </a> </td>
											           <td> <a href="../objects/id-eeec5608bdf647bbbdca8654b1598084.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-10b8819535e941df8bd2bb02ea67f945.html" target="element"> Yhteis&#246;llisyys </a> </td>
															    <td> <a href="../elements/id-10b8819535e941df8bd2bb02ea67f945.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-01154238f38f4020bb0bc9150aad0a59.html" target="element"> Esteettisyys </a> </td>
															    <td> <a href="../elements/id-01154238f38f4020bb0bc9150aad0a59.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d61afd07f52d4bf1b6874182fbad20c9.html" target="element"> Symbolisuus </a> </td>
															    <td> <a href="../elements/id-d61afd07f52d4bf1b6874182fbad20c9.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3a7b33d5b03b4152b3d16bab2d938094.html" target="element"> Historiallisuus </a> </td>
															    <td> <a href="../elements/id-3a7b33d5b03b4152b3d16bab2d938094.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-05aa95cab9ee47baa1e01aec14e9db06.html" target="element"> Liiketoiminnalliset arvotekij&#228;t </a> </td>
											           <td> <a href="../objects/id-05aa95cab9ee47baa1e01aec14e9db06.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-7d236fa8f12a42eba1a68b9146470be2.html" target="element"> Innovatiivisuus </a> </td>
															    <td> <a href="../elements/id-7d236fa8f12a42eba1a68b9146470be2.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8a6d4122d5124384a33ac2c650fde762.html" target="element"> Mukautuvuus </a> </td>
															    <td> <a href="../elements/id-8a6d4122d5124384a33ac2c650fde762.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-6e297eb7c60e47919189c1fa171aac58.html" target="element"> Asiakaskeskeisyys </a> </td>
															    <td> <a href="../elements/id-6e297eb7c60e47919189c1fa171aac58.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e9247afae0424be4b7bae939aefeb8fc.html" target="element"> Toimintavarmuus </a> </td>
															    <td> <a href="../elements/id-e9247afae0424be4b7bae939aefeb8fc.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9a445ae6b4ec48a88124bfba9cca5867.html" target="element"> Maine </a> </td>
															    <td> <a href="../elements/id-9a445ae6b4ec48a88124bfba9cca5867.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b3257bb5bbf34be997db2396bb77d1b3.html" target="element"> Tekij&#228;noikeus </a> </td>
															    <td> <a href="../elements/id-b3257bb5bbf34be997db2396bb77d1b3.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-da00878442344f8293aec986cda7bd71.html" target="element"> Yhteiskunnalliset arvotekij&#228;t </a> </td>
											           <td> <a href="../objects/id-da00878442344f8293aec986cda7bd71.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-8c1f659147a04c93a34cc3c73210fcef.html" target="element"> Oikeudenmukaisuus </a> </td>
															    <td> <a href="../elements/id-8c1f659147a04c93a34cc3c73210fcef.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b74071808988457285946f88bcf420a3.html" target="element"> Sananvapaus </a> </td>
															    <td> <a href="../elements/id-b74071808988457285946f88bcf420a3.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-799e5ce168464adfb9ccceb417745bf3.html" target="element"> Uskonnonvapaus </a> </td>
															    <td> <a href="../elements/id-799e5ce168464adfb9ccceb417745bf3.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c80be938fa9244caade79731daad205a.html" target="element"> Yhdenvertaisuus </a> </td>
															    <td> <a href="../elements/id-c80be938fa9244caade79731daad205a.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4604f7c8685b41a2afe4b1561bd89920.html" target="element"> Moninaisuus </a> </td>
															    <td> <a href="../elements/id-4604f7c8685b41a2afe4b1561bd89920.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-56ad767dcf594055a3db16f7611835ba.html" target="element"> Elinik&#228;inen oppiminen </a> </td>
															    <td> <a href="../elements/id-56ad767dcf594055a3db16f7611835ba.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d855c6b4b40e4524a5f0fb8a1c8f3d72.html" target="element"> Kansainv&#228;lisyys </a> </td>
															    <td> <a href="../elements/id-d855c6b4b40e4524a5f0fb8a1c8f3d72.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c0b577d0edf8412581bac8145f13ff16.html" target="element"> Ty&#246;llisyys </a> </td>
															    <td> <a href="../elements/id-c0b577d0edf8412581bac8145f13ff16.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3785bf2fca064a37aed555cfbcefbddf.html" target="element"> Hyvinvointi </a> </td>
															    <td> <a href="../elements/id-3785bf2fca064a37aed555cfbcefbddf.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-aaa94f39b7c44ebf8f3d1964b85e7563.html" target="element"> Ekologisuus </a> </td>
															    <td> <a href="../elements/id-aaa94f39b7c44ebf8f3d1964b85e7563.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-aae20ac2d4f34a4db6c833402d0b4c7d.html" target="element"> Yhteisvauraus </a> </td>
															    <td> <a href="../elements/id-aae20ac2d4f34a4db6c833402d0b4c7d.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3cb26e76ca1343a19ecff203c2336380.html" target="element"> Osallistaminen </a> </td>
															    <td> <a href="../elements/id-3cb26e76ca1343a19ecff203c2336380.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-8a9813597aff4238a1a44503346a744d.html" target="element"> Kokemukselliset arvotekij&#228;t </a> </td>
											           <td> <a href="../objects/id-8a9813597aff4238a1a44503346a744d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-f14a4f6a511c4a77953dc7c77a08dc91.html" target="element"> K&#228;ytt&#228;j&#228;tyytyv&#228;isyys </a> </td>
															    <td> <a href="../elements/id-f14a4f6a511c4a77953dc7c77a08dc91.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-78856687b70f423a98402c13dc8f88c4.html" target="element"> Odotustenmukaisuus </a> </td>
															    <td> <a href="../elements/id-78856687b70f423a98402c13dc8f88c4.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ad2df9e3c4ac4a7db9a68d03eeba581c.html" target="element"> Uutuus </a> </td>
															    <td> <a href="../elements/id-ad2df9e3c4ac4a7db9a68d03eeba581c.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5dabfd9611b04a64b02dd3c6d76a5060.html" target="element"> Nostalgisuus </a> </td>
															    <td> <a href="../elements/id-5dabfd9611b04a64b02dd3c6d76a5060.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7f07203dc9a54b78bc16dacf46683ec3.html" target="element"> Turvallisuus </a> </td>
															    <td> <a href="../elements/id-7f07203dc9a54b78bc16dacf46683ec3.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3a778097927745acb3cf0c2a722e3a90.html" target="element"> Reflektoitavuus </a> </td>
															    <td> <a href="../elements/id-3a778097927745acb3cf0c2a722e3a90.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-99b41a6e78f1480b9365f0e09279340e.html" target="element"> Mielenrauha </a> </td>
															    <td> <a href="../elements/id-99b41a6e78f1480b9365f0e09279340e.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-88369baf2ec64b7f8e25b670a78c68f4.html" target="element"> Erilaisuus </a> </td>
															    <td> <a href="../elements/id-88369baf2ec64b7f8e25b670a78c68f4.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0be07440b9ce4386b1725e89b1b250c9.html" target="element"> L&#228;hestytt&#228;vyys </a> </td>
															    <td> <a href="../elements/id-0be07440b9ce4386b1725e89b1b250c9.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-31a1752eb3e74509a10e441824aff005.html" target="element"> Merkityksellisyys </a> </td>
															    <td> <a href="../elements/id-31a1752eb3e74509a10e441824aff005.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-db22d38838a642a0b8c6672688b847eb.html" target="element"> Vapaus </a> </td>
															    <td> <a href="../elements/id-db22d38838a642a0b8c6672688b847eb.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-c6dc4e4f5e3e485cba55f41b0f1695e4.html" target="element"> Tiedon arvotekij&#228;t </a> </td>
											           <td> <a href="../objects/id-c6dc4e4f5e3e485cba55f41b0f1695e4.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-519141622cb94333ae700e1302e145ac.html" target="element"> Ymm&#228;rrett&#228;vyys </a> </td>
															    <td> <a href="../elements/id-519141622cb94333ae700e1302e145ac.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-aedfdb9ca4ae45219f1b1e021b0e24ab.html" target="element"> Yksil&#246;it&#228;vyys </a> </td>
															    <td> <a href="../elements/id-aedfdb9ca4ae45219f1b1e021b0e24ab.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ce017558c41840fcb468d877f8feae47.html" target="element"> Helppok&#228;ytt&#246;isyys </a> </td>
															    <td> <a href="../elements/id-ce017558c41840fcb468d877f8feae47.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-87f32a13e6b246dbb272cdbe558292bd.html" target="element"> Eheys </a> </td>
															    <td> <a href="../elements/id-87f32a13e6b246dbb272cdbe558292bd.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-067d3973742546ba9c59f689636e5c78.html" target="element"> Objektiivisuus </a> </td>
															    <td> <a href="../elements/id-067d3973742546ba9c59f689636e5c78.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-18c91d6fe906411885334572eb68edf6.html" target="element"> Toistettavuus </a> </td>
															    <td> <a href="../elements/id-18c91d6fe906411885334572eb68edf6.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-60b7f5367f0b4f0b92ae18507ce4a642.html" target="element"> Vertailukelpoisuus </a> </td>
															    <td> <a href="../elements/id-60b7f5367f0b4f0b92ae18507ce4a642.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-345d6f36eadc4993be65f4216df46815.html" target="element"> Koneluettavuus </a> </td>
															    <td> <a href="../elements/id-345d6f36eadc4993be65f4216df46815.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4b5a22551b5441c090c5655730aab445.html" target="element"> Avoimuus </a> </td>
															    <td> <a href="../elements/id-4b5a22551b5441c090c5655730aab445.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-dc5e54ff51ea4b92a5bbdd88cd04cae8.html" target="element"> S&#228;ilyvyys </a> </td>
															    <td> <a href="../elements/id-dc5e54ff51ea4b92a5bbdd88cd04cae8.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7a3e84089e894909b1067639ffb01509.html" target="element"> Luotettavuus </a> </td>
															    <td> <a href="../elements/id-7a3e84089e894909b1067639ffb01509.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b23f506c56f24f03b5745730c66c7526.html" target="element"> Luottamuksellisuus </a> </td>
															    <td> <a href="../elements/id-b23f506c56f24f03b5745730c66c7526.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-bcec3d762e5f4cfb8ab7a1b33de6848c.html" target="element"> Toiminnalliset arvotekij&#228;t </a> </td>
											           <td> <a href="../objects/id-bcec3d762e5f4cfb8ab7a1b33de6848c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-cd6d542bf5db44458c78e90da09d47b8.html" target="element"> Uudelleenk&#228;ytett&#228;vyys </a> </td>
															    <td> <a href="../elements/id-cd6d542bf5db44458c78e90da09d47b8.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7b57c9ffa44340daadfd5145bca59189.html" target="element"> Korjattavuus </a> </td>
															    <td> <a href="../elements/id-7b57c9ffa44340daadfd5145bca59189.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-aa58db2c592f492a85dd48a052a7e679.html" target="element"> K&#228;ytt&#228;j&#228;keskeisyys </a> </td>
															    <td> <a href="../elements/id-aa58db2c592f492a85dd48a052a7e679.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-81eee71d536e4d89bba8a9133a9b1014.html" target="element"> Muokattavuus </a> </td>
															    <td> <a href="../elements/id-81eee71d536e4d89bba8a9133a9b1014.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-600b69e6135a41d3a06d26e2a141b7b0.html" target="element"> Konetoiminnallisuus </a> </td>
															    <td> <a href="../elements/id-600b69e6135a41d3a06d26e2a141b7b0.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1c14c0e3f31c499bbac1ee89e235eb4d.html" target="element"> Yhteentoimivuus </a> </td>
															    <td> <a href="../elements/id-1c14c0e3f31c499bbac1ee89e235eb4d.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b07673e0c1614c8cb91e6e9695db42b7.html" target="element"> Saatavuus </a> </td>
															    <td> <a href="../elements/id-b07673e0c1614c8cb91e6e9695db42b7.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-cd3bae699a6641518e7418409d840de8.html" target="element"> K&#228;ytett&#228;vyys </a> </td>
															    <td> <a href="../elements/id-cd3bae699a6641518e7418409d840de8.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-436bd8d8dfd34dafb777ab007988a99b.html" target="element"> L&#246;ydett&#228;vyys </a> </td>
															    <td> <a href="../elements/id-436bd8d8dfd34dafb777ab007988a99b.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e9ef456f83f54c548299418682ad3960.html" target="element"> Saavutettavuus </a> </td>
															    <td> <a href="../elements/id-e9ef456f83f54c548299418682ad3960.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-facd8bcea74745c18b980c4fd897f851.html" target="element"> Vaikuttavuus </a> </td>
															    <td> <a href="../elements/id-facd8bcea74745c18b980c4fd897f851.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8c8130743ab842829c790194f6f26d55.html" target="element"> Tietoturvallisuus </a> </td>
															    <td> <a href="../elements/id-8c8130743ab842829c790194f6f26d55.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-448827bbfcf64c5bb74a62abf45a2788.html" target="element"> M&#228;&#228;r&#228;lliset arvotekij&#228;t </a> </td>
									           <td> <a href="../objects/id-448827bbfcf64c5bb74a62abf45a2788.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-5f3b4902915a4d89b8f505e8290e8d79.html" target="element"> Rahalliset arvotekij&#228;t </a> </td>
											           <td> <a href="../objects/id-5f3b4902915a4d89b8f505e8290e8d79.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-43fd8756c2f940c39bfc795f63cff5d5.html" target="element"> Edullisuus </a> </td>
															    <td> <a href="../elements/id-43fd8756c2f940c39bfc795f63cff5d5.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b4e163cf756a4af694281aa4d8c3151d.html" target="element"> Kallisarvoisuus </a> </td>
															    <td> <a href="../elements/id-b4e163cf756a4af694281aa4d8c3151d.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9227766bf57c42d8951c9c61ead1d31d.html" target="element"> Maksuttomuus </a> </td>
															    <td> <a href="../elements/id-9227766bf57c42d8951c9c61ead1d31d.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2ca0f3e46b5e4b7baf3ed04c7da5c030.html" target="element"> Kustannuss&#228;&#228;st&#246; </a> </td>
															    <td> <a href="../elements/id-2ca0f3e46b5e4b7baf3ed04c7da5c030.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-88cf4e56fe1549039f216bf9df547f86.html" target="element"> Maksullisuus </a> </td>
															    <td> <a href="../elements/id-88cf4e56fe1549039f216bf9df547f86.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3026a538561a4bdab5d4e42eb881c10c.html" target="element"> Kannattavuus </a> </td>
															    <td> <a href="../elements/id-3026a538561a4bdab5d4e42eb881c10c.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7e6ac47932454c7788fc01954e4307da.html" target="element"> Tuottavuus </a> </td>
															    <td> <a href="../elements/id-7e6ac47932454c7788fc01954e4307da.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-379d8ecf75f6423a9657f2154f5b3260.html" target="element"> Havainnolliset arvotekij&#228;t </a> </td>
											           <td> <a href="../objects/id-379d8ecf75f6423a9657f2154f5b3260.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-7d164c2608a6494cb19e355e5679dcea.html" target="element"> Yleisyys </a> </td>
															    <td> <a href="../elements/id-7d164c2608a6494cb19e355e5679dcea.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d5360872d1db4ca8a1932e6566eb4196.html" target="element"> Harvinaisuus </a> </td>
															    <td> <a href="../elements/id-d5360872d1db4ca8a1932e6566eb4196.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c2bc02d856454311b88675ba0a8a0134.html" target="element"> Ainutlaatuisuus </a> </td>
															    <td> <a href="../elements/id-c2bc02d856454311b88675ba0a8a0134.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-259aac9f9d4540d982604f6179c76859.html" target="element"> K&#228;ytt&#246;m&#228;&#228;r&#228; </a> </td>
															    <td> <a href="../elements/id-259aac9f9d4540d982604f6179c76859.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-97a0a83ba2cc478386bac7731421a1b3.html" target="element"> Latausm&#228;&#228;r&#228; </a> </td>
															    <td> <a href="../elements/id-97a0a83ba2cc478386bac7731421a1b3.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-42ffc61b623949a6bf5ca1dd5cd5e737.html" target="element"> Mitattavuus </a> </td>
															    <td> <a href="../elements/id-42ffc61b623949a6bf5ca1dd5cd5e737.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9815d6cbb964466aa7ddba18873b1be2.html" target="element"> Keskeytt&#228;misprosentti </a> </td>
															    <td> <a href="../elements/id-9815d6cbb964466aa7ddba18873b1be2.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-bb45c15bb606420dbb74a7142bfbc987.html" target="element"> Ajalliset arvotekij&#228;t </a> </td>
											           <td> <a href="../objects/id-bb45c15bb606420dbb74a7142bfbc987.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-cf1e95d46de643df9230dfde4ca9b8e0.html" target="element"> Ik&#228; </a> </td>
															    <td> <a href="../elements/id-cf1e95d46de643df9230dfde4ca9b8e0.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-88b325f3f44b46ce8638846a3e07339a.html" target="element"> Yll&#228;pitoaika </a> </td>
															    <td> <a href="../elements/id-88b325f3f44b46ce8638846a3e07339a.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0fa80fcaba0243d1b488aa349b541248.html" target="element"> K&#228;ytt&#246;aika </a> </td>
															    <td> <a href="../elements/id-0fa80fcaba0243d1b488aa349b541248.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0e62ebb1434e414084103440de79018d.html" target="element"> Asiakkuuden kesto </a> </td>
															    <td> <a href="../elements/id-0e62ebb1434e414084103440de79018d.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-70fbcd85e56f41b2929d3f0d636c3150.html" target="element"> Ajans&#228;&#228;st&#246; </a> </td>
															    <td> <a href="../elements/id-70fbcd85e56f41b2929d3f0d636c3150.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-603195063bac47acbe1edc6c359d6e9f.html" target="element"> Sitouttamisaika </a> </td>
															    <td> <a href="../elements/id-603195063bac47acbe1edc6c359d6e9f.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c2cf27ba834c49329c752248c85783de.html" target="element"> K&#228;ytt&#246;&#246;nottoaika </a> </td>
															    <td> <a href="../elements/id-c2cf27ba834c49329c752248c85783de.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-0b6e62ae2b5b4ff1aa61fc537294e70e.html" target="element"> Tilastolliset arvotekij&#228;t </a> </td>
											           <td> <a href="../objects/id-0b6e62ae2b5b4ff1aa61fc537294e70e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-f707a6e56a624f7bbf5467098b54c9d7.html" target="element"> Keskiarvo </a> </td>
															    <td> <a href="../elements/id-f707a6e56a624f7bbf5467098b54c9d7.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0ec503da98254bd495038f7a14b98f29.html" target="element"> Yleisin vastaus </a> </td>
															    <td> <a href="../elements/id-0ec503da98254bd495038f7a14b98f29.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-eec00f327efa40d18bea0cd8c2408886.html" target="element"> Keskihajonta </a> </td>
															    <td> <a href="../elements/id-eec00f327efa40d18bea0cd8c2408886.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-500d877c2ec04bd8bd341ca05106f2f2.html" target="element"> Vastausprosentti </a> </td>
															    <td> <a href="../elements/id-500d877c2ec04bd8bd341ca05106f2f2.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ba04fdf2794b442bb8b7a0492a7d3a3e.html" target="element"> Mediaani </a> </td>
															    <td> <a href="../elements/id-ba04fdf2794b442bb8b7a0492a7d3a3e.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-82a8d40bde1c40358773cf02ffec1dd8.html" target="element"> Jakauma </a> </td>
															    <td> <a href="../elements/id-82a8d40bde1c40358773cf02ffec1dd8.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1211ca9662304ada8a4a7833f43d661b.html" target="element"> Luokittelu </a> </td>
															    <td> <a href="../elements/id-1211ca9662304ada8a4a7833f43d661b.html" target="element" class="i18n-elementtype-Value">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>