<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kulttuuriperintökokoelma</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kulttuuriperint&#246;kokoelma</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a348fa9ec07c454eb3e9fca42a5e65dd.png" alt="Kulttuuriperintökokoelma" usemap="#id-a348fa9ec07c454eb3e9fca42a5e65ddmap"/>
			   <map name="id-a348fa9ec07c454eb3e9fca42a5e65ddmap">
				  		<area shape="rect" coords="10,142,201,197" href="../elements/id-52e04e412ba64ce98e00da0e691fec65.html"  target="element">
				  		<area shape="rect" coords="81,538,201,593" href="../elements/id-596e4058b11f465bb42fd557eb060675.html"  target="element">
				  		<area shape="rect" coords="477,670,622,725" href="../elements/id-7cf563ea414b4897b9e19092a10c4b5a.html"  target="element">
				          <area shape="rect" coords="452,94,778,131" href="../objects/id-65d730c673e7447ca34db5c19a78c88f.html" target="element" >
				  		<area shape="rect" coords="333,10,523,65" href="../elements/id-bbe1263a3b0343bfa249fbeda7897a0b.html"  target="element">
				  		<area shape="rect" coords="597,538,741,593" href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html"  target="element">
				          <area shape="rect" coords="452,214,581,250" href="../objects/id-57908ee070ad4205ae86ef776052acd8.html" target="element" >
				  		<area shape="rect" coords="345,538,465,593" href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html"  target="element">
				  		<area shape="rect" coords="156,670,306,725" href="../elements/id-0c67f4ba1753421c87e964e084577a23.html"  target="element">
				  		<area shape="rect" coords="156,436,334,491" href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html"  target="element">
				  		<area shape="rect" coords="333,142,523,197" href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html"  target="element">
				  		<area shape="rect" coords="156,298,334,353" href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html"  target="element">
				  		<area shape="rect" coords="681,670,835,725" href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element"> Rakennusperint&#246; </a> </td>
											    <td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
											    <td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
											    <td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
											    <td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
											    <td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-57908ee070ad4205ae86ef776052acd8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-57908ee070ad4205ae86ef776052acd8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bbe1263a3b0343bfa249fbeda7897a0b.html" target="element"> Kulttuuriperint&#246;-kokoelma </a> </td>
											    <td> <a href="../elements/id-bbe1263a3b0343bfa249fbeda7897a0b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-65d730c673e7447ca34db5c19a78c88f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-65d730c673e7447ca34db5c19a78c88f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-7cf563ea414b4897b9e19092a10c4b5a.html" target="element"> Analoginen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-7cf563ea414b4897b9e19092a10c4b5a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-596e4058b11f465bb42fd557eb060675.html" target="element"> Metatieto </a> </td>
											    <td> <a href="../elements/id-596e4058b11f465bb42fd557eb060675.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-52e04e412ba64ce98e00da0e691fec65.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-52e04e412ba64ce98e00da0e691fec65.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-aab1d13dadfb44bab9873281c9c5efe8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aab1d13dadfb44bab9873281c9c5efe8.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element"> Rakennusperint&#246; </a> </td>
																		<td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2dc02be0514d4337993d2e611cc10ede.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2dc02be0514d4337993d2e611cc10ede.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-810f037c67d74a44ab6e3c96e2d4a726.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-810f037c67d74a44ab6e3c96e2d4a726.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																		<td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f12b98d628b444da29dd2921c81ca71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f12b98d628b444da29dd2921c81ca71.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																		<td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d4f494399cbf4ff797f8e811774809e4.html" target="element"> liittyy </a> </td>
																		<td> <a href="../elements/id-d4f494399cbf4ff797f8e811774809e4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																		<td> <a href="../elements/id-52e04e412ba64ce98e00da0e691fec65.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cf385ce8dcd34ad7a9dcc67592c55fe0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf385ce8dcd34ad7a9dcc67592c55fe0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4d87684da2a7470d942b552f903e84e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d87684da2a7470d942b552f903e84e6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd0ec335fea849ec906747e4ed625092.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd0ec335fea849ec906747e4ed625092.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1d7145719d884fbc9f491c8f834cb6f5.html" target="element"> digitoi </a> </td>
																		<td> <a href="../elements/id-1d7145719d884fbc9f491c8f834cb6f5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
																		<td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-3bf81369010d439585a056628808d8ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3bf81369010d439585a056628808d8ec.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bbe1263a3b0343bfa249fbeda7897a0b.html" target="element"> Kulttuuriperint&#246;-kokoelma </a> </td>
																		<td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-9ef1cc683f5a4d23a951a54c744bebcf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ef1cc683f5a4d23a951a54c744bebcf.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7cf563ea414b4897b9e19092a10c4b5a.html" target="element"> Analoginen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c8432eaee15947d7873fb39a55258182.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8432eaee15947d7873fb39a55258182.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-596e4058b11f465bb42fd557eb060675.html" target="element"> Metatieto </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>