<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kulttuuriperinnön tyypit</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kulttuuriperinn&#246;n tyypit</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bfea89984a6442a496bf6e1321a43569.png" alt="Kulttuuriperinnön tyypit" usemap="#id-bfea89984a6442a496bf6e1321a43569map"/>
			   <map name="id-bfea89984a6442a496bf6e1321a43569map">
				  		<area shape="rect" coords="442,885,562,940" href="../elements/id-d2b0db03ba594bf58ba2cefd6b21a700.html"  target="element">
				  		<area shape="rect" coords="1510,490,1630,545" href="../elements/id-a577281aeed84d75b46c0e5f41a852e9.html"  target="element">
				  		<area shape="rect" coords="190,250,310,305" href="../elements/id-9e045043ae0a4a288affa676844fa354.html"  target="element">
				  		<area shape="rect" coords="1399,394,1539,449" href="../elements/id-55a16fa35101495190e1c344fefcdefa.html"  target="element">
				  		<area shape="rect" coords="1366,490,1486,545" href="../elements/id-82a018ea74874fcb8f0e9a1bda9bc53f.html"  target="element">
				  		<area shape="rect" coords="934,490,1054,545" href="../elements/id-d26cb75987244a538225380a18f2a431.html"  target="element">
				  		<area shape="rect" coords="1222,490,1342,545" href="../elements/id-7e0e91574e414559a2be3cdc77215563.html"  target="element">
				  		<area shape="rect" coords="1078,490,1198,545" href="../elements/id-57d33ee89b8b49e4985858486986297a.html"  target="element">
				  		<area shape="rect" coords="790,490,910,545" href="../elements/id-2974d8c51b9844998e2fc9709e1c216c.html"  target="element">
				  		<area shape="rect" coords="1222,885,1362,940" href="../elements/id-caf8bc21ef1e40ac8555437b30b36c10.html"  target="element">
				  		<area shape="rect" coords="1078,886,1198,941" href="../elements/id-23db63e61f084d1b8860a152cf24092b.html"  target="element">
				  		<area shape="rect" coords="500,472,644,527" href="../elements/id-58ba952b71ae4e9a9c277849734acd81.html"  target="element">
				  		<area shape="rect" coords="908,885,1028,940" href="../elements/id-5f8b3affd7c9462ea6851066468d1aa8.html"  target="element">
				  		<area shape="rect" coords="1582,586,1702,641" href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html"  target="element">
				  		<area shape="rect" coords="1055,778,1175,833" href="../elements/id-58e4cea3a1894a07898118d105e81d3c.html"  target="element">
				  		<area shape="rect" coords="754,885,874,940" href="../elements/id-3c906b1c8b3f43bf872256a6620a00b6.html"  target="element">
				  		<area shape="rect" coords="596,885,716,940" href="../elements/id-3c43f3dd604649ea918ff1bd525588c8.html"  target="element">
				  		<area shape="rect" coords="302,885,422,940" href="../elements/id-043301082fbd4859a5ee090a3bcd7d3f.html"  target="element">
				  		<area shape="rect" coords="155,885,275,940" href="../elements/id-b09af2f053c94f90ba1c196c18f6d77b.html"  target="element">
				  		<area shape="rect" coords="369,790,489,845" href="../elements/id-66306dcc29c84031b2b02a9bc0bb2da1.html"  target="element">
				  		<area shape="rect" coords="694,778,814,833" href="../elements/id-96c588252c354d1ea9c3a793e7f960ef.html"  target="element">
				  		<area shape="rect" coords="694,670,814,725" href="../elements/id-0c67f4ba1753421c87e964e084577a23.html"  target="element">
				  		<area shape="rect" coords="897,778,1017,833" href="../elements/id-03aceb598606464dbec5ab8402f4481e.html"  target="element">
				  		<area shape="rect" coords="694,580,814,635" href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html"  target="element">
				  		<area shape="rect" coords="10,418,156,473" href="../elements/id-17fb30ce71314fd992ae29b501466451.html"  target="element">
				  		<area shape="rect" coords="462,250,582,305" href="../elements/id-cfe295f9307b4ac2b41f240479fe8aa9.html"  target="element">
				  		<area shape="rect" coords="309,394,463,449" href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html"  target="element">
				  		<area shape="rect" coords="1216,778,1362,833" href="../elements/id-9c9c326021de475daf42458441d091be.html"  target="element">
				  		<area shape="rect" coords="453,580,604,635" href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html"  target="element">
				  		<area shape="rect" coords="130,580,269,635" href="../elements/id-d1218d58576346049a220844138e9a12.html"  target="element">
				  		<area shape="rect" coords="285,580,439,635" href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html"  target="element">
				  		<area shape="rect" coords="10,250,156,305" href="../elements/id-803015adca6e49d8993abfa45a03ae05.html"  target="element">
				  		<area shape="rect" coords="949,394,1069,449" href="../elements/id-d35e6496624b4b7dbb949ee9df7269aa.html"  target="element">
				  		<area shape="rect" coords="1250,394,1386,449" href="../elements/id-8ec9842c558240d58e16c54842c747e9.html"  target="element">
				  		<area shape="rect" coords="1095,394,1230,449" href="../elements/id-11250bfa3b2841f7a639cf3dc412fa0b.html"  target="element">
				  		<area shape="rect" coords="453,10,573,65" href="../elements/id-fc60931a60a14adea6fe01cec95b69af.html"  target="element">
				  		<area shape="rect" coords="597,178,774,233" href="../elements/id-89a721b426394b27bb762edba703fe98.html"  target="element">
				  		<area shape="rect" coords="801,394,921,449" href="../elements/id-8421bfe452cc4c63a469b1855f9ffd37.html"  target="element">
				  		<area shape="rect" coords="1258,232,1400,287" href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html" target="element"> Ihmisen luoma fyysinen objekti </a> </td>
											    <td> <a href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8421bfe452cc4c63a469b1855f9ffd37.html" target="element"> Teksti </a> </td>
											    <td> <a href="../elements/id-8421bfe452cc4c63a469b1855f9ffd37.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-89a721b426394b27bb762edba703fe98.html" target="element"> Ihmisen luoma objekti </a> </td>
											    <td> <a href="../elements/id-89a721b426394b27bb762edba703fe98.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc60931a60a14adea6fe01cec95b69af.html" target="element"> Objekti </a> </td>
											    <td> <a href="../elements/id-fc60931a60a14adea6fe01cec95b69af.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-11250bfa3b2841f7a639cf3dc412fa0b.html" target="element"> Video </a> </td>
											    <td> <a href="../elements/id-11250bfa3b2841f7a639cf3dc412fa0b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ec9842c558240d58e16c54842c747e9.html" target="element"> Audio </a> </td>
											    <td> <a href="../elements/id-8ec9842c558240d58e16c54842c747e9.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d35e6496624b4b7dbb949ee9df7269aa.html" target="element"> Kuva </a> </td>
											    <td> <a href="../elements/id-d35e6496624b4b7dbb949ee9df7269aa.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-803015adca6e49d8993abfa45a03ae05.html" target="element"> Luonnollinen fyysinen objekti </a> </td>
											    <td> <a href="../elements/id-803015adca6e49d8993abfa45a03ae05.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element"> Kulttuuriymp&#228;rist&#246; </a> </td>
											    <td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d1218d58576346049a220844138e9a12.html" target="element"> El&#228;v&#228; kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-d1218d58576346049a220844138e9a12.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9c9c326021de475daf42458441d091be.html" target="element"> 3D malli </a> </td>
											    <td> <a href="../elements/id-9c9c326021de475daf42458441d091be.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cfe295f9307b4ac2b41f240479fe8aa9.html" target="element"> Fiktiivinen objekti </a> </td>
											    <td> <a href="../elements/id-cfe295f9307b4ac2b41f240479fe8aa9.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17fb30ce71314fd992ae29b501466451.html" target="element"> Luonnonperint&#246; </a> </td>
											    <td> <a href="../elements/id-17fb30ce71314fd992ae29b501466451.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
											    <td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-03aceb598606464dbec5ab8402f4481e.html" target="element"> Multimedia </a> </td>
											    <td> <a href="../elements/id-03aceb598606464dbec5ab8402f4481e.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
											    <td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-96c588252c354d1ea9c3a793e7f960ef.html" target="element"> Rakenteinen Data </a> </td>
											    <td> <a href="../elements/id-96c588252c354d1ea9c3a793e7f960ef.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-66306dcc29c84031b2b02a9bc0bb2da1.html" target="element"> Digitaalinen viestint&#228; </a> </td>
											    <td> <a href="../elements/id-66306dcc29c84031b2b02a9bc0bb2da1.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b09af2f053c94f90ba1c196c18f6d77b.html" target="element"> S&#228;hk&#246;posti </a> </td>
											    <td> <a href="../elements/id-b09af2f053c94f90ba1c196c18f6d77b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-043301082fbd4859a5ee090a3bcd7d3f.html" target="element"> Sosiaalisen median viestit </a> </td>
											    <td> <a href="../elements/id-043301082fbd4859a5ee090a3bcd7d3f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3c43f3dd604649ea918ff1bd525588c8.html" target="element"> Tietokanta </a> </td>
											    <td> <a href="../elements/id-3c43f3dd604649ea918ff1bd525588c8.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3c906b1c8b3f43bf872256a6620a00b6.html" target="element"> Rakenteinen data </a> </td>
											    <td> <a href="../elements/id-3c906b1c8b3f43bf872256a6620a00b6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-58e4cea3a1894a07898118d105e81d3c.html" target="element"> Ohjelmisto </a> </td>
											    <td> <a href="../elements/id-58e4cea3a1894a07898118d105e81d3c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
											    <td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5f8b3affd7c9462ea6851066468d1aa8.html" target="element"> Lis&#228;tty todellisuus </a> </td>
											    <td> <a href="../elements/id-5f8b3affd7c9462ea6851066468d1aa8.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-58ba952b71ae4e9a9c277849734acd81.html" target="element"> Taltioitu kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-58ba952b71ae4e9a9c277849734acd81.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-23db63e61f084d1b8860a152cf24092b.html" target="element"> Videopeli </a> </td>
											    <td> <a href="../elements/id-23db63e61f084d1b8860a152cf24092b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-caf8bc21ef1e40ac8555437b30b36c10.html" target="element"> Demoscene demo </a> </td>
											    <td> <a href="../elements/id-caf8bc21ef1e40ac8555437b30b36c10.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2974d8c51b9844998e2fc9709e1c216c.html" target="element"> Kirja </a> </td>
											    <td> <a href="../elements/id-2974d8c51b9844998e2fc9709e1c216c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-57d33ee89b8b49e4985858486986297a.html" target="element"> Elokuva </a> </td>
											    <td> <a href="../elements/id-57d33ee89b8b49e4985858486986297a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7e0e91574e414559a2be3cdc77215563.html" target="element"> Musiikki </a> </td>
											    <td> <a href="../elements/id-7e0e91574e414559a2be3cdc77215563.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d26cb75987244a538225380a18f2a431.html" target="element"> Maalaus </a> </td>
											    <td> <a href="../elements/id-d26cb75987244a538225380a18f2a431.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82a018ea74874fcb8f0e9a1bda9bc53f.html" target="element"> Veistos </a> </td>
											    <td> <a href="../elements/id-82a018ea74874fcb8f0e9a1bda9bc53f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55a16fa35101495190e1c344fefcdefa.html" target="element"> Kolmiulotteinen objekti </a> </td>
											    <td> <a href="../elements/id-55a16fa35101495190e1c344fefcdefa.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e045043ae0a4a288affa676844fa354.html" target="element"> Symbolinen objekti </a> </td>
											    <td> <a href="../elements/id-9e045043ae0a4a288affa676844fa354.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a577281aeed84d75b46c0e5f41a852e9.html" target="element"> Rakennus </a> </td>
											    <td> <a href="../elements/id-a577281aeed84d75b46c0e5f41a852e9.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d2b0db03ba594bf58ba2cefd6b21a700.html" target="element"> Verkkosivu </a> </td>
											    <td> <a href="../elements/id-d2b0db03ba594bf58ba2cefd6b21a700.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a4f85949bb934130be933adefee9e564.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4f85949bb934130be933adefee9e564.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html" target="element"> Ihmisen luoma fyysinen objekti </a> </td>
																		<td> <a href="../elements/id-89a721b426394b27bb762edba703fe98.html" target="element"> Ihmisen luoma objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5b458728d51e4747a7f41df455c4794e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b458728d51e4747a7f41df455c4794e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8421bfe452cc4c63a469b1855f9ffd37.html" target="element"> Teksti </a> </td>
																		<td> <a href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html" target="element"> Ihmisen luoma fyysinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-06a259282aa54fec9a57015306c74a6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06a259282aa54fec9a57015306c74a6c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-89a721b426394b27bb762edba703fe98.html" target="element"> Ihmisen luoma objekti </a> </td>
																		<td> <a href="../elements/id-fc60931a60a14adea6fe01cec95b69af.html" target="element"> Objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aee09f7481f24645b7549e718bf1f8b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aee09f7481f24645b7549e718bf1f8b4.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11250bfa3b2841f7a639cf3dc412fa0b.html" target="element"> Video </a> </td>
																		<td> <a href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html" target="element"> Ihmisen luoma fyysinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-282a0d53d71a4e089e37034fe63fe562.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-282a0d53d71a4e089e37034fe63fe562.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ec9842c558240d58e16c54842c747e9.html" target="element"> Audio </a> </td>
																		<td> <a href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html" target="element"> Ihmisen luoma fyysinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1ed2139bd29f45448766d29322f89653.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ed2139bd29f45448766d29322f89653.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d35e6496624b4b7dbb949ee9df7269aa.html" target="element"> Kuva </a> </td>
																		<td> <a href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html" target="element"> Ihmisen luoma fyysinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9c0a8e667cb24a4e81d98751927b4661.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c0a8e667cb24a4e81d98751927b4661.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-803015adca6e49d8993abfa45a03ae05.html" target="element"> Luonnollinen fyysinen objekti </a> </td>
																		<td> <a href="../elements/id-fc60931a60a14adea6fe01cec95b69af.html" target="element"> Objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c8010b137719451999f759980da8c202.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8010b137719451999f759980da8c202.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element"> Kulttuuriymp&#228;rist&#246; </a> </td>
																		<td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d44afca6716f45018f068ef485e9c3a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d44afca6716f45018f068ef485e9c3a9.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1218d58576346049a220844138e9a12.html" target="element"> El&#228;v&#228; kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2b17b508d6ee4f0ba6c6088317ae0f07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b17b508d6ee4f0ba6c6088317ae0f07.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1218d58576346049a220844138e9a12.html" target="element"> El&#228;v&#228; kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-9e045043ae0a4a288affa676844fa354.html" target="element"> Symbolinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-54fa21318b874ff08e94297c8b67a042.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54fa21318b874ff08e94297c8b67a042.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5131124c52148e89aef2e17e3642938.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5131124c52148e89aef2e17e3642938.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c98298e9c77c41c3812935b934a5597a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c98298e9c77c41c3812935b934a5597a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c9c326021de475daf42458441d091be.html" target="element"> 3D malli </a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e5f3013ee4374b599a368f50911bef74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5f3013ee4374b599a368f50911bef74.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-89a721b426394b27bb762edba703fe98.html" target="element"> Ihmisen luoma objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eefb60abba09470f975ba7637a0e1a0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eefb60abba09470f975ba7637a0e1a0f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cfe295f9307b4ac2b41f240479fe8aa9.html" target="element"> Fiktiivinen objekti </a> </td>
																		<td> <a href="../elements/id-89a721b426394b27bb762edba703fe98.html" target="element"> Ihmisen luoma objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4906f8a8981b400bafe015dbb85dd472.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4906f8a8981b400bafe015dbb85dd472.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17fb30ce71314fd992ae29b501466451.html" target="element"> Luonnonperint&#246; </a> </td>
																		<td> <a href="../elements/id-803015adca6e49d8993abfa45a03ae05.html" target="element"> Luonnollinen fyysinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fb2ea94bbb3c4a52b86eb0d22b4d75b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb2ea94bbb3c4a52b86eb0d22b4d75b0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																		<td> <a href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html" target="element"> Ihmisen luoma fyysinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-671b410d80e6439b8003a274d93fe451.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-671b410d80e6439b8003a274d93fe451.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03aceb598606464dbec5ab8402f4481e.html" target="element"> Multimedia </a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cf385ce8dcd34ad7a9dcc67592c55fe0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf385ce8dcd34ad7a9dcc67592c55fe0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7234693d24f445169eb60bacf5ff1580.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7234693d24f445169eb60bacf5ff1580.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-96c588252c354d1ea9c3a793e7f960ef.html" target="element"> Rakenteinen Data </a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-994a2a4185ff4db1a6a3ea14b763dd2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-994a2a4185ff4db1a6a3ea14b763dd2d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-66306dcc29c84031b2b02a9bc0bb2da1.html" target="element"> Digitaalinen viestint&#228; </a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4435c07e006e4ca9a9b8d099cb694e0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4435c07e006e4ca9a9b8d099cb694e0e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b09af2f053c94f90ba1c196c18f6d77b.html" target="element"> S&#228;hk&#246;posti </a> </td>
																		<td> <a href="../elements/id-66306dcc29c84031b2b02a9bc0bb2da1.html" target="element"> Digitaalinen viestint&#228; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0ea7a86bb19947078e3a58334d280985.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ea7a86bb19947078e3a58334d280985.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-043301082fbd4859a5ee090a3bcd7d3f.html" target="element"> Sosiaalisen median viestit </a> </td>
																		<td> <a href="../elements/id-66306dcc29c84031b2b02a9bc0bb2da1.html" target="element"> Digitaalinen viestint&#228; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dba4bf8d262f4f2fb4b01baed7e6f842.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dba4bf8d262f4f2fb4b01baed7e6f842.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c43f3dd604649ea918ff1bd525588c8.html" target="element"> Tietokanta </a> </td>
																		<td> <a href="../elements/id-96c588252c354d1ea9c3a793e7f960ef.html" target="element"> Rakenteinen Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d2f8ffbff0c846d89a1a981e23729060.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2f8ffbff0c846d89a1a981e23729060.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c906b1c8b3f43bf872256a6620a00b6.html" target="element"> Rakenteinen data </a> </td>
																		<td> <a href="../elements/id-96c588252c354d1ea9c3a793e7f960ef.html" target="element"> Rakenteinen Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cac2b70f43264e7396fb4562d99d29af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cac2b70f43264e7396fb4562d99d29af.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58e4cea3a1894a07898118d105e81d3c.html" target="element"> Ohjelmisto </a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-492fc8ad8b8f4b929ea26d4f9ea234e0.html" target="element"> digitoi </a> </td>
																		<td> <a href="../elements/id-492fc8ad8b8f4b929ea26d4f9ea234e0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
																		<td> <a href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html" target="element"> Ihmisen luoma fyysinen objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4d87684da2a7470d942b552f903e84e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d87684da2a7470d942b552f903e84e6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a8b92d85d80749ddb4e5d36b71092fe6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8b92d85d80749ddb4e5d36b71092fe6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b9687caabf274cc8b55ebb41a1da2d9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9687caabf274cc8b55ebb41a1da2d9c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5f8b3affd7c9462ea6851066468d1aa8.html" target="element"> Lis&#228;tty todellisuus </a> </td>
																		<td> <a href="../elements/id-03aceb598606464dbec5ab8402f4481e.html" target="element"> Multimedia </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f82bb4e019da4bbebee087b1da74276f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f82bb4e019da4bbebee087b1da74276f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58ba952b71ae4e9a9c277849734acd81.html" target="element"> Taltioitu kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3a59d1eadf6e468899bc9da28f139676.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a59d1eadf6e468899bc9da28f139676.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23db63e61f084d1b8860a152cf24092b.html" target="element"> Videopeli </a> </td>
																		<td> <a href="../elements/id-03aceb598606464dbec5ab8402f4481e.html" target="element"> Multimedia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-55b78f507bc9426c8cbfa54da6aac87e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55b78f507bc9426c8cbfa54da6aac87e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23db63e61f084d1b8860a152cf24092b.html" target="element"> Videopeli </a> </td>
																		<td> <a href="../elements/id-58e4cea3a1894a07898118d105e81d3c.html" target="element"> Ohjelmisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-51ec537d660a4849aa33082cc1074f35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-51ec537d660a4849aa33082cc1074f35.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-caf8bc21ef1e40ac8555437b30b36c10.html" target="element"> Demoscene demo </a> </td>
																		<td> <a href="../elements/id-58e4cea3a1894a07898118d105e81d3c.html" target="element"> Ohjelmisto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7dc4b06016834cc29e80a7ed98ffb2e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7dc4b06016834cc29e80a7ed98ffb2e0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-caf8bc21ef1e40ac8555437b30b36c10.html" target="element"> Demoscene demo </a> </td>
																		<td> <a href="../elements/id-03aceb598606464dbec5ab8402f4481e.html" target="element"> Multimedia </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ab7392b5e42a44479ef75ea824517eca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab7392b5e42a44479ef75ea824517eca.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2974d8c51b9844998e2fc9709e1c216c.html" target="element"> Kirja </a> </td>
																		<td> <a href="../elements/id-8421bfe452cc4c63a469b1855f9ffd37.html" target="element"> Teksti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-081010a1a54e43aa902ae17524b4a610.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-081010a1a54e43aa902ae17524b4a610.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-57d33ee89b8b49e4985858486986297a.html" target="element"> Elokuva </a> </td>
																		<td> <a href="../elements/id-11250bfa3b2841f7a639cf3dc412fa0b.html" target="element"> Video </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ca100a96a83042f09e9b5cdc78db324f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca100a96a83042f09e9b5cdc78db324f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7e0e91574e414559a2be3cdc77215563.html" target="element"> Musiikki </a> </td>
																		<td> <a href="../elements/id-8ec9842c558240d58e16c54842c747e9.html" target="element"> Audio </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-343840b5d94544c0a5d6e666a67bef82.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-343840b5d94544c0a5d6e666a67bef82.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d26cb75987244a538225380a18f2a431.html" target="element"> Maalaus </a> </td>
																		<td> <a href="../elements/id-d35e6496624b4b7dbb949ee9df7269aa.html" target="element"> Kuva </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-399d17c86c5d44399c896bce180e698a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-399d17c86c5d44399c896bce180e698a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-82a018ea74874fcb8f0e9a1bda9bc53f.html" target="element"> Veistos </a> </td>
																		<td> <a href="../elements/id-55a16fa35101495190e1c344fefcdefa.html" target="element"> Kolmiulotteinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-06988f90a2084c8e8addbd2d5ada203d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06988f90a2084c8e8addbd2d5ada203d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-55a16fa35101495190e1c344fefcdefa.html" target="element"> Kolmiulotteinen objekti </a> </td>
																		<td> <a href="../elements/id-201e9583fc3d4f9c89f35f3b898674f3.html" target="element"> Ihmisen luoma fyysinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-366f466785e0461a90510d165e82b7f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-366f466785e0461a90510d165e82b7f0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9e045043ae0a4a288affa676844fa354.html" target="element"> Symbolinen objekti </a> </td>
																		<td> <a href="../elements/id-89a721b426394b27bb762edba703fe98.html" target="element"> Ihmisen luoma objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-90595c6e88d94e0e887b312cd6a052c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90595c6e88d94e0e887b312cd6a052c2.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a577281aeed84d75b46c0e5f41a852e9.html" target="element"> Rakennus </a> </td>
																		<td> <a href="../elements/id-55a16fa35101495190e1c344fefcdefa.html" target="element"> Kolmiulotteinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-40c662133d014e9b9a5bb3ec025f4841.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-40c662133d014e9b9a5bb3ec025f4841.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d2b0db03ba594bf58ba2cefd6b21a700.html" target="element"> Verkkosivu </a> </td>
																		<td> <a href="../elements/id-66306dcc29c84031b2b02a9bc0bb2da1.html" target="element"> Digitaalinen viestint&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9e45c24b94cb44a69e223bcc0a822b91.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e45c24b94cb44a69e223bcc0a822b91.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d2b0db03ba594bf58ba2cefd6b21a700.html" target="element"> Verkkosivu </a> </td>
																		<td> <a href="../elements/id-96c588252c354d1ea9c3a793e7f960ef.html" target="element"> Rakenteinen Data </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>