<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kulttuuridatan FDO visio</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kulttuuridatan FDO visio</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b1a35838b821456e88b645f94082f45e.png" alt="Kulttuuridatan FDO visio" usemap="#id-b1a35838b821456e88b645f94082f45emap"/>
			   <map name="id-b1a35838b821456e88b645f94082f45emap">
				  		<area shape="rect" coords="79,106,204,161" href="../elements/id-eb3b102e5c764462ae813a0bb555d508.html"  target="element">
				  		<area shape="rect" coords="10,10,148,65" href="../elements/id-bf1c9fab1b8f4e5f95ffc36156ca21e0.html"  target="element">
				  		<area shape="rect" coords="163,10,303,65" href="../elements/id-8d7aad9a49da4acaac34ff68748a0ba2.html"  target="element">
				  		<area shape="rect" coords="75,190,209,239" href="../elements/id-a321eb4969204e6eb6b7ae6702b4b5c0.html"  target="element">
				  		<area shape="rect" coords="27,301,328,353" href="../elements/id-10a1a6745ad2434e929489584a9e7883.html"  target="element">
				  		<area shape="rect" coords="387,302,844,351" href="../elements/id-17af9c0d1971419a9b0b58788c8afbd8.html"  target="element">
				  				<area shape="rect" coords="579,46,820,83" href="../elements/id-ca325b92239d4f48aab6699dfa36231d.html"  target="element">
				  						<area shape="rect" coords="593,130,682,153" href="../elements/id-c1cefe97b03e4dd79548d3cb91f3f444.html"  target="element">
				  						<area shape="rect" coords="591,166,682,191" href="../elements/id-32db5c81b5684c619b29b5d6c50b1abd.html"  target="element">
				  						<area shape="rect" coords="591,202,682,230" href="../elements/id-33b5d94ba8854c98b845074c4aa139df.html"  target="element">

				  				<area shape="rect" coords="579,94,699,239" href="../elements/id-192e61004fe24a9eb10cf17b45389f4e.html"  target="element">
				  						<area shape="rect" coords="724,202,807,229" href="../elements/id-273c5fa939154578869769abe0331412.html"  target="element">
				  						<area shape="rect" coords="724,166,808,190" href="../elements/id-93aeb0c131cd40f3855b929a4e974d1f.html"  target="element">
				  						<area shape="rect" coords="723,130,808,155" href="../elements/id-1dff2f67a6e746cebf6e316d20cacc7f.html"  target="element">

				  				<area shape="rect" coords="711,94,820,239" href="../elements/id-721164f6f0934a33b30e31133d1a994c.html"  target="element">

				  		<area shape="rect" coords="555,10,844,251" href="../elements/id-a9b55f3989dc4029a22234ae0d72568f.html"  target="element">
				  		<area shape="rect" coords="129,481,303,536" href="../elements/id-feb7df0f7f024512b7f899562d7593e8.html"  target="element">
				  				<area shape="rect" coords="345,154,460,179" href="../elements/id-5bbc73e822a941b7bc4274f2e4d6c942.html"  target="element">
				  				<area shape="rect" coords="345,118,460,143" href="../elements/id-eebc5eff751e4887b874f3d8988b18d4.html"  target="element">
				  				<area shape="rect" coords="345,82,460,107" href="../elements/id-7c05ac60bcaa43249d0aebb14e386dcd.html"  target="element">
				  				<area shape="rect" coords="345,46,460,71" href="../elements/id-a1cfc7e7cab042678982372c1bd75fe2.html"  target="element">

				  		<area shape="rect" coords="315,10,484,191" href="../elements/id-a7b24c62669c40babd37a450c35f8f11.html"  target="element">
				  		<area shape="rect" coords="699,385,819,440" href="../elements/id-a3bb49e5ca2c4c20b800d4c8996b7da7.html"  target="element">
				  		<area shape="rect" coords="123,385,280,440" href="../elements/id-22e56cbdde2f46f3b6d73f447b838947.html"  target="element">
				  		<area shape="rect" coords="495,385,664,440" href="../elements/id-420e540045f74b17a4fbc3d0eac9f95b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-420e540045f74b17a4fbc3d0eac9f95b.html" target="element"> Tutkimus ja analysointipalvelut </a> </td>
											    <td> <a href="../elements/id-420e540045f74b17a4fbc3d0eac9f95b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-22e56cbdde2f46f3b6d73f447b838947.html" target="element"> Hallinnointi ja s&#228;ilytyspalvelut </a> </td>
											    <td> <a href="../elements/id-22e56cbdde2f46f3b6d73f447b838947.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a3bb49e5ca2c4c20b800d4c8996b7da7.html" target="element"> Kaupalliset palvelut </a> </td>
											    <td> <a href="../elements/id-a3bb49e5ca2c4c20b800d4c8996b7da7.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a7b24c62669c40babd37a450c35f8f11.html" target="element"> FAIR Kulttuuridata </a> </td>
											    <td> <a href="../elements/id-a7b24c62669c40babd37a450c35f8f11.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a1cfc7e7cab042678982372c1bd75fe2.html" target="element"> PID </a> </td>
													    <td> <a href="../elements/id-a1cfc7e7cab042678982372c1bd75fe2.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7c05ac60bcaa43249d0aebb14e386dcd.html" target="element"> Data </a> </td>
													    <td> <a href="../elements/id-7c05ac60bcaa43249d0aebb14e386dcd.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eebc5eff751e4887b874f3d8988b18d4.html" target="element"> Metadata </a> </td>
													    <td> <a href="../elements/id-eebc5eff751e4887b874f3d8988b18d4.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5bbc73e822a941b7bc4274f2e4d6c942.html" target="element"> Operations </a> </td>
													    <td> <a href="../elements/id-5bbc73e822a941b7bc4274f2e4d6c942.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-feb7df0f7f024512b7f899562d7593e8.html" target="element"> Repositorio ja arkistoj&#228;rjestelm&#228;t </a> </td>
											    <td> <a href="../elements/id-feb7df0f7f024512b7f899562d7593e8.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9b55f3989dc4029a22234ae0d72568f.html" target="element"> Standardit </a> </td>
											    <td> <a href="../elements/id-a9b55f3989dc4029a22234ae0d72568f.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-721164f6f0934a33b30e31133d1a994c.html" target="element"> PIDs </a> </td>
													    <td> <a href="../elements/id-721164f6f0934a33b30e31133d1a994c.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-1dff2f67a6e746cebf6e316d20cacc7f.html" target="element"> URN </a> </td>
															    <td> <a href="../elements/id-1dff2f67a6e746cebf6e316d20cacc7f.html" target="element" class="i18n-elementtype-Resource">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-93aeb0c131cd40f3855b929a4e974d1f.html" target="element"> DOI </a> </td>
															    <td> <a href="../elements/id-93aeb0c131cd40f3855b929a4e974d1f.html" target="element" class="i18n-elementtype-Resource">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-273c5fa939154578869769abe0331412.html" target="element"> JNE. </a> </td>
															    <td> <a href="../elements/id-273c5fa939154578869769abe0331412.html" target="element" class="i18n-elementtype-Resource">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-192e61004fe24a9eb10cf17b45389f4e.html" target="element"> Profiilit </a> </td>
													    <td> <a href="../elements/id-192e61004fe24a9eb10cf17b45389f4e.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-33b5d94ba8854c98b845074c4aa139df.html" target="element"> LRMoo </a> </td>
															    <td> <a href="../elements/id-33b5d94ba8854c98b845074c4aa139df.html" target="element" class="i18n-elementtype-Resource">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-32db5c81b5684c619b29b5d6c50b1abd.html" target="element"> CMDI </a> </td>
															    <td> <a href="../elements/id-32db5c81b5684c619b29b5d6c50b1abd.html" target="element" class="i18n-elementtype-Resource">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c1cefe97b03e4dd79548d3cb91f3f444.html" target="element"> RDA </a> </td>
															    <td> <a href="../elements/id-c1cefe97b03e4dd79548d3cb91f3f444.html" target="element" class="i18n-elementtype-Resource">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-ca325b92239d4f48aab6699dfa36231d.html" target="element"> FDO Requirement Specification </a> </td>
													    <td> <a href="../elements/id-ca325b92239d4f48aab6699dfa36231d.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-17af9c0d1971419a9b0b58788c8afbd8.html" target="element"> FAIR Digital Object Rajapinta </a> </td>
											    <td> <a href="../elements/id-17af9c0d1971419a9b0b58788c8afbd8.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10a1a6745ad2434e929489584a9e7883.html" target="element"> PID-metatietokatalogi </a> </td>
											    <td> <a href="../elements/id-10a1a6745ad2434e929489584a9e7883.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a321eb4969204e6eb6b7ae6702b4b5c0.html" target="element"> Pysyv&#228;t tunnisteet </a> </td>
											    <td> <a href="../elements/id-a321eb4969204e6eb6b7ae6702b4b5c0.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8d7aad9a49da4acaac34ff68748a0ba2.html" target="element"> Koneluettava ja toiminnallinen data </a> </td>
											    <td> <a href="../elements/id-8d7aad9a49da4acaac34ff68748a0ba2.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf1c9fab1b8f4e5f95ffc36156ca21e0.html" target="element"> Ihmisluettava dokumentaatio </a> </td>
											    <td> <a href="../elements/id-bf1c9fab1b8f4e5f95ffc36156ca21e0.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eb3b102e5c764462ae813a0bb555d508.html" target="element"> Resolvoituvat metatiedot </a> </td>
											    <td> <a href="../elements/id-eb3b102e5c764462ae813a0bb555d508.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-19630e6c4b5942688619d7cef9be0717.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-19630e6c4b5942688619d7cef9be0717.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22e56cbdde2f46f3b6d73f447b838947.html" target="element"> Hallinnointi ja s&#228;ilytyspalvelut </a> </td>
																		<td> <a href="../elements/id-10a1a6745ad2434e929489584a9e7883.html" target="element"> PID-metatietokatalogi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bcb82e847ac142bb9906b6550fb25ab3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bcb82e847ac142bb9906b6550fb25ab3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a7b24c62669c40babd37a450c35f8f11.html" target="element"> FAIR Kulttuuridata </a> </td>
																		<td> <a href="../elements/id-a1cfc7e7cab042678982372c1bd75fe2.html" target="element"> PID </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7b4b187920a744b7beb22cae34269fdd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b4b187920a744b7beb22cae34269fdd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a7b24c62669c40babd37a450c35f8f11.html" target="element"> FAIR Kulttuuridata </a> </td>
																		<td> <a href="../elements/id-7c05ac60bcaa43249d0aebb14e386dcd.html" target="element"> Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43c3972921d04fc5b010d6a1c69186d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43c3972921d04fc5b010d6a1c69186d5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a7b24c62669c40babd37a450c35f8f11.html" target="element"> FAIR Kulttuuridata </a> </td>
																		<td> <a href="../elements/id-eebc5eff751e4887b874f3d8988b18d4.html" target="element"> Metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cd8e3edc18ee4f089640f043da71030e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd8e3edc18ee4f089640f043da71030e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a7b24c62669c40babd37a450c35f8f11.html" target="element"> FAIR Kulttuuridata </a> </td>
																		<td> <a href="../elements/id-a9b55f3989dc4029a22234ae0d72568f.html" target="element"> Standardit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f4735c5871a44b979f6ef3c69faa8622.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4735c5871a44b979f6ef3c69faa8622.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a7b24c62669c40babd37a450c35f8f11.html" target="element"> FAIR Kulttuuridata </a> </td>
																		<td> <a href="../elements/id-5bbc73e822a941b7bc4274f2e4d6c942.html" target="element"> Operations </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-2e84c0a09a5742c8af3ea6eca54d1965.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e84c0a09a5742c8af3ea6eca54d1965.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-feb7df0f7f024512b7f899562d7593e8.html" target="element"> Repositorio ja arkistoj&#228;rjestelm&#228;t </a> </td>
																		<td> <a href="../elements/id-22e56cbdde2f46f3b6d73f447b838947.html" target="element"> Hallinnointi ja s&#228;ilytyspalvelut </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3c7e2a0667d1425ca4ca32bb1715aecd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c7e2a0667d1425ca4ca32bb1715aecd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a9b55f3989dc4029a22234ae0d72568f.html" target="element"> Standardit </a> </td>
																		<td> <a href="../elements/id-721164f6f0934a33b30e31133d1a994c.html" target="element"> PIDs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-79862db3df4f475885f838ba8d168098.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79862db3df4f475885f838ba8d168098.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a9b55f3989dc4029a22234ae0d72568f.html" target="element"> Standardit </a> </td>
																		<td> <a href="../elements/id-192e61004fe24a9eb10cf17b45389f4e.html" target="element"> Profiilit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2036cf24a2444859a82c6b02135e4631.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2036cf24a2444859a82c6b02135e4631.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a9b55f3989dc4029a22234ae0d72568f.html" target="element"> Standardit </a> </td>
																		<td> <a href="../elements/id-ca325b92239d4f48aab6699dfa36231d.html" target="element"> FDO Requirement Specification </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5a7d65ca0fe04a7b8eb70ecad1bbfafa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a7d65ca0fe04a7b8eb70ecad1bbfafa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-721164f6f0934a33b30e31133d1a994c.html" target="element"> PIDs </a> </td>
																				<td> <a href="../elements/id-1dff2f67a6e746cebf6e316d20cacc7f.html" target="element"> URN </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e5721295b83f473e902b06cff6a12976.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e5721295b83f473e902b06cff6a12976.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-721164f6f0934a33b30e31133d1a994c.html" target="element"> PIDs </a> </td>
																				<td> <a href="../elements/id-93aeb0c131cd40f3855b929a4e974d1f.html" target="element"> DOI </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6bbfe55a507246f99448d21ffec0b418.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6bbfe55a507246f99448d21ffec0b418.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-721164f6f0934a33b30e31133d1a994c.html" target="element"> PIDs </a> </td>
																				<td> <a href="../elements/id-273c5fa939154578869769abe0331412.html" target="element"> JNE. </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-6039f2c7f6cc4101a40fef94a1d11327.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6039f2c7f6cc4101a40fef94a1d11327.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-192e61004fe24a9eb10cf17b45389f4e.html" target="element"> Profiilit </a> </td>
																				<td> <a href="../elements/id-33b5d94ba8854c98b845074c4aa139df.html" target="element"> LRMoo </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8b689dc4f6904e848d74c1212487e5a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8b689dc4f6904e848d74c1212487e5a3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-192e61004fe24a9eb10cf17b45389f4e.html" target="element"> Profiilit </a> </td>
																				<td> <a href="../elements/id-32db5c81b5684c619b29b5d6c50b1abd.html" target="element"> CMDI </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3c2ff615e8c742b880b61d5c4ed12db8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3c2ff615e8c742b880b61d5c4ed12db8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-192e61004fe24a9eb10cf17b45389f4e.html" target="element"> Profiilit </a> </td>
																				<td> <a href="../elements/id-c1cefe97b03e4dd79548d3cb91f3f444.html" target="element"> RDA </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-1bd21df7998044399cf7410a8b143a3e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1bd21df7998044399cf7410a8b143a3e.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17af9c0d1971419a9b0b58788c8afbd8.html" target="element"> FAIR Digital Object Rajapinta </a> </td>
																		<td> <a href="../elements/id-a7b24c62669c40babd37a450c35f8f11.html" target="element"> FAIR Kulttuuridata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6d8d77fea0584b1b992750ae1d6c8568.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6d8d77fea0584b1b992750ae1d6c8568.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17af9c0d1971419a9b0b58788c8afbd8.html" target="element"> FAIR Digital Object Rajapinta </a> </td>
																		<td> <a href="../elements/id-a3bb49e5ca2c4c20b800d4c8996b7da7.html" target="element"> Kaupalliset palvelut </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-721a1a1b78c5461093a0fb04256341a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-721a1a1b78c5461093a0fb04256341a7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17af9c0d1971419a9b0b58788c8afbd8.html" target="element"> FAIR Digital Object Rajapinta </a> </td>
																		<td> <a href="../elements/id-420e540045f74b17a4fbc3d0eac9f95b.html" target="element"> Tutkimus ja analysointipalvelut </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-95b2d12d808744288e8d46a962b3b4e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95b2d12d808744288e8d46a962b3b4e3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-10a1a6745ad2434e929489584a9e7883.html" target="element"> PID-metatietokatalogi </a> </td>
																		<td> <a href="../elements/id-17af9c0d1971419a9b0b58788c8afbd8.html" target="element"> FAIR Digital Object Rajapinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fdd1e146fc554428a093a95d3b9b2c22.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fdd1e146fc554428a093a95d3b9b2c22.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-10a1a6745ad2434e929489584a9e7883.html" target="element"> PID-metatietokatalogi </a> </td>
																		<td> <a href="../elements/id-a7b24c62669c40babd37a450c35f8f11.html" target="element"> FAIR Kulttuuridata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-758c7a57002a474cb06740d42e819ed2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-758c7a57002a474cb06740d42e819ed2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-10a1a6745ad2434e929489584a9e7883.html" target="element"> PID-metatietokatalogi </a> </td>
																		<td> <a href="../elements/id-a321eb4969204e6eb6b7ae6702b4b5c0.html" target="element"> Pysyv&#228;t tunnisteet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aa18770a4f67468aa4cd4902eeb59e1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa18770a4f67468aa4cd4902eeb59e1a.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a321eb4969204e6eb6b7ae6702b4b5c0.html" target="element"> Pysyv&#228;t tunnisteet </a> </td>
																		<td> <a href="../elements/id-eb3b102e5c764462ae813a0bb555d508.html" target="element"> Resolvoituvat metatiedot </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3a3a28e3d1594f329eb0f94b089df153.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a3a28e3d1594f329eb0f94b089df153.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb3b102e5c764462ae813a0bb555d508.html" target="element"> Resolvoituvat metatiedot </a> </td>
																		<td> <a href="../elements/id-bf1c9fab1b8f4e5f95ffc36156ca21e0.html" target="element"> Ihmisluettava dokumentaatio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8def262e478140ae813d03af708aec52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8def262e478140ae813d03af708aec52.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb3b102e5c764462ae813a0bb555d508.html" target="element"> Resolvoituvat metatiedot </a> </td>
																		<td> <a href="../elements/id-8d7aad9a49da4acaac34ff68748a0ba2.html" target="element"> Koneluettava ja toiminnallinen data </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>