<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kulttuuriperintökokoelmat</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kulttuuriperint&#246;kokoelmat</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b13203c78dbb49b5ad48522604bba3b3.png" alt="Kulttuuriperintökokoelmat" usemap="#id-b13203c78dbb49b5ad48522604bba3b3map"/>
			   <map name="id-b13203c78dbb49b5ad48522604bba3b3map">
				          <area shape="rect" coords="763,19,1089,56" href="../objects/id-fdfaeb95da8642ffabedae4d98b9582a.html" target="element" >
				  		<area shape="rect" coords="563,10,753,65" href="../elements/id-bbe1263a3b0343bfa249fbeda7897a0b.html"  target="element">
				  		<area shape="rect" coords="1234,550,1354,605" href="../elements/id-f5d10958f42e4cbbb1168a91a31b9955.html"  target="element">
				  		<area shape="rect" coords="801,322,945,377" href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html"  target="element">
				          <area shape="rect" coords="682,178,811,220" href="../objects/id-da2d400b66ed478cb3d2e2bcfdc448b6.html" target="element" >
				  		<area shape="rect" coords="201,502,321,557" href="../elements/id-493824cee41f4d1f9344c32e5c673de4.html"  target="element">
				  		<area shape="rect" coords="343,502,487,557" href="../elements/id-4862719c390e420dbd75b177ead06112.html"  target="element">
				  		<area shape="rect" coords="33,502,179,557" href="../elements/id-5f93d8cbc1ae4596910c68dbb501fb89.html"  target="element">
				  		<area shape="rect" coords="297,957,417,1012" href="../elements/id-d2b0db03ba594bf58ba2cefd6b21a700.html"  target="element">
				  		<area shape="rect" coords="1234,474,1354,529" href="../elements/id-a577281aeed84d75b46c0e5f41a852e9.html"  target="element">
				  		<area shape="rect" coords="1051,474,1191,529" href="../elements/id-55a16fa35101495190e1c344fefcdefa.html"  target="element">
				  		<area shape="rect" coords="1234,268,1354,323" href="../elements/id-d26cb75987244a538225380a18f2a431.html"  target="element">
				  		<area shape="rect" coords="1234,334,1354,389" href="../elements/id-7e0e91574e414559a2be3cdc77215563.html"  target="element">
				  		<area shape="rect" coords="1234,406,1354,461" href="../elements/id-57d33ee89b8b49e4985858486986297a.html"  target="element">
				  		<area shape="rect" coords="1234,196,1354,251" href="../elements/id-2974d8c51b9844998e2fc9709e1c216c.html"  target="element">
				  		<area shape="rect" coords="1077,957,1217,1012" href="../elements/id-caf8bc21ef1e40ac8555437b30b36c10.html"  target="element">
				  		<area shape="rect" coords="933,958,1053,1013" href="../elements/id-23db63e61f084d1b8860a152cf24092b.html"  target="element">
				  		<area shape="rect" coords="763,957,883,1012" href="../elements/id-5f8b3affd7c9462ea6851066468d1aa8.html"  target="element">
				  		<area shape="rect" coords="742,622,862,677" href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html"  target="element">
				  		<area shape="rect" coords="910,850,1104,905" href="../elements/id-58e4cea3a1894a07898118d105e81d3c.html"  target="element">
				  		<area shape="rect" coords="609,957,729,1012" href="../elements/id-3c906b1c8b3f43bf872256a6620a00b6.html"  target="element">
				  		<area shape="rect" coords="451,957,571,1012" href="../elements/id-3c43f3dd604649ea918ff1bd525588c8.html"  target="element">
				  		<area shape="rect" coords="157,957,277,1012" href="../elements/id-043301082fbd4859a5ee090a3bcd7d3f.html"  target="element">
				  		<area shape="rect" coords="10,957,130,1012" href="../elements/id-b09af2f053c94f90ba1c196c18f6d77b.html"  target="element">
				  		<area shape="rect" coords="224,862,344,917" href="../elements/id-66306dcc29c84031b2b02a9bc0bb2da1.html"  target="element">
				  		<area shape="rect" coords="549,850,669,905" href="../elements/id-96c588252c354d1ea9c3a793e7f960ef.html"  target="element">
				  		<area shape="rect" coords="549,724,669,779" href="../elements/id-0c67f4ba1753421c87e964e084577a23.html"  target="element">
				  		<area shape="rect" coords="752,850,872,905" href="../elements/id-03aceb598606464dbec5ab8402f4481e.html"  target="element">
				  		<area shape="rect" coords="563,520,683,575" href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html"  target="element">
				  		<area shape="rect" coords="563,106,753,161" href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html"  target="element">
				  		<area shape="rect" coords="1127,850,1273,905" href="../elements/id-9c9c326021de475daf42458441d091be.html"  target="element">
				  		<area shape="rect" coords="544,322,695,377" href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html"  target="element">
				  		<area shape="rect" coords="117,322,256,377" href="../elements/id-d1218d58576346049a220844138e9a12.html"  target="element">
				  		<area shape="rect" coords="320,322,474,377" href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html"  target="element">
				  		<area shape="rect" coords="1053,268,1191,323" href="../elements/id-d35e6496624b4b7dbb949ee9df7269aa.html"  target="element">
				  		<area shape="rect" coords="1053,334,1189,389" href="../elements/id-8ec9842c558240d58e16c54842c747e9.html"  target="element">
				  		<area shape="rect" coords="1053,406,1190,461" href="../elements/id-11250bfa3b2841f7a639cf3dc412fa0b.html"  target="element">
				  		<area shape="rect" coords="1053,190,1191,245" href="../elements/id-8421bfe452cc4c63a469b1855f9ffd37.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8421bfe452cc4c63a469b1855f9ffd37.html" target="element"> Tekstiaineisto </a> </td>
											    <td> <a href="../elements/id-8421bfe452cc4c63a469b1855f9ffd37.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-11250bfa3b2841f7a639cf3dc412fa0b.html" target="element"> Videoaineisto </a> </td>
											    <td> <a href="../elements/id-11250bfa3b2841f7a639cf3dc412fa0b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ec9842c558240d58e16c54842c747e9.html" target="element"> &#196;&#228;niaineisto </a> </td>
											    <td> <a href="../elements/id-8ec9842c558240d58e16c54842c747e9.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d35e6496624b4b7dbb949ee9df7269aa.html" target="element"> Kuva-aineisto </a> </td>
											    <td> <a href="../elements/id-d35e6496624b4b7dbb949ee9df7269aa.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element"> Kulttuuriperint&#246;-ymp&#228;rist&#246; </a> </td>
											    <td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d1218d58576346049a220844138e9a12.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-d1218d58576346049a220844138e9a12.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9c9c326021de475daf42458441d091be.html" target="element"> 3D-aineisto </a> </td>
											    <td> <a href="../elements/id-9c9c326021de475daf42458441d091be.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
											    <td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
											    <td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-03aceb598606464dbec5ab8402f4481e.html" target="element"> Multimedia-aineisto </a> </td>
											    <td> <a href="../elements/id-03aceb598606464dbec5ab8402f4481e.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
											    <td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-96c588252c354d1ea9c3a793e7f960ef.html" target="element"> Rakenteinen Data </a> </td>
											    <td> <a href="../elements/id-96c588252c354d1ea9c3a793e7f960ef.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-66306dcc29c84031b2b02a9bc0bb2da1.html" target="element"> Digitaalinen viestint&#228; </a> </td>
											    <td> <a href="../elements/id-66306dcc29c84031b2b02a9bc0bb2da1.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b09af2f053c94f90ba1c196c18f6d77b.html" target="element"> S&#228;hk&#246;posti </a> </td>
											    <td> <a href="../elements/id-b09af2f053c94f90ba1c196c18f6d77b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-043301082fbd4859a5ee090a3bcd7d3f.html" target="element"> Sosiaalisen median viestit </a> </td>
											    <td> <a href="../elements/id-043301082fbd4859a5ee090a3bcd7d3f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3c43f3dd604649ea918ff1bd525588c8.html" target="element"> Tietokanta </a> </td>
											    <td> <a href="../elements/id-3c43f3dd604649ea918ff1bd525588c8.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3c906b1c8b3f43bf872256a6620a00b6.html" target="element"> Rakenteinen data </a> </td>
											    <td> <a href="../elements/id-3c906b1c8b3f43bf872256a6620a00b6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-58e4cea3a1894a07898118d105e81d3c.html" target="element"> Ohjelmisto ja l&#228;hdekoodiaineisto </a> </td>
											    <td> <a href="../elements/id-58e4cea3a1894a07898118d105e81d3c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
											    <td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5f8b3affd7c9462ea6851066468d1aa8.html" target="element"> Lis&#228;tty todellisuus </a> </td>
											    <td> <a href="../elements/id-5f8b3affd7c9462ea6851066468d1aa8.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-23db63e61f084d1b8860a152cf24092b.html" target="element"> Videopeli </a> </td>
											    <td> <a href="../elements/id-23db63e61f084d1b8860a152cf24092b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-caf8bc21ef1e40ac8555437b30b36c10.html" target="element"> Demoscene demo </a> </td>
											    <td> <a href="../elements/id-caf8bc21ef1e40ac8555437b30b36c10.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2974d8c51b9844998e2fc9709e1c216c.html" target="element"> Kirja </a> </td>
											    <td> <a href="../elements/id-2974d8c51b9844998e2fc9709e1c216c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-57d33ee89b8b49e4985858486986297a.html" target="element"> Elokuva </a> </td>
											    <td> <a href="../elements/id-57d33ee89b8b49e4985858486986297a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7e0e91574e414559a2be3cdc77215563.html" target="element"> Musiikki </a> </td>
											    <td> <a href="../elements/id-7e0e91574e414559a2be3cdc77215563.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d26cb75987244a538225380a18f2a431.html" target="element"> Maalaus </a> </td>
											    <td> <a href="../elements/id-d26cb75987244a538225380a18f2a431.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55a16fa35101495190e1c344fefcdefa.html" target="element"> Kolmiulotteinen aineisto </a> </td>
											    <td> <a href="../elements/id-55a16fa35101495190e1c344fefcdefa.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a577281aeed84d75b46c0e5f41a852e9.html" target="element"> Rakennus </a> </td>
											    <td> <a href="../elements/id-a577281aeed84d75b46c0e5f41a852e9.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d2b0db03ba594bf58ba2cefd6b21a700.html" target="element"> Verkkosivu </a> </td>
											    <td> <a href="../elements/id-d2b0db03ba594bf58ba2cefd6b21a700.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5f93d8cbc1ae4596910c68dbb501fb89.html" target="element"> Luonnonperint&#246;-kohde </a> </td>
											    <td> <a href="../elements/id-5f93d8cbc1ae4596910c68dbb501fb89.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4862719c390e420dbd75b177ead06112.html" target="element"> Rakennusperint&#246;-kohde </a> </td>
											    <td> <a href="../elements/id-4862719c390e420dbd75b177ead06112.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-493824cee41f4d1f9344c32e5c673de4.html" target="element"> Arkeologinen kohde </a> </td>
											    <td> <a href="../elements/id-493824cee41f4d1f9344c32e5c673de4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-da2d400b66ed478cb3d2e2bcfdc448b6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-da2d400b66ed478cb3d2e2bcfdc448b6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f5d10958f42e4cbbb1168a91a31b9955.html" target="element"> Artefakti </a> </td>
											    <td> <a href="../elements/id-f5d10958f42e4cbbb1168a91a31b9955.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bbe1263a3b0343bfa249fbeda7897a0b.html" target="element"> Kulttuuriperint&#246;-kokoelma </a> </td>
											    <td> <a href="../elements/id-bbe1263a3b0343bfa249fbeda7897a0b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-fdfaeb95da8642ffabedae4d98b9582a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fdfaeb95da8642ffabedae4d98b9582a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3cbae07a469f47209476f6b309adeff0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3cbae07a469f47209476f6b309adeff0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8421bfe452cc4c63a469b1855f9ffd37.html" target="element"> Tekstiaineisto </a> </td>
																		<td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-24ca392cacfd421a988a083553131f01.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24ca392cacfd421a988a083553131f01.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11250bfa3b2841f7a639cf3dc412fa0b.html" target="element"> Videoaineisto </a> </td>
																		<td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7239fd876db7478dbba2387121b7cea8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7239fd876db7478dbba2387121b7cea8.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ec9842c558240d58e16c54842c747e9.html" target="element"> &#196;&#228;niaineisto </a> </td>
																		<td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-289884ec539844078d25fc2701156df8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-289884ec539844078d25fc2701156df8.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d35e6496624b4b7dbb949ee9df7269aa.html" target="element"> Kuva-aineisto </a> </td>
																		<td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a3f176e9ea4d49dda43860d147432339.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3f176e9ea4d49dda43860d147432339.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element"> Kulttuuriperint&#246;-ymp&#228;rist&#246; </a> </td>
																		<td> <a href="../elements/id-5f93d8cbc1ae4596910c68dbb501fb89.html" target="element"> Luonnonperint&#246;-kohde </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fe837bc8a304411893142dae0b89b138.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe837bc8a304411893142dae0b89b138.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element"> Kulttuuriperint&#246;-ymp&#228;rist&#246; </a> </td>
																		<td> <a href="../elements/id-493824cee41f4d1f9344c32e5c673de4.html" target="element"> Arkeologinen kohde </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64f0cb2ac7c64717a70e4ba26b8a8a14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64f0cb2ac7c64717a70e4ba26b8a8a14.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element"> Kulttuuriperint&#246;-ymp&#228;rist&#246; </a> </td>
																		<td> <a href="../elements/id-4862719c390e420dbd75b177ead06112.html" target="element"> Rakennusperint&#246;-kohde </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2dc02be0514d4337993d2e611cc10ede.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2dc02be0514d4337993d2e611cc10ede.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c98298e9c77c41c3812935b934a5597a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c98298e9c77c41c3812935b934a5597a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c9c326021de475daf42458441d091be.html" target="element"> 3D-aineisto </a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-36987206f92644ffbbe805bb0a8cc98e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36987206f92644ffbbe805bb0a8cc98e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																		<td> <a href="../elements/id-d1218d58576346049a220844138e9a12.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-810f037c67d74a44ab6e3c96e2d4a726.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-810f037c67d74a44ab6e3c96e2d4a726.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																		<td> <a href="../elements/id-3cb212b4a6a342b9b897a1705457e433.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f12b98d628b444da29dd2921c81ca71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f12b98d628b444da29dd2921c81ca71.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																		<td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-98ec298ee95844de8ce28ea763e34e14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-98ec298ee95844de8ce28ea763e34e14.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																		<td> <a href="../elements/id-77c6f4947bcd4b6aa118215b461f7f9c.html" target="element"> Kulttuuriperint&#246;-ymp&#228;rist&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-671b410d80e6439b8003a274d93fe451.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-671b410d80e6439b8003a274d93fe451.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03aceb598606464dbec5ab8402f4481e.html" target="element"> Multimedia-aineisto </a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cf385ce8dcd34ad7a9dcc67592c55fe0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf385ce8dcd34ad7a9dcc67592c55fe0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7234693d24f445169eb60bacf5ff1580.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7234693d24f445169eb60bacf5ff1580.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-96c588252c354d1ea9c3a793e7f960ef.html" target="element"> Rakenteinen Data </a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-994a2a4185ff4db1a6a3ea14b763dd2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-994a2a4185ff4db1a6a3ea14b763dd2d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-66306dcc29c84031b2b02a9bc0bb2da1.html" target="element"> Digitaalinen viestint&#228; </a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4435c07e006e4ca9a9b8d099cb694e0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4435c07e006e4ca9a9b8d099cb694e0e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b09af2f053c94f90ba1c196c18f6d77b.html" target="element"> S&#228;hk&#246;posti </a> </td>
																		<td> <a href="../elements/id-66306dcc29c84031b2b02a9bc0bb2da1.html" target="element"> Digitaalinen viestint&#228; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0ea7a86bb19947078e3a58334d280985.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ea7a86bb19947078e3a58334d280985.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-043301082fbd4859a5ee090a3bcd7d3f.html" target="element"> Sosiaalisen median viestit </a> </td>
																		<td> <a href="../elements/id-66306dcc29c84031b2b02a9bc0bb2da1.html" target="element"> Digitaalinen viestint&#228; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dba4bf8d262f4f2fb4b01baed7e6f842.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dba4bf8d262f4f2fb4b01baed7e6f842.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c43f3dd604649ea918ff1bd525588c8.html" target="element"> Tietokanta </a> </td>
																		<td> <a href="../elements/id-96c588252c354d1ea9c3a793e7f960ef.html" target="element"> Rakenteinen Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d2f8ffbff0c846d89a1a981e23729060.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2f8ffbff0c846d89a1a981e23729060.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c906b1c8b3f43bf872256a6620a00b6.html" target="element"> Rakenteinen data </a> </td>
																		<td> <a href="../elements/id-96c588252c354d1ea9c3a793e7f960ef.html" target="element"> Rakenteinen Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cac2b70f43264e7396fb4562d99d29af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cac2b70f43264e7396fb4562d99d29af.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58e4cea3a1894a07898118d105e81d3c.html" target="element"> Ohjelmisto ja l&#228;hdekoodiaineisto </a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4d87684da2a7470d942b552f903e84e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d87684da2a7470d942b552f903e84e6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
																		<td> <a href="../elements/id-3dd50a0b01a54a8f9f53a1e7d5729f7c.html" target="element"> Digitaalinen objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd0ec335fea849ec906747e4ed625092.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd0ec335fea849ec906747e4ed625092.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
																		<td> <a href="../elements/id-0c67f4ba1753421c87e964e084577a23.html" target="element"> Alkujaan digitaalinen objekti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1d7145719d884fbc9f491c8f834cb6f5.html" target="element"> Digitoi </a> </td>
																		<td> <a href="../elements/id-1d7145719d884fbc9f491c8f834cb6f5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c16c49943e410d93d024e2364c1f7f.html" target="element"> Digitoitu objekti </a> </td>
																		<td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b9687caabf274cc8b55ebb41a1da2d9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9687caabf274cc8b55ebb41a1da2d9c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5f8b3affd7c9462ea6851066468d1aa8.html" target="element"> Lis&#228;tty todellisuus </a> </td>
																		<td> <a href="../elements/id-03aceb598606464dbec5ab8402f4481e.html" target="element"> Multimedia-aineisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-55b78f507bc9426c8cbfa54da6aac87e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55b78f507bc9426c8cbfa54da6aac87e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23db63e61f084d1b8860a152cf24092b.html" target="element"> Videopeli </a> </td>
																		<td> <a href="../elements/id-58e4cea3a1894a07898118d105e81d3c.html" target="element"> Ohjelmisto ja l&#228;hdekoodiaineisto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3a59d1eadf6e468899bc9da28f139676.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a59d1eadf6e468899bc9da28f139676.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23db63e61f084d1b8860a152cf24092b.html" target="element"> Videopeli </a> </td>
																		<td> <a href="../elements/id-03aceb598606464dbec5ab8402f4481e.html" target="element"> Multimedia-aineisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7dc4b06016834cc29e80a7ed98ffb2e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7dc4b06016834cc29e80a7ed98ffb2e0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-caf8bc21ef1e40ac8555437b30b36c10.html" target="element"> Demoscene demo </a> </td>
																		<td> <a href="../elements/id-03aceb598606464dbec5ab8402f4481e.html" target="element"> Multimedia-aineisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ab7392b5e42a44479ef75ea824517eca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab7392b5e42a44479ef75ea824517eca.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2974d8c51b9844998e2fc9709e1c216c.html" target="element"> Kirja </a> </td>
																		<td> <a href="../elements/id-8421bfe452cc4c63a469b1855f9ffd37.html" target="element"> Tekstiaineisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-081010a1a54e43aa902ae17524b4a610.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-081010a1a54e43aa902ae17524b4a610.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-57d33ee89b8b49e4985858486986297a.html" target="element"> Elokuva </a> </td>
																		<td> <a href="../elements/id-11250bfa3b2841f7a639cf3dc412fa0b.html" target="element"> Videoaineisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ca100a96a83042f09e9b5cdc78db324f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca100a96a83042f09e9b5cdc78db324f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7e0e91574e414559a2be3cdc77215563.html" target="element"> Musiikki </a> </td>
																		<td> <a href="../elements/id-8ec9842c558240d58e16c54842c747e9.html" target="element"> &#196;&#228;niaineisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-343840b5d94544c0a5d6e666a67bef82.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-343840b5d94544c0a5d6e666a67bef82.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d26cb75987244a538225380a18f2a431.html" target="element"> Maalaus </a> </td>
																		<td> <a href="../elements/id-d35e6496624b4b7dbb949ee9df7269aa.html" target="element"> Kuva-aineisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f1551576dc244f30a9e78211d856ee7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1551576dc244f30a9e78211d856ee7b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-55a16fa35101495190e1c344fefcdefa.html" target="element"> Kolmiulotteinen aineisto </a> </td>
																		<td> <a href="../elements/id-c7b8c844e8fd4e32a254732090cb7c56.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-90595c6e88d94e0e887b312cd6a052c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90595c6e88d94e0e887b312cd6a052c2.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a577281aeed84d75b46c0e5f41a852e9.html" target="element"> Rakennus </a> </td>
																		<td> <a href="../elements/id-55a16fa35101495190e1c344fefcdefa.html" target="element"> Kolmiulotteinen aineisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-40c662133d014e9b9a5bb3ec025f4841.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-40c662133d014e9b9a5bb3ec025f4841.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d2b0db03ba594bf58ba2cefd6b21a700.html" target="element"> Verkkosivu </a> </td>
																		<td> <a href="../elements/id-66306dcc29c84031b2b02a9bc0bb2da1.html" target="element"> Digitaalinen viestint&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9e45c24b94cb44a69e223bcc0a822b91.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e45c24b94cb44a69e223bcc0a822b91.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d2b0db03ba594bf58ba2cefd6b21a700.html" target="element"> Verkkosivu </a> </td>
																		<td> <a href="../elements/id-96c588252c354d1ea9c3a793e7f960ef.html" target="element"> Rakenteinen Data </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-21fa67f5f62e4f348aaebb0931041296.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-21fa67f5f62e4f348aaebb0931041296.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f5d10958f42e4cbbb1168a91a31b9955.html" target="element"> Artefakti </a> </td>
																		<td> <a href="../elements/id-55a16fa35101495190e1c344fefcdefa.html" target="element"> Kolmiulotteinen aineisto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3bf81369010d439585a056628808d8ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3bf81369010d439585a056628808d8ec.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bbe1263a3b0343bfa249fbeda7897a0b.html" target="element"> Kulttuuriperint&#246;-kokoelma </a> </td>
																		<td> <a href="../elements/id-84b9a36aff13412aafea78fbb18a889c.html" target="element"> Kulttuuriperint&#246;aineisto </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>