<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Resurssit</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Resurssit</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b44d255b845d42c28588eb4af5503c69.png" alt="Resurssit" usemap="#id-b44d255b845d42c28588eb4af5503c69map"/>
			   <map name="id-b44d255b845d42c28588eb4af5503c69map">
				  		<area shape="rect" coords="298,286,438,341" href="../elements/id-325b74dfde23450ab6bb2e123615a688.html"  target="element">
				  		<area shape="rect" coords="82,484,202,539" href="../elements/id-1eb3db4b5acb4366832aaac075f9cfd3.html"  target="element">
				  		<area shape="rect" coords="58,412,178,467" href="../elements/id-b8d78d7b0daf47cc97db81a217b5e5dd.html"  target="element">
				  		<area shape="rect" coords="10,340,130,395" href="../elements/id-351626ead3b3452189f7d574efb081af.html"  target="element">
				  		<area shape="rect" coords="373,490,517,545" href="../elements/id-2a6cbf6ffb22436b831a2874c695995f.html"  target="element">
				  		<area shape="rect" coords="598,376,731,431" href="../elements/id-a20bde3e4d7c4e55ac6652ae5e9cefd1.html"  target="element">
				  		<area shape="rect" coords="214,490,361,545" href="../elements/id-9b22a4c2739b4217adda7a3a820b4e74.html"  target="element">
				  		<area shape="rect" coords="529,490,649,545" href="../elements/id-b8fdfcf1c3924249aeb15cecdf67c26a.html"  target="element">
				  		<area shape="rect" coords="406,376,555,431" href="../elements/id-227281d4421740dba01dca5d6ac0cc05.html"  target="element">
				  		<area shape="rect" coords="215,376,360,431" href="../elements/id-ce2f61d918804259b85fff02f2d7a466.html"  target="element">
				  		<area shape="rect" coords="802,172,956,227" href="../elements/id-edbb0d68c9744955ae138e0e81791b7f.html"  target="element">
				  		<area shape="rect" coords="862,52,982,107" href="../elements/id-9c64c8858cd64334ab7f7afd62017a89.html"  target="element">
				  		<area shape="rect" coords="586,172,706,227" href="../elements/id-3652dffb4e3a450097ba1b5f0f357a42.html"  target="element">
				  		<area shape="rect" coords="718,244,874,299" href="../elements/id-6d37c4c7408049ee807bcac9d1132f3b.html"  target="element">
				  		<area shape="rect" coords="622,76,742,131" href="../elements/id-8f9cfe018521439d93d81297f161e529.html"  target="element">
				  		<area shape="rect" coords="250,10,370,65" href="../elements/id-d740fa714ca44747814eb8effa629407.html"  target="element">
				  		<area shape="rect" coords="659,490,794,545" href="../elements/id-e1d21e61a57e45be9bbe326a8de805b6.html"  target="element">
				  		<area shape="rect" coords="806,490,926,545" href="../elements/id-d4ac12eb19b2466baabc2fe9d0d8640c.html"  target="element">
				  		<area shape="rect" coords="406,208,526,263" href="../elements/id-a9bc03ab8d7948b7a6dc9196000ae417.html"  target="element">
				  		<area shape="rect" coords="166,208,286,263" href="../elements/id-dd605cd53a7e45fe9a2e8c9ea38fd6c5.html"  target="element">
				  		<area shape="rect" coords="27,88,160,143" href="../elements/id-bc0c8740c9a84197a5be2b7ece2ea3cf.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-bc0c8740c9a84197a5be2b7ece2ea3cf.html" target="element"> Taloudellinen p&#228;&#228;oma </a> </td>
											    <td> <a href="../elements/id-bc0c8740c9a84197a5be2b7ece2ea3cf.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd605cd53a7e45fe9a2e8c9ea38fd6c5.html" target="element"> Fyysinen p&#228;&#228;oma </a> </td>
											    <td> <a href="../elements/id-dd605cd53a7e45fe9a2e8c9ea38fd6c5.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9bc03ab8d7948b7a6dc9196000ae417.html" target="element"> Aineeton p&#228;&#228;oma </a> </td>
											    <td> <a href="../elements/id-a9bc03ab8d7948b7a6dc9196000ae417.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d4ac12eb19b2466baabc2fe9d0d8640c.html" target="element"> Patentti </a> </td>
											    <td> <a href="../elements/id-d4ac12eb19b2466baabc2fe9d0d8640c.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e1d21e61a57e45be9bbe326a8de805b6.html" target="element"> Tekij&#228;noikeus </a> </td>
											    <td> <a href="../elements/id-e1d21e61a57e45be9bbe326a8de805b6.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d740fa714ca44747814eb8effa629407.html" target="element"> Resurssi </a> </td>
											    <td> <a href="../elements/id-d740fa714ca44747814eb8effa629407.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f9cfe018521439d93d81297f161e529.html" target="element"> Inhimillinen p&#228;&#228;oma </a> </td>
											    <td> <a href="../elements/id-8f9cfe018521439d93d81297f161e529.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d37c4c7408049ee807bcac9d1132f3b.html" target="element"> Sosiokulttuurinen p&#228;&#228;oma </a> </td>
											    <td> <a href="../elements/id-6d37c4c7408049ee807bcac9d1132f3b.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3652dffb4e3a450097ba1b5f0f357a42.html" target="element"> Luova p&#228;&#228;oma </a> </td>
											    <td> <a href="../elements/id-3652dffb4e3a450097ba1b5f0f357a42.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9c64c8858cd64334ab7f7afd62017a89.html" target="element"> Pedagoginen p&#228;&#228;oma </a> </td>
											    <td> <a href="../elements/id-9c64c8858cd64334ab7f7afd62017a89.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-edbb0d68c9744955ae138e0e81791b7f.html" target="element"> Tieteellinen ja ammatillinen p&#228;&#228;oma </a> </td>
											    <td> <a href="../elements/id-edbb0d68c9744955ae138e0e81791b7f.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ce2f61d918804259b85fff02f2d7a466.html" target="element"> Fyysinen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-ce2f61d918804259b85fff02f2d7a466.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-227281d4421740dba01dca5d6ac0cc05.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-227281d4421740dba01dca5d6ac0cc05.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b8fdfcf1c3924249aeb15cecdf67c26a.html" target="element"> Esitt&#228;v&#228; taide </a> </td>
											    <td> <a href="../elements/id-b8fdfcf1c3924249aeb15cecdf67c26a.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9b22a4c2739b4217adda7a3a820b4e74.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-9b22a4c2739b4217adda7a3a820b4e74.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a20bde3e4d7c4e55ac6652ae5e9cefd1.html" target="element"> Oikeudellinen p&#228;&#228;oma </a> </td>
											    <td> <a href="../elements/id-a20bde3e4d7c4e55ac6652ae5e9cefd1.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a6cbf6ffb22436b831a2874c695995f.html" target="element"> Kulttuuriperinne </a> </td>
											    <td> <a href="../elements/id-2a6cbf6ffb22436b831a2874c695995f.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-351626ead3b3452189f7d574efb081af.html" target="element"> Laitteisto </a> </td>
											    <td> <a href="../elements/id-351626ead3b3452189f7d574efb081af.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b8d78d7b0daf47cc97db81a217b5e5dd.html" target="element"> Tilat </a> </td>
											    <td> <a href="../elements/id-b8d78d7b0daf47cc97db81a217b5e5dd.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1eb3db4b5acb4366832aaac075f9cfd3.html" target="element"> Sovellukset </a> </td>
											    <td> <a href="../elements/id-1eb3db4b5acb4366832aaac075f9cfd3.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-325b74dfde23450ab6bb2e123615a688.html" target="element"> Kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-325b74dfde23450ab6bb2e123615a688.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2057860f252142debf6d297c110c247e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2057860f252142debf6d297c110c247e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc0c8740c9a84197a5be2b7ece2ea3cf.html" target="element"> Taloudellinen p&#228;&#228;oma </a> </td>
																		<td> <a href="../elements/id-d740fa714ca44747814eb8effa629407.html" target="element"> Resurssi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b7d3988b28ab47d0a2cc8e85b574218f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7d3988b28ab47d0a2cc8e85b574218f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd605cd53a7e45fe9a2e8c9ea38fd6c5.html" target="element"> Fyysinen p&#228;&#228;oma </a> </td>
																		<td> <a href="../elements/id-d740fa714ca44747814eb8effa629407.html" target="element"> Resurssi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5b9de0afeb9d40a4bb447a9cea0b268b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b9de0afeb9d40a4bb447a9cea0b268b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a9bc03ab8d7948b7a6dc9196000ae417.html" target="element"> Aineeton p&#228;&#228;oma </a> </td>
																		<td> <a href="../elements/id-d740fa714ca44747814eb8effa629407.html" target="element"> Resurssi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a559aedbf96548c3b157be74ed0a12de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a559aedbf96548c3b157be74ed0a12de.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d4ac12eb19b2466baabc2fe9d0d8640c.html" target="element"> Patentti </a> </td>
																		<td> <a href="../elements/id-a20bde3e4d7c4e55ac6652ae5e9cefd1.html" target="element"> Oikeudellinen p&#228;&#228;oma </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-59d0ffb533664c1ca7d7d94ebd7a9b1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59d0ffb533664c1ca7d7d94ebd7a9b1c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e1d21e61a57e45be9bbe326a8de805b6.html" target="element"> Tekij&#228;noikeus </a> </td>
																		<td> <a href="../elements/id-a20bde3e4d7c4e55ac6652ae5e9cefd1.html" target="element"> Oikeudellinen p&#228;&#228;oma </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-00feaa0542e5432fbbc0f95bef7dbc0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00feaa0542e5432fbbc0f95bef7dbc0f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f9cfe018521439d93d81297f161e529.html" target="element"> Inhimillinen p&#228;&#228;oma </a> </td>
																		<td> <a href="../elements/id-d740fa714ca44747814eb8effa629407.html" target="element"> Resurssi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0ac0e595496d4e3696621341d494d631.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ac0e595496d4e3696621341d494d631.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6d37c4c7408049ee807bcac9d1132f3b.html" target="element"> Sosiokulttuurinen p&#228;&#228;oma </a> </td>
																		<td> <a href="../elements/id-8f9cfe018521439d93d81297f161e529.html" target="element"> Inhimillinen p&#228;&#228;oma </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7506748ba1ee45b39e87b37b3a511abe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7506748ba1ee45b39e87b37b3a511abe.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3652dffb4e3a450097ba1b5f0f357a42.html" target="element"> Luova p&#228;&#228;oma </a> </td>
																		<td> <a href="../elements/id-8f9cfe018521439d93d81297f161e529.html" target="element"> Inhimillinen p&#228;&#228;oma </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3c2b38115e5e4384a65d129097f00dab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c2b38115e5e4384a65d129097f00dab.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9c64c8858cd64334ab7f7afd62017a89.html" target="element"> Pedagoginen p&#228;&#228;oma </a> </td>
																		<td> <a href="../elements/id-8f9cfe018521439d93d81297f161e529.html" target="element"> Inhimillinen p&#228;&#228;oma </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ad6a63778e3d4e6785f37c4de412eb7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad6a63778e3d4e6785f37c4de412eb7e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edbb0d68c9744955ae138e0e81791b7f.html" target="element"> Tieteellinen ja ammatillinen p&#228;&#228;oma </a> </td>
																		<td> <a href="../elements/id-8f9cfe018521439d93d81297f161e529.html" target="element"> Inhimillinen p&#228;&#228;oma </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6db1b1db93b248469691e02d6c303b8a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6db1b1db93b248469691e02d6c303b8a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce2f61d918804259b85fff02f2d7a466.html" target="element"> Fyysinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-dd605cd53a7e45fe9a2e8c9ea38fd6c5.html" target="element"> Fyysinen p&#228;&#228;oma </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-83a0062b6fb34db99d6903897451673c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83a0062b6fb34db99d6903897451673c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce2f61d918804259b85fff02f2d7a466.html" target="element"> Fyysinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-325b74dfde23450ab6bb2e123615a688.html" target="element"> Kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8ad5fbe4e17a431dadf5aa4d4117b2f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ad5fbe4e17a431dadf5aa4d4117b2f8.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-227281d4421740dba01dca5d6ac0cc05.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-a9bc03ab8d7948b7a6dc9196000ae417.html" target="element"> Aineeton p&#228;&#228;oma </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f468151d00da44c99bca9f4b74aae789.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f468151d00da44c99bca9f4b74aae789.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-227281d4421740dba01dca5d6ac0cc05.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-325b74dfde23450ab6bb2e123615a688.html" target="element"> Kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4795484fefc74c419fb75d45fad5f144.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4795484fefc74c419fb75d45fad5f144.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b8fdfcf1c3924249aeb15cecdf67c26a.html" target="element"> Esitt&#228;v&#228; taide </a> </td>
																		<td> <a href="../elements/id-227281d4421740dba01dca5d6ac0cc05.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d15e9ad467a14ae6b9a35d32eecd3af0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d15e9ad467a14ae6b9a35d32eecd3af0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b22a4c2739b4217adda7a3a820b4e74.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-ce2f61d918804259b85fff02f2d7a466.html" target="element"> Fyysinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f9659be23b2b4447851b690060716b5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f9659be23b2b4447851b690060716b5a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a20bde3e4d7c4e55ac6652ae5e9cefd1.html" target="element"> Oikeudellinen p&#228;&#228;oma </a> </td>
																		<td> <a href="../elements/id-a9bc03ab8d7948b7a6dc9196000ae417.html" target="element"> Aineeton p&#228;&#228;oma </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-84458da8847644c3afdb0f2bfde0549e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84458da8847644c3afdb0f2bfde0549e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a6cbf6ffb22436b831a2874c695995f.html" target="element"> Kulttuuriperinne </a> </td>
																		<td> <a href="../elements/id-227281d4421740dba01dca5d6ac0cc05.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5633755c04bd4eac8417d41ee5f767a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5633755c04bd4eac8417d41ee5f767a5.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-351626ead3b3452189f7d574efb081af.html" target="element"> Laitteisto </a> </td>
																		<td> <a href="../elements/id-dd605cd53a7e45fe9a2e8c9ea38fd6c5.html" target="element"> Fyysinen p&#228;&#228;oma </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-24222c617fe242eda2084cefd1ec0772.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24222c617fe242eda2084cefd1ec0772.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b8d78d7b0daf47cc97db81a217b5e5dd.html" target="element"> Tilat </a> </td>
																		<td> <a href="../elements/id-dd605cd53a7e45fe9a2e8c9ea38fd6c5.html" target="element"> Fyysinen p&#228;&#228;oma </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6e8c248325d848238978c19caa7a5db5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e8c248325d848238978c19caa7a5db5.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb3db4b5acb4366832aaac075f9cfd3.html" target="element"> Sovellukset </a> </td>
																		<td> <a href="../elements/id-dd605cd53a7e45fe9a2e8c9ea38fd6c5.html" target="element"> Fyysinen p&#228;&#228;oma </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6693acb38762459ab0a6c6cdc7d6b7a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6693acb38762459ab0a6c6cdc7d6b7a0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-325b74dfde23450ab6bb2e123615a688.html" target="element"> Kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-d740fa714ca44747814eb8effa629407.html" target="element"> Resurssi </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>