<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kulttuuriperintöaineistojen jatkokehitys</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kulttuuriperint&#246;aineistojen jatkokehitys</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c695aa355cf54dfca8b455b40f37dd58.png" alt="Kulttuuriperintöaineistojen jatkokehitys" usemap="#id-c695aa355cf54dfca8b455b40f37dd58map"/>
			   <map name="id-c695aa355cf54dfca8b455b40f37dd58map">
				  		<area shape="rect" coords="190,130,491,185" href="../elements/id-b1b3a411a59a439ba039a55324efbbf5.html"  target="element">
				  		<area shape="rect" coords="670,130,932,185" href="../elements/id-044bbc19993142ff851d1bcbe5c9f269.html"  target="element">
				  						<area shape="rect" coords="298,322,515,377" href="../elements/id-0b9b58cc1eb14ee58540930e9849754b.html"  target="element">
				  						<area shape="rect" coords="94,322,269,377" href="../elements/id-13a851c814b94ff0acd2975990bcf3a4.html"  target="element">

				  				<area shape="rect" coords="70,286,538,395" href="../elements/id-3d8aa0d5bb7449ad9e1f4d97d7bc752b.html"  target="element">
				  						<area shape="rect" coords="910,322,1088,377" href="../elements/id-cc3b85fc4c6545ee860f7dd64485bdd9.html"  target="element">
				  						<area shape="rect" coords="646,322,882,377" href="../elements/id-ae3621770ca34d9d80d46f018e2cd226.html"  target="element">

				  				<area shape="rect" coords="622,286,1127,395" href="../elements/id-e7f4f9ae94b146d1b66a2073aa0eb7fb.html"  target="element">

				  		<area shape="rect" coords="10,250,1199,431" href="../elements/id-ad9a79ea3ff34f79ad5a701240c1f2dc.html"  target="element">
				  				<area shape="rect" coords="376,694,529,749" href="../elements/id-fe1e1f5f21df4c35815605642c5fa902.html"  target="element">
				  				<area shape="rect" coords="376,610,529,665" href="../elements/id-5dba7ef7c08f49b393afdb340fa083e3.html"  target="element">
				  				<area shape="rect" coords="376,538,529,593" href="../elements/id-006c3e76279d48939dff121468ae2699.html"  target="element">

				  		<area shape="rect" coords="340,490,557,1019" href="../elements/id-93cb67a575724e0fab01a4ca5b2d7cec.html"  target="element">
				  		<area shape="rect" coords="267,10,414,65" href="../elements/id-bf79cb842c40413aa33c699ee2b90d30.html"  target="element">
				  		<area shape="rect" coords="526,10,646,65" href="../elements/id-10e4934e8ad448e1b14239107e68bd62.html"  target="element">
				  		<area shape="rect" coords="766,10,886,65" href="../elements/id-c544ea55a2244825990c666c720aeb90.html"  target="element">
				  		<area shape="rect" coords="1246,370,1408,425" href="../elements/id-2a487aaeda014ca296887ea1e7e38748.html"  target="element">
				  		<area shape="rect" coords="1246,298,1427,353" href="../elements/id-0bc65a4b780348018f3ad2a34daf8671.html"  target="element">
				  		<area shape="rect" coords="1246,226,1391,281" href="../elements/id-0cda120116a843078f4b054c7ab87388.html"  target="element">
				  						<area shape="rect" coords="976,890,1125,945" href="../elements/id-54ff7f2e823442538adfbc4731e307fe.html"  target="element">
				  						<area shape="rect" coords="976,814,1121,869" href="../elements/id-2132d7c98dc1404c9dd3d057e7284871.html"  target="element">

				  				<area shape="rect" coords="964,778,1133,983" href="../elements/id-aca55ee3303b49ccbcedaaee7ccf4a0a.html"  target="element">
				  				<area shape="rect" coords="964,694,1133,749" href="../elements/id-fb1f760689b34cee9f65dddd25c592c4.html"  target="element">
				  				<area shape="rect" coords="964,614,1133,669" href="../elements/id-d1849e91c730403e930795c88197d412.html"  target="element">
				  				<area shape="rect" coords="964,538,1133,593" href="../elements/id-df9223ec47ce4b2cab749b640835c843.html"  target="element">

				  		<area shape="rect" coords="940,490,1157,1019" href="../elements/id-419ff1bcfddf4ee9b65f9894a1676834.html"  target="element">
				  				<area shape="rect" coords="40,694,232,749" href="../elements/id-9633c6fccc534c2b8037dd83fb70e549.html"  target="element">
				  				<area shape="rect" coords="39,610,232,671" href="../elements/id-fc062e2994254922acd33761d7b83645.html"  target="element">
				  				<area shape="rect" coords="40,538,232,593" href="../elements/id-125023fe87664b11b1b6c9ae466b2905.html"  target="element">

				  		<area shape="rect" coords="16,490,257,1019" href="../elements/id-8a257d838a4245049ed4de466edac64b.html"  target="element">
				  						<area shape="rect" coords="676,946,833,1001" href="../elements/id-cf3011eed957440e80dea493cdb98d38.html"  target="element">
				  								<area shape="rect" coords="686,790,823,845" href="../elements/id-24202d56a76948588cb175e86b0a7d22.html"  target="element">
				  								<area shape="rect" coords="688,730,821,785" href="../elements/id-9dbe7e18f05a4d00b5d16baadc0bf8f8.html"  target="element">

				  						<area shape="rect" coords="676,682,833,875" href="../elements/id-b10720951bf8412c92813b5b78d14640.html"  target="element">
				  						<area shape="rect" coords="676,886,833,941" href="../elements/id-5bb7d2e8bb144e9aadb98bfe36119d45.html"  target="element">

				  				<area shape="rect" coords="664,646,852,1007" href="../elements/id-72202a46288d4d108a53225610d119a2.html"  target="element">
				  				<area shape="rect" coords="664,526,852,581" href="../elements/id-4eb651060c8244469065f644048b1bba.html"  target="element">
				  				<area shape="rect" coords="664,586,852,641" href="../elements/id-80fc19aab8d4494ea621e3cf034fc359.html"  target="element">

				  		<area shape="rect" coords="640,490,881,1019" href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html" target="element"> Pysyvien k&#228;sitteiden hallinta </a> </td>
											    <td> <a href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-80fc19aab8d4494ea621e3cf034fc359.html" target="element"> Ydintietojen hallinta </a> </td>
													    <td> <a href="../elements/id-80fc19aab8d4494ea621e3cf034fc359.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4eb651060c8244469065f644048b1bba.html" target="element"> Pysyvien tunnisteiden hallinta </a> </td>
													    <td> <a href="../elements/id-4eb651060c8244469065f644048b1bba.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-72202a46288d4d108a53225610d119a2.html" target="element"> Viitetietojen hallinta </a> </td>
													    <td> <a href="../elements/id-72202a46288d4d108a53225610d119a2.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-5bb7d2e8bb144e9aadb98bfe36119d45.html" target="element"> Asiasanastojen ja ontologioiden hallinta </a> </td>
															    <td> <a href="../elements/id-5bb7d2e8bb144e9aadb98bfe36119d45.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b10720951bf8412c92813b5b78d14640.html" target="element"> Viitetietokantojen hallinta </a> </td>
															    <td> <a href="../elements/id-b10720951bf8412c92813b5b78d14640.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-9dbe7e18f05a4d00b5d16baadc0bf8f8.html" target="element"> Nimitietojen hallinta </a> </td>
																	    <td> <a href="../elements/id-9dbe7e18f05a4d00b5d16baadc0bf8f8.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-24202d56a76948588cb175e86b0a7d22.html" target="element"> Paikkatietojen hallinta </a> </td>
																	    <td> <a href="../elements/id-24202d56a76948588cb175e86b0a7d22.html" target="element" class="i18n-elementtype-Capability">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-cf3011eed957440e80dea493cdb98d38.html" target="element"> Koodistojen hallinta </a> </td>
															    <td> <a href="../elements/id-cf3011eed957440e80dea493cdb98d38.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-8a257d838a4245049ed4de466edac64b.html" target="element"> Palvelu- ja tuotekehitys </a> </td>
											    <td> <a href="../elements/id-8a257d838a4245049ed4de466edac64b.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-125023fe87664b11b1b6c9ae466b2905.html" target="element"> Digitaalinen sis&#228;ll&#246;ntuotanto </a> </td>
													    <td> <a href="../elements/id-125023fe87664b11b1b6c9ae466b2905.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fc062e2994254922acd33761d7b83645.html" target="element"> Palvelu, innovaatio ja ekosysteemikehitys </a> </td>
													    <td> <a href="../elements/id-fc062e2994254922acd33761d7b83645.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9633c6fccc534c2b8037dd83fb70e549.html" target="element"> Kokonaisarkkitehtuuri </a> </td>
													    <td> <a href="../elements/id-9633c6fccc534c2b8037dd83fb70e549.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-419ff1bcfddf4ee9b65f9894a1676834.html" target="element"> Kulttuuriperinn&#246;n hallinta </a> </td>
											    <td> <a href="../elements/id-419ff1bcfddf4ee9b65f9894a1676834.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-df9223ec47ce4b2cab749b640835c843.html" target="element"> Kulttuuriperinn&#246;n sis&#228;ll&#246;nhallinta </a> </td>
													    <td> <a href="../elements/id-df9223ec47ce4b2cab749b640835c843.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d1849e91c730403e930795c88197d412.html" target="element"> Aineistojen kuvailu </a> </td>
													    <td> <a href="../elements/id-d1849e91c730403e930795c88197d412.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fb1f760689b34cee9f65dddd25c592c4.html" target="element"> Joukkoistaminen </a> </td>
													    <td> <a href="../elements/id-fb1f760689b34cee9f65dddd25c592c4.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aca55ee3303b49ccbcedaaee7ccf4a0a.html" target="element"> Teko&#228;ly </a> </td>
													    <td> <a href="../elements/id-aca55ee3303b49ccbcedaaee7ccf4a0a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2132d7c98dc1404c9dd3d057e7284871.html" target="element"> Nimettyjen entiteettien tunnistaminen </a> </td>
															    <td> <a href="../elements/id-2132d7c98dc1404c9dd3d057e7284871.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-54ff7f2e823442538adfbc4731e307fe.html" target="element"> Vektoritietokannat </a> </td>
															    <td> <a href="../elements/id-54ff7f2e823442538adfbc4731e307fe.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-0cda120116a843078f4b054c7ab87388.html" target="element"> Ymm&#228;rrett&#228;vyys </a> </td>
											    <td> <a href="../elements/id-0cda120116a843078f4b054c7ab87388.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0bc65a4b780348018f3ad2a34daf8671.html" target="element"> Uudelleenk&#228;ytett&#228;vyys </a> </td>
											    <td> <a href="../elements/id-0bc65a4b780348018f3ad2a34daf8671.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a487aaeda014ca296887ea1e7e38748.html" target="element"> K&#228;ytt&#228;j&#228;keskeisyys </a> </td>
											    <td> <a href="../elements/id-2a487aaeda014ca296887ea1e7e38748.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c544ea55a2244825990c666c720aeb90.html" target="element"> Kansalainen </a> </td>
											    <td> <a href="../elements/id-c544ea55a2244825990c666c720aeb90.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10e4934e8ad448e1b14239107e68bd62.html" target="element"> Tutkija </a> </td>
											    <td> <a href="../elements/id-10e4934e8ad448e1b14239107e68bd62.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf79cb842c40413aa33c699ee2b90d30.html" target="element"> Kulttuuriperint&#246;-asiantuntija </a> </td>
											    <td> <a href="../elements/id-bf79cb842c40413aa33c699ee2b90d30.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-93cb67a575724e0fab01a4ca5b2d7cec.html" target="element"> Yhteentoimivuuden edist&#228;minen </a> </td>
											    <td> <a href="../elements/id-93cb67a575724e0fab01a4ca5b2d7cec.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-006c3e76279d48939dff121468ae2699.html" target="element"> Standardisointi </a> </td>
													    <td> <a href="../elements/id-006c3e76279d48939dff121468ae2699.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5dba7ef7c08f49b393afdb340fa083e3.html" target="element"> Kuvailus&#228;&#228;nt&#246;jen kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-5dba7ef7c08f49b393afdb340fa083e3.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fe1e1f5f21df4c35815605642c5fa902.html" target="element"> Viitearkkitehtuuri </a> </td>
													    <td> <a href="../elements/id-fe1e1f5f21df4c35815605642c5fa902.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ad9a79ea3ff34f79ad5a701240c1f2dc.html" target="element"> Kulttuuriperint&#246;aineistojen jatkokehitys </a> </td>
											    <td> <a href="../elements/id-ad9a79ea3ff34f79ad5a701240c1f2dc.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e7f4f9ae94b146d1b66a2073aa0eb7fb.html" target="element"> Kulttuuriperint&#246;aineistojen jalostaminen tietotuotteiksi </a> </td>
													    <td> <a href="../elements/id-e7f4f9ae94b146d1b66a2073aa0eb7fb.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ae3621770ca34d9d80d46f018e2cd226.html" target="element"> Teko&#228;lyn hy&#246;dynt&#228;minen </a> </td>
															    <td> <a href="../elements/id-ae3621770ca34d9d80d46f018e2cd226.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-cc3b85fc4c6545ee860f7dd64485bdd9.html" target="element"> Kanssakehitt&#228;minen </a> </td>
															    <td> <a href="../elements/id-cc3b85fc4c6545ee860f7dd64485bdd9.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-3d8aa0d5bb7449ad9e1f4d97d7bc752b.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-3d8aa0d5bb7449ad9e1f4d97d7bc752b.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-13a851c814b94ff0acd2975990bcf3a4.html" target="element"> Pysyvien tunnisteiden hallinta </a> </td>
															    <td> <a href="../elements/id-13a851c814b94ff0acd2975990bcf3a4.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0b9b58cc1eb14ee58540930e9849754b.html" target="element"> Kulttuuriperint&#246;k&#228;sitteiden kuvaaminen ja linkitt&#228;minen </a> </td>
															    <td> <a href="../elements/id-0b9b58cc1eb14ee58540930e9849754b.html" target="element" class="i18n-elementtype-ValueStream">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-044bbc19993142ff851d1bcbe5c9f269.html" target="element"> Kulttuuriperint&#246;aineistot kehittyv&#228;t ja niiden k&#228;ytt&#246;aste kasvaa </a> </td>
											    <td> <a href="../elements/id-044bbc19993142ff851d1bcbe5c9f269.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b1b3a411a59a439ba039a55324efbbf5.html" target="element"> Kulttuuriperint&#246;aineistot ovat tehokkaasti hy&#246;dynnett&#228;viss&#228; </a> </td>
											    <td> <a href="../elements/id-b1b3a411a59a439ba039a55324efbbf5.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0e7a3fe2b9b84f07a0b52c0826cd91bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e7a3fe2b9b84f07a0b52c0826cd91bc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html" target="element"> Pysyvien k&#228;sitteiden hallinta </a> </td>
																		<td> <a href="../elements/id-72202a46288d4d108a53225610d119a2.html" target="element"> Viitetietojen hallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-188391fb80554bb7a3527b3cf3ffcda5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-188391fb80554bb7a3527b3cf3ffcda5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html" target="element"> Pysyvien k&#228;sitteiden hallinta </a> </td>
																		<td> <a href="../elements/id-4eb651060c8244469065f644048b1bba.html" target="element"> Pysyvien tunnisteiden hallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4d3e897ac76f4b32b58958d5ab35b818.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d3e897ac76f4b32b58958d5ab35b818.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html" target="element"> Pysyvien k&#228;sitteiden hallinta </a> </td>
																		<td> <a href="../elements/id-80fc19aab8d4494ea621e3cf034fc359.html" target="element"> Ydintietojen hallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c12dece380b04225b341db80f3c2e0b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c12dece380b04225b341db80f3c2e0b5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html" target="element"> Pysyvien k&#228;sitteiden hallinta </a> </td>
																		<td> <a href="../elements/id-ad9a79ea3ff34f79ad5a701240c1f2dc.html" target="element"> Kulttuuriperint&#246;aineistojen jatkokehitys </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5971254be13f495184c152afb155abe2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5971254be13f495184c152afb155abe2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-72202a46288d4d108a53225610d119a2.html" target="element"> Viitetietojen hallinta </a> </td>
																				<td> <a href="../elements/id-b10720951bf8412c92813b5b78d14640.html" target="element"> Viitetietokantojen hallinta </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-42e199e4e69947f4966f499ae6fec97a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-42e199e4e69947f4966f499ae6fec97a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-72202a46288d4d108a53225610d119a2.html" target="element"> Viitetietojen hallinta </a> </td>
																				<td> <a href="../elements/id-5bb7d2e8bb144e9aadb98bfe36119d45.html" target="element"> Asiasanastojen ja ontologioiden hallinta </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d222c92862eb46e1950849176347d0e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d222c92862eb46e1950849176347d0e8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-72202a46288d4d108a53225610d119a2.html" target="element"> Viitetietojen hallinta </a> </td>
																				<td> <a href="../elements/id-cf3011eed957440e80dea493cdb98d38.html" target="element"> Koodistojen hallinta </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-23a91ca6a23e42b18c5a06923c8ef406.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-23a91ca6a23e42b18c5a06923c8ef406.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-72202a46288d4d108a53225610d119a2.html" target="element"> Viitetietojen hallinta </a> </td>
																				<td> <a href="../elements/id-857b798e2b01415895f5a7e2ad28a94d.html" target="element"> Pysyvien k&#228;sitteiden hallinta </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-a2e6db3981444bc983cb81e7ce4ca199.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-a2e6db3981444bc983cb81e7ce4ca199.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-b10720951bf8412c92813b5b78d14640.html" target="element"> Viitetietokantojen hallinta </a> </td>
																						<td> <a href="../elements/id-24202d56a76948588cb175e86b0a7d22.html" target="element"> Paikkatietojen hallinta </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-b0fcb16564ba409ca0035e3ed2b4595b.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b0fcb16564ba409ca0035e3ed2b4595b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-b10720951bf8412c92813b5b78d14640.html" target="element"> Viitetietokantojen hallinta </a> </td>
																						<td> <a href="../elements/id-9dbe7e18f05a4d00b5d16baadc0bf8f8.html" target="element"> Nimitietojen hallinta </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-d0845665bfe349dfa71b7e672fa56af9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d0845665bfe349dfa71b7e672fa56af9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a257d838a4245049ed4de466edac64b.html" target="element"> Palvelu- ja tuotekehitys </a> </td>
																		<td> <a href="../elements/id-125023fe87664b11b1b6c9ae466b2905.html" target="element"> Digitaalinen sis&#228;ll&#246;ntuotanto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1f3768a45c6f4a7d831064e1baddd0dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f3768a45c6f4a7d831064e1baddd0dc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a257d838a4245049ed4de466edac64b.html" target="element"> Palvelu- ja tuotekehitys </a> </td>
																		<td> <a href="../elements/id-9633c6fccc534c2b8037dd83fb70e549.html" target="element"> Kokonaisarkkitehtuuri </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7febdf30237b4c32953a609855c5aabf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7febdf30237b4c32953a609855c5aabf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a257d838a4245049ed4de466edac64b.html" target="element"> Palvelu- ja tuotekehitys </a> </td>
																		<td> <a href="../elements/id-fc062e2994254922acd33761d7b83645.html" target="element"> Palvelu, innovaatio ja ekosysteemikehitys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-65c2a2c932af4aeba34e68bffc3c19ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65c2a2c932af4aeba34e68bffc3c19ae.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a257d838a4245049ed4de466edac64b.html" target="element"> Palvelu- ja tuotekehitys </a> </td>
																		<td> <a href="../elements/id-ad9a79ea3ff34f79ad5a701240c1f2dc.html" target="element"> Kulttuuriperint&#246;aineistojen jatkokehitys </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a21786084efa4a01a2d19db9ba190fe0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a21786084efa4a01a2d19db9ba190fe0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-419ff1bcfddf4ee9b65f9894a1676834.html" target="element"> Kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-fb1f760689b34cee9f65dddd25c592c4.html" target="element"> Joukkoistaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b2d394f6652c45fc8d320c80669801b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2d394f6652c45fc8d320c80669801b1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-419ff1bcfddf4ee9b65f9894a1676834.html" target="element"> Kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-df9223ec47ce4b2cab749b640835c843.html" target="element"> Kulttuuriperinn&#246;n sis&#228;ll&#246;nhallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-45087c086bbb4c639011984b52dacb6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-45087c086bbb4c639011984b52dacb6d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-419ff1bcfddf4ee9b65f9894a1676834.html" target="element"> Kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-d1849e91c730403e930795c88197d412.html" target="element"> Aineistojen kuvailu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-17ff7e15c4a0482a8dee5951e45541bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17ff7e15c4a0482a8dee5951e45541bc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-419ff1bcfddf4ee9b65f9894a1676834.html" target="element"> Kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-aca55ee3303b49ccbcedaaee7ccf4a0a.html" target="element"> Teko&#228;ly </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ad43889579584b36ac8f210db7ef0d44.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad43889579584b36ac8f210db7ef0d44.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-419ff1bcfddf4ee9b65f9894a1676834.html" target="element"> Kulttuuriperinn&#246;n hallinta </a> </td>
																		<td> <a href="../elements/id-ad9a79ea3ff34f79ad5a701240c1f2dc.html" target="element"> Kulttuuriperint&#246;aineistojen jatkokehitys </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f58b21b8fdc3468692c2701f00d7452b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f58b21b8fdc3468692c2701f00d7452b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-aca55ee3303b49ccbcedaaee7ccf4a0a.html" target="element"> Teko&#228;ly </a> </td>
																				<td> <a href="../elements/id-54ff7f2e823442538adfbc4731e307fe.html" target="element"> Vektoritietokannat </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d50feef54ddd41c7aca44e1249a0c106.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d50feef54ddd41c7aca44e1249a0c106.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-aca55ee3303b49ccbcedaaee7ccf4a0a.html" target="element"> Teko&#228;ly </a> </td>
																				<td> <a href="../elements/id-2132d7c98dc1404c9dd3d057e7284871.html" target="element"> Nimettyjen entiteettien tunnistaminen </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-5a348306c22140ee9178d5ca544e1239.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a348306c22140ee9178d5ca544e1239.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-10e4934e8ad448e1b14239107e68bd62.html" target="element"> Tutkija </a> </td>
																		<td> <a href="../elements/id-b1b3a411a59a439ba039a55324efbbf5.html" target="element"> Kulttuuriperint&#246;aineistot ovat tehokkaasti hy&#246;dynnett&#228;viss&#228; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5b3c5eb94cc54001b19f80115028b006.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b3c5eb94cc54001b19f80115028b006.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf79cb842c40413aa33c699ee2b90d30.html" target="element"> Kulttuuriperint&#246;-asiantuntija </a> </td>
																		<td> <a href="../elements/id-b1b3a411a59a439ba039a55324efbbf5.html" target="element"> Kulttuuriperint&#246;aineistot ovat tehokkaasti hy&#246;dynnett&#228;viss&#228; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-37cd621d709843d795083777140e2e69.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37cd621d709843d795083777140e2e69.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-93cb67a575724e0fab01a4ca5b2d7cec.html" target="element"> Yhteentoimivuuden edist&#228;minen </a> </td>
																		<td> <a href="../elements/id-fe1e1f5f21df4c35815605642c5fa902.html" target="element"> Viitearkkitehtuuri </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1d0a7ae1685849b4a452cceae059ad80.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d0a7ae1685849b4a452cceae059ad80.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-93cb67a575724e0fab01a4ca5b2d7cec.html" target="element"> Yhteentoimivuuden edist&#228;minen </a> </td>
																		<td> <a href="../elements/id-5dba7ef7c08f49b393afdb340fa083e3.html" target="element"> Kuvailus&#228;&#228;nt&#246;jen kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06458ff0085d4f0284838bed9abb5ef7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06458ff0085d4f0284838bed9abb5ef7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-93cb67a575724e0fab01a4ca5b2d7cec.html" target="element"> Yhteentoimivuuden edist&#228;minen </a> </td>
																		<td> <a href="../elements/id-006c3e76279d48939dff121468ae2699.html" target="element"> Standardisointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5cf15d13105c4171b905036b027a4dea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5cf15d13105c4171b905036b027a4dea.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-93cb67a575724e0fab01a4ca5b2d7cec.html" target="element"> Yhteentoimivuuden edist&#228;minen </a> </td>
																		<td> <a href="../elements/id-ad9a79ea3ff34f79ad5a701240c1f2dc.html" target="element"> Kulttuuriperint&#246;aineistojen jatkokehitys </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-72f00d2488244cbebe494b927df15c7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72f00d2488244cbebe494b927df15c7c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9a79ea3ff34f79ad5a701240c1f2dc.html" target="element"> Kulttuuriperint&#246;aineistojen jatkokehitys </a> </td>
																		<td> <a href="../elements/id-e7f4f9ae94b146d1b66a2073aa0eb7fb.html" target="element"> Kulttuuriperint&#246;aineistojen jalostaminen tietotuotteiksi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6240fe0f045a4b59b078fde0f386b153.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6240fe0f045a4b59b078fde0f386b153.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9a79ea3ff34f79ad5a701240c1f2dc.html" target="element"> Kulttuuriperint&#246;aineistojen jatkokehitys </a> </td>
																		<td> <a href="../elements/id-3d8aa0d5bb7449ad9e1f4d97d7bc752b.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0035d9f80d414b4dab0b3d624843e39f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0035d9f80d414b4dab0b3d624843e39f.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9a79ea3ff34f79ad5a701240c1f2dc.html" target="element"> Kulttuuriperint&#246;aineistojen jatkokehitys </a> </td>
																		<td> <a href="../elements/id-0cda120116a843078f4b054c7ab87388.html" target="element"> Ymm&#228;rrett&#228;vyys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-775696318eb04519a623550c99808487.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-775696318eb04519a623550c99808487.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9a79ea3ff34f79ad5a701240c1f2dc.html" target="element"> Kulttuuriperint&#246;aineistojen jatkokehitys </a> </td>
																		<td> <a href="../elements/id-2a487aaeda014ca296887ea1e7e38748.html" target="element"> K&#228;ytt&#228;j&#228;keskeisyys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2442ec6762bd4f82ba6efa443ca21f06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2442ec6762bd4f82ba6efa443ca21f06.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9a79ea3ff34f79ad5a701240c1f2dc.html" target="element"> Kulttuuriperint&#246;aineistojen jatkokehitys </a> </td>
																		<td> <a href="../elements/id-0bc65a4b780348018f3ad2a34daf8671.html" target="element"> Uudelleenk&#228;ytett&#228;vyys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-85379d195b9849da93b1120b232fd3cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-85379d195b9849da93b1120b232fd3cf.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9a79ea3ff34f79ad5a701240c1f2dc.html" target="element"> Kulttuuriperint&#246;aineistojen jatkokehitys </a> </td>
																		<td> <a href="../elements/id-044bbc19993142ff851d1bcbe5c9f269.html" target="element"> Kulttuuriperint&#246;aineistot kehittyv&#228;t ja niiden k&#228;ytt&#246;aste kasvaa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7ab4773f4f08475792f58b8e3e228e3e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ab4773f4f08475792f58b8e3e228e3e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad9a79ea3ff34f79ad5a701240c1f2dc.html" target="element"> Kulttuuriperint&#246;aineistojen jatkokehitys </a> </td>
																		<td> <a href="../elements/id-b1b3a411a59a439ba039a55324efbbf5.html" target="element"> Kulttuuriperint&#246;aineistot ovat tehokkaasti hy&#246;dynnett&#228;viss&#228; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ea1e2932ab9943ffa3088f2d63451ef8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ea1e2932ab9943ffa3088f2d63451ef8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e7f4f9ae94b146d1b66a2073aa0eb7fb.html" target="element"> Kulttuuriperint&#246;aineistojen jalostaminen tietotuotteiksi </a> </td>
																				<td> <a href="../elements/id-ae3621770ca34d9d80d46f018e2cd226.html" target="element"> Teko&#228;lyn hy&#246;dynt&#228;minen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6f8c8efdf002481d8a2b7df1c44fb1d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6f8c8efdf002481d8a2b7df1c44fb1d1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e7f4f9ae94b146d1b66a2073aa0eb7fb.html" target="element"> Kulttuuriperint&#246;aineistojen jalostaminen tietotuotteiksi </a> </td>
																				<td> <a href="../elements/id-cc3b85fc4c6545ee860f7dd64485bdd9.html" target="element"> Kanssakehitt&#228;minen </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-811eb2a5a42f45858c5eb5ad60a4cf48.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-811eb2a5a42f45858c5eb5ad60a4cf48.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3d8aa0d5bb7449ad9e1f4d97d7bc752b.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-e7f4f9ae94b146d1b66a2073aa0eb7fb.html" target="element"> Kulttuuriperint&#246;aineistojen jalostaminen tietotuotteiksi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4ed198acad1f44dd94b624e071f3919d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4ed198acad1f44dd94b624e071f3919d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3d8aa0d5bb7449ad9e1f4d97d7bc752b.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-13a851c814b94ff0acd2975990bcf3a4.html" target="element"> Pysyvien tunnisteiden hallinta </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-59d6ccfc9a634afa8783426d4935cbb6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-59d6ccfc9a634afa8783426d4935cbb6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3d8aa0d5bb7449ad9e1f4d97d7bc752b.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																				<td> <a href="../elements/id-0b9b58cc1eb14ee58540930e9849754b.html" target="element"> Kulttuuriperint&#246;k&#228;sitteiden kuvaaminen ja linkitt&#228;minen </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-84867c57856b4cdfbd27f1eb3a3aca78.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-84867c57856b4cdfbd27f1eb3a3aca78.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-13a851c814b94ff0acd2975990bcf3a4.html" target="element"> Pysyvien tunnisteiden hallinta </a> </td>
																						<td> <a href="../elements/id-0b9b58cc1eb14ee58540930e9849754b.html" target="element"> Kulttuuriperint&#246;k&#228;sitteiden kuvaaminen ja linkitt&#228;minen </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-7d0812160de045db8f784395dfe7dca1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d0812160de045db8f784395dfe7dca1.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-044bbc19993142ff851d1bcbe5c9f269.html" target="element"> Kulttuuriperint&#246;aineistot kehittyv&#228;t ja niiden k&#228;ytt&#246;aste kasvaa </a> </td>
																		<td> <a href="../elements/id-c544ea55a2244825990c666c720aeb90.html" target="element"> Kansalainen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1aaee310ebfe43d7a1c2938090f09d0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1aaee310ebfe43d7a1c2938090f09d0b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-044bbc19993142ff851d1bcbe5c9f269.html" target="element"> Kulttuuriperint&#246;aineistot kehittyv&#228;t ja niiden k&#228;ytt&#246;aste kasvaa </a> </td>
																		<td> <a href="../elements/id-10e4934e8ad448e1b14239107e68bd62.html" target="element"> Tutkija </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>