<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Laki kuntien kulttuuritoiminnasta</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Laki kuntien kulttuuritoiminnasta</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c8532f2bcd504926986b784737ca5ed2.png" alt="Laki kuntien kulttuuritoiminnasta" usemap="#id-c8532f2bcd504926986b784737ca5ed2map"/>
			   <map name="id-c8532f2bcd504926986b784737ca5ed2map">
				          <area shape="rect" coords="1174,586,1615,804" href="../objects/id-7cb8f39f42784bf98f2a1e8ce278ede3.html" target="element" >
				  		<area shape="rect" coords="1042,356,1508,411" href="../elements/id-a840ec883d24461fb8d7b37d3c824525.html"  target="element">
				  		<area shape="rect" coords="574,356,991,411" href="../elements/id-a5978f2e82fd41bd84df29b94254fd7e.html"  target="element">
				  		<area shape="rect" coords="106,356,505,411" href="../elements/id-1dea729d80b44e46b2ff410d5061fd74.html"  target="element">
				  		<area shape="rect" coords="1270,250,1685,305" href="../elements/id-20aacba3d0884b1cb754be502d7bc923.html"  target="element">
				  		<area shape="rect" coords="706,250,1197,305" href="../elements/id-152b0e664bd34291ba2a8e0bd552e40a.html"  target="element">
				  		<area shape="rect" coords="346,250,651,305" href="../elements/id-23fd57739f6a426b9eeeea3373e528ea.html"  target="element">
				  		<area shape="rect" coords="754,634,874,689" href="../elements/id-ebd39f4cc5e54557bf2cf130178618d8.html"  target="element">
				  		<area shape="rect" coords="682,10,923,65" href="../elements/id-961804c1be504eefbdcb8122a058df87.html"  target="element">
				  		<area shape="rect" coords="10,250,299,305" href="../elements/id-95b21b34b55848ffbdbd2abbc1911678.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-95b21b34b55848ffbdbd2abbc1911678.html" target="element"> Edist&#228;&#228; kulttuurin ja taiteen yhdenvertaista saatavuutta ja monipuolista k&#228;ytt&#246;&#228; </a> </td>
											    <td> <a href="../elements/id-95b21b34b55848ffbdbd2abbc1911678.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-961804c1be504eefbdcb8122a058df87.html" target="element"> Laki kuntien kulttuuritoiminnasta </a> </td>
											    <td> <a href="../elements/id-961804c1be504eefbdcb8122a058df87.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ebd39f4cc5e54557bf2cf130178618d8.html" target="element"> Kunta </a> </td>
											    <td> <a href="../elements/id-ebd39f4cc5e54557bf2cf130178618d8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-23fd57739f6a426b9eeeea3373e528ea.html" target="element"> Luoda edellytyksi&#228; ammattimaiselle taiteelliselle ty&#246;lle ja toiminnalle </a> </td>
											    <td> <a href="../elements/id-23fd57739f6a426b9eeeea3373e528ea.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-152b0e664bd34291ba2a8e0bd552e40a.html" target="element"> Edist&#228;&#228; kulttuurin ja taiteen harrastamista sek&#228; niihin liittyv&#228;&#228; kansalaistoimintaa </a> </td>
											    <td> <a href="../elements/id-152b0e664bd34291ba2a8e0bd552e40a.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-20aacba3d0884b1cb754be502d7bc923.html" target="element"> &#8194;Tarjota mahdollisuuksia kulttuurin ja taiteen eri muotojen ja alojen tavoitteelliseen taide- ja kulttuurikasvatukseen </a> </td>
											    <td> <a href="../elements/id-20aacba3d0884b1cb754be502d7bc923.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1dea729d80b44e46b2ff410d5061fd74.html" target="element"> Edist&#228;&#228; kulttuuriperinn&#246;n yll&#228;pit&#228;mist&#228; ja k&#228;ytt&#246;&#228; sek&#228; paikallista identiteetti&#228; tukevaa ja kehitt&#228;v&#228;&#228; toimintaa </a> </td>
											    <td> <a href="../elements/id-1dea729d80b44e46b2ff410d5061fd74.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a5978f2e82fd41bd84df29b94254fd7e.html" target="element"> Edist&#228;&#228; kulttuuria ja taidetta osana asukkaiden hyvinvointia ja terveytt&#228;, osallisuutta ja yhteis&#246;llisyytt&#228; sek&#228; paikallista ja alueellista elinvoimaa </a> </td>
											    <td> <a href="../elements/id-a5978f2e82fd41bd84df29b94254fd7e.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a840ec883d24461fb8d7b37d3c824525.html" target="element"> Edist&#228;&#228; kulttuurista vuorovaikutusta ja kansainv&#228;list&#228; toimintaa ja toteuttaa muita kulttuuriin ja taiteeseen liittyvi&#228; toimia </a> </td>
											    <td> <a href="../elements/id-a840ec883d24461fb8d7b37d3c824525.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-7cb8f39f42784bf98f2a1e8ce278ede3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7cb8f39f42784bf98f2a1e8ce278ede3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6cc01cbf61d441da8924ecfc0489c44f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6cc01cbf61d441da8924ecfc0489c44f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-961804c1be504eefbdcb8122a058df87.html" target="element"> Laki kuntien kulttuuritoiminnasta </a> </td>
																		<td> <a href="../elements/id-95b21b34b55848ffbdbd2abbc1911678.html" target="element"> Edist&#228;&#228; kulttuurin ja taiteen yhdenvertaista saatavuutta ja monipuolista k&#228;ytt&#246;&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c6cac1355e8944b8a1727538a76aac78.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6cac1355e8944b8a1727538a76aac78.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-961804c1be504eefbdcb8122a058df87.html" target="element"> Laki kuntien kulttuuritoiminnasta </a> </td>
																		<td> <a href="../elements/id-23fd57739f6a426b9eeeea3373e528ea.html" target="element"> Luoda edellytyksi&#228; ammattimaiselle taiteelliselle ty&#246;lle ja toiminnalle </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-80c4dff326a0449099c85c1a67f0da2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80c4dff326a0449099c85c1a67f0da2b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-961804c1be504eefbdcb8122a058df87.html" target="element"> Laki kuntien kulttuuritoiminnasta </a> </td>
																		<td> <a href="../elements/id-152b0e664bd34291ba2a8e0bd552e40a.html" target="element"> Edist&#228;&#228; kulttuurin ja taiteen harrastamista sek&#228; niihin liittyv&#228;&#228; kansalaistoimintaa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-004397eadc534945bca3ce728f10d368.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-004397eadc534945bca3ce728f10d368.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-961804c1be504eefbdcb8122a058df87.html" target="element"> Laki kuntien kulttuuritoiminnasta </a> </td>
																		<td> <a href="../elements/id-20aacba3d0884b1cb754be502d7bc923.html" target="element"> &#8194;Tarjota mahdollisuuksia kulttuurin ja taiteen eri muotojen ja alojen tavoitteelliseen taide- ja kulttuurikasvatukseen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-760712d4430d478185f91f210bc14322.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-760712d4430d478185f91f210bc14322.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-961804c1be504eefbdcb8122a058df87.html" target="element"> Laki kuntien kulttuuritoiminnasta </a> </td>
																		<td> <a href="../elements/id-1dea729d80b44e46b2ff410d5061fd74.html" target="element"> Edist&#228;&#228; kulttuuriperinn&#246;n yll&#228;pit&#228;mist&#228; ja k&#228;ytt&#246;&#228; sek&#228; paikallista identiteetti&#228; tukevaa ja kehitt&#228;v&#228;&#228; toimintaa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-65ba9af033434b7faca14a86d1eafc88.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65ba9af033434b7faca14a86d1eafc88.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-961804c1be504eefbdcb8122a058df87.html" target="element"> Laki kuntien kulttuuritoiminnasta </a> </td>
																		<td> <a href="../elements/id-a5978f2e82fd41bd84df29b94254fd7e.html" target="element"> Edist&#228;&#228; kulttuuria ja taidetta osana asukkaiden hyvinvointia ja terveytt&#228;, osallisuutta ja yhteis&#246;llisyytt&#228; sek&#228; paikallista ja alueellista elinvoimaa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-99eb7a10c889484499c988b66df1a6ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-99eb7a10c889484499c988b66df1a6ad.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-961804c1be504eefbdcb8122a058df87.html" target="element"> Laki kuntien kulttuuritoiminnasta </a> </td>
																		<td> <a href="../elements/id-a840ec883d24461fb8d7b37d3c824525.html" target="element"> Edist&#228;&#228; kulttuurista vuorovaikutusta ja kansainv&#228;list&#228; toimintaa ja toteuttaa muita kulttuuriin ja taiteeseen liittyvi&#228; toimia </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8c3c44a0f71f4a1abf3393e64dc0f1d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c3c44a0f71f4a1abf3393e64dc0f1d9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebd39f4cc5e54557bf2cf130178618d8.html" target="element"> Kunta </a> </td>
																		<td> <a href="../elements/id-1dea729d80b44e46b2ff410d5061fd74.html" target="element"> Edist&#228;&#228; kulttuuriperinn&#246;n yll&#228;pit&#228;mist&#228; ja k&#228;ytt&#246;&#228; sek&#228; paikallista identiteetti&#228; tukevaa ja kehitt&#228;v&#228;&#228; toimintaa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3b0398ff9b00433fa0f9b84edcc4fad4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3b0398ff9b00433fa0f9b84edcc4fad4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebd39f4cc5e54557bf2cf130178618d8.html" target="element"> Kunta </a> </td>
																		<td> <a href="../elements/id-a5978f2e82fd41bd84df29b94254fd7e.html" target="element"> Edist&#228;&#228; kulttuuria ja taidetta osana asukkaiden hyvinvointia ja terveytt&#228;, osallisuutta ja yhteis&#246;llisyytt&#228; sek&#228; paikallista ja alueellista elinvoimaa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7549f705acb34d25b7110f13e09b5377.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7549f705acb34d25b7110f13e09b5377.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ebd39f4cc5e54557bf2cf130178618d8.html" target="element"> Kunta </a> </td>
																		<td> <a href="../elements/id-a840ec883d24461fb8d7b37d3c824525.html" target="element"> Edist&#228;&#228; kulttuurista vuorovaikutusta ja kansainv&#228;list&#228; toimintaa ja toteuttaa muita kulttuuriin ja taiteeseen liittyvi&#228; toimia </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>