<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Muinaismuistolaki ja Laki rakennusperinnön suojelemisesta</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Muinaismuistolaki ja Laki rakennusperinn&#246;n suojelemisesta</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-cfa578abe2054aff823940fbedd75c64.png" alt="Muinaismuistolaki ja Laki rakennusperinnön suojelemisesta" usemap="#id-cfa578abe2054aff823940fbedd75c64map"/>
			   <map name="id-cfa578abe2054aff823940fbedd75c64map">
				  		<area shape="rect" coords="358,694,547,749" href="../elements/id-768a9009094548dd89169fe3fc125e8b.html"  target="element">
				  		<area shape="rect" coords="562,694,719,749" href="../elements/id-f3ef225692894d079d9f4dcc856357e9.html"  target="element">
				  		<area shape="rect" coords="479,513,647,586" href="../elements/id-cfbecf47fe9648549474720cc0b0f840.html"  target="element">
				  		<area shape="rect" coords="10,469,379,542" href="../elements/id-b11d846edb1d4b72b06f67ad079ce7c6.html"  target="element">
				  		<area shape="rect" coords="106,610,354,665" href="../elements/id-1875ca77462e491b963910162d829325.html"  target="element">
				  		<area shape="rect" coords="190,202,383,257" href="../elements/id-2efc34ddeca7481e91ae00be3e69b49c.html"  target="element">
				  		<area shape="rect" coords="1174,610,1294,665" href="../elements/id-62b9b5728f9440f5a31a5c04f2201e80.html"  target="element">
				  		<area shape="rect" coords="1030,610,1150,665" href="../elements/id-a0c1685459244fe8827235d08a7d3757.html"  target="element">
				  		<area shape="rect" coords="851,478,1032,533" href="../elements/id-babf88c9bdf043a7b5b67bfac1d0c3fc.html"  target="element">
				  		<area shape="rect" coords="862,610,1008,665" href="../elements/id-3f724578cb7948c38b73b7e0d7f7aef4.html"  target="element">
				  		<area shape="rect" coords="706,610,826,665" href="../elements/id-fea21e52ed01494189994b538f6d6740.html"  target="element">
				  		<area shape="rect" coords="706,202,903,257" href="../elements/id-cbaf0673446a4c11b538d860f2c4f759.html"  target="element">
				  		<area shape="rect" coords="1210,202,1367,257" href="../elements/id-a9ff3d961eb4447983711c1c60a1eacf.html"  target="element">
				  		<area shape="rect" coords="994,148,1114,203" href="../elements/id-9ff82e7ee770495bbd33ae8238c82199.html"  target="element">
				  		<area shape="rect" coords="886,346,1006,401" href="../elements/id-2cac1cda48664ec98de00dc4184456a6.html"  target="element">
				  		<area shape="rect" coords="754,10,955,65" href="../elements/id-cdc399bf4e194e7ca8499a2fdb7d4b55.html"  target="element">
				  		<area shape="rect" coords="430,202,671,257" href="../elements/id-56b5327fc2fd47f0819f101aa62f4e7f.html"  target="element">
				  		<area shape="rect" coords="454,394,671,449" href="../elements/id-a0541e350aa3478e9670836cfaac0035.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a0541e350aa3478e9670836cfaac0035.html" target="element"> Muinaistieteellinen toimikunta </a> </td>
											    <td> <a href="../elements/id-a0541e350aa3478e9670836cfaac0035.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-56b5327fc2fd47f0819f101aa62f4e7f.html" target="element"> Kiinteiden muinaisj&#228;&#228;nn&#246;sten rauhoitus </a> </td>
											    <td> <a href="../elements/id-56b5327fc2fd47f0819f101aa62f4e7f.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cdc399bf4e194e7ca8499a2fdb7d4b55.html" target="element"> Muinaismuistolaki </a> </td>
											    <td> <a href="../elements/id-cdc399bf4e194e7ca8499a2fdb7d4b55.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2cac1cda48664ec98de00dc4184456a6.html" target="element"> Museovirasto </a> </td>
											    <td> <a href="../elements/id-2cac1cda48664ec98de00dc4184456a6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9ff82e7ee770495bbd33ae8238c82199.html" target="element"> Maanomistaja, haltija tai muu toimija </a> </td>
											    <td> <a href="../elements/id-9ff82e7ee770495bbd33ae8238c82199.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9ff3d961eb4447983711c1c60a1eacf.html" target="element"> Suoja-alueen m&#228;&#228;ritys </a> </td>
											    <td> <a href="../elements/id-a9ff3d961eb4447983711c1c60a1eacf.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cbaf0673446a4c11b538d860f2c4f759.html" target="element"> Kajoamisluvan my&#246;nt&#228;minen </a> </td>
											    <td> <a href="../elements/id-cbaf0673446a4c11b538d860f2c4f759.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fea21e52ed01494189994b538f6d6740.html" target="element"> Kunta tai maakunta </a> </td>
											    <td> <a href="../elements/id-fea21e52ed01494189994b538f6d6740.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f724578cb7948c38b73b7e0d7f7aef4.html" target="element"> Saamelaisk&#228;r&#228;j&#228;t </a> </td>
											    <td> <a href="../elements/id-3f724578cb7948c38b73b7e0d7f7aef4.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-babf88c9bdf043a7b5b67bfac1d0c3fc.html" target="element"> Kajoamisluvan lausunto </a> </td>
											    <td> <a href="../elements/id-babf88c9bdf043a7b5b67bfac1d0c3fc.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0c1685459244fe8827235d08a7d3757.html" target="element"> Kolttien kyl&#228;kokous </a> </td>
											    <td> <a href="../elements/id-a0c1685459244fe8827235d08a7d3757.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-62b9b5728f9440f5a31a5c04f2201e80.html" target="element"> Muu tarpeellinen taho </a> </td>
											    <td> <a href="../elements/id-62b9b5728f9440f5a31a5c04f2201e80.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2efc34ddeca7481e91ae00be3e69b49c.html" target="element"> Irtaimien muinaisesineiden l&#246;yt&#228;minen ja suojelu </a> </td>
											    <td> <a href="../elements/id-2efc34ddeca7481e91ae00be3e69b49c.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1875ca77462e491b963910162d829325.html" target="element"> Laki rakennusperinn&#246;n suojelemisesta </a> </td>
											    <td> <a href="../elements/id-1875ca77462e491b963910162d829325.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b11d846edb1d4b72b06f67ad079ce7c6.html" target="element"> Turvata rakennetun kulttuuriymp&#228;rist&#246;n ajallinen ja alueellinen monimuotoisuus, vaalia sen ominaisluonnetta ja erityispiirteit&#228; sek&#228; edist&#228;&#228; sen kulttuurisesti kest&#228;v&#228;&#228; hoitoa ja k&#228;ytt&#246;&#228; </a> </td>
											    <td> <a href="../elements/id-b11d846edb1d4b72b06f67ad079ce7c6.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cfbecf47fe9648549474720cc0b0f840.html" target="element"> Rakennusperinn&#246;n suojelu </a> </td>
											    <td> <a href="../elements/id-cfbecf47fe9648549474720cc0b0f840.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3ef225692894d079d9f4dcc856357e9.html" target="element"> Ymp&#228;rist&#246;ministeri&#246; </a> </td>
											    <td> <a href="../elements/id-f3ef225692894d079d9f4dcc856357e9.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-768a9009094548dd89169fe3fc125e8b.html" target="element"> Elinkeino-, liikenne- ja ymp&#228;rist&#246;keskus </a> </td>
											    <td> <a href="../elements/id-768a9009094548dd89169fe3fc125e8b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1f0f9ba47347401aa6f399748f7e10be.html" target="element"> Valvoo </a> </td>
																		<td> <a href="../elements/id-1f0f9ba47347401aa6f399748f7e10be.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0541e350aa3478e9670836cfaac0035.html" target="element"> Muinaistieteellinen toimikunta </a> </td>
																		<td> <a href="../elements/id-56b5327fc2fd47f0819f101aa62f4e7f.html" target="element"> Kiinteiden muinaisj&#228;&#228;nn&#246;sten rauhoitus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d97238637ae24bb68e08b135c0762cbf.html" target="element"> Lunastaa tai palauttaa l&#246;yt&#228;j&#228;lle </a> </td>
																		<td> <a href="../elements/id-d97238637ae24bb68e08b135c0762cbf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0541e350aa3478e9670836cfaac0035.html" target="element"> Muinaistieteellinen toimikunta </a> </td>
																		<td> <a href="../elements/id-2efc34ddeca7481e91ae00be3e69b49c.html" target="element"> Irtaimien muinaisesineiden l&#246;yt&#228;minen ja suojelu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-677bc0936c8c473bbf3ec48f62a49820.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-677bc0936c8c473bbf3ec48f62a49820.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdc399bf4e194e7ca8499a2fdb7d4b55.html" target="element"> Muinaismuistolaki </a> </td>
																		<td> <a href="../elements/id-56b5327fc2fd47f0819f101aa62f4e7f.html" target="element"> Kiinteiden muinaisj&#228;&#228;nn&#246;sten rauhoitus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a85f1e6dc9d14db4998844af4e392238.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a85f1e6dc9d14db4998844af4e392238.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdc399bf4e194e7ca8499a2fdb7d4b55.html" target="element"> Muinaismuistolaki </a> </td>
																		<td> <a href="../elements/id-a9ff3d961eb4447983711c1c60a1eacf.html" target="element"> Suoja-alueen m&#228;&#228;ritys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b312a8b34197429bbc14963ebbd5a1f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b312a8b34197429bbc14963ebbd5a1f2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdc399bf4e194e7ca8499a2fdb7d4b55.html" target="element"> Muinaismuistolaki </a> </td>
																		<td> <a href="../elements/id-cbaf0673446a4c11b538d860f2c4f759.html" target="element"> Kajoamisluvan my&#246;nt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-49fa7e2737a445879dd3badd65bcacdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49fa7e2737a445879dd3badd65bcacdf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdc399bf4e194e7ca8499a2fdb7d4b55.html" target="element"> Muinaismuistolaki </a> </td>
																		<td> <a href="../elements/id-2efc34ddeca7481e91ae00be3e69b49c.html" target="element"> Irtaimien muinaisesineiden l&#246;yt&#228;minen ja suojelu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0ad9c6ee71164b21aa9768ba65ee29e2.html" target="element"> Vahvistaa </a> </td>
																		<td> <a href="../elements/id-0ad9c6ee71164b21aa9768ba65ee29e2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2cac1cda48664ec98de00dc4184456a6.html" target="element"> Museovirasto </a> </td>
																		<td> <a href="../elements/id-a9ff3d961eb4447983711c1c60a1eacf.html" target="element"> Suoja-alueen m&#228;&#228;ritys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74ed6d127d914494b6b3f3411fa06c8f.html" target="element"> My&#246;nt&#228;&#228; </a> </td>
																		<td> <a href="../elements/id-74ed6d127d914494b6b3f3411fa06c8f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2cac1cda48664ec98de00dc4184456a6.html" target="element"> Museovirasto </a> </td>
																		<td> <a href="../elements/id-cbaf0673446a4c11b538d860f2c4f759.html" target="element"> Kajoamisluvan my&#246;nt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b6be75c7ffac4d77a4fc7e5474bf11d8.html" target="element"> Pyyt&#228;&#228; lausunnon </a> </td>
																		<td> <a href="../elements/id-b6be75c7ffac4d77a4fc7e5474bf11d8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2cac1cda48664ec98de00dc4184456a6.html" target="element"> Museovirasto </a> </td>
																		<td> <a href="../elements/id-babf88c9bdf043a7b5b67bfac1d0c3fc.html" target="element"> Kajoamisluvan lausunto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d90594e60cb4ff7b468cc0ec97ba661.html" target="element"> Valvoo </a> </td>
																		<td> <a href="../elements/id-5d90594e60cb4ff7b468cc0ec97ba661.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2cac1cda48664ec98de00dc4184456a6.html" target="element"> Museovirasto </a> </td>
																		<td> <a href="../elements/id-cfbecf47fe9648549474720cc0b0f840.html" target="element"> Rakennusperinn&#246;n suojelu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1869b31ff1b147529308c815bb0b9e74.html" target="element"> Voi tehd&#228; ehdotuksen </a> </td>
																		<td> <a href="../elements/id-1869b31ff1b147529308c815bb0b9e74.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9ff82e7ee770495bbd33ae8238c82199.html" target="element"> Maanomistaja, haltija tai muu toimija </a> </td>
																		<td> <a href="../elements/id-a9ff3d961eb4447983711c1c60a1eacf.html" target="element"> Suoja-alueen m&#228;&#228;ritys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31d1775a2e124a74bb7eec0efecceb3f.html" target="element"> Voi hakea </a> </td>
																		<td> <a href="../elements/id-31d1775a2e124a74bb7eec0efecceb3f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9ff82e7ee770495bbd33ae8238c82199.html" target="element"> Maanomistaja, haltija tai muu toimija </a> </td>
																		<td> <a href="../elements/id-cbaf0673446a4c11b538d860f2c4f759.html" target="element"> Kajoamisluvan my&#246;nt&#228;minen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d0b9f0583e9d439989c0c6eb834a8377.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d0b9f0583e9d439989c0c6eb834a8377.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fea21e52ed01494189994b538f6d6740.html" target="element"> Kunta tai maakunta </a> </td>
																		<td> <a href="../elements/id-babf88c9bdf043a7b5b67bfac1d0c3fc.html" target="element"> Kajoamisluvan lausunto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a94c07ba8d1e4192a27908e2d8485c56.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a94c07ba8d1e4192a27908e2d8485c56.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f724578cb7948c38b73b7e0d7f7aef4.html" target="element"> Saamelaisk&#228;r&#228;j&#228;t </a> </td>
																		<td> <a href="../elements/id-babf88c9bdf043a7b5b67bfac1d0c3fc.html" target="element"> Kajoamisluvan lausunto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-285f39bf07434fc8b1e942e0992482d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-285f39bf07434fc8b1e942e0992482d3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0c1685459244fe8827235d08a7d3757.html" target="element"> Kolttien kyl&#228;kokous </a> </td>
																		<td> <a href="../elements/id-babf88c9bdf043a7b5b67bfac1d0c3fc.html" target="element"> Kajoamisluvan lausunto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-82c846e519aa45ba92f8cbb3b3962ffc.html" target="element"> Arvio vaikutuksista </a> </td>
																		<td> <a href="../elements/id-82c846e519aa45ba92f8cbb3b3962ffc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62b9b5728f9440f5a31a5c04f2201e80.html" target="element"> Muu tarpeellinen taho </a> </td>
																		<td> <a href="../elements/id-babf88c9bdf043a7b5b67bfac1d0c3fc.html" target="element"> Kajoamisluvan lausunto </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6684659096df42a3ac70dadd6e92fcbe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6684659096df42a3ac70dadd6e92fcbe.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1875ca77462e491b963910162d829325.html" target="element"> Laki rakennusperinn&#246;n suojelemisesta </a> </td>
																		<td> <a href="../elements/id-b11d846edb1d4b72b06f67ad079ce7c6.html" target="element"> Turvata rakennetun kulttuuriymp&#228;rist&#246;n ajallinen ja alueellinen monimuotoisuus, vaalia sen ominaisluonnetta ja erityispiirteit&#228; sek&#228; edist&#228;&#228; sen kulttuurisesti kest&#228;v&#228;&#228; hoitoa ja k&#228;ytt&#246;&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a5c490791f9e47f88c12ad2cb6812bee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5c490791f9e47f88c12ad2cb6812bee.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1875ca77462e491b963910162d829325.html" target="element"> Laki rakennusperinn&#246;n suojelemisesta </a> </td>
																		<td> <a href="../elements/id-cfbecf47fe9648549474720cc0b0f840.html" target="element"> Rakennusperinn&#246;n suojelu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6c1ac2299ade48b789eef61f116e60ca.html" target="element"> Kehitt&#228;&#228; ja ohjaa </a> </td>
																		<td> <a href="../elements/id-6c1ac2299ade48b789eef61f116e60ca.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f3ef225692894d079d9f4dcc856357e9.html" target="element"> Ymp&#228;rist&#246;ministeri&#246; </a> </td>
																		<td> <a href="../elements/id-cfbecf47fe9648549474720cc0b0f840.html" target="element"> Rakennusperinn&#246;n suojelu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-61165e54146b43279da21a765c3d1fc0.html" target="element"> P&#228;&#228;tt&#228;&#228; </a> </td>
																		<td> <a href="../elements/id-61165e54146b43279da21a765c3d1fc0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-768a9009094548dd89169fe3fc125e8b.html" target="element"> Elinkeino-, liikenne- ja ymp&#228;rist&#246;keskus </a> </td>
																		<td> <a href="../elements/id-cfbecf47fe9648549474720cc0b0f840.html" target="element"> Rakennusperinn&#246;n suojelu </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>