<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Laki yleisistä kirjastoista</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Laki yleisist&#228; kirjastoista</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c43c6c0cd01b4e778db48f34bfc92acd.png" alt="Laki yleisistä kirjastoista" usemap="#id-c43c6c0cd01b4e778db48f34bfc92acdmap"/>
			   <map name="id-c43c6c0cd01b4e778db48f34bfc92acdmap">
				  				<area shape="rect" coords="1570,802,1703,857" href="../elements/id-d925a8bda0cd46b0a8913546ca1f9108.html"  target="element">
				  				<area shape="rect" coords="1378,802,1559,857" href="../elements/id-ba46674a32df4337b4dadb0dbd3fae08.html"  target="element">
				  				<area shape="rect" coords="1198,802,1370,857" href="../elements/id-14847576b53f408ca4e4e2ca6ddd11ce.html"  target="element">
				  				<area shape="rect" coords="1054,802,1180,857" href="../elements/id-21b4ce4ff2774db987757fcc137c5c61.html"  target="element">

				  		<area shape="rect" coords="1042,754,1719,887" href="../elements/id-1df557be6796422b808456cdc68e5234.html"  target="element">
				  				<area shape="rect" coords="1258,412,1487,485" href="../elements/id-4f37faa62d334c8ca26f5ee595dc76cc.html"  target="element">
				  				<area shape="rect" coords="971,412,1235,485" href="../elements/id-e29d3567ff4743ed92e2b18763a4888c.html"  target="element">
				  				<area shape="rect" coords="971,496,1235,569" href="../elements/id-1852c8e87fe3442cbc68e790b7ed61b5.html"  target="element">
				  				<area shape="rect" coords="1258,496,1487,569" href="../elements/id-0a6ccc6a62de432084c928bb3927d39b.html"  target="element">

				  		<area shape="rect" coords="946,376,1499,605" href="../elements/id-ae975b74e04c487ba073c27639fd99e5.html"  target="element">
				  		<area shape="rect" coords="1522,376,1642,431" href="../elements/id-492c57fb0deb406493d1e586cf2d9b83.html"  target="element">
				  		<area shape="rect" coords="610,688,800,743" href="../elements/id-d8e34f3d52604026b63956879cc40486.html"  target="element">
				  				<area shape="rect" coords="369,532,766,581" href="../elements/id-16ce3a6cef274beb9c851571879e8528.html"  target="element">
				  				<area shape="rect" coords="261,319,502,374" href="../elements/id-4dd2b9b7477d4e3e83c8d7cadb0b79e5.html"  target="element">
				  				<area shape="rect" coords="261,448,502,503" href="../elements/id-7743dfe25c794624be9d0af3008b0309.html"  target="element">
				  				<area shape="rect" coords="554,319,879,374" href="../elements/id-4634e824f02b4291a3d2d236b6bea426.html"  target="element">
				  				<area shape="rect" coords="261,382,502,437" href="../elements/id-f0c8e3c0e9cb45e8915afd8dcf5b35f2.html"  target="element">
				  				<area shape="rect" coords="554,382,879,437" href="../elements/id-45fc2604c86347ec89dab96af508f7fa.html"  target="element">
				  				<area shape="rect" coords="549,448,879,503" href="../elements/id-d7b183c7d84346d09074358e5974f52d.html"  target="element">

				  		<area shape="rect" coords="189,292,922,605" href="../elements/id-ff4f002a4b9148879f236d8aabef74c6.html"  target="element">
				  				<area shape="rect" coords="1150,106,1451,161" href="../elements/id-5b9fe9de9ce14ceb9dd031089274cd16.html"  target="element">
				  				<area shape="rect" coords="1006,178,1307,233" href="../elements/id-35cc3a9300e64c26ba505b1f5c5eb7e8.html"  target="element">
				  				<area shape="rect" coords="838,112,1139,167" href="../elements/id-8162634d8364466eb6ef473cb39be995.html"  target="element">
				  				<area shape="rect" coords="1150,43,1451,92" href="../elements/id-b62b1cdfeaff4b92acce44b27923cd36.html"  target="element">
				  				<area shape="rect" coords="838,40,1139,95" href="../elements/id-1102ad0ac03a45dc85c0527d6037108a.html"  target="element">

				  		<area shape="rect" coords="814,10,1499,245" href="../elements/id-4c892d4e804349e6bf24364ff18b7129.html"  target="element">
				  		<area shape="rect" coords="10,292,167,347" href="../elements/id-9daed9f7e0f1427d92b0fa3aa5c739f4.html"  target="element">
				  		<area shape="rect" coords="70,700,190,755" href="../elements/id-38a6831c795c45c8b02e1b4ef18f2738.html"  target="element">
				  		<area shape="rect" coords="1150,676,1326,731" href="../elements/id-b64d3e0bbfdb47579b3d2bf6ad7b7213.html"  target="element">
				  		<area shape="rect" coords="334,688,454,743" href="../elements/id-ca75a492fca14af3ab5dc3edf051738f.html"  target="element">
				  		<area shape="rect" coords="682,10,802,65" href="../elements/id-35da4d0e25f648f3b65cd61386e48dd0.html"  target="element">
				  		<area shape="rect" coords="526,10,665,65" href="../elements/id-f55f012668b44beea7482babb4959e6a.html"  target="element">
				  		<area shape="rect" coords="370,10,503,65" href="../elements/id-c7a432e4c8c04347968a1bb3259706e4.html"  target="element">
				  		<area shape="rect" coords="202,10,346,65" href="../elements/id-7ac5919d027045d7b540e2c0cbfeea5d.html"  target="element">
				  		<area shape="rect" coords="370,154,601,200" href="../elements/id-c5eea1edaa284003ae319d136d216b4c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c5eea1edaa284003ae319d136d216b4c.html" target="element"> Laki yleisist&#228; kirjastoista </a> </td>
											    <td> <a href="../elements/id-c5eea1edaa284003ae319d136d216b4c.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7ac5919d027045d7b540e2c0cbfeea5d.html" target="element"> Yhdenvertaisuus </a> </td>
											    <td> <a href="../elements/id-7ac5919d027045d7b540e2c0cbfeea5d.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c7a432e4c8c04347968a1bb3259706e4.html" target="element"> Yhteis&#246;llisyys </a> </td>
											    <td> <a href="../elements/id-c7a432e4c8c04347968a1bb3259706e4.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f55f012668b44beea7482babb4959e6a.html" target="element"> Moniarvoisuus </a> </td>
											    <td> <a href="../elements/id-f55f012668b44beea7482babb4959e6a.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-35da4d0e25f648f3b65cd61386e48dd0.html" target="element"> Moninaisuus </a> </td>
											    <td> <a href="../elements/id-35da4d0e25f648f3b65cd61386e48dd0.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ca75a492fca14af3ab5dc3edf051738f.html" target="element"> Yleinen kirjasto </a> </td>
											    <td> <a href="../elements/id-ca75a492fca14af3ab5dc3edf051738f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b64d3e0bbfdb47579b3d2bf6ad7b7213.html" target="element"> Aluehallintovirasto </a> </td>
											    <td> <a href="../elements/id-b64d3e0bbfdb47579b3d2bf6ad7b7213.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38a6831c795c45c8b02e1b4ef18f2738.html" target="element"> Kunta </a> </td>
											    <td> <a href="../elements/id-38a6831c795c45c8b02e1b4ef18f2738.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9daed9f7e0f1427d92b0fa3aa5c739f4.html" target="element"> Yleisen kirjaston toiminnan j&#228;rjest&#228;minen </a> </td>
											    <td> <a href="../elements/id-9daed9f7e0f1427d92b0fa3aa5c739f4.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c892d4e804349e6bf24364ff18b7129.html" target="element"> Yhteiset tavoitteet </a> </td>
											    <td> <a href="../elements/id-4c892d4e804349e6bf24364ff18b7129.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1102ad0ac03a45dc85c0527d6037108a.html" target="element"> Edist&#228;&#228; mahdollisuuksia elinik&#228;iseen oppimiseen ja osaamisen kehitt&#228;miseen </a> </td>
													    <td> <a href="../elements/id-1102ad0ac03a45dc85c0527d6037108a.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b62b1cdfeaff4b92acce44b27923cd36.html" target="element"> Edist&#228;&#228; aktiivista kansalaisuutta, demokratiaa ja sananvapautta </a> </td>
													    <td> <a href="../elements/id-b62b1cdfeaff4b92acce44b27923cd36.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8162634d8364466eb6ef473cb39be995.html" target="element"> Edist&#228;&#228; lukemiskulttuuria ja monipuolista lukutaitoa </a> </td>
													    <td> <a href="../elements/id-8162634d8364466eb6ef473cb39be995.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-35cc3a9300e64c26ba505b1f5c5eb7e8.html" target="element"> Edist&#228;&#228; v&#228;est&#246;n yhdenvertaisia mahdollisuuksia sivistykseen ja kulttuuriin </a> </td>
													    <td> <a href="../elements/id-35cc3a9300e64c26ba505b1f5c5eb7e8.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5b9fe9de9ce14ceb9dd031089274cd16.html" target="element"> Edist&#228;&#228; tiedon saatavuutta ja k&#228;ytt&#246;&#228; </a> </td>
													    <td> <a href="../elements/id-5b9fe9de9ce14ceb9dd031089274cd16.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ff4f002a4b9148879f236d8aabef74c6.html" target="element"> Yleisen kirjaston teht&#228;v&#228;t </a> </td>
											    <td> <a href="../elements/id-ff4f002a4b9148879f236d8aabef74c6.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d7b183c7d84346d09074358e5974f52d.html" target="element"> Tarjota tietopalvelua, ohjausta ja tukea tiedon hankintaan ja k&#228;ytt&#246;&#246;n sek&#228; monipuoliseen lukutaitoon </a> </td>
													    <td> <a href="../elements/id-d7b183c7d84346d09074358e5974f52d.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-45fc2604c86347ec89dab96af508f7fa.html" target="element"> Tarjota tiloja oppimiseen, harrastamiseen, ty&#246;skentelyyn ja kansalaistoimintaan </a> </td>
													    <td> <a href="../elements/id-45fc2604c86347ec89dab96af508f7fa.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f0c8e3c0e9cb45e8915afd8dcf5b35f2.html" target="element"> Yll&#228;pit&#228;&#228; monipuolista ja uudistuvaa kokoelmaa </a> </td>
													    <td> <a href="../elements/id-f0c8e3c0e9cb45e8915afd8dcf5b35f2.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4634e824f02b4291a3d2d236b6bea426.html" target="element"> Tarjota p&#228;&#228;sy aineistoihin, tietoon ja kulttuurisis&#228;lt&#246;ihin </a> </td>
													    <td> <a href="../elements/id-4634e824f02b4291a3d2d236b6bea426.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7743dfe25c794624be9d0af3008b0309.html" target="element"> Edist&#228;&#228; yhteiskunnallista ja kulttuurista vuoropuhelua </a> </td>
													    <td> <a href="../elements/id-7743dfe25c794624be9d0af3008b0309.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4dd2b9b7477d4e3e83c8d7cadb0b79e5.html" target="element"> Edist&#228;&#228; lukemista ja kirjallisuutta </a> </td>
													    <td> <a href="../elements/id-4dd2b9b7477d4e3e83c8d7cadb0b79e5.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-16ce3a6cef274beb9c851571879e8528.html" target="element"> Kunnan suostumuksella erityisteht&#228;vien, valtakunnallisten tai alueellisten kehitt&#228;misteht&#228;vien toteuttaminen </a> </td>
													    <td> <a href="../elements/id-16ce3a6cef274beb9c851571879e8528.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d8e34f3d52604026b63956879cc40486.html" target="element"> Opetus- ja kulttuuriministeri&#246; </a> </td>
											    <td> <a href="../elements/id-d8e34f3d52604026b63956879cc40486.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-492c57fb0deb406493d1e586cf2d9b83.html" target="element"> Yhteisty&#246; </a> </td>
											    <td> <a href="../elements/id-492c57fb0deb406493d1e586cf2d9b83.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ae975b74e04c487ba073c27639fd99e5.html" target="element"> Valtion viranomaisen teht&#228;v&#228;t </a> </td>
											    <td> <a href="../elements/id-ae975b74e04c487ba073c27639fd99e5.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0a6ccc6a62de432084c928bb3927d39b.html" target="element"> Suorittaa opetus- ja kulttuuriministeri&#246;n antamat muut teht&#228;v&#228;t </a> </td>
													    <td> <a href="../elements/id-0a6ccc6a62de432084c928bb3927d39b.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1852c8e87fe3442cbc68e790b7ed61b5.html" target="element"> Edist&#228;&#228; yleisten kirjastojen paikallisia, alueellisia, valtakunnallisia ja kansainv&#228;lisi&#228; kehitt&#228;mishankkeita </a> </td>
													    <td> <a href="../elements/id-1852c8e87fe3442cbc68e790b7ed61b5.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e29d3567ff4743ed92e2b18763a4888c.html" target="element"> Edist&#228;&#228; toimialueellaan yleisi&#228; kirjastoja koskevien valtakunnallisten kirjastopoliittisten tavoitteiden toteutumista </a> </td>
													    <td> <a href="../elements/id-e29d3567ff4743ed92e2b18763a4888c.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4f37faa62d334c8ca26f5ee595dc76cc.html" target="element"> Seurata ja arvioida toimialueensa yleisten kirjastojen toimintaa </a> </td>
													    <td> <a href="../elements/id-4f37faa62d334c8ca26f5ee595dc76cc.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1df557be6796422b808456cdc68e5234.html" target="element"> Yhteisty&#246;taho </a> </td>
											    <td> <a href="../elements/id-1df557be6796422b808456cdc68e5234.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-21b4ce4ff2774db987757fcc137c5c61.html" target="element"> Varastokirjasto </a> </td>
													    <td> <a href="../elements/id-21b4ce4ff2774db987757fcc137c5c61.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-14847576b53f408ca4e4e2ca6ddd11ce.html" target="element"> Saavutettavuuskirjasto </a> </td>
													    <td> <a href="../elements/id-14847576b53f408ca4e4e2ca6ddd11ce.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ba46674a32df4337b4dadb0dbd3fae08.html" target="element"> Korkeakoulu, oppilaitos tai erikoiskirjasto </a> </td>
													    <td> <a href="../elements/id-ba46674a32df4337b4dadb0dbd3fae08.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d925a8bda0cd46b0a8913546ca1f9108.html" target="element"> Kansalliskirjasto </a> </td>
													    <td> <a href="../elements/id-d925a8bda0cd46b0a8913546ca1f9108.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-80f42356d307439f88ab0957c60ab857.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80f42356d307439f88ab0957c60ab857.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5eea1edaa284003ae319d136d216b4c.html" target="element"> Laki yleisist&#228; kirjastoista </a> </td>
																		<td> <a href="../elements/id-7ac5919d027045d7b540e2c0cbfeea5d.html" target="element"> Yhdenvertaisuus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6e2731f8715a4eecbc271602e1c035c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e2731f8715a4eecbc271602e1c035c9.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5eea1edaa284003ae319d136d216b4c.html" target="element"> Laki yleisist&#228; kirjastoista </a> </td>
																		<td> <a href="../elements/id-c7a432e4c8c04347968a1bb3259706e4.html" target="element"> Yhteis&#246;llisyys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fc2f3548fa8a4bd1abdf884bc37ff20f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc2f3548fa8a4bd1abdf884bc37ff20f.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5eea1edaa284003ae319d136d216b4c.html" target="element"> Laki yleisist&#228; kirjastoista </a> </td>
																		<td> <a href="../elements/id-f55f012668b44beea7482babb4959e6a.html" target="element"> Moniarvoisuus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1faf857f84714084b160702f47811e01.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1faf857f84714084b160702f47811e01.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5eea1edaa284003ae319d136d216b4c.html" target="element"> Laki yleisist&#228; kirjastoista </a> </td>
																		<td> <a href="../elements/id-35da4d0e25f648f3b65cd61386e48dd0.html" target="element"> Moninaisuus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ce12989fd3304ed4a4c60f78acac6f1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce12989fd3304ed4a4c60f78acac6f1d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5eea1edaa284003ae319d136d216b4c.html" target="element"> Laki yleisist&#228; kirjastoista </a> </td>
																		<td> <a href="../elements/id-9daed9f7e0f1427d92b0fa3aa5c739f4.html" target="element"> Yleisen kirjaston toiminnan j&#228;rjest&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8963c4aa9dbc4e568017ac67784bd7a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8963c4aa9dbc4e568017ac67784bd7a3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5eea1edaa284003ae319d136d216b4c.html" target="element"> Laki yleisist&#228; kirjastoista </a> </td>
																		<td> <a href="../elements/id-ff4f002a4b9148879f236d8aabef74c6.html" target="element"> Yleisen kirjaston teht&#228;v&#228;t </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fe0cd8b28c8948f5be066429223d1085.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe0cd8b28c8948f5be066429223d1085.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5eea1edaa284003ae319d136d216b4c.html" target="element"> Laki yleisist&#228; kirjastoista </a> </td>
																		<td> <a href="../elements/id-4c892d4e804349e6bf24364ff18b7129.html" target="element"> Yhteiset tavoitteet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c69a24b728f4bd8a9b5fb3898755f2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c69a24b728f4bd8a9b5fb3898755f2c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5eea1edaa284003ae319d136d216b4c.html" target="element"> Laki yleisist&#228; kirjastoista </a> </td>
																		<td> <a href="../elements/id-ae975b74e04c487ba073c27639fd99e5.html" target="element"> Valtion viranomaisen teht&#228;v&#228;t </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ccfc6e3ea969493e8b0ba618ccd885c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ccfc6e3ea969493e8b0ba618ccd885c0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c5eea1edaa284003ae319d136d216b4c.html" target="element"> Laki yleisist&#228; kirjastoista </a> </td>
																		<td> <a href="../elements/id-492c57fb0deb406493d1e586cf2d9b83.html" target="element"> Yhteisty&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-977beee9ab424fddbf4c1d35b1a29ca1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-977beee9ab424fddbf4c1d35b1a29ca1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ca75a492fca14af3ab5dc3edf051738f.html" target="element"> Yleinen kirjasto </a> </td>
																		<td> <a href="../elements/id-ff4f002a4b9148879f236d8aabef74c6.html" target="element"> Yleisen kirjaston teht&#228;v&#228;t </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-55e071d2fc834633973d48692db52e67.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55e071d2fc834633973d48692db52e67.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b64d3e0bbfdb47579b3d2bf6ad7b7213.html" target="element"> Aluehallintovirasto </a> </td>
																		<td> <a href="../elements/id-ae975b74e04c487ba073c27639fd99e5.html" target="element"> Valtion viranomaisen teht&#228;v&#228;t </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c48895c566b34a30af592d2383e28630.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c48895c566b34a30af592d2383e28630.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38a6831c795c45c8b02e1b4ef18f2738.html" target="element"> Kunta </a> </td>
																		<td> <a href="../elements/id-9daed9f7e0f1427d92b0fa3aa5c739f4.html" target="element"> Yleisen kirjaston toiminnan j&#228;rjest&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5677d76699b948998488783cc73fb542.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5677d76699b948998488783cc73fb542.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38a6831c795c45c8b02e1b4ef18f2738.html" target="element"> Kunta </a> </td>
																		<td> <a href="../elements/id-16ce3a6cef274beb9c851571879e8528.html" target="element"> Kunnan suostumuksella erityisteht&#228;vien, valtakunnallisten tai alueellisten kehitt&#228;misteht&#228;vien toteuttaminen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-297650d8fc48442aa26c8dbba8d7c105.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-297650d8fc48442aa26c8dbba8d7c105.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c892d4e804349e6bf24364ff18b7129.html" target="element"> Yhteiset tavoitteet </a> </td>
																		<td> <a href="../elements/id-1102ad0ac03a45dc85c0527d6037108a.html" target="element"> Edist&#228;&#228; mahdollisuuksia elinik&#228;iseen oppimiseen ja osaamisen kehitt&#228;miseen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9063c9c2590c4f56a921a4a9681aee3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9063c9c2590c4f56a921a4a9681aee3a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c892d4e804349e6bf24364ff18b7129.html" target="element"> Yhteiset tavoitteet </a> </td>
																		<td> <a href="../elements/id-b62b1cdfeaff4b92acce44b27923cd36.html" target="element"> Edist&#228;&#228; aktiivista kansalaisuutta, demokratiaa ja sananvapautta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7d63d0a505e5445595b16d808f7c0604.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d63d0a505e5445595b16d808f7c0604.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c892d4e804349e6bf24364ff18b7129.html" target="element"> Yhteiset tavoitteet </a> </td>
																		<td> <a href="../elements/id-8162634d8364466eb6ef473cb39be995.html" target="element"> Edist&#228;&#228; lukemiskulttuuria ja monipuolista lukutaitoa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c87bff5846ce48108a1416e0d1025e6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c87bff5846ce48108a1416e0d1025e6a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c892d4e804349e6bf24364ff18b7129.html" target="element"> Yhteiset tavoitteet </a> </td>
																		<td> <a href="../elements/id-35cc3a9300e64c26ba505b1f5c5eb7e8.html" target="element"> Edist&#228;&#228; v&#228;est&#246;n yhdenvertaisia mahdollisuuksia sivistykseen ja kulttuuriin </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6dcd84f1218447c5b22764c5e00b76e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6dcd84f1218447c5b22764c5e00b76e2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c892d4e804349e6bf24364ff18b7129.html" target="element"> Yhteiset tavoitteet </a> </td>
																		<td> <a href="../elements/id-5b9fe9de9ce14ceb9dd031089274cd16.html" target="element"> Edist&#228;&#228; tiedon saatavuutta ja k&#228;ytt&#246;&#228; </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d145db0452a34f23bac684963d12b8ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d145db0452a34f23bac684963d12b8ef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff4f002a4b9148879f236d8aabef74c6.html" target="element"> Yleisen kirjaston teht&#228;v&#228;t </a> </td>
																		<td> <a href="../elements/id-d7b183c7d84346d09074358e5974f52d.html" target="element"> Tarjota tietopalvelua, ohjausta ja tukea tiedon hankintaan ja k&#228;ytt&#246;&#246;n sek&#228; monipuoliseen lukutaitoon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-16f72bf126a84048898fdaf3ada6f522.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-16f72bf126a84048898fdaf3ada6f522.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff4f002a4b9148879f236d8aabef74c6.html" target="element"> Yleisen kirjaston teht&#228;v&#228;t </a> </td>
																		<td> <a href="../elements/id-45fc2604c86347ec89dab96af508f7fa.html" target="element"> Tarjota tiloja oppimiseen, harrastamiseen, ty&#246;skentelyyn ja kansalaistoimintaan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b22092ad2ab64bfb8e5decc8e755b9af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b22092ad2ab64bfb8e5decc8e755b9af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff4f002a4b9148879f236d8aabef74c6.html" target="element"> Yleisen kirjaston teht&#228;v&#228;t </a> </td>
																		<td> <a href="../elements/id-f0c8e3c0e9cb45e8915afd8dcf5b35f2.html" target="element"> Yll&#228;pit&#228;&#228; monipuolista ja uudistuvaa kokoelmaa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-47231b8a374d49fb9abf7c4a63c2c69a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47231b8a374d49fb9abf7c4a63c2c69a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff4f002a4b9148879f236d8aabef74c6.html" target="element"> Yleisen kirjaston teht&#228;v&#228;t </a> </td>
																		<td> <a href="../elements/id-4634e824f02b4291a3d2d236b6bea426.html" target="element"> Tarjota p&#228;&#228;sy aineistoihin, tietoon ja kulttuurisis&#228;lt&#246;ihin </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cfb42d3a8ac74376bbc3502d36fd1c4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfb42d3a8ac74376bbc3502d36fd1c4e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff4f002a4b9148879f236d8aabef74c6.html" target="element"> Yleisen kirjaston teht&#228;v&#228;t </a> </td>
																		<td> <a href="../elements/id-7743dfe25c794624be9d0af3008b0309.html" target="element"> Edist&#228;&#228; yhteiskunnallista ja kulttuurista vuoropuhelua </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-704af7508118405aafda709141e39faa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-704af7508118405aafda709141e39faa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff4f002a4b9148879f236d8aabef74c6.html" target="element"> Yleisen kirjaston teht&#228;v&#228;t </a> </td>
																		<td> <a href="../elements/id-4dd2b9b7477d4e3e83c8d7cadb0b79e5.html" target="element"> Edist&#228;&#228; lukemista ja kirjallisuutta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-34b0173621ba4aec8a1a0af09ea89971.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-34b0173621ba4aec8a1a0af09ea89971.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff4f002a4b9148879f236d8aabef74c6.html" target="element"> Yleisen kirjaston teht&#228;v&#228;t </a> </td>
																		<td> <a href="../elements/id-16ce3a6cef274beb9c851571879e8528.html" target="element"> Kunnan suostumuksella erityisteht&#228;vien, valtakunnallisten tai alueellisten kehitt&#228;misteht&#228;vien toteuttaminen </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-97edc777281d4c1bbf9ee8617e492a2d.html" target="element"> Ohjaa </a> </td>
																		<td> <a href="../elements/id-97edc777281d4c1bbf9ee8617e492a2d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d8e34f3d52604026b63956879cc40486.html" target="element"> Opetus- ja kulttuuriministeri&#246; </a> </td>
																		<td> <a href="../elements/id-16ce3a6cef274beb9c851571879e8528.html" target="element"> Kunnan suostumuksella erityisteht&#228;vien, valtakunnallisten tai alueellisten kehitt&#228;misteht&#228;vien toteuttaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c9c365ae5ba74aafaa1269583fb32a3f.html" target="element"> Ohjaa </a> </td>
																		<td> <a href="../elements/id-c9c365ae5ba74aafaa1269583fb32a3f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d8e34f3d52604026b63956879cc40486.html" target="element"> Opetus- ja kulttuuriministeri&#246; </a> </td>
																		<td> <a href="../elements/id-ae975b74e04c487ba073c27639fd99e5.html" target="element"> Valtion viranomaisen teht&#228;v&#228;t </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2082a94e1e6249e4b45410a3a4f091bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2082a94e1e6249e4b45410a3a4f091bb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae975b74e04c487ba073c27639fd99e5.html" target="element"> Valtion viranomaisen teht&#228;v&#228;t </a> </td>
																		<td> <a href="../elements/id-0a6ccc6a62de432084c928bb3927d39b.html" target="element"> Suorittaa opetus- ja kulttuuriministeri&#246;n antamat muut teht&#228;v&#228;t </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a43d4dd14f3e44269c307700a5ab86be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a43d4dd14f3e44269c307700a5ab86be.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae975b74e04c487ba073c27639fd99e5.html" target="element"> Valtion viranomaisen teht&#228;v&#228;t </a> </td>
																		<td> <a href="../elements/id-1852c8e87fe3442cbc68e790b7ed61b5.html" target="element"> Edist&#228;&#228; yleisten kirjastojen paikallisia, alueellisia, valtakunnallisia ja kansainv&#228;lisi&#228; kehitt&#228;mishankkeita </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d5c43a7449b4ff9ba8ab903eff2f2c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d5c43a7449b4ff9ba8ab903eff2f2c9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae975b74e04c487ba073c27639fd99e5.html" target="element"> Valtion viranomaisen teht&#228;v&#228;t </a> </td>
																		<td> <a href="../elements/id-e29d3567ff4743ed92e2b18763a4888c.html" target="element"> Edist&#228;&#228; toimialueellaan yleisi&#228; kirjastoja koskevien valtakunnallisten kirjastopoliittisten tavoitteiden toteutumista </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7c8e7af6177b4663b0898e953e9f3586.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c8e7af6177b4663b0898e953e9f3586.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ae975b74e04c487ba073c27639fd99e5.html" target="element"> Valtion viranomaisen teht&#228;v&#228;t </a> </td>
																		<td> <a href="../elements/id-4f37faa62d334c8ca26f5ee595dc76cc.html" target="element"> Seurata ja arvioida toimialueensa yleisten kirjastojen toimintaa </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cb09dc82fbfd41bfb2bd837181218707.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb09dc82fbfd41bfb2bd837181218707.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1df557be6796422b808456cdc68e5234.html" target="element"> Yhteisty&#246;taho </a> </td>
																		<td> <a href="../elements/id-21b4ce4ff2774db987757fcc137c5c61.html" target="element"> Varastokirjasto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0529dd9698f848dfb85bd431e2e31457.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0529dd9698f848dfb85bd431e2e31457.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1df557be6796422b808456cdc68e5234.html" target="element"> Yhteisty&#246;taho </a> </td>
																		<td> <a href="../elements/id-14847576b53f408ca4e4e2ca6ddd11ce.html" target="element"> Saavutettavuuskirjasto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e1baa4c35d44e46b0970822a607cb03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e1baa4c35d44e46b0970822a607cb03.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1df557be6796422b808456cdc68e5234.html" target="element"> Yhteisty&#246;taho </a> </td>
																		<td> <a href="../elements/id-ba46674a32df4337b4dadb0dbd3fae08.html" target="element"> Korkeakoulu, oppilaitos tai erikoiskirjasto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-62f6775a336148f982ce884f8663c4b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62f6775a336148f982ce884f8663c4b6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1df557be6796422b808456cdc68e5234.html" target="element"> Yhteisty&#246;taho </a> </td>
																		<td> <a href="../elements/id-d925a8bda0cd46b0a8913546ca1f9108.html" target="element"> Kansalliskirjasto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed0b7b7b1d4047ec8b4253c1ecc3a13d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed0b7b7b1d4047ec8b4253c1ecc3a13d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1df557be6796422b808456cdc68e5234.html" target="element"> Yhteisty&#246;taho </a> </td>
																		<td> <a href="../elements/id-492c57fb0deb406493d1e586cf2d9b83.html" target="element"> Yhteisty&#246; </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>