<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Tietovirrat yleiskuva</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Tietovirrat yleiskuva</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-cb87916fd3a64539bf0475bd9793e60a.png" alt="Tietovirrat yleiskuva" usemap="#id-cb87916fd3a64539bf0475bd9793e60amap"/>
			   <map name="id-cb87916fd3a64539bf0475bd9793e60amap">
				  				<area shape="rect" coords="190,512,239,567" href="../elements/id-f37387a19b19491280c39bd8b434bc8f.html"  target="element">
				  				<area shape="rect" coords="34,500,83,555" href="../elements/id-97929f0f36df4b089b71adbf7954204c.html"  target="element">
				  				<area shape="rect" coords="34,488,83,525" href="../elements/id-5bfeb1f4edac4fd0922bd221073d9f48.html"  target="element">
				  				<area shape="rect" coords="34,464,83,501" href="../elements/id-7d5974904d3b438d8ff342693624557d.html"  target="element">
				  				<area shape="rect" coords="190,488,239,525" href="../elements/id-30c9a44cdda643688f07880ddc5e8448.html"  target="element">
				  				<area shape="rect" coords="190,464,239,501" href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html"  target="element">

				  		<area shape="rect" coords="22,440,251,573" href="../elements/id-7d177a4836c346638807f93e43306ac7.html"  target="element">
				  				<area shape="rect" coords="46,251,191,306" href="../elements/id-e9e6f3d7229748c1832024f2aecbf64f.html"  target="element">

				  		<area shape="rect" coords="10,218,215,324" href="../elements/id-541ef70c679648679c4711b061f72165.html"  target="element">
				  		<area shape="rect" coords="466,164,599,219" href="../elements/id-0a8c49618fa34ee88937e83f6e1b877e.html"  target="element">
				  		<area shape="rect" coords="598,68,803,123" href="../elements/id-2a6271d70b8c4a3fb26d95f788c464a3.html"  target="element">
				  				<area shape="rect" coords="310,380,526,429" href="../elements/id-bc57eb15e02d4482b861eb1e8ab9d729.html"  target="element">
				  				<area shape="rect" coords="310,500,526,549" href="../elements/id-01ad0efbae30480d99ffbe3132341c4a.html"  target="element">
				  				<area shape="rect" coords="310,440,526,489" href="../elements/id-7eb6d991ec1542d8afdaa2274a81f378.html"  target="element">
				  		        <area shape="rect" coords="430,332,538,573" href="../objects/id-0c5aa85dcf1f43e69fd234fe6f843f8a.html" target="element" >
				  		        <area shape="rect" coords="298,332,406,573" href="../objects/id-0411d439db794d948fe3a0fd5186d8c2.html" target="element" >

				  		<area shape="rect" coords="274,296,563,585" href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html"  target="element">
				  		<area shape="rect" coords="34,374,179,429" href="../elements/id-ac9ff869d2f04465a09fcefb9d552a00.html"  target="element">
				  				<area shape="rect" coords="34,116,189,171" href="../elements/id-2349863ebf2d4b3f8a557ee2c2d03a5f.html"  target="element">

				  		<area shape="rect" coords="10,68,215,201" href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html"  target="element">
				  		<area shape="rect" coords="310,68,492,123" href="../elements/id-3b1d8462aae64da6971882889ffdeb96.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3b1d8462aae64da6971882889ffdeb96.html" target="element"> Kansallinen k&#228;ytt&#246;&#246;nsaattopalvelu (Finna) </a> </td>
											    <td> <a href="../elements/id-3b1d8462aae64da6971882889ffdeb96.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element"> Kansalliset tukipalvelut </a> </td>
											    <td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2349863ebf2d4b3f8a557ee2c2d03a5f.html" target="element"> Ontologiapalvelut (Finto) </a> </td>
													    <td> <a href="../elements/id-2349863ebf2d4b3f8a557ee2c2d03a5f.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ac9ff869d2f04465a09fcefb9d552a00.html" target="element"> Muunnospalvelu (Formula) </a> </td>
											    <td> <a href="../elements/id-ac9ff869d2f04465a09fcefb9d552a00.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
											    <td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-0411d439db794d948fe3a0fd5186d8c2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0411d439db794d948fe3a0fd5186d8c2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-0c5aa85dcf1f43e69fd234fe6f843f8a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0c5aa85dcf1f43e69fd234fe6f843f8a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-7eb6d991ec1542d8afdaa2274a81f378.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
													    <td> <a href="../elements/id-7eb6d991ec1542d8afdaa2274a81f378.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01ad0efbae30480d99ffbe3132341c4a.html" target="element"> K&#228;ytt&#246;&#246;nsaatto </a> </td>
													    <td> <a href="../elements/id-01ad0efbae30480d99ffbe3132341c4a.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bc57eb15e02d4482b861eb1e8ab9d729.html" target="element"> Kartuttaminen </a> </td>
													    <td> <a href="../elements/id-bc57eb15e02d4482b861eb1e8ab9d729.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2a6271d70b8c4a3fb26d95f788c464a3.html" target="element"> Pitk&#228;aikaiss&#228;ilytys (Kulttuuriperint&#246;-PAS ) </a> </td>
											    <td> <a href="../elements/id-2a6271d70b8c4a3fb26d95f788c464a3.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0a8c49618fa34ee88937e83f6e1b877e.html" target="element"> Standardisalkku </a> </td>
											    <td> <a href="../elements/id-0a8c49618fa34ee88937e83f6e1b877e.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-541ef70c679648679c4711b061f72165.html" target="element"> Kansainv&#228;liset palvelut </a> </td>
											    <td> <a href="../elements/id-541ef70c679648679c4711b061f72165.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e9e6f3d7229748c1832024f2aecbf64f.html" target="element"> Europeana </a> </td>
													    <td> <a href="../elements/id-e9e6f3d7229748c1832024f2aecbf64f.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7d177a4836c346638807f93e43306ac7.html" target="element"> Notaatio </a> </td>
											    <td> <a href="../elements/id-7d177a4836c346638807f93e43306ac7.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-30c9a44cdda643688f07880ddc5e8448.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-30c9a44cdda643688f07880ddc5e8448.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5bfeb1f4edac4fd0922bd221073d9f48.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-5bfeb1f4edac4fd0922bd221073d9f48.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-97929f0f36df4b089b71adbf7954204c.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-97929f0f36df4b089b71adbf7954204c.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f37387a19b19491280c39bd8b434bc8f.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-f37387a19b19491280c39bd8b434bc8f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f54ad53270df40d0902f27fe0f5a7d28.html" target="element"> Tukee </a> </td>
																		<td> <a href="../elements/id-f54ad53270df40d0902f27fe0f5a7d28.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element"> Kansalliset tukipalvelut </a> </td>
																		<td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d7c087ff5c944228a9c08ce36131dc0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7c087ff5c944228a9c08ce36131dc0a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element"> Kansalliset tukipalvelut </a> </td>
																		<td> <a href="../elements/id-2349863ebf2d4b3f8a557ee2c2d03a5f.html" target="element"> Ontologiapalvelut (Finto) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-33f6c3d0b1c142c799729477212d70cf.html" target="element"> Tukee </a> </td>
																		<td> <a href="../elements/id-33f6c3d0b1c142c799729477212d70cf.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element"> Kansalliset tukipalvelut </a> </td>
																		<td> <a href="../elements/id-3b1d8462aae64da6971882889ffdeb96.html" target="element"> Kansallinen k&#228;ytt&#246;&#246;nsaattopalvelu (Finna) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-afb5bbff8b06421d9519da3b17bc02d2.html" target="element"> Metatiedot </a> </td>
																		<td> <a href="../elements/id-afb5bbff8b06421d9519da3b17bc02d2.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac9ff869d2f04465a09fcefb9d552a00.html" target="element"> Muunnospalvelu (Formula) </a> </td>
																		<td> <a href="../elements/id-541ef70c679648679c4711b061f72165.html" target="element"> Kansainv&#228;liset palvelut </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-96ce39a5c10848c2bb5492982624d204.html" target="element"> Tietopaketit </a> </td>
																		<td> <a href="../elements/id-96ce39a5c10848c2bb5492982624d204.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
																		<td> <a href="../elements/id-2a6271d70b8c4a3fb26d95f788c464a3.html" target="element"> Pitk&#228;aikaiss&#228;ilytys (Kulttuuriperint&#246;-PAS ) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e45db6b3a97c41118ea0ca35fda21713.html" target="element"> Metatiedot </a> </td>
																		<td> <a href="../elements/id-e45db6b3a97c41118ea0ca35fda21713.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
																		<td> <a href="../elements/id-ac9ff869d2f04465a09fcefb9d552a00.html" target="element"> Muunnospalvelu (Formula) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7cc6059090f3487e822e12b49195a155.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7cc6059090f3487e822e12b49195a155.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
																		<td> <a href="../elements/id-7eb6d991ec1542d8afdaa2274a81f378.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2641e4cc7bca4efcadef4be2607acdf6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2641e4cc7bca4efcadef4be2607acdf6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
																		<td> <a href="../elements/id-bc57eb15e02d4482b861eb1e8ab9d729.html" target="element"> Kartuttaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e7b7ee2ae7d4b8680d2ea0f8f42339a.html" target="element"> Metatiedot </a> </td>
																		<td> <a href="../elements/id-1e7b7ee2ae7d4b8680d2ea0f8f42339a.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
																		<td> <a href="../elements/id-3b1d8462aae64da6971882889ffdeb96.html" target="element"> Kansallinen k&#228;ytt&#246;&#246;nsaattopalvelu (Finna) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a462b40a23b14106a0fe9f6f13adebe7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a462b40a23b14106a0fe9f6f13adebe7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
																		<td> <a href="../elements/id-01ad0efbae30480d99ffbe3132341c4a.html" target="element"> K&#228;ytt&#246;&#246;nsaatto </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-7116653495834c96a9018879910208ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7116653495834c96a9018879910208ba.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a8c49618fa34ee88937e83f6e1b877e.html" target="element"> Standardisalkku </a> </td>
																		<td> <a href="../elements/id-2a6271d70b8c4a3fb26d95f788c464a3.html" target="element"> Pitk&#228;aikaiss&#228;ilytys (Kulttuuriperint&#246;-PAS ) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a0798ef624134a2a830f1cc9858de608.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0798ef624134a2a830f1cc9858de608.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a8c49618fa34ee88937e83f6e1b877e.html" target="element"> Standardisalkku </a> </td>
																		<td> <a href="../elements/id-3b1d8462aae64da6971882889ffdeb96.html" target="element"> Kansallinen k&#228;ytt&#246;&#246;nsaattopalvelu (Finna) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3feeb92958404a0db2acca66b6f7f7e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3feeb92958404a0db2acca66b6f7f7e9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a8c49618fa34ee88937e83f6e1b877e.html" target="element"> Standardisalkku </a> </td>
																		<td> <a href="../elements/id-fdb0812b7d4b433983f8ed1d1d2923ff.html" target="element"> Kulttuuriperint&#246;aineisto -palvelut </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4085849a13b34923920b9f810b6cd34f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4085849a13b34923920b9f810b6cd34f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a8c49618fa34ee88937e83f6e1b877e.html" target="element"> Standardisalkku </a> </td>
																		<td> <a href="../elements/id-4477a5f47b6d47b6935e2a21f33a69e1.html" target="element"> Kansalliset tukipalvelut </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7dfaf94b01de4fa793251fbc44ac70d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7dfaf94b01de4fa793251fbc44ac70d3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-541ef70c679648679c4711b061f72165.html" target="element"> Kansainv&#228;liset palvelut </a> </td>
																		<td> <a href="../elements/id-e9e6f3d7229748c1832024f2aecbf64f.html" target="element"> Europeana </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ed89736dc2584e66aee1a617d4b99979.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed89736dc2584e66aee1a617d4b99979.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d177a4836c346638807f93e43306ac7.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1f74446941c6466ca9fe47c3f4022fa4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f74446941c6466ca9fe47c3f4022fa4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d177a4836c346638807f93e43306ac7.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-30c9a44cdda643688f07880ddc5e8448.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ae3ec632f1f04670884c22e51517ef26.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae3ec632f1f04670884c22e51517ef26.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d177a4836c346638807f93e43306ac7.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-843f1c7dee9644479359eeb3814dd26b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-843f1c7dee9644479359eeb3814dd26b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d177a4836c346638807f93e43306ac7.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-5bfeb1f4edac4fd0922bd221073d9f48.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ff951ef02d244b188da5e53c6f4797cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff951ef02d244b188da5e53c6f4797cc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d177a4836c346638807f93e43306ac7.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-97929f0f36df4b089b71adbf7954204c.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-711b675dd5364ea6a15db4a1a524bb3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-711b675dd5364ea6a15db4a1a524bb3c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d177a4836c346638807f93e43306ac7.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-f37387a19b19491280c39bd8b434bc8f.html" target="element">  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f9e1e8c0455244b88981bfa7f87e531e.html" target="element"> palvelee </a> </td>
																				<td> <a href="../elements/id-f9e1e8c0455244b88981bfa7f87e531e.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-cf3bbf52237d4cfd8abd8785de808b08.html" target="element"> tietovirta </a> </td>
																				<td> <a href="../elements/id-cf3bbf52237d4cfd8abd8785de808b08.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5bfeb1f4edac4fd0922bd221073d9f48.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-30c9a44cdda643688f07880ddc5e8448.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ea44555b33c54cdba502914d5e24f138.html" target="element"> liittyy </a> </td>
																				<td> <a href="../elements/id-ea44555b33c54cdba502914d5e24f138.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-97929f0f36df4b089b71adbf7954204c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f37387a19b19491280c39bd8b434bc8f.html" target="element">  </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>