<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kulttuuriperintö ja FRBR</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kulttuuriperint&#246; ja FRBR</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d486fcf02c8b46118f1cb90fff8bcaeb.png" alt="Kulttuuriperintö ja FRBR" usemap="#id-d486fcf02c8b46118f1cb90fff8bcaebmap"/>
			   <map name="id-d486fcf02c8b46118f1cb90fff8bcaebmap">
				  				<area shape="rect" coords="255,46,375,101" href="../elements/id-824ebb7232864883a48a1124dfdb10d5.html"  target="element">
				  				<area shape="rect" coords="195,46,244,101" href="../elements/id-cb16c034b2f847ba95db1b3d5c2419c2.html"  target="element">
				  		        <area shape="rect" coords="91,166,181,191" href="../objects/id-68da61d19fe54ce9ba5e621737cf04e9.html" target="element" >
				  				<area shape="rect" coords="195,88,244,125" href="../elements/id-f7367535ef1b45b4a3353fba675eaa9d.html"  target="element">
				  				<area shape="rect" coords="22,130,82,185" href="../elements/id-4b6330594e064923bde7b75529ba3924.html"  target="element">
				  				<area shape="rect" coords="27,34,76,89" href="../elements/id-aa38323ec5c9475f905780c27c419990.html"  target="element">
				  				<area shape="rect" coords="199,130,272,185" href="../elements/id-7db31b95b44a40f19a80546ea1f6c91a.html"  target="element">
				  				<area shape="rect" coords="27,88,76,125" href="../elements/id-9222e83980924e1396059b5c4e5973c0.html"  target="element">

				  		<area shape="rect" coords="10,10,394,203" href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html"  target="element">
				  		<area shape="rect" coords="225,550,358,605" href="../elements/id-24c92a2099f54e779a7c8349d1366547.html"  target="element">
				  		<area shape="rect" coords="880,550,1025,605" href="../elements/id-bf4e6b06537746beb2551a8c5f3f5b11.html"  target="element">
				  		<area shape="rect" coords="448,550,568,605" href="../elements/id-4ea3887280c7460c88c9121fd4997e14.html"  target="element">
				  		<area shape="rect" coords="676,550,796,605" href="../elements/id-3ff1ad320f404e679ffadb6b42ab5779.html"  target="element">
				  		<area shape="rect" coords="880,394,1019,449" href="../elements/id-2ffde20de65c44db8da70297845636c6.html"  target="element">
				  		<area shape="rect" coords="988,286,1131,341" href="../elements/id-4f3368cdc9604dfea3d18a656b3912f5.html"  target="element">
				  		<area shape="rect" coords="676,394,796,449" href="../elements/id-0167a970bbb14efa87f5f89dba449523.html"  target="element">
				  		<area shape="rect" coords="448,394,568,449" href="../elements/id-bf4f9eeb95ba4490b446a73b8f338fca.html"  target="element">
				  		<area shape="rect" coords="880,178,1019,233" href="../elements/id-b72f78153321425ab4227d08a952ffa2.html"  target="element">
				  		<area shape="rect" coords="646,34,802,89" href="../elements/id-428bc5f348bb4139805ac2c40ba96acf.html"  target="element">
				  		<area shape="rect" coords="430,178,586,233" href="../elements/id-a51091597095485395a4c4b5ee5e0f7c.html"  target="element">
				  		<area shape="rect" coords="232,394,352,449" href="../elements/id-3423f39d37e645b19af428dfa543d0e9.html"  target="element">
				  		<area shape="rect" coords="136,514,1205,635" href="../elements/id-3cfafd3b8be44f37a948ead8e1d8e705.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3cfafd3b8be44f37a948ead8e1d8e705.html" target="element"> Esitt&#228;v&#228; taide esimerkki </a> </td>
											    <td> <a href="../elements/id-3cfafd3b8be44f37a948ead8e1d8e705.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3423f39d37e645b19af428dfa543d0e9.html" target="element"> Teos </a> </td>
											    <td> <a href="../elements/id-3423f39d37e645b19af428dfa543d0e9.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a51091597095485395a4c4b5ee5e0f7c.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-a51091597095485395a4c4b5ee5e0f7c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-428bc5f348bb4139805ac2c40ba96acf.html" target="element"> Kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-428bc5f348bb4139805ac2c40ba96acf.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b72f78153321425ab4227d08a952ffa2.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-b72f78153321425ab4227d08a952ffa2.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf4f9eeb95ba4490b446a73b8f338fca.html" target="element"> Ekspressio </a> </td>
											    <td> <a href="../elements/id-bf4f9eeb95ba4490b446a73b8f338fca.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0167a970bbb14efa87f5f89dba449523.html" target="element"> Manifestaatio </a> </td>
											    <td> <a href="../elements/id-0167a970bbb14efa87f5f89dba449523.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f3368cdc9604dfea3d18a656b3912f5.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-4f3368cdc9604dfea3d18a656b3912f5.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ffde20de65c44db8da70297845636c6.html" target="element"> Kappale </a> </td>
											    <td> <a href="../elements/id-2ffde20de65c44db8da70297845636c6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3ff1ad320f404e679ffadb6b42ab5779.html" target="element"> Esitys </a> </td>
											    <td> <a href="../elements/id-3ff1ad320f404e679ffadb6b42ab5779.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4ea3887280c7460c88c9121fd4997e14.html" target="element"> Koreografia </a> </td>
											    <td> <a href="../elements/id-4ea3887280c7460c88c9121fd4997e14.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf4e6b06537746beb2551a8c5f3f5b11.html" target="element"> Tallenne </a> </td>
											    <td> <a href="../elements/id-bf4e6b06537746beb2551a8c5f3f5b11.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-24c92a2099f54e779a7c8349d1366547.html" target="element"> Tanssiteos </a> </td>
											    <td> <a href="../elements/id-24c92a2099f54e779a7c8349d1366547.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
											    <td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9222e83980924e1396059b5c4e5973c0.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-9222e83980924e1396059b5c4e5973c0.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7db31b95b44a40f19a80546ea1f6c91a.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-7db31b95b44a40f19a80546ea1f6c91a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aa38323ec5c9475f905780c27c419990.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-aa38323ec5c9475f905780c27c419990.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4b6330594e064923bde7b75529ba3924.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-4b6330594e064923bde7b75529ba3924.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f7367535ef1b45b4a3353fba675eaa9d.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-f7367535ef1b45b4a3353fba675eaa9d.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-68da61d19fe54ce9ba5e621737cf04e9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-68da61d19fe54ce9ba5e621737cf04e9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-cb16c034b2f847ba95db1b3d5c2419c2.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-cb16c034b2f847ba95db1b3d5c2419c2.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-824ebb7232864883a48a1124dfdb10d5.html" target="element"> Objekti </a> </td>
													    <td> <a href="../elements/id-824ebb7232864883a48a1124dfdb10d5.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4c61229ba108420da41d96b281bd4e0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c61229ba108420da41d96b281bd4e0b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a51091597095485395a4c4b5ee5e0f7c.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-3423f39d37e645b19af428dfa543d0e9.html" target="element"> Teos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-be7b72e947ec4da7a932f08f7f14f9ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be7b72e947ec4da7a932f08f7f14f9ed.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a51091597095485395a4c4b5ee5e0f7c.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-bf4f9eeb95ba4490b446a73b8f338fca.html" target="element"> Ekspressio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac3c62f1cbca4fce9881627c3bd4d84c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac3c62f1cbca4fce9881627c3bd4d84c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a51091597095485395a4c4b5ee5e0f7c.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-0167a970bbb14efa87f5f89dba449523.html" target="element"> Manifestaatio </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cfb8ddf408a34882a58ba91995371c80.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfb8ddf408a34882a58ba91995371c80.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-428bc5f348bb4139805ac2c40ba96acf.html" target="element"> Kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-a51091597095485395a4c4b5ee5e0f7c.html" target="element"> Aineeton kulttuuriperint&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6834d445363549c29a21801ea56bb3a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6834d445363549c29a21801ea56bb3a2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-428bc5f348bb4139805ac2c40ba96acf.html" target="element"> Kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-b72f78153321425ab4227d08a952ffa2.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f2e2c14fb02f44c2a9be9c541ff608bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2e2c14fb02f44c2a9be9c541ff608bd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b72f78153321425ab4227d08a952ffa2.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-2ffde20de65c44db8da70297845636c6.html" target="element"> Kappale </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-15b5150c34154d8bbf28820254c6bb9c.html" target="element"> realisoi </a> </td>
																		<td> <a href="../elements/id-15b5150c34154d8bbf28820254c6bb9c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf4f9eeb95ba4490b446a73b8f338fca.html" target="element"> Ekspressio </a> </td>
																		<td> <a href="../elements/id-3423f39d37e645b19af428dfa543d0e9.html" target="element"> Teos </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8353997545dd4a5bbd743f2da74a1c9d.html" target="element"> ilment&#228;&#228; </a> </td>
																		<td> <a href="../elements/id-8353997545dd4a5bbd743f2da74a1c9d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0167a970bbb14efa87f5f89dba449523.html" target="element"> Manifestaatio </a> </td>
																		<td> <a href="../elements/id-bf4f9eeb95ba4490b446a73b8f338fca.html" target="element"> Ekspressio </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-53c64475cd914641a7c11417a8cf69b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53c64475cd914641a7c11417a8cf69b6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4f3368cdc9604dfea3d18a656b3912f5.html" target="element"> Digitaalinen kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-b72f78153321425ab4227d08a952ffa2.html" target="element"> Aineellinen kulttuuriperint&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6b86541182ba43ebbd548457044b1d4c.html" target="element"> edustaa </a> </td>
																		<td> <a href="../elements/id-6b86541182ba43ebbd548457044b1d4c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2ffde20de65c44db8da70297845636c6.html" target="element"> Kappale </a> </td>
																		<td> <a href="../elements/id-0167a970bbb14efa87f5f89dba449523.html" target="element"> Manifestaatio </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c9eb9cb4b3b3474a9b9328d236f7d2c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9eb9cb4b3b3474a9b9328d236f7d2c4.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3ff1ad320f404e679ffadb6b42ab5779.html" target="element"> Esitys </a> </td>
																		<td> <a href="../elements/id-0167a970bbb14efa87f5f89dba449523.html" target="element"> Manifestaatio </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-322816db10894837b8df5a1ac16b15fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-322816db10894837b8df5a1ac16b15fa.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4ea3887280c7460c88c9121fd4997e14.html" target="element"> Koreografia </a> </td>
																		<td> <a href="../elements/id-bf4f9eeb95ba4490b446a73b8f338fca.html" target="element"> Ekspressio </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0107f3de317b47558926d610e8027aec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0107f3de317b47558926d610e8027aec.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf4e6b06537746beb2551a8c5f3f5b11.html" target="element"> Tallenne </a> </td>
																		<td> <a href="../elements/id-2ffde20de65c44db8da70297845636c6.html" target="element"> Kappale </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5e0d7bdd556f46aa86da327a68abd865.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e0d7bdd556f46aa86da327a68abd865.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-24c92a2099f54e779a7c8349d1366547.html" target="element"> Tanssiteos </a> </td>
																		<td> <a href="../elements/id-3423f39d37e645b19af428dfa543d0e9.html" target="element"> Teos </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f171cea865a74fc28a7f9aa724a04c9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f171cea865a74fc28a7f9aa724a04c9d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-9222e83980924e1396059b5c4e5973c0.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-21fa404071fc434bbcc55a538e49e649.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-21fa404071fc434bbcc55a538e49e649.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-7db31b95b44a40f19a80546ea1f6c91a.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2dd238e1da6742f9b3eac8ebbbdcbe23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2dd238e1da6742f9b3eac8ebbbdcbe23.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-aa38323ec5c9475f905780c27c419990.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ff9d4a6d37c64759bc3a2daed11ec120.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff9d4a6d37c64759bc3a2daed11ec120.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-4b6330594e064923bde7b75529ba3924.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-03fd7683611a407cbeda905a43a4c3b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-03fd7683611a407cbeda905a43a4c3b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-f7367535ef1b45b4a3353fba675eaa9d.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-18554a043f6e432aac8cd6669a192f79.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18554a043f6e432aac8cd6669a192f79.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-cb16c034b2f847ba95db1b3d5c2419c2.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9b0dd15e605a437aa259cd9e3283e279.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b0dd15e605a437aa259cd9e3283e279.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1ad5e6d9651a4962865310a8a33ab9ed.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-824ebb7232864883a48a1124dfdb10d5.html" target="element"> Objekti </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9ccb0485581d4c3b89d597d6a4055b5e.html" target="element"> erikoistuminen </a> </td>
																				<td> <a href="../elements/id-9ccb0485581d4c3b89d597d6a4055b5e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9222e83980924e1396059b5c4e5973c0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f7367535ef1b45b4a3353fba675eaa9d.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b2f086ead7e54b5a8642cd42a5573aa2.html" target="element"> koostuu </a> </td>
																				<td> <a href="../elements/id-b2f086ead7e54b5a8642cd42a5573aa2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7db31b95b44a40f19a80546ea1f6c91a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b6330594e064923bde7b75529ba3924.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-756736fefa4e4274bd0feef59572f5e1.html" target="element"> liittyy </a> </td>
																				<td> <a href="../elements/id-756736fefa4e4274bd0feef59572f5e1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-aa38323ec5c9475f905780c27c419990.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cb16c034b2f847ba95db1b3d5c2419c2.html" target="element">  </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>