<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arvovirrat ja palvelut</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arvovirrat ja palvelut</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d4bc39b88ea74b14aa10c6857d4b9ad1.png" alt="Arvovirrat ja palvelut" usemap="#id-d4bc39b88ea74b14aa10c6857d4b9ad1map"/>
			   <map name="id-d4bc39b88ea74b14aa10c6857d4b9ad1map">
				  		<area shape="rect" coords="768,123,944,178" href="../elements/id-35d1efdfa22b417da13c962f3245c8ca.html"  target="element">
				  		<area shape="rect" coords="1224,256,1419,314" href="../elements/id-4efbc4b74d3147ee8476031c20a00cd0.html"  target="element">
				  		<area shape="rect" coords="204,439,253,476" href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html"  target="element">
				  		<area shape="rect" coords="48,439,97,476" href="../elements/id-7d5974904d3b438d8ff342693624557d.html"  target="element">
				  		<area shape="rect" coords="204,403,253,440" href="../elements/id-90b03d4c1de1432c939c977595682075.html"  target="element">
				  		<area shape="rect" coords="48,403,97,440" href="../elements/id-2ad1e3da112f47a9997ed7a4c02cc5f8.html"  target="element">
				  		<area shape="rect" coords="204,367,253,404" href="../elements/id-72c4bf9b52d64e15910937ade535428a.html"  target="element">
				  		<area shape="rect" coords="48,367,97,404" href="../elements/id-83f10daa760e4557b64435c5d2b8cd68.html"  target="element">
				  				<area shape="rect" coords="886,255,1103,314" href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html"  target="element">
				  				<area shape="rect" coords="622,255,839,315" href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html"  target="element">
				  				<area shape="rect" coords="358,255,575,314" href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html"  target="element">

				  		<area shape="rect" coords="322,219,1117,331" href="../elements/id-f328aa50a4ec4a0b873555e12f7a577f.html"  target="element">
				  		<area shape="rect" coords="960,391,1187,452" href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html"  target="element">
				  		<area shape="rect" coords="24,255,255,314" href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html"  target="element">
				  		<area shape="rect" coords="934,13,1187,68" href="../elements/id-5461bcdd2ae8472a920f4ddc703e69ed.html"  target="element">
				  		<area shape="rect" coords="1272,10,1525,71" href="../elements/id-97aea062588d4bcd82c766419f92acf6.html"  target="element">
				  		<area shape="rect" coords="622,10,893,71" href="../elements/id-4c71200f7b624052a4433537f134657d.html"  target="element">
				  		<area shape="rect" coords="322,10,587,71" href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html"  target="element">
				  		<area shape="rect" coords="10,10,287,71" href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
											    <td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
											    <td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
											    <td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
											    <td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5461bcdd2ae8472a920f4ddc703e69ed.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
											    <td> <a href="../elements/id-5461bcdd2ae8472a920f4ddc703e69ed.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element"> Ohjaus ja neuvonta </a> </td>
											    <td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
											    <td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f328aa50a4ec4a0b873555e12f7a577f.html" target="element"> Kulttuuriperint&#246;aineistopalvelu </a> </td>
											    <td> <a href="../elements/id-f328aa50a4ec4a0b873555e12f7a577f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element"> Kartuttaminen </a> </td>
													    <td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
													    <td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
													    <td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-83f10daa760e4557b64435c5d2b8cd68.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-83f10daa760e4557b64435c5d2b8cd68.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-72c4bf9b52d64e15910937ade535428a.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-72c4bf9b52d64e15910937ade535428a.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ad1e3da112f47a9997ed7a4c02cc5f8.html" target="element">  (copy) </a> </td>
											    <td> <a href="../elements/id-2ad1e3da112f47a9997ed7a4c02cc5f8.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-90b03d4c1de1432c939c977595682075.html" target="element">  (copy) </a> </td>
											    <td> <a href="../elements/id-90b03d4c1de1432c939c977595682075.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4efbc4b74d3147ee8476031c20a00cd0.html" target="element"> Finna  (K&#228;ytt&#246;&#246;nsaattaminen) </a> </td>
											    <td> <a href="../elements/id-4efbc4b74d3147ee8476031c20a00cd0.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-35d1efdfa22b417da13c962f3245c8ca.html" target="element"> Kulttuuriperint&#246;-PAS (Pitk&#228;aikaiss&#228;ilytys) </a> </td>
											    <td> <a href="../elements/id-35d1efdfa22b417da13c962f3245c8ca.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-79b562a3513f422ca0af752ed859c486.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79b562a3513f422ca0af752ed859c486.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																		<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b544fb00787a4fe2a28f80b6d495f8ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b544fb00787a4fe2a28f80b6d495f8ee.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																		<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a1056a78876c4b4e854fe4ffe8f9fcef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a1056a78876c4b4e854fe4ffe8f9fcef.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
																		<td> <a href="../elements/id-5461bcdd2ae8472a920f4ddc703e69ed.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2fdd29254ada4c1dbcfcbd871dea6e17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2fdd29254ada4c1dbcfcbd871dea6e17.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5461bcdd2ae8472a920f4ddc703e69ed.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d4632d60a7eb4d748d1fef22e665ccef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4632d60a7eb4d748d1fef22e665ccef.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element"> Ohjaus ja neuvonta </a> </td>
																		<td> <a href="../elements/id-d4aadf9b59244bd3b65a0ddbf0d1fc11.html" target="element"> Palveluiden ja yhteentoimivuuden kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3741a568d1d541cdab1ea09847e0db06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3741a568d1d541cdab1ea09847e0db06.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element"> Ohjaus ja neuvonta </a> </td>
																		<td> <a href="../elements/id-f328aa50a4ec4a0b873555e12f7a577f.html" target="element"> Kulttuuriperint&#246;aineistopalvelu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0f39ea537de14818a6b9bf5cb77018c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f39ea537de14818a6b9bf5cb77018c8.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-f328aa50a4ec4a0b873555e12f7a577f.html" target="element"> Kulttuuriperint&#246;aineistopalvelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd65ff120a4c4776a06d4b88b150e0b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd65ff120a4c4776a06d4b88b150e0b5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-4efbc4b74d3147ee8476031c20a00cd0.html" target="element"> Finna  (K&#228;ytt&#246;&#246;nsaattaminen) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4a3de906f5e94dfa8faff8dd87068fc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a3de906f5e94dfa8faff8dd87068fc1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f328aa50a4ec4a0b873555e12f7a577f.html" target="element"> Kulttuuriperint&#246;aineistopalvelu </a> </td>
																		<td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element"> Kartuttaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7ba77689ced448b2bd5714c011b1f3ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ba77689ced448b2bd5714c011b1f3ac.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f328aa50a4ec4a0b873555e12f7a577f.html" target="element"> Kulttuuriperint&#246;aineistopalvelu </a> </td>
																		<td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-33d180ba1dd049c192a90e9e12edfb9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33d180ba1dd049c192a90e9e12edfb9f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f328aa50a4ec4a0b873555e12f7a577f.html" target="element"> Kulttuuriperint&#246;aineistopalvelu </a> </td>
																		<td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d848390b01a64de69fa9615ec79e9ea7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d848390b01a64de69fa9615ec79e9ea7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element"> Kartuttaminen </a> </td>
																				<td> <a href="../elements/id-0de638d98cad438f9e7f178c202b09b8.html" target="element"> Digitaalisen kulttuuriperinn&#246;n muodostuminen ja kuvailu </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4a19357d39e94a0ca61b097e24e67279.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4a19357d39e94a0ca61b097e24e67279.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
																				<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e2758ede356340998e72038e0095a04c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e2758ede356340998e72038e0095a04c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																				<td> <a href="../elements/id-5461bcdd2ae8472a920f4ddc703e69ed.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-6a150751fdb04e3cb6f461f2a7981300.html" target="element"> realisoi </a> </td>
																		<td> <a href="../elements/id-6a150751fdb04e3cb6f461f2a7981300.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83f10daa760e4557b64435c5d2b8cd68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72c4bf9b52d64e15910937ade535428a.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-72be33960a754dffa6157f4d072898b4.html" target="element"> johtaa </a> </td>
																		<td> <a href="../elements/id-72be33960a754dffa6157f4d072898b4.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2ad1e3da112f47a9997ed7a4c02cc5f8.html" target="element">  (copy) </a> </td>
																		<td> <a href="../elements/id-90b03d4c1de1432c939c977595682075.html" target="element">  (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f9e1e8c0455244b88981bfa7f87e531e.html" target="element"> palvelee </a> </td>
																		<td> <a href="../elements/id-f9e1e8c0455244b88981bfa7f87e531e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-33a9b54b222c4530bfacc2f9e5a3fd43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33a9b54b222c4530bfacc2f9e5a3fd43.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4efbc4b74d3147ee8476031c20a00cd0.html" target="element"> Finna  (K&#228;ytt&#246;&#246;nsaattaminen) </a> </td>
																		<td> <a href="../elements/id-97aea062588d4bcd82c766419f92acf6.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hy&#246;dynt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-411f77113a654a93ad0c4f4f67ecc85f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-411f77113a654a93ad0c4f4f67ecc85f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4efbc4b74d3147ee8476031c20a00cd0.html" target="element"> Finna  (K&#228;ytt&#246;&#246;nsaattaminen) </a> </td>
																		<td> <a href="../elements/id-5461bcdd2ae8472a920f4ddc703e69ed.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-193e389fa1a24136b32fe24e57aa18ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-193e389fa1a24136b32fe24e57aa18ca.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4efbc4b74d3147ee8476031c20a00cd0.html" target="element"> Finna  (K&#228;ytt&#246;&#246;nsaattaminen) </a> </td>
																		<td> <a href="../elements/id-f328aa50a4ec4a0b873555e12f7a577f.html" target="element"> Kulttuuriperint&#246;aineistopalvelu </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bc5e6bf384c24778b4f96313a25ceffc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc5e6bf384c24778b4f96313a25ceffc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-35d1efdfa22b417da13c962f3245c8ca.html" target="element"> Kulttuuriperint&#246;-PAS (Pitk&#228;aikaiss&#228;ilytys) </a> </td>
																		<td> <a href="../elements/id-4c71200f7b624052a4433537f134657d.html" target="element"> Digitaalisen kulttuuriperinn&#246;n hallinnointi ja yll&#228;pito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-136ccb9761174f29a49249b2acd27295.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-136ccb9761174f29a49249b2acd27295.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-35d1efdfa22b417da13c962f3245c8ca.html" target="element"> Kulttuuriperint&#246;-PAS (Pitk&#228;aikaiss&#228;ilytys) </a> </td>
																		<td> <a href="../elements/id-f328aa50a4ec4a0b873555e12f7a577f.html" target="element"> Kulttuuriperint&#246;aineistopalvelu </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>