<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Digitointi</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Digitointi</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d8957632a37c46eb8122e18ff31f6df3.png" alt="Digitointi" usemap="#id-d8957632a37c46eb8122e18ff31f6df3map"/>
			   <map name="id-d8957632a37c46eb8122e18ff31f6df3map">
				  		<area shape="rect" coords="34,66,181,121" href="../elements/id-bf79cb842c40413aa33c699ee2b90d30.html"  target="element">
				  		<area shape="rect" coords="10,281,158,336" href="../elements/id-c5b20967643f494d99a0019c927784ea.html"  target="element">
				  		<area shape="rect" coords="1306,95,1426,150" href="../elements/id-4690687bf0294a119bd4a07b2e3a56b4.html"  target="element">
				  		<area shape="rect" coords="1198,295,1351,350" href="../elements/id-4229cc93cebd4626983a73a93c183e5d.html"  target="element">
				  		<area shape="rect" coords="1231,10,1351,65" href="../elements/id-1350bb9deb464de6ba5a923dfdfd948c.html"  target="element">
				  		<area shape="rect" coords="1149,79,1269,134" href="../elements/id-5728082e268b4db2a5caf92a85874875.html"  target="element">
				  				<area shape="rect" coords="790,499,947,554" href="../elements/id-0e540718a441439994edc8b695ffc05a.html"  target="element">
				  				<area shape="rect" coords="790,559,947,620" href="../elements/id-85e8cc23bfda4e60b6c54090d28af8e4.html"  target="element">

				  		<area shape="rect" coords="778,451,959,884" href="../elements/id-e9aeba14da2242afb5b0095ddd51b59f.html"  target="element">
				  				<area shape="rect" coords="617,799,755,854" href="../elements/id-869e5e7b37bf45489f225f77ff37beee.html"  target="element">
				  				<area shape="rect" coords="611,739,755,794" href="../elements/id-4eb651060c8244469065f644048b1bba.html"  target="element">
				  				<area shape="rect" coords="611,679,755,734" href="../elements/id-fe837b75ed28471e9c47397018ea7de4.html"  target="element">
				  				<area shape="rect" coords="610,619,755,674" href="../elements/id-31d2a5bfa0644ca8a2ad9c79b10d9264.html"  target="element">
				  				<area shape="rect" coords="610,559,755,614" href="../elements/id-74c8abd37e48492c843bb3f8d13c1f2e.html"  target="element">
				  				<area shape="rect" coords="610,499,755,554" href="../elements/id-c37e5a97c51c41b982506c1c0f42ded2.html"  target="element">

				  		<area shape="rect" coords="598,451,767,884" href="../elements/id-d79e84d3a66848adae6b020a67531a87.html"  target="element">
				  				<area shape="rect" coords="443,739,563,794" href="../elements/id-e3fd5df963994656a48161a87c33ebf5.html"  target="element">
				  				<area shape="rect" coords="443,679,563,734" href="../elements/id-c6a527df40a94cc2b3eda942efb01281.html"  target="element">
				  				<area shape="rect" coords="442,499,562,554" href="../elements/id-22636ea944d945d19a6831e3f9594f3e.html"  target="element">
				  				<area shape="rect" coords="442,559,562,614" href="../elements/id-8da915d2de6d4d128a5d0bda05c3f74b.html"  target="element">
				  				<area shape="rect" coords="442,619,563,674" href="../elements/id-f0c89fecdbef4b9b84f61401cf0422ef.html"  target="element">

				  		<area shape="rect" coords="418,451,587,884" href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html"  target="element">
				  				<area shape="rect" coords="239,583,373,638" href="../elements/id-6ad2eb36714a4c7bb278f02ecef7b0c1.html"  target="element">
				  				<area shape="rect" coords="238,523,374,578" href="../elements/id-ab3fcebf72434d0ca439158b154fc647.html"  target="element">

				  		<area shape="rect" coords="202,451,407,884" href="../elements/id-e44cf4c0c959489bbe5077f371463d9f.html"  target="element">
				  		<area shape="rect" coords="310,93,443,121" href="../elements/id-c2bc02d856454311b88675ba0a8a0134.html"  target="element">
				  		<area shape="rect" coords="1030,160,1150,187" href="../elements/id-7c4bf871bd63445d9878e8c287f2040e.html"  target="element">
				  				<area shape="rect" coords="982,499,1139,554" href="../elements/id-2c09aa3726654982a88d965eccb2c7f7.html"  target="element">
				  				<area shape="rect" coords="982,619,1139,674" href="../elements/id-02eba7b20bee4d58996fde641250fe97.html"  target="element">
				  				<area shape="rect" coords="982,559,1139,614" href="../elements/id-83640277c8324fc38e592238232549b5.html"  target="element">

				  		<area shape="rect" coords="970,451,1163,884" href="../elements/id-f6c73572daf94ad58159282576ec6dd9.html"  target="element">
				  		<area shape="rect" coords="874,120,1055,148" href="../elements/id-3420e9f4088041418a4945d8313f7cd6.html"  target="element">
				  		<area shape="rect" coords="214,139,340,170" href="../elements/id-588ede9dacde450fa3b7c1fe770b34bf.html"  target="element">
				  		<area shape="rect" coords="670,106,790,140" href="../elements/id-dbeb65e7ba5844d99e8ff50afcdfacbf.html"  target="element">
				  		<area shape="rect" coords="490,93,648,121" href="../elements/id-4eb797b74e524e2baceaf1397f765a3e.html"  target="element">
				  		<area shape="rect" coords="778,64,959,94" href="../elements/id-e4c2e22ffa9c46449d6c8ed9e389211f.html"  target="element">
				  		<area shape="rect" coords="406,139,539,170" href="../elements/id-633d43a171044ef8b5917ab702221f54.html"  target="element">
				  				<area shape="rect" coords="982,295,1102,350" href="../elements/id-b65348f8fe8d40a693e68382f7493136.html"  target="element">
				  				<area shape="rect" coords="790,295,910,350" href="../elements/id-b7cda47fa0b3439cb836df5200b939f8.html"  target="element">
				  				<area shape="rect" coords="598,295,743,350" href="../elements/id-688e1acc01014b01966639fff4497ad7.html"  target="element">
				  				<area shape="rect" coords="442,295,562,350" href="../elements/id-636fda1f74404e2e81b3c972a63c28cc.html"  target="element">
				  				<area shape="rect" coords="262,295,382,350" href="../elements/id-037961478880413cbc69dbb9a0976a52.html"  target="element">

				  		<area shape="rect" coords="202,211,1163,406" href="../elements/id-23d30bd44999468080e1d79648e10c2a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-23d30bd44999468080e1d79648e10c2a.html" target="element"> Kulttuuriperinn&#246;n digitointi </a> </td>
											    <td> <a href="../elements/id-23d30bd44999468080e1d79648e10c2a.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-037961478880413cbc69dbb9a0976a52.html" target="element"> Ideointi </a> </td>
													    <td> <a href="../elements/id-037961478880413cbc69dbb9a0976a52.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-636fda1f74404e2e81b3c972a63c28cc.html" target="element"> Digitointi </a> </td>
													    <td> <a href="../elements/id-636fda1f74404e2e81b3c972a63c28cc.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-688e1acc01014b01966639fff4497ad7.html" target="element"> Dokumentointi ja kuvailu </a> </td>
													    <td> <a href="../elements/id-688e1acc01014b01966639fff4497ad7.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b7cda47fa0b3439cb836df5200b939f8.html" target="element"> S&#228;ilytys </a> </td>
													    <td> <a href="../elements/id-b7cda47fa0b3439cb836df5200b939f8.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b65348f8fe8d40a693e68382f7493136.html" target="element"> Jakaminen </a> </td>
													    <td> <a href="../elements/id-b65348f8fe8d40a693e68382f7493136.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-633d43a171044ef8b5917ab702221f54.html" target="element"> S&#228;ilyvyys </a> </td>
											    <td> <a href="../elements/id-633d43a171044ef8b5917ab702221f54.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e4c2e22ffa9c46449d6c8ed9e389211f.html" target="element"> Pysyvyys </a> </td>
											    <td> <a href="../elements/id-e4c2e22ffa9c46449d6c8ed9e389211f.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4eb797b74e524e2baceaf1397f765a3e.html" target="element"> Ymm&#228;rrett&#228;vyys </a> </td>
											    <td> <a href="../elements/id-4eb797b74e524e2baceaf1397f765a3e.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dbeb65e7ba5844d99e8ff50afcdfacbf.html" target="element"> L&#246;ydett&#228;vyys </a> </td>
											    <td> <a href="../elements/id-dbeb65e7ba5844d99e8ff50afcdfacbf.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-588ede9dacde450fa3b7c1fe770b34bf.html" target="element"> Kannattavuus </a> </td>
											    <td> <a href="../elements/id-588ede9dacde450fa3b7c1fe770b34bf.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3420e9f4088041418a4945d8313f7cd6.html" target="element"> Uudelleenk&#228;ytett&#228;vyys </a> </td>
											    <td> <a href="../elements/id-3420e9f4088041418a4945d8313f7cd6.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f6c73572daf94ad58159282576ec6dd9.html" target="element"> Saatavuuden varmistaminen </a> </td>
											    <td> <a href="../elements/id-f6c73572daf94ad58159282576ec6dd9.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-83640277c8324fc38e592238232549b5.html" target="element"> Kansainv&#228;liset infrastruktuurit </a> </td>
													    <td> <a href="../elements/id-83640277c8324fc38e592238232549b5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-02eba7b20bee4d58996fde641250fe97.html" target="element"> Hakukone-optimointi </a> </td>
													    <td> <a href="../elements/id-02eba7b20bee4d58996fde641250fe97.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2c09aa3726654982a88d965eccb2c7f7.html" target="element"> K&#228;ytt&#246;oikeuksien hallinnointi </a> </td>
													    <td> <a href="../elements/id-2c09aa3726654982a88d965eccb2c7f7.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7c4bf871bd63445d9878e8c287f2040e.html" target="element"> Avoimuus </a> </td>
											    <td> <a href="../elements/id-7c4bf871bd63445d9878e8c287f2040e.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c2bc02d856454311b88675ba0a8a0134.html" target="element"> Ainutlaatuisuus </a> </td>
											    <td> <a href="../elements/id-c2bc02d856454311b88675ba0a8a0134.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e44cf4c0c959489bbe5077f371463d9f.html" target="element"> Digitaalisen kulttuuriperinn&#246;n konseptointi </a> </td>
											    <td> <a href="../elements/id-e44cf4c0c959489bbe5077f371463d9f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ab3fcebf72434d0ca439158b154fc647.html" target="element"> Arvonm&#228;&#228;ritys </a> </td>
													    <td> <a href="../elements/id-ab3fcebf72434d0ca439158b154fc647.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6ad2eb36714a4c7bb278f02ecef7b0c1.html" target="element"> Palvelumuotoilu </a> </td>
													    <td> <a href="../elements/id-6ad2eb36714a4c7bb278f02ecef7b0c1.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element"> Digitointi </a> </td>
											    <td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f0c89fecdbef4b9b84f61401cf0422ef.html" target="element"> Ymp&#228;rist&#246;jen 3D-digitointi </a> </td>
													    <td> <a href="../elements/id-f0c89fecdbef4b9b84f61401cf0422ef.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8da915d2de6d4d128a5d0bda05c3f74b.html" target="element"> Kokoelmien 3D-digitointi </a> </td>
													    <td> <a href="../elements/id-8da915d2de6d4d128a5d0bda05c3f74b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-22636ea944d945d19a6831e3f9594f3e.html" target="element"> Kokoelmien digitointi </a> </td>
													    <td> <a href="../elements/id-22636ea944d945d19a6831e3f9594f3e.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c6a527df40a94cc2b3eda942efb01281.html" target="element"> VR / AR </a> </td>
													    <td> <a href="../elements/id-c6a527df40a94cc2b3eda942efb01281.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e3fd5df963994656a48161a87c33ebf5.html" target="element"> Audio </a> </td>
													    <td> <a href="../elements/id-e3fd5df963994656a48161a87c33ebf5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
											    <td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c37e5a97c51c41b982506c1c0f42ded2.html" target="element"> Viitetietojen hallinta </a> </td>
													    <td> <a href="../elements/id-c37e5a97c51c41b982506c1c0f42ded2.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-74c8abd37e48492c843bb3f8d13c1f2e.html" target="element"> Metatietomallien hallinta </a> </td>
													    <td> <a href="../elements/id-74c8abd37e48492c843bb3f8d13c1f2e.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-31d2a5bfa0644ca8a2ad9c79b10d9264.html" target="element"> K&#228;ytt&#246;- ja lisenssiehtojen m&#228;&#228;rittely ja ohjeistus </a> </td>
													    <td> <a href="../elements/id-31d2a5bfa0644ca8a2ad9c79b10d9264.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fe837b75ed28471e9c47397018ea7de4.html" target="element"> Lisenssiehtojen m&#228;&#228;rittely </a> </td>
													    <td> <a href="../elements/id-fe837b75ed28471e9c47397018ea7de4.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4eb651060c8244469065f644048b1bba.html" target="element"> Pysyvien tunnisteiden hallinta </a> </td>
													    <td> <a href="../elements/id-4eb651060c8244469065f644048b1bba.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-869e5e7b37bf45489f225f77ff37beee.html" target="element"> Teko&#228;ly </a> </td>
													    <td> <a href="../elements/id-869e5e7b37bf45489f225f77ff37beee.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e9aeba14da2242afb5b0095ddd51b59f.html" target="element"> Digitaalisten aineistojen hallinta </a> </td>
											    <td> <a href="../elements/id-e9aeba14da2242afb5b0095ddd51b59f.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-85e8cc23bfda4e60b6c54090d28af8e4.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
													    <td> <a href="../elements/id-85e8cc23bfda4e60b6c54090d28af8e4.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0e540718a441439994edc8b695ffc05a.html" target="element"> S&#228;hk&#246;inen arkistointi </a> </td>
													    <td> <a href="../elements/id-0e540718a441439994edc8b695ffc05a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5728082e268b4db2a5caf92a85874875.html" target="element"> Tutkija </a> </td>
											    <td> <a href="../elements/id-5728082e268b4db2a5caf92a85874875.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1350bb9deb464de6ba5a923dfdfd948c.html" target="element"> Oppija </a> </td>
											    <td> <a href="../elements/id-1350bb9deb464de6ba5a923dfdfd948c.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4229cc93cebd4626983a73a93c183e5d.html" target="element"> Digitaalisesti hy&#246;dynnett&#228;v&#228; kulttuuriperint&#246; </a> </td>
											    <td> <a href="../elements/id-4229cc93cebd4626983a73a93c183e5d.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4690687bf0294a119bd4a07b2e3a56b4.html" target="element"> Kaupallinen toimija </a> </td>
											    <td> <a href="../elements/id-4690687bf0294a119bd4a07b2e3a56b4.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c5b20967643f494d99a0019c927784ea.html" target="element"> Kulttuuriperinn&#246;n s&#228;ilytt&#228;minen ja hy&#246;dynt&#228;minen </a> </td>
											    <td> <a href="../elements/id-c5b20967643f494d99a0019c927784ea.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf79cb842c40413aa33c699ee2b90d30.html" target="element"> Kulttuuriperint&#246;-asiantuntija </a> </td>
											    <td> <a href="../elements/id-bf79cb842c40413aa33c699ee2b90d30.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-116cf90bda1747e3bccf5f66ee616898.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-116cf90bda1747e3bccf5f66ee616898.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23d30bd44999468080e1d79648e10c2a.html" target="element"> Kulttuuriperinn&#246;n digitointi </a> </td>
																		<td> <a href="../elements/id-037961478880413cbc69dbb9a0976a52.html" target="element"> Ideointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b50a7b2e17424acfab9f7c136a326af7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b50a7b2e17424acfab9f7c136a326af7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23d30bd44999468080e1d79648e10c2a.html" target="element"> Kulttuuriperinn&#246;n digitointi </a> </td>
																		<td> <a href="../elements/id-636fda1f74404e2e81b3c972a63c28cc.html" target="element"> Digitointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3528f8b63ce6421bb11ed2fb45fc661c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3528f8b63ce6421bb11ed2fb45fc661c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23d30bd44999468080e1d79648e10c2a.html" target="element"> Kulttuuriperinn&#246;n digitointi </a> </td>
																		<td> <a href="../elements/id-688e1acc01014b01966639fff4497ad7.html" target="element"> Dokumentointi ja kuvailu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b73d563c338c4f0d9717b1c566a45d41.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b73d563c338c4f0d9717b1c566a45d41.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23d30bd44999468080e1d79648e10c2a.html" target="element"> Kulttuuriperinn&#246;n digitointi </a> </td>
																		<td> <a href="../elements/id-b7cda47fa0b3439cb836df5200b939f8.html" target="element"> S&#228;ilytys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-42cc8331ee554f429f0771cbd56fcea7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42cc8331ee554f429f0771cbd56fcea7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23d30bd44999468080e1d79648e10c2a.html" target="element"> Kulttuuriperinn&#246;n digitointi </a> </td>
																		<td> <a href="../elements/id-b65348f8fe8d40a693e68382f7493136.html" target="element"> Jakaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8c1ea2f45a8c4b91a997a6a111d8f59a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c1ea2f45a8c4b91a997a6a111d8f59a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23d30bd44999468080e1d79648e10c2a.html" target="element"> Kulttuuriperinn&#246;n digitointi </a> </td>
																		<td> <a href="../elements/id-c5b20967643f494d99a0019c927784ea.html" target="element"> Kulttuuriperinn&#246;n s&#228;ilytt&#228;minen ja hy&#246;dynt&#228;minen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-76910ec41a934950b9987ea117369600.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-76910ec41a934950b9987ea117369600.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-037961478880413cbc69dbb9a0976a52.html" target="element"> Ideointi </a> </td>
																				<td> <a href="../elements/id-636fda1f74404e2e81b3c972a63c28cc.html" target="element"> Digitointi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-853b74cced2b4a02be540f198275682b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-853b74cced2b4a02be540f198275682b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-037961478880413cbc69dbb9a0976a52.html" target="element"> Ideointi </a> </td>
																				<td> <a href="../elements/id-588ede9dacde450fa3b7c1fe770b34bf.html" target="element"> Kannattavuus </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a036a5d3e6694cd48b24ec57dd078408.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a036a5d3e6694cd48b24ec57dd078408.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-037961478880413cbc69dbb9a0976a52.html" target="element"> Ideointi </a> </td>
																				<td> <a href="../elements/id-c2bc02d856454311b88675ba0a8a0134.html" target="element"> Ainutlaatuisuus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e9da14aba9114c01bd5a250adb43b909.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e9da14aba9114c01bd5a250adb43b909.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-636fda1f74404e2e81b3c972a63c28cc.html" target="element"> Digitointi </a> </td>
																				<td> <a href="../elements/id-633d43a171044ef8b5917ab702221f54.html" target="element"> S&#228;ilyvyys </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2a56b850c0b245a48d4ddb214d26afe9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2a56b850c0b245a48d4ddb214d26afe9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-636fda1f74404e2e81b3c972a63c28cc.html" target="element"> Digitointi </a> </td>
																				<td> <a href="../elements/id-688e1acc01014b01966639fff4497ad7.html" target="element"> Dokumentointi ja kuvailu </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8e664a972623408087c63a790032be9d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8e664a972623408087c63a790032be9d.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-688e1acc01014b01966639fff4497ad7.html" target="element"> Dokumentointi ja kuvailu </a> </td>
																				<td> <a href="../elements/id-4eb797b74e524e2baceaf1397f765a3e.html" target="element"> Ymm&#228;rrett&#228;vyys </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6920b6bfab224916959a0485df737b43.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6920b6bfab224916959a0485df737b43.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-688e1acc01014b01966639fff4497ad7.html" target="element"> Dokumentointi ja kuvailu </a> </td>
																				<td> <a href="../elements/id-dbeb65e7ba5844d99e8ff50afcdfacbf.html" target="element"> L&#246;ydett&#228;vyys </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-164c2175ece64352b3cd4053acc5d539.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-164c2175ece64352b3cd4053acc5d539.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-688e1acc01014b01966639fff4497ad7.html" target="element"> Dokumentointi ja kuvailu </a> </td>
																				<td> <a href="../elements/id-b7cda47fa0b3439cb836df5200b939f8.html" target="element"> S&#228;ilytys </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f8aa864f568b40fb97c9a453036efa75.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f8aa864f568b40fb97c9a453036efa75.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7cda47fa0b3439cb836df5200b939f8.html" target="element"> S&#228;ilytys </a> </td>
																				<td> <a href="../elements/id-e4c2e22ffa9c46449d6c8ed9e389211f.html" target="element"> Pysyvyys </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cb5d104f327640aea7812fe58e4c46da.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cb5d104f327640aea7812fe58e4c46da.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7cda47fa0b3439cb836df5200b939f8.html" target="element"> S&#228;ilytys </a> </td>
																				<td> <a href="../elements/id-b65348f8fe8d40a693e68382f7493136.html" target="element"> Jakaminen </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c1e1dfb6618f48ef9b6e7345834bf588.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c1e1dfb6618f48ef9b6e7345834bf588.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b65348f8fe8d40a693e68382f7493136.html" target="element"> Jakaminen </a> </td>
																				<td> <a href="../elements/id-3420e9f4088041418a4945d8313f7cd6.html" target="element"> Uudelleenk&#228;ytett&#228;vyys </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3bd25662d9144bc68c88d576b7b50d88.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3bd25662d9144bc68c88d576b7b50d88.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b65348f8fe8d40a693e68382f7493136.html" target="element"> Jakaminen </a> </td>
																				<td> <a href="../elements/id-7c4bf871bd63445d9878e8c287f2040e.html" target="element"> Avoimuus </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e2ca326c675342dca70a7436ca438bc1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e2ca326c675342dca70a7436ca438bc1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b65348f8fe8d40a693e68382f7493136.html" target="element"> Jakaminen </a> </td>
																				<td> <a href="../elements/id-4229cc93cebd4626983a73a93c183e5d.html" target="element"> Digitaalisesti hy&#246;dynnett&#228;v&#228; kulttuuriperint&#246; </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5332ba7ac0ad42b882753d3111e91f2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5332ba7ac0ad42b882753d3111e91f2e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f6c73572daf94ad58159282576ec6dd9.html" target="element"> Saatavuuden varmistaminen </a> </td>
																		<td> <a href="../elements/id-b65348f8fe8d40a693e68382f7493136.html" target="element"> Jakaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9193e94ee6ab46a88a9fd8796b9face6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9193e94ee6ab46a88a9fd8796b9face6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f6c73572daf94ad58159282576ec6dd9.html" target="element"> Saatavuuden varmistaminen </a> </td>
																		<td> <a href="../elements/id-83640277c8324fc38e592238232549b5.html" target="element"> Kansainv&#228;liset infrastruktuurit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ed94f36b6614755ae7d366d9aff7dae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ed94f36b6614755ae7d366d9aff7dae.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f6c73572daf94ad58159282576ec6dd9.html" target="element"> Saatavuuden varmistaminen </a> </td>
																		<td> <a href="../elements/id-02eba7b20bee4d58996fde641250fe97.html" target="element"> Hakukone-optimointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aa86ad93414b45dfb1a370e9493b0499.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa86ad93414b45dfb1a370e9493b0499.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f6c73572daf94ad58159282576ec6dd9.html" target="element"> Saatavuuden varmistaminen </a> </td>
																		<td> <a href="../elements/id-2c09aa3726654982a88d965eccb2c7f7.html" target="element"> K&#228;ytt&#246;oikeuksien hallinnointi </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9ec99825192546c4beed61dfd4289e6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ec99825192546c4beed61dfd4289e6e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e44cf4c0c959489bbe5077f371463d9f.html" target="element"> Digitaalisen kulttuuriperinn&#246;n konseptointi </a> </td>
																		<td> <a href="../elements/id-6ad2eb36714a4c7bb278f02ecef7b0c1.html" target="element"> Palvelumuotoilu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-96bc4e13abe849648b498a1c1279073a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96bc4e13abe849648b498a1c1279073a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e44cf4c0c959489bbe5077f371463d9f.html" target="element"> Digitaalisen kulttuuriperinn&#246;n konseptointi </a> </td>
																		<td> <a href="../elements/id-ab3fcebf72434d0ca439158b154fc647.html" target="element"> Arvonm&#228;&#228;ritys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d5cfa99458c041a3ab5aaf9e0311f0f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5cfa99458c041a3ab5aaf9e0311f0f5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e44cf4c0c959489bbe5077f371463d9f.html" target="element"> Digitaalisen kulttuuriperinn&#246;n konseptointi </a> </td>
																		<td> <a href="../elements/id-037961478880413cbc69dbb9a0976a52.html" target="element"> Ideointi </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-fdaa9f03b2344816bad00b61da2dc4dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fdaa9f03b2344816bad00b61da2dc4dc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element"> Digitointi </a> </td>
																		<td> <a href="../elements/id-c6a527df40a94cc2b3eda942efb01281.html" target="element"> VR / AR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78d738fc52bc4a6e802084133caa5f44.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78d738fc52bc4a6e802084133caa5f44.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element"> Digitointi </a> </td>
																		<td> <a href="../elements/id-f0c89fecdbef4b9b84f61401cf0422ef.html" target="element"> Ymp&#228;rist&#246;jen 3D-digitointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e738d22764394be2b98a2918b239aefd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e738d22764394be2b98a2918b239aefd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element"> Digitointi </a> </td>
																		<td> <a href="../elements/id-8da915d2de6d4d128a5d0bda05c3f74b.html" target="element"> Kokoelmien 3D-digitointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-123112af930b4b62a3cf6e0309e86972.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-123112af930b4b62a3cf6e0309e86972.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element"> Digitointi </a> </td>
																		<td> <a href="../elements/id-22636ea944d945d19a6831e3f9594f3e.html" target="element"> Kokoelmien digitointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-059e80dfc8424e908abc6cbee50cb9f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-059e80dfc8424e908abc6cbee50cb9f2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element"> Digitointi </a> </td>
																		<td> <a href="../elements/id-e3fd5df963994656a48161a87c33ebf5.html" target="element"> Audio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-476424b1bdf24af28a2f337a5be5f7b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-476424b1bdf24af28a2f337a5be5f7b4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8cfff13897ec4d769d2387791f60b5d4.html" target="element"> Digitointi </a> </td>
																		<td> <a href="../elements/id-636fda1f74404e2e81b3c972a63c28cc.html" target="element"> Digitointi </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8e24e6dc680b46eb86a9c6aee37201b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e24e6dc680b46eb86a9c6aee37201b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
																		<td> <a href="../elements/id-74c8abd37e48492c843bb3f8d13c1f2e.html" target="element"> Metatietomallien hallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-beb63f38ddac4996882f182f5287cf8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-beb63f38ddac4996882f182f5287cf8b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
																		<td> <a href="../elements/id-c37e5a97c51c41b982506c1c0f42ded2.html" target="element"> Viitetietojen hallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e566314efb9445090a39dff234114e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e566314efb9445090a39dff234114e7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
																		<td> <a href="../elements/id-31d2a5bfa0644ca8a2ad9c79b10d9264.html" target="element"> K&#228;ytt&#246;- ja lisenssiehtojen m&#228;&#228;rittely ja ohjeistus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7ac458713bb14f789517e19a0e03631e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ac458713bb14f789517e19a0e03631e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
																		<td> <a href="../elements/id-fe837b75ed28471e9c47397018ea7de4.html" target="element"> Lisenssiehtojen m&#228;&#228;rittely </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-163cc3f20b1c49409225d7693c980461.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-163cc3f20b1c49409225d7693c980461.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
																		<td> <a href="../elements/id-4eb651060c8244469065f644048b1bba.html" target="element"> Pysyvien tunnisteiden hallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7a180447f88243c0821564423ac51e7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a180447f88243c0821564423ac51e7b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
																		<td> <a href="../elements/id-688e1acc01014b01966639fff4497ad7.html" target="element"> Dokumentointi ja kuvailu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb6d2e6a89f742eba21e39713a1d460c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb6d2e6a89f742eba21e39713a1d460c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d79e84d3a66848adae6b020a67531a87.html" target="element"> Aineistojen kuvailu </a> </td>
																		<td> <a href="../elements/id-869e5e7b37bf45489f225f77ff37beee.html" target="element"> Teko&#228;ly </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-dfabb4fcbf984ba595131c5c4ca3d5a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dfabb4fcbf984ba595131c5c4ca3d5a4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9aeba14da2242afb5b0095ddd51b59f.html" target="element"> Digitaalisten aineistojen hallinta </a> </td>
																		<td> <a href="../elements/id-85e8cc23bfda4e60b6c54090d28af8e4.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ab30ea584c124c319196140252bdc6ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab30ea584c124c319196140252bdc6ea.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9aeba14da2242afb5b0095ddd51b59f.html" target="element"> Digitaalisten aineistojen hallinta </a> </td>
																		<td> <a href="../elements/id-0e540718a441439994edc8b695ffc05a.html" target="element"> S&#228;hk&#246;inen arkistointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-95ae6c20d880493882f5b0790417df48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95ae6c20d880493882f5b0790417df48.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e9aeba14da2242afb5b0095ddd51b59f.html" target="element"> Digitaalisten aineistojen hallinta </a> </td>
																		<td> <a href="../elements/id-b7cda47fa0b3439cb836df5200b939f8.html" target="element"> S&#228;ilytys </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3493a8b104b34a43ad953aa718662694.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3493a8b104b34a43ad953aa718662694.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4229cc93cebd4626983a73a93c183e5d.html" target="element"> Digitaalisesti hy&#246;dynnett&#228;v&#228; kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-5728082e268b4db2a5caf92a85874875.html" target="element"> Tutkija </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e6a4ebddc8c34a10a36a8119f7c305e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6a4ebddc8c34a10a36a8119f7c305e5.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4229cc93cebd4626983a73a93c183e5d.html" target="element"> Digitaalisesti hy&#246;dynnett&#228;v&#228; kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-1350bb9deb464de6ba5a923dfdfd948c.html" target="element"> Oppija </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8357cc56715747c794cda6e0e30b025d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8357cc56715747c794cda6e0e30b025d.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4229cc93cebd4626983a73a93c183e5d.html" target="element"> Digitaalisesti hy&#246;dynnett&#228;v&#228; kulttuuriperint&#246; </a> </td>
																		<td> <a href="../elements/id-4690687bf0294a119bd4a07b2e3a56b4.html" target="element"> Kaupallinen toimija </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c7205bfa2134422ab12b9b400e10ca31.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c7205bfa2134422ab12b9b400e10ca31.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf79cb842c40413aa33c699ee2b90d30.html" target="element"> Kulttuuriperint&#246;-asiantuntija </a> </td>
																		<td> <a href="../elements/id-c5b20967643f494d99a0019c927784ea.html" target="element"> Kulttuuriperinn&#246;n s&#228;ilytt&#228;minen ja hy&#246;dynt&#228;minen </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>