<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Finna ydinprosessit</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Finna ydinprosessit</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d665b826462249ceb737374e10d7673d.png" alt="Finna ydinprosessit" usemap="#id-d665b826462249ceb737374e10d7673dmap"/>
			   <map name="id-d665b826462249ceb737374e10d7673dmap">
				  		<area shape="rect" coords="858,454,1070,509" href="../elements/id-b53fad0cdf41404eb3ce08e3bdbc5112.html"  target="element">
				  		<area shape="rect" coords="1210,322,1415,377" href="../elements/id-f37b0a21940c4968852970f60d73f715.html"  target="element">
				  		<area shape="rect" coords="934,214,1146,269" href="../elements/id-ce1ac3f93d914458a56dbbac6830e80d.html"  target="element">
				  		<area shape="rect" coords="694,214,906,269" href="../elements/id-eb0481600db34f7ba251f9c2de993ec1.html"  target="element">
				  		<area shape="rect" coords="418,334,599,389" href="../elements/id-4efd0c8c064347cf9596c138a0a57ba7.html"  target="element">
				  		<area shape="rect" coords="622,334,863,389" href="../elements/id-2e4039b3232a4003a10c21caabf58ec9.html"  target="element">
				  		<area shape="rect" coords="510,454,721,509" href="../elements/id-b1080a889466441abdcd996ffb08c9dd.html"  target="element">
				  		<area shape="rect" coords="180,562,409,617" href="../elements/id-c98630a99d8c43ad97c33caed1ea8366.html"  target="element">
				  		<area shape="rect" coords="178,454,411,509" href="../elements/id-012ea00beca54f0ebc583b54adbe0b4b.html"  target="element">
				  		<area shape="rect" coords="1162,214,1367,269" href="../elements/id-9646268d8b024234901d139bd9cecffc.html"  target="element">
				  		<area shape="rect" coords="406,214,659,269" href="../elements/id-77bdb43d1eda4550aac727610cb362d1.html"  target="element">
				  		<area shape="rect" coords="154,214,371,269" href="../elements/id-2aa4a1b5e377411e9c2ec71ce170faaa.html"  target="element">
				  		<area shape="rect" coords="10,322,198,377" href="../elements/id-a1c5b327a9e1466ca4e6b9ed37813b64.html"  target="element">
				  		<area shape="rect" coords="178,94,1175,149" href="../elements/id-f36ca4998f124da2bcd723329fb764d9.html"  target="element">
				  		<area shape="rect" coords="178,10,1175,65" href="../elements/id-fcd09ee1263e4ebc8694d24c290bdee6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-fcd09ee1263e4ebc8694d24c290bdee6.html" target="element"> Kansallisen k&#228;ytt&#246;&#246;nsaattopalvelun kehitysty&#246; </a> </td>
											    <td> <a href="../elements/id-fcd09ee1263e4ebc8694d24c290bdee6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f36ca4998f124da2bcd723329fb764d9.html" target="element"> Asiakasyhteis&#246;ty&#246; </a> </td>
											    <td> <a href="../elements/id-f36ca4998f124da2bcd723329fb764d9.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a1c5b327a9e1466ca4e6b9ed37813b64.html" target="element"> K&#228;ytt&#246;&#246;nsaattopalveluun liittyminen </a> </td>
											    <td> <a href="../elements/id-a1c5b327a9e1466ca4e6b9ed37813b64.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2aa4a1b5e377411e9c2ec71ce170faaa.html" target="element"> Aineistojen tuominen k&#228;ytt&#246;&#246;nsaattopalvelun tietol&#228;hteeksi </a> </td>
											    <td> <a href="../elements/id-2aa4a1b5e377411e9c2ec71ce170faaa.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-77bdb43d1eda4550aac727610cb362d1.html" target="element"> Aineistojen julkaiseminen k&#228;ytt&#246;&#246;nsaattopalvelussa ja sen rajapinnoissa </a> </td>
											    <td> <a href="../elements/id-77bdb43d1eda4550aac727610cb362d1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9646268d8b024234901d139bd9cecffc.html" target="element"> Tietol&#228;hteen poistaminen k&#228;ytt&#246;&#246;nsaattopalvelusta </a> </td>
											    <td> <a href="../elements/id-9646268d8b024234901d139bd9cecffc.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-012ea00beca54f0ebc583b54adbe0b4b.html" target="element"> Aineistojen tuominen kansainv&#228;lisen aineistopalvelun tietol&#228;hteeksi </a> </td>
											    <td> <a href="../elements/id-012ea00beca54f0ebc583b54adbe0b4b.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c98630a99d8c43ad97c33caed1ea8366.html" target="element"> Aineistojen p&#228;ivitt&#228;minen kansainv&#228;list&#228; aineistopalvelua varten </a> </td>
											    <td> <a href="../elements/id-c98630a99d8c43ad97c33caed1ea8366.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b1080a889466441abdcd996ffb08c9dd.html" target="element"> Aineistojen julkaiseminen kansainv&#228;lisess&#228; aineistopalvelussa </a> </td>
											    <td> <a href="../elements/id-b1080a889466441abdcd996ffb08c9dd.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e4039b3232a4003a10c21caabf58ec9.html" target="element"> Tiedonhaku ja aineistojen k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
											    <td> <a href="../elements/id-2e4039b3232a4003a10c21caabf58ec9.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4efd0c8c064347cf9596c138a0a57ba7.html" target="element"> Metadatan jatkok&#228;ytt&#246; </a> </td>
											    <td> <a href="../elements/id-4efd0c8c064347cf9596c138a0a57ba7.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eb0481600db34f7ba251f9c2de993ec1.html" target="element"> Organisaation oman k&#228;ytt&#246;&#246;nsaattopalvelun julkaiseminen </a> </td>
											    <td> <a href="../elements/id-eb0481600db34f7ba251f9c2de993ec1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ce1ac3f93d914458a56dbbac6830e80d.html" target="element"> Organisaation oman k&#228;ytt&#246;&#246;nsaattopalvelun sulkeminen </a> </td>
											    <td> <a href="../elements/id-ce1ac3f93d914458a56dbbac6830e80d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f37b0a21940c4968852970f60d73f715.html" target="element"> Poistuminen k&#228;ytt&#246;&#246;nsaattopalvelusta </a> </td>
											    <td> <a href="../elements/id-f37b0a21940c4968852970f60d73f715.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b53fad0cdf41404eb3ce08e3bdbc5112.html" target="element"> Aineiston poistaminen kansainv&#228;lisest&#228; aineistopalvelusta </a> </td>
											    <td> <a href="../elements/id-b53fad0cdf41404eb3ce08e3bdbc5112.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9a240c660ef8480dae743fe6ba684d93.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a240c660ef8480dae743fe6ba684d93.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fcd09ee1263e4ebc8694d24c290bdee6.html" target="element"> Kansallisen k&#228;ytt&#246;&#246;nsaattopalvelun kehitysty&#246; </a> </td>
																		<td> <a href="../elements/id-f36ca4998f124da2bcd723329fb764d9.html" target="element"> Asiakasyhteis&#246;ty&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1515e9ea338944f284c500428adaf947.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1515e9ea338944f284c500428adaf947.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f36ca4998f124da2bcd723329fb764d9.html" target="element"> Asiakasyhteis&#246;ty&#246; </a> </td>
																		<td> <a href="../elements/id-fcd09ee1263e4ebc8694d24c290bdee6.html" target="element"> Kansallisen k&#228;ytt&#246;&#246;nsaattopalvelun kehitysty&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7f7d874c405342f18cd57be32276ec14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7f7d874c405342f18cd57be32276ec14.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f36ca4998f124da2bcd723329fb764d9.html" target="element"> Asiakasyhteis&#246;ty&#246; </a> </td>
																		<td> <a href="../elements/id-f37b0a21940c4968852970f60d73f715.html" target="element"> Poistuminen k&#228;ytt&#246;&#246;nsaattopalvelusta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0d842afecc8348ce8294092b56b7797e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d842afecc8348ce8294092b56b7797e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a1c5b327a9e1466ca4e6b9ed37813b64.html" target="element"> K&#228;ytt&#246;&#246;nsaattopalveluun liittyminen </a> </td>
																		<td> <a href="../elements/id-f36ca4998f124da2bcd723329fb764d9.html" target="element"> Asiakasyhteis&#246;ty&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-018068d9622b490486321982a6d3e1e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-018068d9622b490486321982a6d3e1e3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a1c5b327a9e1466ca4e6b9ed37813b64.html" target="element"> K&#228;ytt&#246;&#246;nsaattopalveluun liittyminen </a> </td>
																		<td> <a href="../elements/id-2aa4a1b5e377411e9c2ec71ce170faaa.html" target="element"> Aineistojen tuominen k&#228;ytt&#246;&#246;nsaattopalvelun tietol&#228;hteeksi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b6386592b8d048918f5213a47acc4649.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6386592b8d048918f5213a47acc4649.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a1c5b327a9e1466ca4e6b9ed37813b64.html" target="element"> K&#228;ytt&#246;&#246;nsaattopalveluun liittyminen </a> </td>
																		<td> <a href="../elements/id-012ea00beca54f0ebc583b54adbe0b4b.html" target="element"> Aineistojen tuominen kansainv&#228;lisen aineistopalvelun tietol&#228;hteeksi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f1eff8df7d8a4814aa38c2f4c36d2293.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1eff8df7d8a4814aa38c2f4c36d2293.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2aa4a1b5e377411e9c2ec71ce170faaa.html" target="element"> Aineistojen tuominen k&#228;ytt&#246;&#246;nsaattopalvelun tietol&#228;hteeksi </a> </td>
																		<td> <a href="../elements/id-012ea00beca54f0ebc583b54adbe0b4b.html" target="element"> Aineistojen tuominen kansainv&#228;lisen aineistopalvelun tietol&#228;hteeksi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c5da4e92a6e14992b3a797fd8d52c347.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5da4e92a6e14992b3a797fd8d52c347.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2aa4a1b5e377411e9c2ec71ce170faaa.html" target="element"> Aineistojen tuominen k&#228;ytt&#246;&#246;nsaattopalvelun tietol&#228;hteeksi </a> </td>
																		<td> <a href="../elements/id-77bdb43d1eda4550aac727610cb362d1.html" target="element"> Aineistojen julkaiseminen k&#228;ytt&#246;&#246;nsaattopalvelussa ja sen rajapinnoissa </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c92636d5b31b473cbf9d6ec662bfff96.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c92636d5b31b473cbf9d6ec662bfff96.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77bdb43d1eda4550aac727610cb362d1.html" target="element"> Aineistojen julkaiseminen k&#228;ytt&#246;&#246;nsaattopalvelussa ja sen rajapinnoissa </a> </td>
																		<td> <a href="../elements/id-2e4039b3232a4003a10c21caabf58ec9.html" target="element"> Tiedonhaku ja aineistojen k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f1b83acbb12845baaa7da109212e6f7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1b83acbb12845baaa7da109212e6f7a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77bdb43d1eda4550aac727610cb362d1.html" target="element"> Aineistojen julkaiseminen k&#228;ytt&#246;&#246;nsaattopalvelussa ja sen rajapinnoissa </a> </td>
																		<td> <a href="../elements/id-eb0481600db34f7ba251f9c2de993ec1.html" target="element"> Organisaation oman k&#228;ytt&#246;&#246;nsaattopalvelun julkaiseminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-be42c74261e54bebb00e04ee435c1147.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be42c74261e54bebb00e04ee435c1147.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77bdb43d1eda4550aac727610cb362d1.html" target="element"> Aineistojen julkaiseminen k&#228;ytt&#246;&#246;nsaattopalvelussa ja sen rajapinnoissa </a> </td>
																		<td> <a href="../elements/id-9646268d8b024234901d139bd9cecffc.html" target="element"> Tietol&#228;hteen poistaminen k&#228;ytt&#246;&#246;nsaattopalvelusta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-44e44c7499d54db5bd6ebd8fb7f0326d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-44e44c7499d54db5bd6ebd8fb7f0326d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77bdb43d1eda4550aac727610cb362d1.html" target="element"> Aineistojen julkaiseminen k&#228;ytt&#246;&#246;nsaattopalvelussa ja sen rajapinnoissa </a> </td>
																		<td> <a href="../elements/id-4efd0c8c064347cf9596c138a0a57ba7.html" target="element"> Metadatan jatkok&#228;ytt&#246; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-967ab8e73a664614a49fd58dfb383f05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-967ab8e73a664614a49fd58dfb383f05.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9646268d8b024234901d139bd9cecffc.html" target="element"> Tietol&#228;hteen poistaminen k&#228;ytt&#246;&#246;nsaattopalvelusta </a> </td>
																		<td> <a href="../elements/id-f37b0a21940c4968852970f60d73f715.html" target="element"> Poistuminen k&#228;ytt&#246;&#246;nsaattopalvelusta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-14501d6ff4944ed49b821ef7ce2d2af2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-14501d6ff4944ed49b821ef7ce2d2af2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-012ea00beca54f0ebc583b54adbe0b4b.html" target="element"> Aineistojen tuominen kansainv&#228;lisen aineistopalvelun tietol&#228;hteeksi </a> </td>
																		<td> <a href="../elements/id-b1080a889466441abdcd996ffb08c9dd.html" target="element"> Aineistojen julkaiseminen kansainv&#228;lisess&#228; aineistopalvelussa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3534cd973d1e412d95543bc62053a250.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3534cd973d1e412d95543bc62053a250.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-012ea00beca54f0ebc583b54adbe0b4b.html" target="element"> Aineistojen tuominen kansainv&#228;lisen aineistopalvelun tietol&#228;hteeksi </a> </td>
																		<td> <a href="../elements/id-c98630a99d8c43ad97c33caed1ea8366.html" target="element"> Aineistojen p&#228;ivitt&#228;minen kansainv&#228;list&#228; aineistopalvelua varten </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-838dc8e1fd7d43b581f0dbc8d00001f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-838dc8e1fd7d43b581f0dbc8d00001f7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b1080a889466441abdcd996ffb08c9dd.html" target="element"> Aineistojen julkaiseminen kansainv&#228;lisess&#228; aineistopalvelussa </a> </td>
																		<td> <a href="../elements/id-2e4039b3232a4003a10c21caabf58ec9.html" target="element"> Tiedonhaku ja aineistojen k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ea88cb0c07924641a6e8658e0e7071b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea88cb0c07924641a6e8658e0e7071b4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b1080a889466441abdcd996ffb08c9dd.html" target="element"> Aineistojen julkaiseminen kansainv&#228;lisess&#228; aineistopalvelussa </a> </td>
																		<td> <a href="../elements/id-4efd0c8c064347cf9596c138a0a57ba7.html" target="element"> Metadatan jatkok&#228;ytt&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-75f88e69ab82404c98014180548cf155.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75f88e69ab82404c98014180548cf155.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b1080a889466441abdcd996ffb08c9dd.html" target="element"> Aineistojen julkaiseminen kansainv&#228;lisess&#228; aineistopalvelussa </a> </td>
																		<td> <a href="../elements/id-b53fad0cdf41404eb3ce08e3bdbc5112.html" target="element"> Aineiston poistaminen kansainv&#228;lisest&#228; aineistopalvelusta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9410445eb27b4439bd543ffb908cc0b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9410445eb27b4439bd543ffb908cc0b0.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb0481600db34f7ba251f9c2de993ec1.html" target="element"> Organisaation oman k&#228;ytt&#246;&#246;nsaattopalvelun julkaiseminen </a> </td>
																		<td> <a href="../elements/id-ce1ac3f93d914458a56dbbac6830e80d.html" target="element"> Organisaation oman k&#228;ytt&#246;&#246;nsaattopalvelun sulkeminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-75ec8d79bb264e4e9521697084fc74be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75ec8d79bb264e4e9521697084fc74be.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb0481600db34f7ba251f9c2de993ec1.html" target="element"> Organisaation oman k&#228;ytt&#246;&#246;nsaattopalvelun julkaiseminen </a> </td>
																		<td> <a href="../elements/id-2e4039b3232a4003a10c21caabf58ec9.html" target="element"> Tiedonhaku ja aineistojen k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c9a06b306cbf4a579d95094500a3dbc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9a06b306cbf4a579d95094500a3dbc4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce1ac3f93d914458a56dbbac6830e80d.html" target="element"> Organisaation oman k&#228;ytt&#246;&#246;nsaattopalvelun sulkeminen </a> </td>
																		<td> <a href="../elements/id-f37b0a21940c4968852970f60d73f715.html" target="element"> Poistuminen k&#228;ytt&#246;&#246;nsaattopalvelusta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b174667fef774dab8bf845f5b43503cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b174667fef774dab8bf845f5b43503cb.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b53fad0cdf41404eb3ce08e3bdbc5112.html" target="element"> Aineiston poistaminen kansainv&#228;lisest&#228; aineistopalvelusta </a> </td>
																		<td> <a href="../elements/id-f37b0a21940c4968852970f60d73f715.html" target="element"> Poistuminen k&#228;ytt&#246;&#246;nsaattopalvelusta </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>