<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vuorovaikutukset</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vuorovaikutukset</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e737c5098c934433bc07f93247ec93cd.png" alt="Vuorovaikutukset" usemap="#id-e737c5098c934433bc07f93247ec93cdmap"/>
			   <map name="id-e737c5098c934433bc07f93247ec93cdmap">
				  				<area shape="rect" coords="1478,32,1623,71" href="../elements/id-535b8f1a8ae44c04827d8dd50ce15517.html"  target="element">
				  				<area shape="rect" coords="1246,33,1283,70" href="../elements/id-7d5974904d3b438d8ff342693624557d.html"  target="element">
				  				<area shape="rect" coords="1478,79,1623,117" href="../elements/id-e6ad5508bed046809009f237f9e95cd6.html"  target="element">
				  				<area shape="rect" coords="1418,33,1451,70" href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html"  target="element">

				  		<area shape="rect" coords="1234,10,1643,143" href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html"  target="element">
				  		<area shape="rect" coords="526,771,695,826" href="../elements/id-85cb668cd865439fa339855ccb56bda0.html"  target="element">
				  		<area shape="rect" coords="262,771,421,826" href="../elements/id-8f08abf7042a413e8edbe1247537151a.html"  target="element">
				  		<area shape="rect" coords="730,875,899,930" href="../elements/id-1882fb38ab024119be451e948c265005.html"  target="element">
				  				<area shape="rect" coords="1114,574,1319,629" href="../elements/id-59576fed26a74598855ba6d4931bceb1.html"  target="element">
				  				<area shape="rect" coords="1114,214,1319,269" href="../elements/id-6dce3dacef054ee688d926442612388a.html"  target="element">
				  				<area shape="rect" coords="1114,286,1319,341" href="../elements/id-0b4d826541e5435abf3a51626c9f05a7.html"  target="element">
				  				<area shape="rect" coords="1114,502,1319,557" href="../elements/id-d1edb57d6f834b9387d82a4039fb400e.html"  target="element">
				  				<area shape="rect" coords="1114,358,1320,413" href="../elements/id-357da8b8e9634620a8d88369126a577a.html"  target="element">
				  				<area shape="rect" coords="1114,430,1319,485" href="../elements/id-399fd197b74e495f9c5b7a76b950346a.html"  target="element">

				  		<area shape="rect" coords="1090,166,1343,708" href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html"  target="element">
				  				<area shape="rect" coords="33,547,237,602" href="../elements/id-db5a7b2a989c4d8faa90d573ef8155a9.html"  target="element">
				  				<area shape="rect" coords="34,283,238,338" href="../elements/id-a137991905974d8299a1a01204374e08.html"  target="element">
				  				<area shape="rect" coords="34,217,238,272" href="../elements/id-1a6bfb8d5de14f88979f9d2020e042ba.html"  target="element">
				  				<area shape="rect" coords="33,613,237,668" href="../elements/id-9f28488893054bd680545336e9c506b2.html"  target="element">
				  				<area shape="rect" coords="33,481,239,536" href="../elements/id-fe958b522b8f428fb5df5d301d65d901.html"  target="element">
				  				<area shape="rect" coords="33,415,239,470" href="../elements/id-04149ddc2e6448fe8286692212153fde.html"  target="element">
				  				<area shape="rect" coords="33,349,238,404" href="../elements/id-d0ca4fe801054c2881bf9959143c5644.html"  target="element">

				  		<area shape="rect" coords="10,169,263,708" href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html"  target="element">
				  				<area shape="rect" coords="1450,502,1619,557" href="../elements/id-fec299e7cbff4d6bb266c6af4ac2d940.html"  target="element">
				  				<area shape="rect" coords="1450,358,1619,413" href="../elements/id-514a667952b74f3fbb19ad70df275dbc.html"  target="element">
				  				<area shape="rect" coords="1450,430,1619,485" href="../elements/id-2f096633978844fea25af2a196856d8b.html"  target="element">
				  				<area shape="rect" coords="1450,286,1619,341" href="../elements/id-72ca3a868daf4ac49b3bbeb6493f2391.html"  target="element">
				  				<area shape="rect" coords="1450,214,1619,269" href="../elements/id-470bc99f0e344d70b8df8ad1672b5bc0.html"  target="element">

				  		<area shape="rect" coords="1426,166,1643,708" href="../elements/id-16668215576642cb8ed0564091c9e188.html"  target="element">
				  				<area shape="rect" coords="790,430,959,485" href="../elements/id-dce412bd6d6f41b4b9f956c4a7c80ee3.html"  target="element">
				  				<area shape="rect" coords="790,214,959,269" href="../elements/id-a3f3df216dbf42cfb509e398aac9dc10.html"  target="element">
				  				<area shape="rect" coords="790,358,959,413" href="../elements/id-f613e57b02584a1db2c6c74428753eb6.html"  target="element">
				  				<area shape="rect" coords="790,286,959,341" href="../elements/id-3c3f24d0645842ec9d6337980fb51e0d.html"  target="element">

				  		<area shape="rect" coords="766,166,985,707" href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html"  target="element">
				  				<area shape="rect" coords="418,359,628,414" href="../elements/id-992884054c9c47e5828e3b1173e1237e.html"  target="element">
				  				<area shape="rect" coords="418,215,628,270" href="../elements/id-3b4f6c3ebf944fe39e0d09ff63c5911c.html"  target="element">
				  				<area shape="rect" coords="418,503,628,558" href="../elements/id-f8b9d58561184fe48a6144f07790ecd7.html"  target="element">
				  				<area shape="rect" coords="418,431,628,486" href="../elements/id-1e22707a4f6c4f80b6ed586457b6c6c3.html"  target="element">
				  				<area shape="rect" coords="418,287,628,342" href="../elements/id-141f4436f4e343e29ff3e8ca46ef6354.html"  target="element">

				  		<area shape="rect" coords="394,167,652,708" href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
											    <td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-141f4436f4e343e29ff3e8ca46ef6354.html" target="element"> Kulttuuriperinn&#246;n s&#228;ilytt&#228;j&#228; </a> </td>
													    <td> <a href="../elements/id-141f4436f4e343e29ff3e8ca46ef6354.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1e22707a4f6c4f80b6ed586457b6c6c3.html" target="element"> Kulttuuriperinn&#246;n kuratoija </a> </td>
													    <td> <a href="../elements/id-1e22707a4f6c4f80b6ed586457b6c6c3.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f8b9d58561184fe48a6144f07790ecd7.html" target="element"> Kulttuuriperint&#246;aineistojen k&#228;ytt&#246;&#246;nsaattaja </a> </td>
													    <td> <a href="../elements/id-f8b9d58561184fe48a6144f07790ecd7.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3b4f6c3ebf944fe39e0d09ff63c5911c.html" target="element"> Kulttuuriperint&#246;aineiston kartuttaja </a> </td>
													    <td> <a href="../elements/id-3b4f6c3ebf944fe39e0d09ff63c5911c.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-992884054c9c47e5828e3b1173e1237e.html" target="element"> Kulttuuriperinn&#246;n s&#228;ilytysvelvollinen </a> </td>
													    <td> <a href="../elements/id-992884054c9c47e5828e3b1173e1237e.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element"> Digitaalisen kulttuuriperinn&#246;n tukipalveluiden tuottajat </a> </td>
											    <td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3c3f24d0645842ec9d6337980fb51e0d.html" target="element"> Palveluiden kehitt&#228;j&#228; </a> </td>
													    <td> <a href="../elements/id-3c3f24d0645842ec9d6337980fb51e0d.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f613e57b02584a1db2c6c74428753eb6.html" target="element"> Palveluiden yll&#228;pit&#228;j&#228; </a> </td>
													    <td> <a href="../elements/id-f613e57b02584a1db2c6c74428753eb6.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a3f3df216dbf42cfb509e398aac9dc10.html" target="element"> Palveluntarjoaja </a> </td>
													    <td> <a href="../elements/id-a3f3df216dbf42cfb509e398aac9dc10.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dce412bd6d6f41b4b9f956c4a7c80ee3.html" target="element"> Palveluiden suunnitelija </a> </td>
													    <td> <a href="../elements/id-dce412bd6d6f41b4b9f956c4a7c80ee3.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
											    <td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-470bc99f0e344d70b8df8ad1672b5bc0.html" target="element"> Yksityishenkil&#246; </a> </td>
													    <td> <a href="../elements/id-470bc99f0e344d70b8df8ad1672b5bc0.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-72ca3a868daf4ac49b3bbeb6493f2391.html" target="element"> Tutkimustaho </a> </td>
													    <td> <a href="../elements/id-72ca3a868daf4ac49b3bbeb6493f2391.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2f096633978844fea25af2a196856d8b.html" target="element"> Yritys </a> </td>
													    <td> <a href="../elements/id-2f096633978844fea25af2a196856d8b.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-514a667952b74f3fbb19ad70df275dbc.html" target="element"> Viranomainen </a> </td>
													    <td> <a href="../elements/id-514a667952b74f3fbb19ad70df275dbc.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fec299e7cbff4d6bb266c6af4ac2d940.html" target="element"> Kolmas sektori </a> </td>
													    <td> <a href="../elements/id-fec299e7cbff4d6bb266c6af4ac2d940.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
											    <td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d0ca4fe801054c2881bf9959143c5644.html" target="element"> Kulttuuriperint&#246;tutkimuksen rahoittaja </a> </td>
													    <td> <a href="../elements/id-d0ca4fe801054c2881bf9959143c5644.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-04149ddc2e6448fe8286692212153fde.html" target="element"> Kulttuuriperinn&#246;n suojelutoiminnan rahoittaja </a> </td>
													    <td> <a href="../elements/id-04149ddc2e6448fe8286692212153fde.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fe958b522b8f428fb5df5d301d65d901.html" target="element"> Kultuuriperint&#246;aktiviteettien rahoittaja </a> </td>
													    <td> <a href="../elements/id-fe958b522b8f428fb5df5d301d65d901.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9f28488893054bd680545336e9c506b2.html" target="element"> Viranomaisteht&#228;vien suorittaja </a> </td>
													    <td> <a href="../elements/id-9f28488893054bd680545336e9c506b2.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1a6bfb8d5de14f88979f9d2020e042ba.html" target="element"> Kulttuuripoliittinen p&#228;&#228;tt&#228;j&#228; </a> </td>
													    <td> <a href="../elements/id-1a6bfb8d5de14f88979f9d2020e042ba.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a137991905974d8299a1a01204374e08.html" target="element"> Kulttuuripoliittinen toimija </a> </td>
													    <td> <a href="../elements/id-a137991905974d8299a1a01204374e08.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-db5a7b2a989c4d8faa90d573ef8155a9.html" target="element"> Kulttuuritoiminnan rahoittaja </a> </td>
													    <td> <a href="../elements/id-db5a7b2a989c4d8faa90d573ef8155a9.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
											    <td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-399fd197b74e495f9c5b7a76b950346a.html" target="element"> Tekij&#228;- ja l&#228;hioikeuksien ja taloudellisten oikeuksien haltija </a> </td>
													    <td> <a href="../elements/id-399fd197b74e495f9c5b7a76b950346a.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-357da8b8e9634620a8d88369126a577a.html" target="element"> Kulttuuriperint&#246;tietojen tuottaja </a> </td>
													    <td> <a href="../elements/id-357da8b8e9634620a8d88369126a577a.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d1edb57d6f834b9387d82a4039fb400e.html" target="element"> Tallennus- tai luovutusvelvollinen </a> </td>
													    <td> <a href="../elements/id-d1edb57d6f834b9387d82a4039fb400e.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0b4d826541e5435abf3a51626c9f05a7.html" target="element"> Kulttuuriaineistojen tuottaja </a> </td>
													    <td> <a href="../elements/id-0b4d826541e5435abf3a51626c9f05a7.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6dce3dacef054ee688d926442612388a.html" target="element"> Kulttuuritoiminnan j&#228;rjest&#228;j&#228; </a> </td>
													    <td> <a href="../elements/id-6dce3dacef054ee688d926442612388a.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-59576fed26a74598855ba6d4931bceb1.html" target="element"> Arkistonmuodostaja </a> </td>
													    <td> <a href="../elements/id-59576fed26a74598855ba6d4931bceb1.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
											    <td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n vaaliminen </a> </td>
											    <td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element"> Kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
											    <td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element"> Notaatio </a> </td>
											    <td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e6ad5508bed046809009f237f9e95cd6.html" target="element"> Toimija (Roolissa) </a> </td>
													    <td> <a href="../elements/id-e6ad5508bed046809009f237f9e95cd6.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-535b8f1a8ae44c04827d8dd50ce15517.html" target="element"> Yhteistoiminta </a> </td>
													    <td> <a href="../elements/id-535b8f1a8ae44c04827d8dd50ce15517.html" target="element" class="i18n-elementtype-BusinessCollaboration">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-45a9660d8ad248b89afc4c64e24077a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-45a9660d8ad248b89afc4c64e24077a7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																		<td> <a href="../elements/id-141f4436f4e343e29ff3e8ca46ef6354.html" target="element"> Kulttuuriperinn&#246;n s&#228;ilytt&#228;j&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3c3affd19f004304b624562a528f11ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c3affd19f004304b624562a528f11ca.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																		<td> <a href="../elements/id-1e22707a4f6c4f80b6ed586457b6c6c3.html" target="element"> Kulttuuriperinn&#246;n kuratoija </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b65a424b622e4e2e974554e10b56a44d.html" target="element"> ohjaa ja tukee </a> </td>
																		<td> <a href="../elements/id-b65a424b622e4e2e974554e10b56a44d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-30c9067cbd9e462997b54890f9139176.html" target="element"> toteuttaa </a> </td>
																		<td> <a href="../elements/id-30c9067cbd9e462997b54890f9139176.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																		<td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n vaaliminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bca52773fc9e489e9118057d829ce131.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bca52773fc9e489e9118057d829ce131.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																		<td> <a href="../elements/id-3b4f6c3ebf944fe39e0d09ff63c5911c.html" target="element"> Kulttuuriperint&#246;aineiston kartuttaja </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1766c22ca1044955913bb6e39d54699b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1766c22ca1044955913bb6e39d54699b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																		<td> <a href="../elements/id-f8b9d58561184fe48a6144f07790ecd7.html" target="element"> Kulttuuriperint&#246;aineistojen k&#228;ytt&#246;&#246;nsaattaja </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d674f0d8e4f74f42a06262646c20e014.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d674f0d8e4f74f42a06262646c20e014.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																		<td> <a href="../elements/id-992884054c9c47e5828e3b1173e1237e.html" target="element"> Kulttuuriperinn&#246;n s&#228;ilytysvelvollinen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a565d7a1af4d43bf9dfd5d72896bdfe2.html" target="element"> toteuttaa </a> </td>
																		<td> <a href="../elements/id-a565d7a1af4d43bf9dfd5d72896bdfe2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																		<td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element"> Kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d593d691ab804260ac6d375e0a33cbef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d593d691ab804260ac6d375e0a33cbef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element"> Digitaalisen kulttuuriperinn&#246;n tukipalveluiden tuottajat </a> </td>
																		<td> <a href="../elements/id-3c3f24d0645842ec9d6337980fb51e0d.html" target="element"> Palveluiden kehitt&#228;j&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-09fd3dc205cb47c997d699a58e68dfdd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09fd3dc205cb47c997d699a58e68dfdd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element"> Digitaalisen kulttuuriperinn&#246;n tukipalveluiden tuottajat </a> </td>
																		<td> <a href="../elements/id-f613e57b02584a1db2c6c74428753eb6.html" target="element"> Palveluiden yll&#228;pit&#228;j&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-df08f710f7f5480893e9f6064ac7251c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df08f710f7f5480893e9f6064ac7251c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element"> Digitaalisen kulttuuriperinn&#246;n tukipalveluiden tuottajat </a> </td>
																		<td> <a href="../elements/id-a3f3df216dbf42cfb509e398aac9dc10.html" target="element"> Palveluntarjoaja </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2626f70fc3e8430fae8b618b7b031d4b.html" target="element"> tekninen tuki </a> </td>
																		<td> <a href="../elements/id-2626f70fc3e8430fae8b618b7b031d4b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element"> Digitaalisen kulttuuriperinn&#246;n tukipalveluiden tuottajat </a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-02d0dcdb21da4aee8365dc501cb7fcd6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02d0dcdb21da4aee8365dc501cb7fcd6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element"> Digitaalisen kulttuuriperinn&#246;n tukipalveluiden tuottajat </a> </td>
																		<td> <a href="../elements/id-dce412bd6d6f41b4b9f956c4a7c80ee3.html" target="element"> Palveluiden suunnitelija </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-301977ccb7b9449cb9df1a184ad7f5c3.html" target="element"> tekninen tuki </a> </td>
																		<td> <a href="../elements/id-301977ccb7b9449cb9df1a184ad7f5c3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element"> Digitaalisen kulttuuriperinn&#246;n tukipalveluiden tuottajat </a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-73de70b8e9314803b04e1b3e950d7ca2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73de70b8e9314803b04e1b3e950d7ca2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
																		<td> <a href="../elements/id-470bc99f0e344d70b8df8ad1672b5bc0.html" target="element"> Yksityishenkil&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aec27990c7524b41865a8c79139060c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aec27990c7524b41865a8c79139060c7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
																		<td> <a href="../elements/id-72ca3a868daf4ac49b3bbeb6493f2391.html" target="element"> Tutkimustaho </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-77b54724387f441fb42120d5154fcf2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77b54724387f441fb42120d5154fcf2b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
																		<td> <a href="../elements/id-2f096633978844fea25af2a196856d8b.html" target="element"> Yritys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0907acc36d374c289e3268828c6168db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0907acc36d374c289e3268828c6168db.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
																		<td> <a href="../elements/id-514a667952b74f3fbb19ad70df275dbc.html" target="element"> Viranomainen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5cc877a9499643a1aa0e00de3de7cbea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5cc877a9499643a1aa0e00de3de7cbea.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
																		<td> <a href="../elements/id-fec299e7cbff4d6bb266c6af4ac2d940.html" target="element"> Kolmas sektori </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64c46cec38cf4c5c97d5dbb2dc1c0de4.html" target="element"> tukee </a> </td>
																		<td> <a href="../elements/id-64c46cec38cf4c5c97d5dbb2dc1c0de4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf367d2efce14cb09def6a403ed8c488.html" target="element"> osallistuu ja hy&#246;dynt&#228;&#228; </a> </td>
																		<td> <a href="../elements/id-cf367d2efce14cb09def6a403ed8c488.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-16668215576642cb8ed0564091c9e188.html" target="element"> Kulttuuriperinn&#246;n hy&#246;dynt&#228;j&#228; </a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9180027345694b9fa235ff92f61ed91e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9180027345694b9fa235ff92f61ed91e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-d0ca4fe801054c2881bf9959143c5644.html" target="element"> Kulttuuriperint&#246;tutkimuksen rahoittaja </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2019684118584a09b160c1e8333ea798.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2019684118584a09b160c1e8333ea798.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-04149ddc2e6448fe8286692212153fde.html" target="element"> Kulttuuriperinn&#246;n suojelutoiminnan rahoittaja </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-740d5f9974bc4d6fb6f1eb68f7159f98.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-740d5f9974bc4d6fb6f1eb68f7159f98.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-fe958b522b8f428fb5df5d301d65d901.html" target="element"> Kultuuriperint&#246;aktiviteettien rahoittaja </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-83d2255799a74642a05a3d8fcd50aeea.html" target="element"> ohjaa ja tukee </a> </td>
																		<td> <a href="../elements/id-83d2255799a74642a05a3d8fcd50aeea.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d29833613bfe4ba2a86c8a50d0735029.html" target="element"> ohjaa ja tukee </a> </td>
																		<td> <a href="../elements/id-d29833613bfe4ba2a86c8a50d0735029.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n vaaliminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2025ecfd19134be98100226645ef701a.html" target="element"> rahoitus ja ohjaus </a> </td>
																		<td> <a href="../elements/id-2025ecfd19134be98100226645ef701a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-d97f704132614d48b9a3aa549a19b9e4.html" target="element"> Kulttuuriperinn&#246;n mahdollistaja </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59aebdb0527149f2a2809cd68a0acb35.html" target="element"> ohjaa ja tukee </a> </td>
																		<td> <a href="../elements/id-59aebdb0527149f2a2809cd68a0acb35.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a4d5276c8a3d47979c2c5919e1c5672b.html" target="element"> ohjaa ja tukee </a> </td>
																		<td> <a href="../elements/id-a4d5276c8a3d47979c2c5919e1c5672b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-46989a99983f4b72a2f6c58db52d8360.html" target="element"> Digitaalisen kulttuuriperinn&#246;n tukipalveluiden tuottajat </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-35ebb8c1402146d7ab7bc350a5183a10.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-35ebb8c1402146d7ab7bc350a5183a10.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-a137991905974d8299a1a01204374e08.html" target="element"> Kulttuuripoliittinen toimija </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c03e079536324ab78dedf2c5b73e8e04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c03e079536324ab78dedf2c5b73e8e04.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-9f28488893054bd680545336e9c506b2.html" target="element"> Viranomaisteht&#228;vien suorittaja </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bbbc67c9dfb84de69a49ae5b0fddb0bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bbbc67c9dfb84de69a49ae5b0fddb0bf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-1a6bfb8d5de14f88979f9d2020e042ba.html" target="element"> Kulttuuripoliittinen p&#228;&#228;tt&#228;j&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2c86c3e6cb1f4a40afe80ca2436628e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c86c3e6cb1f4a40afe80ca2436628e7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03f1f202a0f24290b3c4bce024b2dbf1.html" target="element"> Kulttuuriperint&#246;&#228; ohjaava taho </a> </td>
																		<td> <a href="../elements/id-db5a7b2a989c4d8faa90d573ef8155a9.html" target="element"> Kulttuuritoiminnan rahoittaja </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-bfe366b797cd4a1881596a3c611f7721.html" target="element"> j&#228;rjest&#228;&#228; </a> </td>
																		<td> <a href="../elements/id-bfe366b797cd4a1881596a3c611f7721.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cabb97d67527424d8f74581420a8a854.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cabb97d67527424d8f74581420a8a854.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																		<td> <a href="../elements/id-399fd197b74e495f9c5b7a76b950346a.html" target="element"> Tekij&#228;- ja l&#228;hioikeuksien ja taloudellisten oikeuksien haltija </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-011c788b50d747d985997c2f51078132.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-011c788b50d747d985997c2f51078132.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																		<td> <a href="../elements/id-357da8b8e9634620a8d88369126a577a.html" target="element"> Kulttuuriperint&#246;tietojen tuottaja </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-400368838f784bc685a3cfa5327a9f4f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-400368838f784bc685a3cfa5327a9f4f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																		<td> <a href="../elements/id-d1edb57d6f834b9387d82a4039fb400e.html" target="element"> Tallennus- tai luovutusvelvollinen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b891692b8fb44007b9bd6a01f46a1498.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b891692b8fb44007b9bd6a01f46a1498.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																		<td> <a href="../elements/id-0b4d826541e5435abf3a51626c9f05a7.html" target="element"> Kulttuuriaineistojen tuottaja </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6c01610c7fee42b489e8b8d105ecff3f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c01610c7fee42b489e8b8d105ecff3f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																		<td> <a href="../elements/id-6dce3dacef054ee688d926442612388a.html" target="element"> Kulttuuritoiminnan j&#228;rjest&#228;j&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bb9f34daf84c4e1896accf12a4a2d5c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb9f34daf84c4e1896accf12a4a2d5c7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7c963de80b97424794b0cb81ccd819eb.html" target="element"> Kulttuuritoimija </a> </td>
																		<td> <a href="../elements/id-59576fed26a74598855ba6d4931bceb1.html" target="element"> Arkistonmuodostaja </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b3adaaf5fcb94bb5ae9e9a6d6c055a27.html" target="element"> hy&#246;dynt&#228;&#228; </a> </td>
																		<td> <a href="../elements/id-b3adaaf5fcb94bb5ae9e9a6d6c055a27.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																		<td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element"> Kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5c6e79e005614590b4820349f1a2ad33.html" target="element"> seuraa </a> </td>
																		<td> <a href="../elements/id-5c6e79e005614590b4820349f1a2ad33.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n vaaliminen </a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fabca7e73e504b16ae6b1065b7e9c0fa.html" target="element"> mahdollistaa </a> </td>
																		<td> <a href="../elements/id-fabca7e73e504b16ae6b1065b7e9c0fa.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f08abf7042a413e8edbe1247537151a.html" target="element"> Kulttuuriperinn&#246;n vaaliminen </a> </td>
																		<td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element"> Kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4d487c0b60d34778bf4327a5feb0fca0.html" target="element"> tukee </a> </td>
																		<td> <a href="../elements/id-4d487c0b60d34778bf4327a5feb0fca0.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-85cb668cd865439fa339855ccb56bda0.html" target="element"> Kulttuuriperinn&#246;n k&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-1882fb38ab024119be451e948c265005.html" target="element"> Yhteiskunta, taide ja kulttuuritoiminta </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2e38a3feac39415f87d694ad0e6d0f0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e38a3feac39415f87d694ad0e6d0f0a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-535b8f1a8ae44c04827d8dd50ce15517.html" target="element"> Yhteistoiminta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd031344249d47798cad898b6a744c50.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd031344249d47798cad898b6a744c50.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7b5cb568a804b1ebe4fb57c0401431b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7b5cb568a804b1ebe4fb57c0401431b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-e6ad5508bed046809009f237f9e95cd6.html" target="element"> Toimija (Roolissa) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b75d7b2c0aa444b90857cc2ca2f36ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b75d7b2c0aa444b90857cc2ca2f36ab.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38173dd9055f4f0ba1542ee134f63221.html" target="element"> Notaatio </a> </td>
																		<td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element">  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f9e1e8c0455244b88981bfa7f87e531e.html" target="element"> palvelee </a> </td>
																				<td> <a href="../elements/id-f9e1e8c0455244b88981bfa7f87e531e.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7d5974904d3b438d8ff342693624557d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6aeda9950be64c3b8e8427ac78bd8b1f.html" target="element">  </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>