<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Liiketoimintamalli</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Liiketoimintamalli</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e0dd183929224f15903f6fcc9edbd3ff.png" alt="Liiketoimintamalli" usemap="#id-e0dd183929224f15903f6fcc9edbd3ffmap"/>
			   <map name="id-e0dd183929224f15903f6fcc9edbd3ffmap">
				  				<area shape="rect" coords="610,70,743,125" href="../elements/id-d3c913f563f548b497c74545050b4ab9.html"  target="element">

				          <area shape="rect" coords="586,10,779,191" href="../objects/id-687e5fc5a67e44ef8ef2402eba0dbc30.html" target="element" >
				  				<area shape="rect" coords="814,70,934,125" href="../elements/id-e9e15110682b438ebaa7e3e8f932751a.html"  target="element">

				          <area shape="rect" coords="790,10,959,359" href="../objects/id-6de99399201b4355977c595d7a551dd4.html" target="element" >
				  				<area shape="rect" coords="622,262,742,317" href="../elements/id-eea1040983cd461ba8e61d55eb788fc7.html"  target="element">

				          <area shape="rect" coords="586,202,779,359" href="../objects/id-b8c44fab3afd4f8b972201caa717571b.html" target="element" >
				  				<area shape="rect" coords="626,422,746,477" href="../elements/id-423232dc6a4148cbb6d04cdb17fdf1e5.html"  target="element">

				          <area shape="rect" coords="430,370,959,510" href="../objects/id-07fe76097c6842fca946df49520bea31.html" target="element" >
				  				<area shape="rect" coords="118,418,251,473" href="../elements/id-9091a773b0b1471893b6aaca7970673a.html"  target="element">

				          <area shape="rect" coords="10,370,419,510" href="../objects/id-c51bec56113b412b9016f76496bf0868.html" target="element" >
				  				<area shape="rect" coords="253,262,373,317" href="../elements/id-8252df5c754447ea876cfe0f3be610bc.html"  target="element">

				          <area shape="rect" coords="217,202,419,359" href="../objects/id-37531554095c4043a32cfe15a4f0071c.html" target="element" >
				  				<area shape="rect" coords="442,70,562,125" href="../elements/id-9a60cfc6be904dbe9382ba363a81312c.html"  target="element">

				          <area shape="rect" coords="430,10,575,359" href="../objects/id-723dc6ea8e204a449a1233901167729e.html" target="element" >
				  				<area shape="rect" coords="249,74,369,129" href="../elements/id-c67bd6da10234a7782c80561dfe77e18.html"  target="element">

				          <area shape="rect" coords="217,10,419,191" href="../objects/id-c72e92544da4471ebf8151e586593968.html" target="element" >
				  				<area shape="rect" coords="46,70,166,125" href="../elements/id-6b3826b7fcf545b38ef593f6b236495e.html"  target="element">

				          <area shape="rect" coords="10,10,203,359" href="../objects/id-fbe0821fe35343e4981510ac80063bd7.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-fbe0821fe35343e4981510ac80063bd7.html" target="element"> Sidosryhm&#228;t </a> </td>
									           <td> <a href="../objects/id-fbe0821fe35343e4981510ac80063bd7.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-6b3826b7fcf545b38ef593f6b236495e.html" target="element"> Sidosryhm&#228; </a> </td>
													    <td> <a href="../elements/id-6b3826b7fcf545b38ef593f6b236495e.html" target="element" class="i18n-elementtype-Stakeholder">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-c72e92544da4471ebf8151e586593968.html" target="element"> Arvoketjut </a> </td>
									           <td> <a href="../objects/id-c72e92544da4471ebf8151e586593968.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-c67bd6da10234a7782c80561dfe77e18.html" target="element"> Arvoketju </a> </td>
													    <td> <a href="../elements/id-c67bd6da10234a7782c80561dfe77e18.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-723dc6ea8e204a449a1233901167729e.html" target="element"> Arvolupaukset </a> </td>
									           <td> <a href="../objects/id-723dc6ea8e204a449a1233901167729e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-9a60cfc6be904dbe9382ba363a81312c.html" target="element"> Arvo </a> </td>
													    <td> <a href="../elements/id-9a60cfc6be904dbe9382ba363a81312c.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-37531554095c4043a32cfe15a4f0071c.html" target="element"> Kyvykkyydet </a> </td>
									           <td> <a href="../objects/id-37531554095c4043a32cfe15a4f0071c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-8252df5c754447ea876cfe0f3be610bc.html" target="element"> Kyvykkyys </a> </td>
													    <td> <a href="../elements/id-8252df5c754447ea876cfe0f3be610bc.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-c51bec56113b412b9016f76496bf0868.html" target="element"> Kulurakenne </a> </td>
									           <td> <a href="../objects/id-c51bec56113b412b9016f76496bf0868.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-9091a773b0b1471893b6aaca7970673a.html" target="element"> Kustannus (Arvo) </a> </td>
													    <td> <a href="../elements/id-9091a773b0b1471893b6aaca7970673a.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-07fe76097c6842fca946df49520bea31.html" target="element"> Tulovirrat </a> </td>
									           <td> <a href="../objects/id-07fe76097c6842fca946df49520bea31.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-423232dc6a4148cbb6d04cdb17fdf1e5.html" target="element"> Tulo (Arvo) </a> </td>
													    <td> <a href="../elements/id-423232dc6a4148cbb6d04cdb17fdf1e5.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-b8c44fab3afd4f8b972201caa717571b.html" target="element"> Palvelukanavat </a> </td>
									           <td> <a href="../objects/id-b8c44fab3afd4f8b972201caa717571b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-eea1040983cd461ba8e61d55eb788fc7.html" target="element"> Kanava </a> </td>
													    <td> <a href="../elements/id-eea1040983cd461ba8e61d55eb788fc7.html" target="element" class="i18n-elementtype-BusinessInterface">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-6de99399201b4355977c595d7a551dd4.html" target="element"> Loppuk&#228;ytt&#228;j&#228;t </a> </td>
									           <td> <a href="../objects/id-6de99399201b4355977c595d7a551dd4.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-e9e15110682b438ebaa7e3e8f932751a.html" target="element"> K&#228;ytt&#228;j&#228; </a> </td>
													    <td> <a href="../elements/id-e9e15110682b438ebaa7e3e8f932751a.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-687e5fc5a67e44ef8ef2402eba0dbc30.html" target="element"> Yhteistoiminta </a> </td>
									           <td> <a href="../objects/id-687e5fc5a67e44ef8ef2402eba0dbc30.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-d3c913f563f548b497c74545050b4ab9.html" target="element"> Yhteistoiminta </a> </td>
													    <td> <a href="../elements/id-d3c913f563f548b497c74545050b4ab9.html" target="element" class="i18n-elementtype-BusinessCollaboration">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>