<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Palvelukartta</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Palvelukartta</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ecf66ef1ff5043af8573d94d9930bf40.png" alt="Palvelukartta" usemap="#id-ecf66ef1ff5043af8573d94d9930bf40map"/>
			   <map name="id-ecf66ef1ff5043af8573d94d9930bf40map">
				  				<area shape="rect" coords="731,503,984,558" href="../elements/id-5c3281e193f54325895058124dbea1b8.html"  target="element">
				  				<area shape="rect" coords="731,287,984,342" href="../elements/id-516931caa2a1452584a5daf7a306494e.html"  target="element">
				  				<area shape="rect" coords="731,215,984,270" href="../elements/id-15efb531098e4207b0069fce108cb283.html"  target="element">
				  				<area shape="rect" coords="731,431,983,486" href="../elements/id-d44103f8bab14488894f47d6c56f8eeb.html"  target="element">
				  				<area shape="rect" coords="731,359,984,414" href="../elements/id-2d0fee9983204751a0c293dd1ee679c8.html"  target="element">

				  		<area shape="rect" coords="706,167,1019,587" href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html"  target="element">
				  				<area shape="rect" coords="394,215,634,270" href="../elements/id-ad7597dc35ae4bf3ae352e61e131cfb7.html"  target="element">
				  				<area shape="rect" coords="395,431,634,486" href="../elements/id-ca8df1b8e1b04842843db2ebfa29a68a.html"  target="element">
				  				<area shape="rect" coords="395,359,633,414" href="../elements/id-dd7e3e0370f243b4a3b30b64ac14e880.html"  target="element">
				  				<area shape="rect" coords="395,287,633,342" href="../elements/id-927e3bbe72ef4009996e55998fefd417.html"  target="element">

				  		<area shape="rect" coords="358,167,671,587" href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html"  target="element">
				  				<area shape="rect" coords="35,215,276,270" href="../elements/id-532f345331c44399b2d9d10f225e245a.html"  target="element">
				  				<area shape="rect" coords="35,431,275,486" href="../elements/id-1afedf3a13734a14a4770b44b3cda8d2.html"  target="element">
				  				<area shape="rect" coords="35,359,276,414" href="../elements/id-64a9c2df5299409f80eb2553be6523cb.html"  target="element">
				  				<area shape="rect" coords="34,287,276,342" href="../elements/id-1f69af393404425ab6cd7faa83b573e0.html"  target="element">

				  		<area shape="rect" coords="10,167,311,587" href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html"  target="element">
				  				<area shape="rect" coords="549,730,730,785" href="../elements/id-697717fa4f8e4e6f98ac3fa8c845c281.html"  target="element">
				  				<area shape="rect" coords="790,804,971,859" href="../elements/id-57735e7bf6b949cab7b61b711788ce13.html"  target="element">
				  				<area shape="rect" coords="790,730,971,785" href="../elements/id-e78c8375bab548ad87cca152146d6b70.html"  target="element">
				  				<area shape="rect" coords="790,658,971,713" href="../elements/id-493247d6af234816874b8ce7a0a752ad.html"  target="element">
				  				<area shape="rect" coords="34,802,215,862" href="../elements/id-7bf0497144a64c3390165cc3ca506958.html"  target="element">
				  				<area shape="rect" coords="286,804,478,859" href="../elements/id-9b74bccbb708473190d0f0324d46db46.html"  target="element">
				  				<area shape="rect" coords="286,730,478,785" href="../elements/id-ada8159258b44b49b7dfd5a0241e9a0e.html"  target="element">
				  				<area shape="rect" coords="34,730,215,785" href="../elements/id-d15e13548a074fff8f6a2b3f0255e194.html"  target="element">
				  				<area shape="rect" coords="550,658,730,713" href="../elements/id-0b191dbcf3d242ac96e6244522594861.html"  target="element">
				  				<area shape="rect" coords="546,804,730,859" href="../elements/id-c9daa9f21c2c471292a894abdc7b7854.html"  target="element">
				  				<area shape="rect" coords="286,658,478,713" href="../elements/id-9facad923b8947cb9cdd8af6862e7fbf.html"  target="element">
				  				<area shape="rect" coords="34,658,215,713" href="../elements/id-403ed574671b4a88ad2b45a1b8a403f6.html"  target="element">

				  		<area shape="rect" coords="10,622,1019,887" href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html"  target="element">
				  				<area shape="rect" coords="562,46,755,101" href="../elements/id-94863ae8b01047c8a30fa830e7b9596b.html"  target="element">
				  				<area shape="rect" coords="34,46,263,101" href="../elements/id-46a4714cb4444b68a4b7d23e6f58acee.html"  target="element">
				  				<area shape="rect" coords="298,46,515,101" href="../elements/id-cf6071f2a38a4daf8bdb1c1327f1d620.html"  target="element">
				  				<area shape="rect" coords="790,48,971,100" href="../elements/id-366ff1e776ef4151b63dfbc2699a604e.html"  target="element">

				  		<area shape="rect" coords="10,10,1019,131" href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element"> Ohjaus ja neuvonta </a> </td>
											    <td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-366ff1e776ef4151b63dfbc2699a604e.html" target="element"> K&#228;yt&#246;n ja vaikuttavuuden seuranta </a> </td>
													    <td> <a href="../elements/id-366ff1e776ef4151b63dfbc2699a604e.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cf6071f2a38a4daf8bdb1c1327f1d620.html" target="element"> Pitk&#228;aikaiss&#228;ilytyksen valmistelu </a> </td>
													    <td> <a href="../elements/id-cf6071f2a38a4daf8bdb1c1327f1d620.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-46a4714cb4444b68a4b7d23e6f58acee.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;yt&#246;n edist&#228;minen </a> </td>
													    <td> <a href="../elements/id-46a4714cb4444b68a4b7d23e6f58acee.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-94863ae8b01047c8a30fa830e7b9596b.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-94863ae8b01047c8a30fa830e7b9596b.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
											    <td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-403ed574671b4a88ad2b45a1b8a403f6.html" target="element"> Tunnistautuminen </a> </td>
													    <td> <a href="../elements/id-403ed574671b4a88ad2b45a1b8a403f6.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9facad923b8947cb9cdd8af6862e7fbf.html" target="element"> Maksutavat </a> </td>
													    <td> <a href="../elements/id-9facad923b8947cb9cdd8af6862e7fbf.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c9daa9f21c2c471292a894abdc7b7854.html" target="element"> Pysyv&#228;t tunnisteet </a> </td>
													    <td> <a href="../elements/id-c9daa9f21c2c471292a894abdc7b7854.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0b191dbcf3d242ac96e6244522594861.html" target="element"> Integraatiot </a> </td>
													    <td> <a href="../elements/id-0b191dbcf3d242ac96e6244522594861.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d15e13548a074fff8f6a2b3f0255e194.html" target="element"> Joukkoistus </a> </td>
													    <td> <a href="../elements/id-d15e13548a074fff8f6a2b3f0255e194.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ada8159258b44b49b7dfd5a0241e9a0e.html" target="element"> Asiointi </a> </td>
													    <td> <a href="../elements/id-ada8159258b44b49b7dfd5a0241e9a0e.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9b74bccbb708473190d0f0324d46db46.html" target="element"> K&#228;ytt&#246;lupa- ja k&#228;ytt&#246;ehtopalvelut </a> </td>
													    <td> <a href="../elements/id-9b74bccbb708473190d0f0324d46db46.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7bf0497144a64c3390165cc3ca506958.html" target="element"> Dataekosysteemi tai alusta </a> </td>
													    <td> <a href="../elements/id-7bf0497144a64c3390165cc3ca506958.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-493247d6af234816874b8ce7a0a752ad.html" target="element"> Ontologiat </a> </td>
													    <td> <a href="../elements/id-493247d6af234816874b8ce7a0a752ad.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e78c8375bab548ad87cca152146d6b70.html" target="element"> Viitetiedot </a> </td>
													    <td> <a href="../elements/id-e78c8375bab548ad87cca152146d6b70.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-57735e7bf6b949cab7b61b711788ce13.html" target="element"> Nimitiedot </a> </td>
													    <td> <a href="../elements/id-57735e7bf6b949cab7b61b711788ce13.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-697717fa4f8e4e6f98ac3fa8c845c281.html" target="element"> Paikkatieto </a> </td>
													    <td> <a href="../elements/id-697717fa4f8e4e6f98ac3fa8c845c281.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element"> Kartuttaminen </a> </td>
											    <td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1f69af393404425ab6cd7faa83b573e0.html" target="element"> Arvonm&#228;&#228;ritys ja seulonta </a> </td>
													    <td> <a href="../elements/id-1f69af393404425ab6cd7faa83b573e0.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-64a9c2df5299409f80eb2553be6523cb.html" target="element"> Digitointi </a> </td>
													    <td> <a href="../elements/id-64a9c2df5299409f80eb2553be6523cb.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1afedf3a13734a14a4770b44b3cda8d2.html" target="element"> Digitaalisten aineistojen kokoaminen </a> </td>
													    <td> <a href="../elements/id-1afedf3a13734a14a4770b44b3cda8d2.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-532f345331c44399b2d9d10f225e245a.html" target="element"> Hankinta, ker&#228;&#228;minen ja vastaanotto </a> </td>
													    <td> <a href="../elements/id-532f345331c44399b2d9d10f225e245a.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
											    <td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-927e3bbe72ef4009996e55998fefd417.html" target="element"> Aineistojenhallinta </a> </td>
													    <td> <a href="../elements/id-927e3bbe72ef4009996e55998fefd417.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dd7e3e0370f243b4a3b30b64ac14e880.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
													    <td> <a href="../elements/id-dd7e3e0370f243b4a3b30b64ac14e880.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ca8df1b8e1b04842843db2ebfa29a68a.html" target="element"> Teko&#228;ly </a> </td>
													    <td> <a href="../elements/id-ca8df1b8e1b04842843db2ebfa29a68a.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ad7597dc35ae4bf3ae352e61e131cfb7.html" target="element"> Kuvailu </a> </td>
													    <td> <a href="../elements/id-ad7597dc35ae4bf3ae352e61e131cfb7.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
											    <td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2d0fee9983204751a0c293dd1ee679c8.html" target="element"> Aineistojen esitt&#228;minen </a> </td>
													    <td> <a href="../elements/id-2d0fee9983204751a0c293dd1ee679c8.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d44103f8bab14488894f47d6c56f8eeb.html" target="element"> Rajapinta </a> </td>
													    <td> <a href="../elements/id-d44103f8bab14488894f47d6c56f8eeb.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-15efb531098e4207b0069fce108cb283.html" target="element"> Haku </a> </td>
													    <td> <a href="../elements/id-15efb531098e4207b0069fce108cb283.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-516931caa2a1452584a5daf7a306494e.html" target="element"> Saatavuus </a> </td>
													    <td> <a href="../elements/id-516931caa2a1452584a5daf7a306494e.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5c3281e193f54325895058124dbea1b8.html" target="element"> Jatkokehitys ja uudelleenk&#228;ytt&#246; </a> </td>
													    <td> <a href="../elements/id-5c3281e193f54325895058124dbea1b8.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b24ba3dcbeda4b0392ec52760a9b7037.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b24ba3dcbeda4b0392ec52760a9b7037.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element"> Ohjaus ja neuvonta </a> </td>
																		<td> <a href="../elements/id-94863ae8b01047c8a30fa830e7b9596b.html" target="element"> Yhteentoimivuuden kehitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-db0382df632943398e3ca48d9a79ac07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db0382df632943398e3ca48d9a79ac07.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element"> Ohjaus ja neuvonta </a> </td>
																		<td> <a href="../elements/id-46a4714cb4444b68a4b7d23e6f58acee.html" target="element"> Digitaalisen kulttuuriperinn&#246;n k&#228;yt&#246;n edist&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f60659aaf2c453fac99305705e0a7eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f60659aaf2c453fac99305705e0a7eb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element"> Ohjaus ja neuvonta </a> </td>
																		<td> <a href="../elements/id-366ff1e776ef4151b63dfbc2699a604e.html" target="element"> K&#228;yt&#246;n ja vaikuttavuuden seuranta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb4fcfb9ccfe4d26b48e97ef5da294f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb4fcfb9ccfe4d26b48e97ef5da294f7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf9a8c5a4bd84cb1ab05288f84b009a3.html" target="element"> Ohjaus ja neuvonta </a> </td>
																		<td> <a href="../elements/id-cf6071f2a38a4daf8bdb1c1327f1d620.html" target="element"> Pitk&#228;aikaiss&#228;ilytyksen valmistelu </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-dfb994e50c574b95835aa4b084adcce9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dfb994e50c574b95835aa4b084adcce9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-c9daa9f21c2c471292a894abdc7b7854.html" target="element"> Pysyv&#228;t tunnisteet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bff837b4496b4b2aaa1da9a8987086ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bff837b4496b4b2aaa1da9a8987086ef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-493247d6af234816874b8ce7a0a752ad.html" target="element"> Ontologiat </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5dbe0caec9cb450ab951e24b42f6022e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5dbe0caec9cb450ab951e24b42f6022e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-403ed574671b4a88ad2b45a1b8a403f6.html" target="element"> Tunnistautuminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7bcc8e7715bb47708ef36db3ce54fe49.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bcc8e7715bb47708ef36db3ce54fe49.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-d15e13548a074fff8f6a2b3f0255e194.html" target="element"> Joukkoistus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6eed9ee1f62e4cfaa7239458247f2a33.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6eed9ee1f62e4cfaa7239458247f2a33.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-9facad923b8947cb9cdd8af6862e7fbf.html" target="element"> Maksutavat </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-61eafe9cd06a4183b06e7ee426265dd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61eafe9cd06a4183b06e7ee426265dd8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-0b191dbcf3d242ac96e6244522594861.html" target="element"> Integraatiot </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1b05dcb0037f44d39fa33fe99058d336.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b05dcb0037f44d39fa33fe99058d336.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-ada8159258b44b49b7dfd5a0241e9a0e.html" target="element"> Asiointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e2a18a91557c44efbcea30361d82b4e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e2a18a91557c44efbcea30361d82b4e3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-e78c8375bab548ad87cca152146d6b70.html" target="element"> Viitetiedot </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-840c286968ba4b1d9da5ece8407aab3e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-840c286968ba4b1d9da5ece8407aab3e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-9b74bccbb708473190d0f0324d46db46.html" target="element"> K&#228;ytt&#246;lupa- ja k&#228;ytt&#246;ehtopalvelut </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6eb4330b70b841a9bbeffced5e055a18.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6eb4330b70b841a9bbeffced5e055a18.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-57735e7bf6b949cab7b61b711788ce13.html" target="element"> Nimitiedot </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6c64263b36de45b7afcdefba0b209e0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c64263b36de45b7afcdefba0b209e0d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-7bf0497144a64c3390165cc3ca506958.html" target="element"> Dataekosysteemi tai alusta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed22dfeea65a430398b90c8ebceda393.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed22dfeea65a430398b90c8ebceda393.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97006eaad69a42bba2d23608fe40e9e4.html" target="element"> Tuki </a> </td>
																		<td> <a href="../elements/id-697717fa4f8e4e6f98ac3fa8c845c281.html" target="element"> Paikkatieto </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a323ae4a148d463ea737a0febcfccc21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a323ae4a148d463ea737a0febcfccc21.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element"> Kartuttaminen </a> </td>
																		<td> <a href="../elements/id-1afedf3a13734a14a4770b44b3cda8d2.html" target="element"> Digitaalisten aineistojen kokoaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6aee31653abc464a83edc54370d3d671.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6aee31653abc464a83edc54370d3d671.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element"> Kartuttaminen </a> </td>
																		<td> <a href="../elements/id-64a9c2df5299409f80eb2553be6523cb.html" target="element"> Digitointi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ceede19198c94fd59820af640010fda9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ceede19198c94fd59820af640010fda9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element"> Kartuttaminen </a> </td>
																		<td> <a href="../elements/id-1f69af393404425ab6cd7faa83b573e0.html" target="element"> Arvonm&#228;&#228;ritys ja seulonta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a4af75fc70b64ca68d7f10d4ba7afc2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4af75fc70b64ca68d7f10d4ba7afc2d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0e3b1d6f0504933a38bb17472cdceff.html" target="element"> Kartuttaminen </a> </td>
																		<td> <a href="../elements/id-532f345331c44399b2d9d10f225e245a.html" target="element"> Hankinta, ker&#228;&#228;minen ja vastaanotto </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7097352f4cc048c2b80921b0cdb4ff03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7097352f4cc048c2b80921b0cdb4ff03.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
																		<td> <a href="../elements/id-dd7e3e0370f243b4a3b30b64ac14e880.html" target="element"> Pitk&#228;aikaiss&#228;ilytys </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-716c7e2371f544e1b1aa65414faa5b78.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-716c7e2371f544e1b1aa65414faa5b78.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
																		<td> <a href="../elements/id-927e3bbe72ef4009996e55998fefd417.html" target="element"> Aineistojenhallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ebbf0eca613f41e4bd88194a924e7607.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ebbf0eca613f41e4bd88194a924e7607.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
																		<td> <a href="../elements/id-ca8df1b8e1b04842843db2ebfa29a68a.html" target="element"> Teko&#228;ly </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5825b9fe11194a54bb3d0baa851cb29b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5825b9fe11194a54bb3d0baa851cb29b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-482b6132ddec4cda9e73e7713dcb2521.html" target="element"> Hallinnointi ja yll&#228;pito </a> </td>
																		<td> <a href="../elements/id-ad7597dc35ae4bf3ae352e61e131cfb7.html" target="element"> Kuvailu </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-435641422b0b447a9785900d0c94eafa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-435641422b0b447a9785900d0c94eafa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-2d0fee9983204751a0c293dd1ee679c8.html" target="element"> Aineistojen esitt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1f9d79c5a4b5404b9649e47adbcd7173.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f9d79c5a4b5404b9649e47adbcd7173.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-d44103f8bab14488894f47d6c56f8eeb.html" target="element"> Rajapinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7c37780db2754a5bbf9331ae8b00208e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c37780db2754a5bbf9331ae8b00208e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-15efb531098e4207b0069fce108cb283.html" target="element"> Haku </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e0796bfd8adf4437be2e87c0b48f2209.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0796bfd8adf4437be2e87c0b48f2209.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-516931caa2a1452584a5daf7a306494e.html" target="element"> Saatavuus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5e7950105f404274bf668cae016df352.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e7950105f404274bf668cae016df352.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-5c3281e193f54325895058124dbea1b8.html" target="element"> Jatkokehitys ja uudelleenk&#228;ytt&#246; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-210f65d2e95b4a8d9e5077d2cdd30d8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-210f65d2e95b4a8d9e5077d2cdd30d8c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c680cae66c454c20a727a64e0c60f0af.html" target="element"> K&#228;ytt&#246;&#246;nsaattaminen </a> </td>
																		<td> <a href="../elements/id-5c3281e193f54325895058124dbea1b8.html" target="element"> Jatkokehitys ja uudelleenk&#228;ytt&#246; </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>