<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Laki Taiteen edistämiskeskuksesta</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Laki Taiteen edist&#228;miskeskuksesta</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f41076ac9bf34cf8bfad89859e99ec8c.png" alt="Laki Taiteen edistämiskeskuksesta" usemap="#id-f41076ac9bf34cf8bfad89859e99ec8cmap"/>
			   <map name="id-f41076ac9bf34cf8bfad89859e99ec8cmap">
				  		<area shape="rect" coords="1054,250,1319,305" href="../elements/id-bf8a1f9a03844328849486269f843c9c.html"  target="element">
				  		<area shape="rect" coords="802,250,1019,305" href="../elements/id-64fd268b90c347d7bff2f7bc37b54292.html"  target="element">
				  		<area shape="rect" coords="538,250,767,305" href="../elements/id-a1ffc88f96564c0b8b7d62b4c26ac0ac.html"  target="element">
				  		<area shape="rect" coords="214,250,510,305" href="../elements/id-8130d110ab704088b5a105ee996b6cf6.html"  target="element">
				  		<area shape="rect" coords="586,466,767,521" href="../elements/id-a89811f8e3b4448faaecae9096b5577e.html"  target="element">
				  		<area shape="rect" coords="10,250,185,305" href="../elements/id-724314879181470da017a97af527cc9f.html"  target="element">
				  		<area shape="rect" coords="514,10,695,65" href="../elements/id-015a5c52b2fb411aa63cabfb781a227c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-015a5c52b2fb411aa63cabfb781a227c.html" target="element"> Laki Taiteen edist&#228;miskeskuksesta </a> </td>
											    <td> <a href="../elements/id-015a5c52b2fb411aa63cabfb781a227c.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-724314879181470da017a97af527cc9f.html" target="element"> Edist&#228;&#228; taidetta kansallisesti ja kansainv&#228;lisesti </a> </td>
											    <td> <a href="../elements/id-724314879181470da017a97af527cc9f.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a89811f8e3b4448faaecae9096b5577e.html" target="element"> Taiteen edist&#228;miskeskus </a> </td>
											    <td> <a href="../elements/id-a89811f8e3b4448faaecae9096b5577e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8130d110ab704088b5a105ee996b6cf6.html" target="element"> Edist&#228;&#228; kulttuuria kansallisesti ja kansainv&#228;lisesti silt&#228; osin kuin se ei kuulu muun viranomaisen teht&#228;v&#228;&#228;n </a> </td>
											    <td> <a href="../elements/id-8130d110ab704088b5a105ee996b6cf6.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a1ffc88f96564c0b8b7d62b4c26ac0ac.html" target="element"> Edist&#228;&#228; taiteilijoiden kansallisia ja kansainv&#228;lisi&#228; ty&#246;skentelyedellytyksi&#228; </a> </td>
											    <td> <a href="../elements/id-a1ffc88f96564c0b8b7d62b4c26ac0ac.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-64fd268b90c347d7bff2f7bc37b54292.html" target="element"> Osallistua taiteilijoiden toimeentuloedellytysten edist&#228;miseen </a> </td>
											    <td> <a href="../elements/id-64fd268b90c347d7bff2f7bc37b54292.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf8a1f9a03844328849486269f843c9c.html" target="element"> Toimia opetus- ja kulttuuriministeri&#246;n asiantuntijavirastona toimialallaan </a> </td>
											    <td> <a href="../elements/id-bf8a1f9a03844328849486269f843c9c.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-05de70d68d574cb0b462325477491eab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05de70d68d574cb0b462325477491eab.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-015a5c52b2fb411aa63cabfb781a227c.html" target="element"> Laki Taiteen edist&#228;miskeskuksesta </a> </td>
																		<td> <a href="../elements/id-724314879181470da017a97af527cc9f.html" target="element"> Edist&#228;&#228; taidetta kansallisesti ja kansainv&#228;lisesti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f3e01906a964f09a9eb78075269664d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f3e01906a964f09a9eb78075269664d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-015a5c52b2fb411aa63cabfb781a227c.html" target="element"> Laki Taiteen edist&#228;miskeskuksesta </a> </td>
																		<td> <a href="../elements/id-8130d110ab704088b5a105ee996b6cf6.html" target="element"> Edist&#228;&#228; kulttuuria kansallisesti ja kansainv&#228;lisesti silt&#228; osin kuin se ei kuulu muun viranomaisen teht&#228;v&#228;&#228;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9258157db77e402f90bee792052959dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9258157db77e402f90bee792052959dc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-015a5c52b2fb411aa63cabfb781a227c.html" target="element"> Laki Taiteen edist&#228;miskeskuksesta </a> </td>
																		<td> <a href="../elements/id-a1ffc88f96564c0b8b7d62b4c26ac0ac.html" target="element"> Edist&#228;&#228; taiteilijoiden kansallisia ja kansainv&#228;lisi&#228; ty&#246;skentelyedellytyksi&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2d1aa04eec084ef7be7e6c2bde335ede.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2d1aa04eec084ef7be7e6c2bde335ede.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-015a5c52b2fb411aa63cabfb781a227c.html" target="element"> Laki Taiteen edist&#228;miskeskuksesta </a> </td>
																		<td> <a href="../elements/id-64fd268b90c347d7bff2f7bc37b54292.html" target="element"> Osallistua taiteilijoiden toimeentuloedellytysten edist&#228;miseen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8d59831314554cd4a90e0e624b9e9196.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d59831314554cd4a90e0e624b9e9196.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-015a5c52b2fb411aa63cabfb781a227c.html" target="element"> Laki Taiteen edist&#228;miskeskuksesta </a> </td>
																		<td> <a href="../elements/id-bf8a1f9a03844328849486269f843c9c.html" target="element"> Toimia opetus- ja kulttuuriministeri&#246;n asiantuntijavirastona toimialallaan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4ed2d5c6a48049ebb80664014c9ab375.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ed2d5c6a48049ebb80664014c9ab375.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a89811f8e3b4448faaecae9096b5577e.html" target="element"> Taiteen edist&#228;miskeskus </a> </td>
																		<td> <a href="../elements/id-724314879181470da017a97af527cc9f.html" target="element"> Edist&#228;&#228; taidetta kansallisesti ja kansainv&#228;lisesti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0c8c4634656c4d75a8472cdfae386798.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c8c4634656c4d75a8472cdfae386798.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a89811f8e3b4448faaecae9096b5577e.html" target="element"> Taiteen edist&#228;miskeskus </a> </td>
																		<td> <a href="../elements/id-8130d110ab704088b5a105ee996b6cf6.html" target="element"> Edist&#228;&#228; kulttuuria kansallisesti ja kansainv&#228;lisesti silt&#228; osin kuin se ei kuulu muun viranomaisen teht&#228;v&#228;&#228;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ff06173ac684411dbe6458b0011b2e52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff06173ac684411dbe6458b0011b2e52.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a89811f8e3b4448faaecae9096b5577e.html" target="element"> Taiteen edist&#228;miskeskus </a> </td>
																		<td> <a href="../elements/id-a1ffc88f96564c0b8b7d62b4c26ac0ac.html" target="element"> Edist&#228;&#228; taiteilijoiden kansallisia ja kansainv&#228;lisi&#228; ty&#246;skentelyedellytyksi&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c4c23032d4f4cab9f58591a2f4ff020.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c4c23032d4f4cab9f58591a2f4ff020.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a89811f8e3b4448faaecae9096b5577e.html" target="element"> Taiteen edist&#228;miskeskus </a> </td>
																		<td> <a href="../elements/id-64fd268b90c347d7bff2f7bc37b54292.html" target="element"> Osallistua taiteilijoiden toimeentuloedellytysten edist&#228;miseen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-728ff4d9c9ca4eefb56e303d5f7cf7fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-728ff4d9c9ca4eefb56e303d5f7cf7fd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a89811f8e3b4448faaecae9096b5577e.html" target="element"> Taiteen edist&#228;miskeskus </a> </td>
																		<td> <a href="../elements/id-bf8a1f9a03844328849486269f843c9c.html" target="element"> Toimia opetus- ja kulttuuriministeri&#246;n asiantuntijavirastona toimialallaan </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>