<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Museolaki</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Museolaki</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fbc1099d9eb843e5982acd0c928e62f6.png" alt="Museolaki" usemap="#id-fbc1099d9eb843e5982acd0c928e62f6map"/>
			   <map name="id-fbc1099d9eb843e5982acd0c928e62f6map">
				  		<area shape="rect" coords="1462,774,1799,851" href="../elements/id-dfbea654bcca4978b8937dc1e6a0b43d.html"  target="element">
				  		<area shape="rect" coords="1246,774,1449,829" href="../elements/id-ec34aa40bc8540ea90145ed1f3d664ca.html"  target="element">
				  		<area shape="rect" coords="755,775,952,830" href="../elements/id-73e7a9e0e8164a239a9770ed2e0fbff9.html"  target="element">
				  		<area shape="rect" coords="502,770,743,863" href="../elements/id-a1780fadb9d04cc28daab3342c65611f.html"  target="element">
				  		<area shape="rect" coords="996,775,1212,830" href="../elements/id-30de70006c9f45c5ba0a0743c654a82e.html"  target="element">
				  		<area shape="rect" coords="262,768,491,863" href="../elements/id-2262d49c7224484b8223b180ca8c0904.html"  target="element">
				  		<area shape="rect" coords="10,766,251,863" href="../elements/id-bee924ceaf3441cbb29f096733f5034e.html"  target="element">
				  		<area shape="rect" coords="726,934,923,989" href="../elements/id-1a7dd3a4c7604511a2e109d0b339b1c9.html"  target="element">
				  		<area shape="rect" coords="755,10,875,65" href="../elements/id-94cae1ad70884f61b5fe09c74dbb9cea.html"  target="element">
				  		<area shape="rect" coords="1198,502,1318,557" href="../elements/id-bb3c922d46534bf5b5e1e634a8248da2.html"  target="element">
				  		<area shape="rect" coords="922,598,1058,653" href="../elements/id-47ca943bf727435789a96d73888ae013.html"  target="element">
				  		<area shape="rect" coords="742,598,862,653" href="../elements/id-a5ba5338109b41a9ad6ab6c48e04d0b5.html"  target="element">
				  		<area shape="rect" coords="358,502,512,557" href="../elements/id-0ee52ffcafcd4df5a16ec507d16a3fd5.html"  target="element">
				  		<area shape="rect" coords="838,466,958,521" href="../elements/id-0771a06b2187434ba44ac5f24f331764.html"  target="element">
				  		<area shape="rect" coords="1234,286,1535,341" href="../elements/id-50deb5de2ae64c00acab1e9d4277381e.html"  target="element">
				  		<area shape="rect" coords="898,286,1187,341" href="../elements/id-8fb34c0b0d714084904db2b4da35d811.html"  target="element">
				  		<area shape="rect" coords="262,286,563,341" href="../elements/id-5c143fc8c9fc4d91bc7f65f7e0ad46a8.html"  target="element">
				  		<area shape="rect" coords="598,286,851,341" href="../elements/id-d7b261caed19409ca0ae59ce18c0534a.html"  target="element">
				  		<area shape="rect" coords="1294,199,1558,254" href="../elements/id-b309a7db5ea748a2af074efa74b132cc.html"  target="element">
				  		<area shape="rect" coords="934,199,1212,254" href="../elements/id-d48c991a2e4a4d06ba5ac8e228a2d76a.html"  target="element">
				  		<area shape="rect" coords="634,199,899,254" href="../elements/id-46c018b121154256a2544bf6fa7d38cc.html"  target="element">
				  		<area shape="rect" coords="235,178,536,239" href="../elements/id-27d4a2b56b2f44a9be86b7a8e37bc7a0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-27d4a2b56b2f44a9be86b7a8e37bc7a0.html" target="element"> Yll&#228;pit&#228;&#228; ja vahvistaa yksil&#246;iden ja yhteis&#246;jen ymm&#228;rryst&#228; ja osallisuutta kulttuurista, historiasta ja ymp&#228;rist&#246;st&#228; </a> </td>
											    <td> <a href="../elements/id-27d4a2b56b2f44a9be86b7a8e37bc7a0.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-46c018b121154256a2544bf6fa7d38cc.html" target="element"> Edist&#228;&#228; kulttuuri- ja luonnonperinn&#246;n sek&#228; taiteen s&#228;ilymist&#228; tuleville sukupolville </a> </td>
											    <td> <a href="../elements/id-46c018b121154256a2544bf6fa7d38cc.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d48c991a2e4a4d06ba5ac8e228a2d76a.html" target="element"> Edist&#228;&#228; yhteis&#246;llisyytt&#228;, jatkuvuutta ja kulttuurista moninaisuutta </a> </td>
											    <td> <a href="../elements/id-d48c991a2e4a4d06ba5ac8e228a2d76a.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b309a7db5ea748a2af074efa74b132cc.html" target="element"> Edist&#228;&#228; sivistyst&#228;, hyvinvointia, yhdenvertaisuutta ja demokratiaa </a> </td>
											    <td> <a href="../elements/id-b309a7db5ea748a2af074efa74b132cc.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7b261caed19409ca0ae59ce18c0534a.html" target="element"> Aineistojen ja tiedon saatavuuden, saavutettavuuden ja k&#228;yt&#246;n edist&#228;minen </a> </td>
											    <td> <a href="../elements/id-d7b261caed19409ca0ae59ce18c0534a.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5c143fc8c9fc4d91bc7f65f7e0ad46a8.html" target="element"> Aineistoja ja muita sis&#228;lt&#246;j&#228; koskevan tutkimuksen edist&#228;minen ja hy&#246;dynt&#228;minen </a> </td>
											    <td> <a href="../elements/id-5c143fc8c9fc4d91bc7f65f7e0ad46a8.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8fb34c0b0d714084904db2b4da35d811.html" target="element"> Kulttuuri- ja luonnonperinn&#246;n sek&#228; taiteen esitt&#228;minen ja el&#228;mysten tarjoaminen </a> </td>
											    <td> <a href="../elements/id-8fb34c0b0d714084904db2b4da35d811.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-50deb5de2ae64c00acab1e9d4277381e.html" target="element"> Yleis&#246;ty&#246;, vuorovaikutus sek&#228; opetuksen ja kasvatuksen edist&#228;minen </a> </td>
											    <td> <a href="../elements/id-50deb5de2ae64c00acab1e9d4277381e.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0771a06b2187434ba44ac5f24f331764.html" target="element"> Ammatillinen museo </a> </td>
											    <td> <a href="../elements/id-0771a06b2187434ba44ac5f24f331764.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ee52ffcafcd4df5a16ec507d16a3fd5.html" target="element"> Opetus- ja kulttuuriministeri&#246; </a> </td>
											    <td> <a href="../elements/id-0ee52ffcafcd4df5a16ec507d16a3fd5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a5ba5338109b41a9ad6ab6c48e04d0b5.html" target="element"> Alueellinen vastuumuseo </a> </td>
											    <td> <a href="../elements/id-a5ba5338109b41a9ad6ab6c48e04d0b5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47ca943bf727435789a96d73888ae013.html" target="element"> Valtakunnallinen vastuumuseo </a> </td>
											    <td> <a href="../elements/id-47ca943bf727435789a96d73888ae013.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bb3c922d46534bf5b5e1e634a8248da2.html" target="element"> Museovirasto </a> </td>
											    <td> <a href="../elements/id-bb3c922d46534bf5b5e1e634a8248da2.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-94cae1ad70884f61b5fe09c74dbb9cea.html" target="element"> Museolaki </a> </td>
											    <td> <a href="../elements/id-94cae1ad70884f61b5fe09c74dbb9cea.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a7dd3a4c7604511a2e109d0b339b1c9.html" target="element"> Valtioneuvoston asetus museoista </a> </td>
											    <td> <a href="../elements/id-1a7dd3a4c7604511a2e109d0b339b1c9.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bee924ceaf3441cbb29f096733f5034e.html" target="element"> Edist&#228;&#228; museotoimintaa, kulttuuriymp&#228;rist&#246;n s&#228;ilymist&#228; sek&#228; visuaalista kulttuuria toiminta-alueellaan </a> </td>
											    <td> <a href="../elements/id-bee924ceaf3441cbb29f096733f5034e.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2262d49c7224484b8223b180ca8c0904.html" target="element"> Huolehtia alueensa museotoiminnan keskin&#228;isest&#228; yhteisty&#246;st&#228; ja kulttuuriperint&#246;&#246;n ja taiteeseen liittyv&#228;n tiedon saatavuudesta </a> </td>
											    <td> <a href="../elements/id-2262d49c7224484b8223b180ca8c0904.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-30de70006c9f45c5ba0a0743c654a82e.html" target="element"> Antaa asiantuntija-apua toimialaansa liittyviss&#228; kysymyksiss&#228; </a> </td>
											    <td> <a href="../elements/id-30de70006c9f45c5ba0a0743c654a82e.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a1780fadb9d04cc28daab3342c65611f.html" target="element"> Huolehtia niist&#228; valtiolle kuuluvista teht&#228;vist&#228;, joista on Museoviraston kanssa erikseen sovittu </a> </td>
											    <td> <a href="../elements/id-a1780fadb9d04cc28daab3342c65611f.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-73e7a9e0e8164a239a9770ed2e0fbff9.html" target="element"> Suorittaa opetusministeri&#246;n antamat muut teht&#228;v&#228;t </a> </td>
											    <td> <a href="../elements/id-73e7a9e0e8164a239a9770ed2e0fbff9.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ec34aa40bc8540ea90145ed1f3d664ca.html" target="element"> Edist&#228;&#228; erikoismuseotoimintaa erikoisalallaan </a> </td>
											    <td> <a href="../elements/id-ec34aa40bc8540ea90145ed1f3d664ca.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dfbea654bcca4978b8937dc1e6a0b43d.html" target="element"> Huolehtia samaa erikoisalaa edustavien museoiden keskin&#228;isest&#228; yhteisty&#246;st&#228; ja erikoisalansa museokokoelmiin liittyv&#228;n tiedon saatavuudesta </a> </td>
											    <td> <a href="../elements/id-dfbea654bcca4978b8937dc1e6a0b43d.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-74b7c65eebd24f6684495bd39b0c5058.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74b7c65eebd24f6684495bd39b0c5058.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0771a06b2187434ba44ac5f24f331764.html" target="element"> Ammatillinen museo </a> </td>
																		<td> <a href="../elements/id-5c143fc8c9fc4d91bc7f65f7e0ad46a8.html" target="element"> Aineistoja ja muita sis&#228;lt&#246;j&#228; koskevan tutkimuksen edist&#228;minen ja hy&#246;dynt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f568eaa00b34ddb91b3f0c09e016edd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f568eaa00b34ddb91b3f0c09e016edd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0771a06b2187434ba44ac5f24f331764.html" target="element"> Ammatillinen museo </a> </td>
																		<td> <a href="../elements/id-d7b261caed19409ca0ae59ce18c0534a.html" target="element"> Aineistojen ja tiedon saatavuuden, saavutettavuuden ja k&#228;yt&#246;n edist&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e62de8adccd444daf711fe0682a146a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e62de8adccd444daf711fe0682a146a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0771a06b2187434ba44ac5f24f331764.html" target="element"> Ammatillinen museo </a> </td>
																		<td> <a href="../elements/id-8fb34c0b0d714084904db2b4da35d811.html" target="element"> Kulttuuri- ja luonnonperinn&#246;n sek&#228; taiteen esitt&#228;minen ja el&#228;mysten tarjoaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2ada3485e574b18a2062d8ecbbd2133.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2ada3485e574b18a2062d8ecbbd2133.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0771a06b2187434ba44ac5f24f331764.html" target="element"> Ammatillinen museo </a> </td>
																		<td> <a href="../elements/id-50deb5de2ae64c00acab1e9d4277381e.html" target="element"> Yleis&#246;ty&#246;, vuorovaikutus sek&#228; opetuksen ja kasvatuksen edist&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ac8c6bb74534711ad8f8ac882d2b423.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ac8c6bb74534711ad8f8ac882d2b423.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0771a06b2187434ba44ac5f24f331764.html" target="element"> Ammatillinen museo </a> </td>
																		<td> <a href="../elements/id-27d4a2b56b2f44a9be86b7a8e37bc7a0.html" target="element"> Yll&#228;pit&#228;&#228; ja vahvistaa yksil&#246;iden ja yhteis&#246;jen ymm&#228;rryst&#228; ja osallisuutta kulttuurista, historiasta ja ymp&#228;rist&#246;st&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b49cb6799e8a4738b7ecdb61c6b14fc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b49cb6799e8a4738b7ecdb61c6b14fc1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0771a06b2187434ba44ac5f24f331764.html" target="element"> Ammatillinen museo </a> </td>
																		<td> <a href="../elements/id-46c018b121154256a2544bf6fa7d38cc.html" target="element"> Edist&#228;&#228; kulttuuri- ja luonnonperinn&#246;n sek&#228; taiteen s&#228;ilymist&#228; tuleville sukupolville </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8fb1668a63ac414981f14e2fe4ad996e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fb1668a63ac414981f14e2fe4ad996e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0771a06b2187434ba44ac5f24f331764.html" target="element"> Ammatillinen museo </a> </td>
																		<td> <a href="../elements/id-d48c991a2e4a4d06ba5ac8e228a2d76a.html" target="element"> Edist&#228;&#228; yhteis&#246;llisyytt&#228;, jatkuvuutta ja kulttuurista moninaisuutta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-27752a0f3ad64814bf2c856085f0295f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-27752a0f3ad64814bf2c856085f0295f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0771a06b2187434ba44ac5f24f331764.html" target="element"> Ammatillinen museo </a> </td>
																		<td> <a href="../elements/id-b309a7db5ea748a2af074efa74b132cc.html" target="element"> Edist&#228;&#228; sivistyst&#228;, hyvinvointia, yhdenvertaisuutta ja demokratiaa </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fee422c53bec41469dcf8257510d2328.html" target="element"> ohjaa </a> </td>
																		<td> <a href="../elements/id-fee422c53bec41469dcf8257510d2328.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0ee52ffcafcd4df5a16ec507d16a3fd5.html" target="element"> Opetus- ja kulttuuriministeri&#246; </a> </td>
																		<td> <a href="../elements/id-0771a06b2187434ba44ac5f24f331764.html" target="element"> Ammatillinen museo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-26d94a8dbf1c4a67927421c7198ca3a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-26d94a8dbf1c4a67927421c7198ca3a2.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5ba5338109b41a9ad6ab6c48e04d0b5.html" target="element"> Alueellinen vastuumuseo </a> </td>
																		<td> <a href="../elements/id-0771a06b2187434ba44ac5f24f331764.html" target="element"> Ammatillinen museo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78d7caa52e37425c86ec9c0c3629ce4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78d7caa52e37425c86ec9c0c3629ce4a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5ba5338109b41a9ad6ab6c48e04d0b5.html" target="element"> Alueellinen vastuumuseo </a> </td>
																		<td> <a href="../elements/id-73e7a9e0e8164a239a9770ed2e0fbff9.html" target="element"> Suorittaa opetusministeri&#246;n antamat muut teht&#228;v&#228;t </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-12d0cd3abea9451e88dd245f76a5dd5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12d0cd3abea9451e88dd245f76a5dd5b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5ba5338109b41a9ad6ab6c48e04d0b5.html" target="element"> Alueellinen vastuumuseo </a> </td>
																		<td> <a href="../elements/id-30de70006c9f45c5ba0a0743c654a82e.html" target="element"> Antaa asiantuntija-apua toimialaansa liittyviss&#228; kysymyksiss&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d54ecab2023346758f094eeb26a7bd19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d54ecab2023346758f094eeb26a7bd19.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5ba5338109b41a9ad6ab6c48e04d0b5.html" target="element"> Alueellinen vastuumuseo </a> </td>
																		<td> <a href="../elements/id-a1780fadb9d04cc28daab3342c65611f.html" target="element"> Huolehtia niist&#228; valtiolle kuuluvista teht&#228;vist&#228;, joista on Museoviraston kanssa erikseen sovittu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-203a927f3154453e8f385dabcce39ca0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-203a927f3154453e8f385dabcce39ca0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5ba5338109b41a9ad6ab6c48e04d0b5.html" target="element"> Alueellinen vastuumuseo </a> </td>
																		<td> <a href="../elements/id-2262d49c7224484b8223b180ca8c0904.html" target="element"> Huolehtia alueensa museotoiminnan keskin&#228;isest&#228; yhteisty&#246;st&#228; ja kulttuuriperint&#246;&#246;n ja taiteeseen liittyv&#228;n tiedon saatavuudesta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-350867a267064e15b1be4e77838cb409.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-350867a267064e15b1be4e77838cb409.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a5ba5338109b41a9ad6ab6c48e04d0b5.html" target="element"> Alueellinen vastuumuseo </a> </td>
																		<td> <a href="../elements/id-bee924ceaf3441cbb29f096733f5034e.html" target="element"> Edist&#228;&#228; museotoimintaa, kulttuuriymp&#228;rist&#246;n s&#228;ilymist&#228; sek&#228; visuaalista kulttuuria toiminta-alueellaan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-55223b0749f345ae90501104fa9b7387.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55223b0749f345ae90501104fa9b7387.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47ca943bf727435789a96d73888ae013.html" target="element"> Valtakunnallinen vastuumuseo </a> </td>
																		<td> <a href="../elements/id-0771a06b2187434ba44ac5f24f331764.html" target="element"> Ammatillinen museo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b4c5af2460b24f2c9b287f442078d7ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4c5af2460b24f2c9b287f442078d7ae.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47ca943bf727435789a96d73888ae013.html" target="element"> Valtakunnallinen vastuumuseo </a> </td>
																		<td> <a href="../elements/id-ec34aa40bc8540ea90145ed1f3d664ca.html" target="element"> Edist&#228;&#228; erikoismuseotoimintaa erikoisalallaan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f79bc316fd24d1bb7458e3108ee1e18.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f79bc316fd24d1bb7458e3108ee1e18.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47ca943bf727435789a96d73888ae013.html" target="element"> Valtakunnallinen vastuumuseo </a> </td>
																		<td> <a href="../elements/id-dfbea654bcca4978b8937dc1e6a0b43d.html" target="element"> Huolehtia samaa erikoisalaa edustavien museoiden keskin&#228;isest&#228; yhteisty&#246;st&#228; ja erikoisalansa museokokoelmiin liittyv&#228;n tiedon saatavuudesta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b27d8403e3fd4ffc93512d13000969a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b27d8403e3fd4ffc93512d13000969a7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47ca943bf727435789a96d73888ae013.html" target="element"> Valtakunnallinen vastuumuseo </a> </td>
																		<td> <a href="../elements/id-30de70006c9f45c5ba0a0743c654a82e.html" target="element"> Antaa asiantuntija-apua toimialaansa liittyviss&#228; kysymyksiss&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0739f9e1b8924cbfa498a46a7b7fceaf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0739f9e1b8924cbfa498a46a7b7fceaf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47ca943bf727435789a96d73888ae013.html" target="element"> Valtakunnallinen vastuumuseo </a> </td>
																		<td> <a href="../elements/id-73e7a9e0e8164a239a9770ed2e0fbff9.html" target="element"> Suorittaa opetusministeri&#246;n antamat muut teht&#228;v&#228;t </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-123bdfa2a39747a4a6dc7f3409342d6d.html" target="element"> ohjaa </a> </td>
																		<td> <a href="../elements/id-123bdfa2a39747a4a6dc7f3409342d6d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bb3c922d46534bf5b5e1e634a8248da2.html" target="element"> Museovirasto </a> </td>
																		<td> <a href="../elements/id-0771a06b2187434ba44ac5f24f331764.html" target="element"> Ammatillinen museo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a2a68d6546974e1e96525c9a8510f740.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a2a68d6546974e1e96525c9a8510f740.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94cae1ad70884f61b5fe09c74dbb9cea.html" target="element"> Museolaki </a> </td>
																		<td> <a href="../elements/id-27d4a2b56b2f44a9be86b7a8e37bc7a0.html" target="element"> Yll&#228;pit&#228;&#228; ja vahvistaa yksil&#246;iden ja yhteis&#246;jen ymm&#228;rryst&#228; ja osallisuutta kulttuurista, historiasta ja ymp&#228;rist&#246;st&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6a071a8ebcb64fa98b0a787bd6ce8380.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a071a8ebcb64fa98b0a787bd6ce8380.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94cae1ad70884f61b5fe09c74dbb9cea.html" target="element"> Museolaki </a> </td>
																		<td> <a href="../elements/id-46c018b121154256a2544bf6fa7d38cc.html" target="element"> Edist&#228;&#228; kulttuuri- ja luonnonperinn&#246;n sek&#228; taiteen s&#228;ilymist&#228; tuleville sukupolville </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5ab3f387b89b4dc8a1a74a22ffe675d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ab3f387b89b4dc8a1a74a22ffe675d2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94cae1ad70884f61b5fe09c74dbb9cea.html" target="element"> Museolaki </a> </td>
																		<td> <a href="../elements/id-d48c991a2e4a4d06ba5ac8e228a2d76a.html" target="element"> Edist&#228;&#228; yhteis&#246;llisyytt&#228;, jatkuvuutta ja kulttuurista moninaisuutta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c3414cbb8c8a4d4c9a8922400f49a71a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c3414cbb8c8a4d4c9a8922400f49a71a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94cae1ad70884f61b5fe09c74dbb9cea.html" target="element"> Museolaki </a> </td>
																		<td> <a href="../elements/id-b309a7db5ea748a2af074efa74b132cc.html" target="element"> Edist&#228;&#228; sivistyst&#228;, hyvinvointia, yhdenvertaisuutta ja demokratiaa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c5e89294fa854e0598b950e68025bfca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5e89294fa854e0598b950e68025bfca.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94cae1ad70884f61b5fe09c74dbb9cea.html" target="element"> Museolaki </a> </td>
																		<td> <a href="../elements/id-5c143fc8c9fc4d91bc7f65f7e0ad46a8.html" target="element"> Aineistoja ja muita sis&#228;lt&#246;j&#228; koskevan tutkimuksen edist&#228;minen ja hy&#246;dynt&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-355c9387049a48469b96f906c09ec2cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-355c9387049a48469b96f906c09ec2cf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94cae1ad70884f61b5fe09c74dbb9cea.html" target="element"> Museolaki </a> </td>
																		<td> <a href="../elements/id-d7b261caed19409ca0ae59ce18c0534a.html" target="element"> Aineistojen ja tiedon saatavuuden, saavutettavuuden ja k&#228;yt&#246;n edist&#228;minen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-60b6e29cca554072924da3871fad93d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-60b6e29cca554072924da3871fad93d1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94cae1ad70884f61b5fe09c74dbb9cea.html" target="element"> Museolaki </a> </td>
																		<td> <a href="../elements/id-8fb34c0b0d714084904db2b4da35d811.html" target="element"> Kulttuuri- ja luonnonperinn&#246;n sek&#228; taiteen esitt&#228;minen ja el&#228;mysten tarjoaminen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6d0546362abb4159a50c3f1e66358bc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6d0546362abb4159a50c3f1e66358bc1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94cae1ad70884f61b5fe09c74dbb9cea.html" target="element"> Museolaki </a> </td>
																		<td> <a href="../elements/id-50deb5de2ae64c00acab1e9d4277381e.html" target="element"> Yleis&#246;ty&#246;, vuorovaikutus sek&#228; opetuksen ja kasvatuksen edist&#228;minen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-055b14db4ce2491f87e76c7a3e98ceec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-055b14db4ce2491f87e76c7a3e98ceec.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a7dd3a4c7604511a2e109d0b339b1c9.html" target="element"> Valtioneuvoston asetus museoista </a> </td>
																		<td> <a href="../elements/id-bee924ceaf3441cbb29f096733f5034e.html" target="element"> Edist&#228;&#228; museotoimintaa, kulttuuriymp&#228;rist&#246;n s&#228;ilymist&#228; sek&#228; visuaalista kulttuuria toiminta-alueellaan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6474750ff82d4b9881354881adfd9f12.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6474750ff82d4b9881354881adfd9f12.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a7dd3a4c7604511a2e109d0b339b1c9.html" target="element"> Valtioneuvoston asetus museoista </a> </td>
																		<td> <a href="../elements/id-a1780fadb9d04cc28daab3342c65611f.html" target="element"> Huolehtia niist&#228; valtiolle kuuluvista teht&#228;vist&#228;, joista on Museoviraston kanssa erikseen sovittu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06618b2c92164ad085bf7c916f2cfe0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06618b2c92164ad085bf7c916f2cfe0e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a7dd3a4c7604511a2e109d0b339b1c9.html" target="element"> Valtioneuvoston asetus museoista </a> </td>
																		<td> <a href="../elements/id-73e7a9e0e8164a239a9770ed2e0fbff9.html" target="element"> Suorittaa opetusministeri&#246;n antamat muut teht&#228;v&#228;t </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0e1a9e4c825f4a48bd815092e43f79a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e1a9e4c825f4a48bd815092e43f79a1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a7dd3a4c7604511a2e109d0b339b1c9.html" target="element"> Valtioneuvoston asetus museoista </a> </td>
																		<td> <a href="../elements/id-30de70006c9f45c5ba0a0743c654a82e.html" target="element"> Antaa asiantuntija-apua toimialaansa liittyviss&#228; kysymyksiss&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0d26f7a3a5874f7f818b4189eefe3c34.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d26f7a3a5874f7f818b4189eefe3c34.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a7dd3a4c7604511a2e109d0b339b1c9.html" target="element"> Valtioneuvoston asetus museoista </a> </td>
																		<td> <a href="../elements/id-ec34aa40bc8540ea90145ed1f3d664ca.html" target="element"> Edist&#228;&#228; erikoismuseotoimintaa erikoisalallaan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc1ea921c2984e7fa8493242a1bbac37.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc1ea921c2984e7fa8493242a1bbac37.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a7dd3a4c7604511a2e109d0b339b1c9.html" target="element"> Valtioneuvoston asetus museoista </a> </td>
																		<td> <a href="../elements/id-dfbea654bcca4978b8937dc1e6a0b43d.html" target="element"> Huolehtia samaa erikoisalaa edustavien museoiden keskin&#228;isest&#228; yhteisty&#246;st&#228; ja erikoisalansa museokokoelmiin liittyv&#228;n tiedon saatavuudesta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c80c41a089044e6bba13b1e45e689da2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c80c41a089044e6bba13b1e45e689da2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a7dd3a4c7604511a2e109d0b339b1c9.html" target="element"> Valtioneuvoston asetus museoista </a> </td>
																		<td> <a href="../elements/id-2262d49c7224484b8223b180ca8c0904.html" target="element"> Huolehtia alueensa museotoiminnan keskin&#228;isest&#228; yhteisty&#246;st&#228; ja kulttuuriperint&#246;&#246;n ja taiteeseen liittyv&#228;n tiedon saatavuudesta </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>